{% extends 'ruolo_genitore/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  <h1 class="text-center gs-h1 gs-mt-2 gs-mb-3">{{ 'title.genitori_assenze'|trans({'%sex%': (alunno.sesso == 'M' ? 'o' : 'a')}) }} {{ alunno.nome~' '~alunno.cognome }}</h1>
  {% if errore %}
  <div class="alert alert-warning" role="alert">
    <strong class="gs-big">{{ errore }}</strong>
  </div>
  {% else %}
    {% include 'include/modal-error.html.twig' %}
    {% if dati.giustifica and
      ((dati.evidenza.assenza is defined and dati.evidenza.assenza|length > 0) or
      (dati.evidenza.ritardo is defined and dati.evidenza.ritardo|length > 0) or
      (dati.evidenza.uscita is defined and dati.evidenza.uscita|length > 0)) %}
  <table class="table table-bordered table-hover table-striped table-condensed gs-mb-5">
    <caption class="text-danger text-center gs-big"><strong>Da giustificare</strong></caption>
    <thead class="bg-warning">
      <tr>
        <th>Data</th>
        <th>Tipo</th>
        <th>Giustificazione</th>
      </tr>
    </thead>
    <tbody>
      {% for tipo,e in dati.evidenza %}
        {% for v in e %}
      <tr>
          {% if tipo == 'assenza' %}
        <td class="text-danger"><strong>{{ v.data }}{% if v.giorni > 1 %} - {{ v.data_fine }}{% endif %}</strong></td>
        <td><strong>Assenza{% if v.giorni > 1 %} di {{ v.giorni }} giorni{% endif %}</strong></td>
        <td>
          <button class="btn btn-primary btn-xs gs-button-remote" data-toggle="modal" data-target="#gs-modal-remote" data-href="{{ path('genitori_giustifica_assenza', {'assenza': v.id}) }}" title="Giustifica l'assenza"><span class="glyphicon glyphicon-pencil gs-mr-2"></span><strong>Giustifica</strong></button>
        </td>
          {% elseif tipo == 'ritardo' %}
        <td class="text-danger"><strong>{{ v.data }}</strong></td>
        <td><strong>Ritardo</strong> ({{ v.ora|date('H:i') }})</td>
        <td>
          <button class="btn btn-primary btn-xs gs-button-remote" data-toggle="modal" data-target="#gs-modal-remote" data-href="{{ path('genitori_giustifica_ritardo', {'entrata': v.id}) }}" title="Giustifica il ritardo"><span class="glyphicon glyphicon-pencil gs-mr-2"></span><strong>Giustifica</strong></button>
        </td>
          {% elseif tipo == 'uscita' %}
        <td class="text-danger"><strong>{{ v.data }}</strong></td>
        <td><strong>Uscita anticipata</strong> ({{ v.ora|date('H:i') }})</td>
        <td>
          <button class="btn btn-primary btn-xs gs-button-remote" data-toggle="modal" data-target="#gs-modal-remote" data-href="{{ path('genitori_giustifica_uscita', {'uscita': v.id}) }}" title="Giustifica l'uscita anticipata"><span class="glyphicon glyphicon-pencil gs-mr-2"></span><strong>Giustifica</strong></button>
        </td>
          {% endif %}
      </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
    {% endif %}
  <table class="table table-bordered table-hover table-striped">
    <caption class="text-info text-center gs-big"><strong>Situazione globale</strong></caption>
    <tbody>
      <tr>
        <th class="gs-big">Totale ore di assenza</th>
        <td><span class="label label-{{ dati.stat.livello }} gs-big">{{ dati.stat.ore|number_format(1, ',') }}</span></td>
      </tr>
      <tr>
        <th class="gs-big">Numero di ritardi (oltre {{ app.session.get('/CONFIG/SCUOLA/ritardo_breve') }} minuti)</th>
        <td><span class="label label-default gs-big">{{ dati.stat.ritardi }}</span> <strong>di cui <span class="label label-{{ dati.stat.ritardi_validi > 0 ? 'warning' : 'default' }}">{{ dati.stat.ritardi_validi }}</span> considerati per il conteggio del numero massimo ammesso</strong></td>
      </tr>
      <tr>
        <th>Numero di ritardi brevi (entro {{ app.session.get('/CONFIG/SCUOLA/ritardo_breve') }} minuti)</th>
        <td><span class="label label-default gs-big">{{ dati.stat.brevi }}</span></td>
      </tr>
      <tr>
        <th class="gs-big">Numero di uscite anticipate</th>
        <td><span class="label label-default gs-big">{{ dati.stat.uscite }}</span> <strong>di cui <span class="label label-{{ dati.stat.uscite_valide > 0 ? 'warning' : 'default' }}">{{ dati.stat.uscite_valide }}</span> considerate per il conteggio del numero massimo ammesso</strong></td>
      </tr>
    </tbody>
  </table>
  <div id="gs-giustificazioni"></div>
    {% for periodo,v in dati.lista %}
  <table class="table table-bordered table-hover table-striped">
    <caption class="text-info text-center gs-big"><strong>{{ periodo }}</strong></caption>
    <thead class="bg-success">
      <tr>
        <th>Data</th>
        <th>Tipo</th>
        <th>Annotazioni</th>
        <th>Giustificazione</th>
      </tr>
    </thead>
    <tbody>
      {% for data,v1 in v %}
        {% for tipo,e in v1 %}
      <tr>
          {% if tipo == 'assenza' %}
        <td><strong>{{ e.data }}{% if e.giorni > 1 %} - {{ e.data_fine }}{% endif %}</strong></td>
        <td><strong>Assenza</strong></td>
        <td><small>{{ e.motivazione ? 'Motivazione assenza: '~e.motivazione }}</small></td>
        <td>
            {% if e.giustificato == 'G' and e.permesso and dati.giustifica %}
          <button class="btn btn-default btn-xs gs-button-remote" data-toggle="modal" data-target="#gs-modal-remote" data-href="{{ path('genitori_giustifica_assenza', {'assenza': e.id}) }}" title="Modifica la giustificazione"><span class="glyphicon glyphicon-pencil gs-mr-2"></span><strong>Modifica</strong></button>
            {% elseif not e.giustificato and e.permesso and dati.giustifica %}
          <button class="btn btn-primary btn-xs gs-button-remote" data-toggle="modal" data-target="#gs-modal-remote" data-href="{{ path('genitori_giustifica_assenza', {'assenza': e.id}) }}" title="Giustifica l'assenza"><span class="glyphicon glyphicon-pencil gs-mr-2"></span><strong>Giustifica</strong></button>
            {% elseif not e.giustificato %}
          <span class="label label-danger">Da giustificare</span>
            {% endif %}
        </td>
          {% elseif tipo == 'ritardo' %}
        <td><strong>{{ e.data }}</strong></td>
        <td><strong>Ritardo{{ e.breve ? ' breve' }}</strong> ({{ e.ora|date('H:i') }})</td>
        <td>
          <small>
            {{ e.note }}
            {% if e.valido %}{{ e.note is not empty ? '<br>' }}<em>(Rientra nel conteggio del numero massimo di ritardi)</em>{% endif %}
            {% if e.motivazione %}{{ e.note is not empty ? '<br>' }}Motivazione ritardo: {{ e.motivazione }}{% endif %}
          </small>
        </td>
        <td>
            {% if e.giustificato == 'G' and e.permesso and dati.giustifica %}
          <button class="btn btn-default btn-xs gs-button-remote" data-toggle="modal" data-target="#gs-modal-remote" data-href="{{ path('genitori_giustifica_ritardo', {'entrata': e.id}) }}" title="Modifica la giustificazione"><span class="glyphicon glyphicon-pencil gs-mr-2"></span><strong>Modifica</strong></button>
            {% elseif not e.giustificato and e.permesso and dati.giustifica %}
          <button class="btn btn-primary btn-xs gs-button-remote" data-toggle="modal" data-target="#gs-modal-remote" data-href="{{ path('genitori_giustifica_ritardo', {'entrata': e.id}) }}" title="Giustifica il ritardo"><span class="glyphicon glyphicon-pencil gs-mr-2"></span><strong>Giustifica</strong></button>
            {% elseif not e.giustificato %}
          <span class="label label-danger">Da giustificare</span>
            {% endif %}
        </td>
          {% else %}
        <td><strong>{{ e.data }}</strong></td>
        <td><strong>Uscita anticipata</strong> ({{ e.ora|date('H:i') }})</td>
        <td>
          <small>{{ e.note }}
            {% if e.valido %}{{ e.note is not empty ? '<br>' }}<em>(Rientra nel conteggio del numero massimo di uscite)</em>{% endif %}
          </small>
        </td>
        <td>
            {% if e.giustificato == 'G' and e.permesso and dati.giustifica %}
          <button class="btn btn-default btn-xs gs-button-remote" data-toggle="modal" data-target="#gs-modal-remote" data-href="{{ path('genitori_giustifica_uscita', {'uscita': e.id}) }}" title="Modifica la giustificazione"><span class="glyphicon glyphicon-pencil gs-mr-2"></span><strong>Modifica</strong></button>
            {% elseif not e.giustificato and e.permesso and dati.giustifica %}
          <button class="btn btn-primary btn-xs gs-button-remote" data-toggle="modal" data-target="#gs-modal-remote" data-href="{{ path('genitori_giustifica_uscita', {'uscita': e.id}) }}" title="Giustifica l'uscita anticipata"><span class="glyphicon glyphicon-pencil gs-mr-2"></span><strong>Giustifica</strong></button>
            {% elseif not e.giustificato %}
          <span class="label label-danger">Da giustificare</span>
            {% endif %}
        </td>
          {% endif %}
      </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
      {% include 'include/modal-remote.html.twig' %}
    {% else %}
  <div class="alert alert-info" role="alert">
    <strong class="gs-big">Non sono presenti assenze</strong>
  </div>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script>
$(document).ready(function() {
  $('#gs-modal-remote').on('show.bs.modal', function (event) {
    var url = $(event.relatedTarget).data('href')+'/'+Math.floor($('html').scrollTop());
    $(this).find('#gs-modal-remote-content').load(url);
  });
  $(".gs-button-remote").click(function(e) {
    e.preventDefault();
    $('#gs-modal-remote-content').html('<div class="modal-content"><div class="modal-header"><h3 class="modal-title">Attendere prego...</h3></div><div class="modal-body"><div class="progress"><div class="progress-bar progress-bar-info progress-bar-striped active" style="width: 100%"></div></div></div></div>');
  });
  // init
  {% if posizione > 0 %}
  $('html').scrollTop({{ posizione }});
  {% endif %}
  // init
  {% for messaggio in app.flashes('errore') %}
    {% if loop.first %}
  var m = '';
    {% endif %}
  m = m + "{{ messaggio|raw }}<br>";
    {% if loop.last %}
  $('#gs-modal-error-text').html(m);
  $('#gs-modal-error').modal('show');
    {% endif %}
  {% endfor %}
});
</script>
{% endblock %}
