{% extends 'ruolo_genitore/index.html.twig' %}

{% form_theme form _self %}

{% block pagina_contenuto %}
<div class="container-fluid">
  {% if errore %}
  <div class="alert alert-warning" role="alert">
    <strong class="gs-big">{{ errore|trans }}</strong>
  </div>
  <div class="text-center">
    <a class="btn btn-primary" href="{{ path('genitori_colloqui') }}" role="button" title="Torna indietro"><span class="glyphicon glyphicon-chevron-left gs-mr-2"></span>Torna indietro</a>
  </div>
  {% else %}
  <div class="panel panel-primary gs-mt-4" >
    <div class="panel-heading">
      <div class="panel-title">{{ form_title|trans }}</div>
    </div>
    <div class="panel-body gs-pt-0">
      <div class="row bg-success gs-mb-3 gs-pt-2 gs-pb-2">
        <div class="col-sm-2 text-right"><strong class="gs-big">Docente:</strong></div>
        <div class="col-sm-4"><span class="gs-big">{{ label.docente }}</span></div>
        <div class="col-sm-2 text-right"><strong class="gs-big">Materia:</strong></div>
        <div class="col-sm-4">
          <span class="gs-big">
    {% for m in label.materie %}
          {{ loop.index > 1 ? '<br>'}}{{ m.nomeBreve }}
    {% endfor %}
          </span>
        </div>
      </div>
      <p class="text-info gs-big"><strong><em>Scegli la data desiderata e clicca sul pulsante CONFERMA o premi ANNULLA per tornare indietro senza fare modifiche.</em></strong></p>
      {{ form_start(form) }}
      {{ form_errors(form) }}
      <div class="form-group">
        <label class="col-sm-2 control-label required">{{ 'label.data_colloquio'|trans }}</label>
        <div class="col-sm-10">
          {{ form_widget(form.data) }}
        </div>
      </div>
      <div class="form-group">
        <div class="row text-center">
          {{ dati.abilitaInvio ? form_widget(form.submit, {attr: {class: 'btn-primary gs-rm-3'}}) }}
          {{ form_widget(form.cancel) }}
        </div>
      </div>
      {{ form_widget(form._token) }}
      {{ form_end(form, {render_rest: false}) }}
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script>
$(document).ready(function() {
  $('.radio label').removeClass('required');
  $('label input[name="colloqui_prenota[data]"]').change(function() {
    $('label input[name="colloqui_prenota[data]"]:not(:checked)').parent().attr('style', 'font-weight:normal');
    $('label input[name="colloqui_prenota[data]"]:checked').parent().attr('style', 'font-weight:bold');
  }).change();
});
</script>
{% endblock %}

{% block _colloqui_prenota_data_widget %}
<div id="colloqui_prenota_data">
  {% for item in choices %}
    {% if item.choices[loop.index0].data == -1 %}
  <div class="radio">
    <em class="">{{ item.choices[loop.index0].label }}</em><span class="badge gs-ml-3">Posti esauriti</span>
  </div>
    {% else %}
      {{ form_widget(form[loop.index0]) }}
    {% endif %}
  {% endfor %}
</div>
{% endblock %}
