{% extends 'ruolo_genitore/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  <h1 class="text-center gs-h1 gs-mt-2 gs-mb-3">{{ 'title.genitori_colloqui'|trans }}</h1>
  {% if errore %}
  <div class="alert alert-warning" role="alert">
    <strong class="gs-big">{{ errore }}</strong>
  </div>
  {% elseif dati is empty %}
  <div class="alert alert-info" role="alert">
    <strong class="gs-big">Non sono ancora disponibili gli orari di ricevimento dei docenti.</strong>
  </div>
  {% else %}
    {% if dati.colloqui is not empty %}
  <table class="table table-bordered table-hover">
    <caption class="text-info text-center gs-big gs-pb-0"><strong>{{ 'title.richieste_colloqui'|trans }}</strong></caption>
    <thead class="bg-success">
      <tr>
        <th class="col-sm-2">Docente</th>
        <th class="col-sm-2">Materia</th>
        <th class="col-sm-4">Data e ora</th>
        <th class="col-sm-4">Stato della richiesta</th>
      </tr>
    </thead>
    <tbody>
      {% for docente,c in dati.colloqui %}
        {% for c1 in c %}
      <tr{{ c1.stato == 'R' ? ' class="bg-warning"' : (c1.stato == 'A' or c1.stato == 'N' ? ' class="text-danger"') }}>
        <td><strong>{{ dati.cattedre[docente][0].cognome }} {{ dati.cattedre[docente][0].nome }}</strong></td>
        <td>
          {% for m in dati.cattedre[docente] %}
            {% if loop.index > 1 %}<br>{% endif %}{{ m.tipo == 'I' ? 'Lab. ' }}{{ m.nomeBreve }}
          {% endfor %}
        </td>
        <td><strong>{{ c1.data_str }} {{ c1.ora_str }}</strong></td>
        <td>
          {% if c1.stato == 'R' %}
          <strong>In attesa di conferma</strong>
          <button class="btn btn-danger btn-xs pull-right gs-modal-confirm-button" title="Cancella la richiesta di colloquio con il docente" data-toggle="modal" data-target="#gs-modal-confirm" data-href="{{ path('genitori_colloqui_disdetta', {'richiesta': c1.id}) }}" data-text="{{ 'message.disdetta_colloquio'|trans }}"><span class="glyphicon glyphicon-remove gs-mr-2" aria-hidden="true"></span>Cancella</button>
          {% elseif c1.stato == 'C' %}
          <strong>Appuntamento confermato</strong>
            {% if c1.messaggio %}
          <br>Messaggio del docente:<small><br><em>{{ c1.messaggio }}</em></small>
            {% endif %}
            {% if dati.orari[docente].dati.codice is defined %}
          <br><strong>Codice riunione: <pre>{{ dati.orari[docente].dati.codice }}</pre></strong>
            {% endif %}
          <button class="btn btn-danger btn-xs pull-right gs-modal-confirm-button" title="Cancella la richiesta di colloquio con il docente" data-toggle="modal" data-target="#gs-modal-confirm" data-href="{{ path('genitori_colloqui_disdetta', {'richiesta': c1.id}) }}" data-text="{{ 'message.disdetta_colloquio'|trans }}"><span class="glyphicon glyphicon-remove gs-mr-2" aria-hidden="true"></span>Cancella</button>
          {% elseif c1.stato == 'A' %}
          <strong>Appuntamento annullato dal genitore</strong>
          {% elseif c1.stato == 'N' %}
          <strong>Appuntamento annullato per indisponibilità del docente</strong>
            {% if c1.messaggio %}
          <br>Messaggio del docente:<small><br><em>{{ c1.messaggio }}</em></small>
            {% endif %}
          {% endif %}
        </td>
      </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
    {% endif %}
  <table class="table table-bordered table-hover table-striped">
    <caption class="text-info text-center gs-big gs-pb-0"><strong>{{ 'title.ore_colloqui'|trans }}</strong></caption>
    <thead class="bg-success">
      <tr>
        <th>Docente</th>
        <th>Materia</th>
        <th>Ricevimento</th>
        <th>Azioni</th>
      </tr>
    </thead>
    <tbody>
    {% for docente,d in dati.cattedre %}
      <tr>
        <td><strong>{{ d[0].cognome }} {{ d[0].nome }}</strong></td>
        <td>
      {% for m in d %}
          {% if loop.index > 1 %}<br>{% endif %}{{ m.tipo == 'I' ? 'Lab. ' }}{{ m.nomeBreve }}
      {% endfor %}
        </td>
        <td>
      {% if dati.orari[docente] is defined %}
          <strong>
        {% if dati.orari[docente].frequenza == 'S' %}
            Ogni
        {% elseif dati.orari[docente].frequenza == '1' %}
            Primo
        {% elseif dati.orari[docente].frequenza == '2' %}
            Secondo
        {% elseif dati.orari[docente].frequenza == '3' %}
            Terzo
        {% elseif dati.orari[docente].frequenza == '4' %}
            Ultimo
        {% endif %}
            {{ settimana[dati.orari[docente].giorno] }}
        {% if dati.orari[docente].frequenza != 'S' %}
            del mese
        {% endif %}
            dalle {{ dati.orari[docente].inizio|date('G:i') }} alle {{ dati.orari[docente].fine|date('G:i') }}
          </strong>
        {% if dati.orari[docente].extra|length > 0 %}
          <br><em>Sono presenti ore aggiuntive per i colloqui</em>
        {% endif %}
        {% if dati.orari[docente].note is not empty %}
          <br><span>{{ dati.orari[docente].note }}</span>
        {% endif %}
      {% endif %}
        </td>
        <td>
      {% if dati.orari[docente] is defined %}
          <a class="btn btn-primary btn-xs" href="{{ path('genitori_colloqui_prenota', {'colloquio': dati.orari[docente].colloquio}) }}" role="button" title="Prenota il colloquio con il docente"><span class="glyphicon glyphicon-time gs-mr-2"></span>Prenota</a>
      {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
    {% include 'include/modal-confirm.html.twig' with {'modal_confirm_msg': 'message.disdetta_colloquio'} %}
  {% endif %}
</div>
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script>
$(document).ready(function() {
  $('#gs-modal-confirm').on('show.bs.modal', function (event) {
    var href = $(event.relatedTarget).data('href');
    $(this).find('#gs-modal-confirm-yes').attr('href', href);
    var text = $(event.relatedTarget).data('text');
    $(this).find('#gs-modal-confirm-msg').text(text);
  });
});
</script>
{% endblock %}
