{{ form_start(form) }}
  <div class="modal-header">
    <h3 class="modal-title gs-h3">{{ info.alunno }} - Classe: {{ info.classe }}</h3>
    <h4 class="modal-title text-info gs-h4"><em>Giustificazione {% if info.assenza.giorni == 1 %}dell'assenza del giorno: {{ info.assenza.data }}{% else %}del periodo di assenza: dal {{ info.assenza.data }} al {{ info.assenza.data_fine }}{% endif %}</em></h4>
  </div>
  <div class="modal-body">
    <div class="form-group gs-pl-4 gs-pr-4">
      <label class="control-label required" for="giustifica_assenza_motivazione">{{ 'label.motivazione_assenza'|trans }}</label>
      {{ form_widget(form.tipo) }}
    </div>
    <div class="form-group gs-pl-4 gs-pr-4">
      {{ form_widget(form.motivazione) }}
    </div>
  </div>
  <div class="modal-footer">
    {{ form_widget(form.submit) }}
  {% if info.assenza.giustificato %}
    {{ form_widget(form.delete) }}
  {% endif %}
    <button type="button" class="btn-default btn" data-dismiss="modal">{{ 'label.cancel'|trans }}</button>
  </div>
{{ form_end(form, {'render_rest': false}) }}

<script>
$(document).ready(function() {
  $('#giustifica_assenza_tipo').change(function () {
    if ($(this).val() == 0) {
      $('#giustifica_assenza_motivazione').val('');
    } else if ($(this).val() == 9) {
      $('#giustifica_assenza_motivazione').val('').focus();
    } else {
      $('#giustifica_assenza_motivazione').val($("#giustifica_assenza_tipo option:selected").text());
    }
  });
  $('#giustifica_assenza_delete').click(function () {
    $('#giustifica_assenza_motivazione').attr('required', false);
    return true;
  });
  $('#giustifica_assenza_genitoreSesso').change(function () {
    if ($(this).val() == 'M') {
      $('#gs-genitore-nascita').text('nato');
      if ($('#giustifica_assenza_genitoreRuolo').val() == 'M') {
        $('#giustifica_assenza_genitoreRuolo').val('P');
      }
    } else {
      $('#gs-genitore-nascita').text('nata');
      if ($('#giustifica_assenza_genitoreRuolo').val() == 'P') {
        $('#giustifica_assenza_genitoreRuolo').val('M');
      }
    }
  });
});
</script>
