{% extends 'ruolo_genitore/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  {% if classe %}
  <h1 class="text-center gs-h1 gs-mt-2 gs-mb-3">{{ 'title.genitori_lezioni'|trans }} {{ classe.anno~'ª '~classe.sezione }}</h1>
  {% else %}
  <h1 class="text-center gs-h1 gs-mt-2 gs-mb-3">Classe non definita</h1>
  {% endif %}
  {% if errore %}
  <div class="alert alert-warning" role="alert">
    <strong class="gs-big">{{ errore }}</strong>
  </div>
  {% else %}
  <div class="row gs-mb-1">
    <div class="col-sm-12">
      {% if data_prec %}<a class="btn btn-success btn-sm" href="{{ path('genitori_lezioni', {'data': data_prec|date('Y-m-d')}) }}" role="button" title="Giorno precedente"><span class="glyphicon glyphicon-chevron-left"></span></a>{% endif %}
      <button class="btn btn-primary gs-pt-2 gs-pb-2" id="gs-button-date" title="Cambia data"><span class="glyphicon glyphicon-calendar gs-mr-3"></span><strong>{{ info.data_label }}</strong></button>
      {% if data_succ %}<a class="btn btn-success btn-sm" href="{{ path('genitori_lezioni', {'data': data_succ|date('Y-m-d')}) }}" role="button" title="Giorno successivo"><span class="glyphicon glyphicon-chevron-right"></span></a>{% endif %}
    </div>
  </div>
  <table class="table table-bordered table-hover table-striped">
    <thead class="bg-success">
      <tr>
        <th>Ora</th>
        <th>Materia</th>
        <th>Argomenti</th>
        <th>Attività</th>
        {% if alunno.bes == 'H' %}<th>Sostegno</th>{% endif %}
      </tr>
    </thead>
    <tbody>
      {% for k,v in dati['lezioni'] %}
      <tr>
        <td><strong>{{ v.inizio }} - {{ v.fine }}</strong></td>
        <td>{{ v.materia }}</td>
        <td><small>{{ v.argomenti|raw }}</small></td>
        <td><small>{{ v.attivita|raw }}</small></td>
        {% if alunno.bes == 'H' %}
        <td><small>{{ v.sostegno|raw }}</small></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock %}

{% block pagina_css %}
{{ parent() }}
<link href="{{ asset('vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet">
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script src="{{ asset('vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap-datepicker/locales/bootstrap-datepicker.it.min.js') }}"></script>
<script>
$(document).ready(function() {
  $('#gs-button-date').datepicker({
    format: "yyyy-mm-dd",
    weekStart: 1,
    maxViewMode: 1,
    daysOfWeekDisabled: "0",
    defaultViewDate: "{{ data }}",
    startDate: "{{ app.session.get('/CONFIG/SCUOLA/anno_inizio') }}",
    endDate: "{{ date()|date('Y-m-d') }}",
    datesDisabled: {{ lista_festivi|raw }},
    todayBtn: "linked",
    todayHighlight: true,
    autoclose: true,
    language: "it",
    zIndexOffset: 1200
    });
  $('#gs-button-date').datepicker()
    .on('show', function(ev){
      $('#gs-button-date').datepicker('update', '{{ data }}');
  });
  $('#gs-button-date').datepicker()
    .on('changeDate', function(ev){
      $('#gs-button-date').datepicker('hide');
      url = "{{ path('genitori_lezioni', {'data': '9999-99-99'}) }}";
      url = url.replace("9999-99-99", ev.format());
      window.location.href = url;
  });
});
</script>
{% endblock %}
