<ul class="nav navbar-nav gs-navbar-nav">
  <li{{ app.request.attributes.get('_route') == 'home' ? ' class="active"' }}><a href="{{ path('home') }}" title="Visualizza la pagina principale"><span class="glyphicon glyphicon-home gs-mr-2" aria-hidden="true"></span>Home</a></li>
  <li class="dropdown{{ app.request.attributes.get('_route') in ['genitori_lezioni','genitori_argomenti'] ? ' active' }}">
    <a href="#" title="Lezioni svolte in classe: argomenti e attività" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-blackboard gs-mr-2" aria-hidden="true"></span>Lezioni</a>
    <ul role="menu" class="dropdown-menu gs-dropdown-menu">
      <li role="presentation"{{ app.request.attributes.get('_route') == 'genitori_lezioni' ? ' class="active"' }}><a href="{{ path('genitori_lezioni') }}" title="Mostra le lezioni svolte in classe giorno per giorno">Lezioni svolte</a></li>
      <li role="presentation"{{ app.request.attributes.get('_route') == 'genitori_argomenti' ? ' class="active"' }}><a href="{{ path('genitori_argomenti') }}" title="Mostra gli argomenti e le attività di ogni materia">Argomenti e attività</a></li>
    </ul>
  </li>
  <li class="dropdown{{ app.request.attributes.get('_route') in ['genitori_voti','genitori_assenze','genitori_note','genitori_osservazioni'] ? ' active' }}">
    <a href="#" title="Situazione dell'alunno: voti, assenze, note e osservazioni" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-search gs-mr-2" aria-hidden="true"></span>Situazione</a>
    <ul role="menu" class="dropdown-menu gs-dropdown-menu">
      <li role="presentation"{{ app.request.attributes.get('_route') == 'genitori_voti' ? ' class="active"' }}><a href="{{ path('genitori_voti') }}" title="Mostra le le valutazioni di ogni materia">Voti</a></li>
      <li role="presentation"{{ app.request.attributes.get('_route') == 'genitori_assenze' ? ' class="active"' }}><a href="{{ path('genitori_assenze') }}" title="Mostra le assenze, i ritardi e le uscite anticipate">Assenze</a></li>
      <li role="presentation"{{ app.request.attributes.get('_route') == 'genitori_note' ? ' class="active"' }}><a href="{{ path('genitori_note') }}" title="Mostra le note disciplinari">Note</a></li>
      <li role="presentation"{{ app.request.attributes.get('_route') == 'genitori_deroghe' ? ' class="active"' }}><a href="{{ path('genitori_deroghe') }}" title="Mostra le autorizzazioni in deroga agli orari di ingresso o di uscita">Autorizzazioni</a></li>
    </ul>
  </li>
  <li{{ app.request.attributes.get('_route') == 'genitori_pagelle' ? ' class="active"' }}><a href="{{ path('genitori_pagelle') }}" title="Pagelle e comunicazioni sugli scrutini"><span class="glyphicon glyphicon-file gs-mr-2" aria-hidden="true"></span>Pagelle</a></li>
  <li class="dropdown{{ app.request.attributes.get('_route') in ['genitori_avvisi','circolari_genitori'] ? ' active' }}">
    <a href="#" title="Visualizza gli avvisi e le circolari" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-bullhorn gs-mr-2" aria-hidden="true"></span>Bacheca</a>
    <ul role="menu" class="dropdown-menu gs-dropdown-menu">
      <li{{ app.request.attributes.get('_route') == 'genitori_avvisi' ? ' class="active"' }} ><a href="{{ path('genitori_avvisi') }}" title="Visualizza gli avvisi indirizzati agli studenti">Avvisi</a></li>
      <li{{ app.request.attributes.get('_route') == 'circolari_genitori' ? ' class="active"' }} ><a href="{{ path('circolari_genitori') }}" title="Visualizza le circolari indirizzate agli studenti">Circolari</a></li>
    </ul>
  </li>
  <li{{ app.request.attributes.get('_route') == 'genitori_eventi' ? ' class="active"' }} ><a href="{{ path('genitori_eventi') }}" title="Visualizza gli eventi in agenda"><span class="glyphicon glyphicon-calendar gs-mr-2" aria-hidden="true"></span>Agenda</a></li>
</ul>
