{% extends 'ruolo_genitore/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  <h1 class="text-center gs-h1 gs-mt-2 gs-mb-3">{{ 'title.genitori_pagelle'|trans({'%sex%': (alunno.sesso == 'M' ? 'o' : 'a')}) }} {{ alunno.nome~' '~alunno.cognome }}</h1>
  {% if errore %}
  <div class="alert alert-warning" role="alert">
    <strong class="gs-big">{{ errore }}</strong>
  </div>
  {% else %}
  <div class="row gs-mb-1">
    <div class="col-sm-12">
      <strong class="gs-big">Periodo:</strong>
      <div style="display:inline-block" class="dropdown">
        <button class="btn btn-primary dropdown-toggle" id="gs-dropdown-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="Clicca per scegliere il periodo">{{ (periodo ? ('label.periodo_'~periodo) : 'label.scegli_periodo')|trans }}<span class="caret gs-ml-3"></span></button>
        <ul class="dropdown-menu" aria-labelledby="gs-dropdown-menu">
    {% for p in ['A','P','S','F','G'] %}
      {% if lista_periodi[p] is defined %}
          <li{{ periodo == p ? ' class="active"' }}><a href="{{ path('genitori_pagelle', {'periodo': p}) }}">{{ p ? (p == 'P' ? app.session.get('/CONFIG/SCUOLA/periodo1_nome') : (p == 'S' ? app.session.get('/CONFIG/SCUOLA/periodo2_nome') : ('label.periodo_'~p)|trans)) : ('label.scegli_periodo'|trans) }}</a></li>
      {% endif %}
    {% endfor %}
        </ul>
      </div>
    </div>
  </div>
    {% if dati.voti is defined %}
      {% if periodo == 'A' %}
  <div class="text-info text-center gs-big _gs-pb-2">
    <strong>Scrutinio dell' {{ 'label.periodo_A'|trans }}</strong>
  </div>
        {% if dati.esito.esito in ['N', 'L', 'R'] or (dati.esitoRinviato and dati.esitoRinviato.esito == 'N') %}
  <div class="alert alert-warning text-center gs-mt-4" role="alert">
    <strong class="gs-big">Esito finale:
      {% if dati.esito.esito == 'N' or (dati.esitoRinviato and dati.esitoRinviato.esito == 'N') %}NON AMMESS{{ alunno.sesso == 'M' ? 'O' : 'A' }}{% endif %}
      {% if dati.esito.esito == 'L' %}NON AMMESS{{ alunno.sesso == 'M' ? 'O' : 'A' }} PER SUPERAMENTO LIMITE DI ASSENZE{% endif %}
      {% if dati.esito.esito == 'R' %}NON SCRUTINAT{{ alunno.sesso == 'M' ? 'O' : 'A' }}{% endif %}
    </strong>
  </div>
        {% elseif dati.esito.esito == 'A' or (dati.esitoRinviato and dati.esitoRinviato.esito == 'A') %}
  <div class="alert alert-success text-center gs-mt-4" role="alert">
    <strong class="gs-big">Esito finale: AMMESS{{ alunno.sesso == 'M' ? 'O' : 'A' }}
      {% if dati.esito.credito %}<br>Credito: {{ dati.esito.credito }}{% endif %}
      {% if dati.esito.creditoPrecedente %}<br>Credito anni precedenti: {{ dati.esito.creditoPrecedente }}{% endif %}
    </strong>
  </div>
        {% elseif dati.esito.esito == 'E' %}
  <div class="alert alert-success text-center gs-mt-4" role="alert">
    <strong class="gs-big">ANNO ALL'ESTERO</strong>
  </div>
        {% elseif dati.esito.esito == 'X' and dati.esitoRinviato is empty %}
  <div class="alert alert-info text-center gs-mt-4" role="alert">
    <strong class="gs-big">SCRUTINIO RINVIATO</strong>
  </div>
        {% endif %}
        {% if dati.voti|length > 0 and dati.esitoRinviato is empty %}
  <table class="table table-bordered table-hover table-striped">
    <caption class="text-info text-center gs-big gs-pb-0"><strong>Voti assegnati</strong></caption>
    <thead class="bg-success">
      <tr>
        <th class="col-sm-8">Materia</th>
        <th class="col-sm-4">Voto</th>
      </tr>
    </thead>
    <tbody>
          {% for v in dati.voti %}
      <tr>
        <td><strong>{{ v.materia.nome }}</strong></td>
        <td>
          <span class="gs-big label {{ v.voto < dati.valutazioni[v.materia.tipo].med ? 'label-danger' : (v.voto < dati.valutazioni[v.materia.tipo].suff ? 'label-warning' : 'label-success') }}">{{ dati.valutazioni[v.materia.tipo].lista[v.voto] }}</span>
        </td>
      </tr>
          {% endfor %}
    </tbody>
  </table>
        {% elseif dati.votiRinviato is defined %}
  <table class="table table-bordered table-hover table-striped">
    <caption class="text-info text-center gs-big gs-pb-0"><strong>Voti assegnati</strong></caption>
    <thead class="bg-success">
      <tr>
        <th class="col-sm-8">Materia</th>
        <th class="col-sm-4">Voto</th>
      </tr>
    </thead>
    <tbody>
          {% for v in dati.votiRinviato %}
      <tr>
        <td><strong>{{ v.materia.nome }}</strong></td>
        <td>
          <span class="gs-big label {{ v.unico < dati.valutazioni[v.materia.tipo].med ? 'label-danger' : (v.unico < dati.valutazioni[v.materia.tipo].suff ? 'label-warning' : 'label-success') }}">{{ dati.valutazioni[v.materia.tipo].lista[v.unico] }}</span>
        </td>
      </tr>
          {% endfor %}
    </tbody>
  </table>
        {% endif %}
        {% if dati.carenze|length > 0 and (dati.esito.esito == 'A' or dati.esitoRinviato.esito == 'A') %}
  <table class="table table-bordered table-hover table-striped">
    <caption class="text-info text-center gs-big gs-pb-0"><strong>Carenze da recuperare autonomamente</strong></caption>
    <thead class="bg-success">
      <tr>
        <th class="col-sm-6">Materia</th>
        <th class="col-sm-6">Argomenti da recuperare</th>
      </tr>
    </thead>
    <tbody>
          {% for v in dati.carenze %}
      <tr>
        <td><strong>{{ v[0] }}</strong></td>
        <td><small>{{ v[1] }}</small></td>
      </tr>
          {% endfor %}
    </tbody>
  </table>
        {% endif %}
      {% elseif periodo == 'P' or periodo == 'S' %}
  <table class="table table-bordered table-hover table-striped">
    <caption class="text-info text-center gs-big gs-pb-2">
      <strong>Scrutinio del {{ periodo == 'P' ? app.session.get('/CONFIG/SCUOLA/periodo1_nome') : app.session.get('/CONFIG/SCUOLA/periodo2_nome') }}</strong>
      <a class="btn btn-primary btn-sm gs-ml-4" href="{{ path('pagelle_alunno', {'classe': classe.id, 'alunno': alunno.id, 'tipo': 'P', 'periodo': periodo}) }}" role="button" title="Scarica la comunicazione con i voti dello scrutinio"><span class="glyphicon glyphicon-download-alt gs-mr-3"></span><strong>Comunicazione dei voti</strong></a>
    </caption>
    <thead class="bg-success">
      <tr>
        <th class="col-sm-6">Materia</th>
        <th class="col-sm-2">Voto</th>
        <th class="col-sm-4">Ore di assenza</th>
      </tr>
    </thead>
    <tbody>
        {% for materia,m in dati.materie %}
      <tr>
        <td><strong>{{ m.nome }}</strong></td>
          {% if m.tipo == 'R' and alunno.religione != 'S' and alunno.religione != 'A' %}
        <td><strong>--</strong></td>
        <td></td>
          {% else %}
        <td><span class="label label-{{ dati.voti[materia].unico < dati.valutazioni[m.tipo].med ? 'danger' : (dati.voti[materia].unico < dati.valutazioni[m.tipo].suff ? 'warning' : 'success') }} gs-big">{{ dati.valutazioni[m.tipo].lista[dati.voti[materia].unico] }}</span></td>
        <td><span class="label label-default gs-big">{{ m.tipo == 'C' ? '' : dati.voti[materia].assenze }}</span></td>
          {% endif %}
      </tr>
        {% endfor %}
    </tbody>
  </table>
        {% if dati.debiti is defined %}
  <table class="table table-bordered table-hover table-striped">
    <caption class="text-info text-center gs-big gs-pb-2">
      <strong>Recupero dei debiti formativi</strong>
      <a class="btn btn-primary btn-sm gs-ml-4" href="{{ path('pagelle_alunno', {'classe': classe.id, 'alunno': alunno.id, 'tipo': 'D', 'periodo': periodo}) }}" role="button" title="Scarica la comunicazione con le indicazioni del recupero"><span class="glyphicon glyphicon-download-alt gs-mr-3"></span><strong>Comunicazione dei debiti</strong></a>
    </caption>
    <thead class="bg-success">
      <tr>
        <th class="col-sm-4">Materia</th>
        <th class="col-sm-6">Argomenti da recuperare</th>
        <th class="col-sm-2">Modalità di recupero</th>
      </tr>
    </thead>
    <tbody>
          {% for materia,d in dati.debiti %}
      <tr>
        <td><strong>{{ dati.materie[materia].nome }}</strong></td>
        <td>{{ d.debito }}</td>
        <td>{{ ('label.recupero_'~d.recupero)|trans }}</td>
      </tr>
          {% endfor %}
    </tbody>
  </table>
        {% endif %}
      {% elseif periodo == 'F' %}
  <div class="text-info text-center gs-big gs-pb-2">
    <strong>Scrutinio finale</strong>
  </div>
        {% if dati.noscrutinato is defined %}
  <div class="alert alert-danger gs-mt-4" role="alert">
    <div class="text-center"><strong class="gs-big">Esito dello scrutinio:<br>ESCLUS{{ alunno.sesso == 'M' ? 'O' : 'A' }} DALLO SCRUTINIO FINALE E NON AMMESS{{ alunno.sesso == 'M' ? 'O' : 'A' }} (DPR 122/09 ART. 14 COMMA 7)</strong></div>
  </div>
  <div class="text-center gs-mb-3">
    <a class="btn btn-primary btn" href="{{ path('pagelle_alunno', {'classe': classe.id, 'alunno': alunno.id, 'tipo': 'N', 'periodo': periodo}) }}" role="button" title="Scarica la comunicazione di non ammissione"><span class="glyphicon glyphicon-download-alt gs-mr-3"></span><strong>Comunicazione dell'esito dello scrutinio</strong></a>
  </div>
  <div class="text-center gs-mb-3">
    <a class="btn btn-primary btn" href="{{ path('pagelle_alunno', {'classe': classe.id, 'alunno': alunno.id, 'tipo': 'T', 'periodo': periodo}) }}" role="button" title="Scarica il tabellone degli esiti della classe"><span class="glyphicon glyphicon-download-alt gs-mr-3"></span><strong>Tabellone degli esiti della classe</strong></a>
  </div>
        {% else %}
          {% if dati.esito.esito == 'A' %}
  <div class="alert alert-success" role="alert">
    <div class="text-center"><strong class="gs-big">Esito dello scrutinio: AMMESS{{ alunno.sesso == 'M' ? 'O' : 'A' }}</strong></div>
            {% if classe.anno >= 3 %}
    <strong class="gs-big">Media dei voti: {{ dati.esito.media|number_format(2,',') }}</strong><br>
    <strong class="gs-big">Credito: {{ dati.esito.credito }}</strong><br>
              {% if classe.anno >= 4 %}
    <strong class="gs-big">Credito anni precedenti: {{ dati.esito.creditoPrecedente }}</strong><br>
    <strong class="gs-big">Credito totale: {{ dati.esito.credito + dati.esito.creditoPrecedente }}</strong><br>
              {% endif %}
              {% if classe.anno == 5 %}
    <strong class="gs-big">Credito convertito: {{ dati.esito.dati.creditoConvertito }}</strong><br>
              {% endif %}
            {% endif %}
  </div>
          {% elseif dati.esito.esito == 'N' %}
  <div class="alert alert-danger" role="alert">
    <div class="text-center"><strong class="gs-big">Esito dello scrutinio: NON AMMESS{{ alunno.sesso == 'M' ? 'O' : 'A' }}</strong></div>
  </div>
          {% elseif dati.esito.esito == 'S' %}
  <div class="alert alert-warning" role="alert">
    <div class="text-center"><strong class="gs-big">Esito dello scrutinio: GIUDIZIO SOSPESO</strong></div>
  </div>
          {% endif %}
  <table class="table table-bordered table-hover table-striped ">
    <thead class="bg-success">
      <tr>
        <th class="col-sm-6">Materia</th>
        <th class="col-sm-2">Voto</th>
        <th class="col-sm-4">Ore di assenza</th>
      </tr>
    </thead>
    <tbody>
          {% for materia,m in dati.materie %}
      <tr>
        <td><strong>{{ m.nome }}</strong></td>
            {% if m.tipo == 'R' and alunno.religione != 'S' and alunno.religione != 'A' %}
        <td><strong>--</strong></td>
        <td></td>
            {% else %}
        <td><span class="label label-{{ dati.voti[materia].unico < dati.valutazioni[m.tipo].med ? 'danger' : (dati.voti[materia].unico < dati.valutazioni[m.tipo].suff ? 'warning' : 'success') }} gs-big">{{ dati.valutazioni[m.tipo].lista[dati.voti[materia].unico] }}</span></td>
        <td><span class="label label-default gs-big">{{ m.tipo == 'C' ? '' : dati.voti[materia].assenze }}</span></td>
            {% endif %}
      </tr>
          {% endfor %}
    </tbody>
  </table>
  <div class="text-info text-center gs-big gs-pb-2">
    <strong>Comunicazioni</strong>
  </div>
  <table class="table table-bordered table-hover table-striped ">
    <tbody>
      <tr class="gs-big">
          {% if dati.esito.esito == 'A' or dati.esito.esito == 'S' %}
        <td class="col-sm-6"><strong>Comunicazione dei voti</strong></td>
        <td class="col-sm-6"><a class="btn btn-primary btn" href="{{ path('pagelle_alunno', {'classe': classe.id, 'alunno': alunno.id, 'tipo': 'P', 'periodo': periodo}) }}" role="button" title="Scarica la comunicazione dei voti"><span class="glyphicon glyphicon-download-alt gs-mr-3"></span><strong>Scarica la comunicazione</strong></a></td>
          {% elseif dati.esito.esito == 'N' %}
        <td class="col-sm-6"><strong>Comunicazione di non ammissione</strong></td>
        <td class="col-sm-6"><a class="btn btn-primary btn" href="{{ path('pagelle_alunno', {'classe': classe.id, 'alunno': alunno.id, 'tipo': 'N', 'periodo': periodo}) }}" role="button" title="Scarica la comunicazione di non ammissione"><span class="glyphicon glyphicon-download-alt gs-mr-3"></span><strong>Scarica la comunicazione</strong></a></td>
          {% endif %}
      </tr>
          {% if dati.esito.esito == 'S' %}
      <tr class="gs-big">
        <td class="col-sm-6"><strong>Comunicazione per il recupero del debito formativo</strong></td>
        <td class="col-sm-6"><a class="btn btn-primary btn" href="{{ path('pagelle_alunno', {'classe': classe.id, 'alunno': alunno.id, 'tipo': 'D', 'periodo': periodo}) }}" role="button" title="Scarica la comunicazione per il recupero del debito formativo"><span class="glyphicon glyphicon-download-alt gs-mr-3"></span><strong>Scarica la comunicazione</strong></a></td>
      </tr>
          {% endif %}
          {% if (dati.esito.esito == 'A' or dati.esito.esito == 'S') and dati.carenze is defined %}
      <tr class="gs-big">
        <td class="col-sm-6"><strong>Comunicazione per il recupero autonomo delle carenze</strong></td>
        <td class="col-sm-6"><a class="btn btn-primary btn" href="{{ path('pagelle_alunno', {'classe': classe.id, 'alunno': alunno.id, 'tipo': 'C', 'periodo': periodo}) }}" role="button" title="Scarica la comunicazione per il recupero autonomo"><span class="glyphicon glyphicon-download-alt gs-mr-3"></span><strong>Scarica la comunicazione</strong></a></td>
      </tr>
          {% endif %}
          {% if classe.anno == 2 and dati.esito.esito == 'A' and app.session.get('/CONFIG/SISTEMA/scrutinio_genitori_competenze') == 'S' %}
      <tr class="gs-big">
        <td class="col-sm-6"><strong>Certificazione delle competenze</strong></td>
        <td class="col-sm-6"><a class="btn btn-primary btn" href="{{ path('pagelle_alunno', {'classe': classe.id, 'alunno': alunno.id, 'tipo': 'G', 'periodo': periodo}) }}" role="button" title="Scarica la certificazione delle competenze"><span class="glyphicon glyphicon-download-alt gs-mr-3"></span><strong>Scarica la comunicazione</strong></a></td>
      </tr>
          {% endif %}
      <tr class="gs-big">
        <td class="col-sm-6"><strong>Tabellone degli esiti della classe</strong></td>
        <td class="col-sm-6"><a class="btn btn-primary btn" href="{{ path('pagelle_alunno', {'classe': classe.id, 'alunno': alunno.id, 'tipo': 'T', 'periodo': periodo}) }}" role="button" title="Scarica il tabellone degli esiti della classe"><span class="glyphicon glyphicon-download-alt gs-mr-3"></span><strong>Scarica la comunicazione</strong></a></td>
      </tr>
    </tbody>
  </table>
        {% endif %}
      {% elseif periodo == 'G' %}
  <div class="text-info text-center gs-big gs-pb-2">
    <strong>Scrutinio per gli esami degli studenti con sospensione del giudizio</strong>
  </div>
        {% if dati.esito.esito == 'X' %}
  <div class="alert alert-info" role="alert">
    <div class="text-center"><strong class="gs-big">Scrutinio rinviato a data da definirsi</strong></div>
  </div>
        {% elseif dati.esito.esito == 'A' %}
  <div class="alert alert-success" role="alert">
    <div class="text-center"><strong class="gs-big">Esito dello scrutinio: AMMESS{{ alunno.sesso == 'M' ? 'O' : 'A' }}</strong></div>
          {% if classe.anno >= 3 %}
    <strong class="gs-big">Media dei voti: {{ dati.esito.media|number_format(2,',') }}</strong><br>
    <strong class="gs-big">Credito: {{ dati.esito.credito }}</strong><br>
          {% endif %}
          {% if classe.anno > 3 %}
    <strong class="gs-big">Credito anni precedenti: {{ dati.esito.creditoPrecedente }}</strong><br>
    <strong class="gs-big">Credito totale: {{ dati.esito.credito + dati.esito.creditoPrecedente }}</strong><br>
          {% endif %}
  </div>
        {% elseif dati.esito.esito == 'N' %}
  <div class="alert alert-danger" role="alert">
    <div class="text-center"><strong class="gs-big">Esito dello scrutinio: NON AMMESS{{ alunno.sesso == 'M' ? 'O' : 'A' }}</strong></div>
  </div>
        {% endif %}
        {% if dati.esito.esito != 'X' %}
  <table class="table table-bordered table-hover table-striped ">
    <thead class="bg-success">
      <tr>
        <th class="col-sm-6">Materia</th>
        <th class="col-sm-2">Voto</th>
        <th class="col-sm-4">Ore di assenza</th>
      </tr>
    </thead>
    <tbody>
          {% for materia,m in dati.materie %}
      <tr>
        <td><strong>{{ m.nome }}</strong></td>
            {% if m.tipo == 'R' and alunno.religione != 'S' and alunno.religione != 'A' %}
        <td><strong>--</strong></td>
        <td></td>
            {% else %}
        <td><span class="label label-{{ dati.voti[materia].unico < dati.valutazioni[m.tipo].med ? 'danger' : (dati.voti[materia].unico < dati.valutazioni[m.tipo].suff ? 'warning' : 'success') }} gs-big">{{ dati.valutazioni[m.tipo].lista[dati.voti[materia].unico] }}</span></td>
        <td><span class="label label-default gs-big">{{ m.tipo == 'C' ? '' : dati.voti[materia].assenze }}</span></td>
            {% endif %}
      </tr>
          {% endfor %}
    </tbody>
  </table>
        {%endif %}
  <div class="text-info text-center gs-big gs-pb-2">
    <strong>Comunicazioni</strong>
  </div>
  <table class="table table-bordered table-hover table-striped ">
    <tbody>
        {% if dati.esito.esito == 'A' %}
      <tr class="gs-big">
        <td class="col-sm-6"><strong>Comunicazione dei voti</strong></td>
        <td class="col-sm-6"><a class="btn btn-primary btn" href="{{ path('pagelle_alunno', {'classe': classe.id, 'alunno': alunno.id, 'tipo': 'P', 'periodo': dati.rinviato is defined ? 'R' : periodo}) }}" role="button" title="Scarica la comunicazione dei voti"><span class="glyphicon glyphicon-download-alt gs-mr-3"></span><strong>Scarica la comunicazione</strong></a></td>
      </tr>
        {% elseif dati.esito.esito == 'N' %}
      <tr class="gs-big">
        <td class="col-sm-6"><strong>Comunicazione di non ammissione</strong></td>
        <td class="col-sm-6"><a class="btn btn-primary btn" href="{{ path('pagelle_alunno', {'classe': classe.id, 'alunno': alunno.id, 'tipo': 'N', 'periodo': dati.rinviato is defined ? 'R' : periodo}) }}" role="button" title="Scarica la comunicazione di non ammissione"><span class="glyphicon glyphicon-download-alt gs-mr-3"></span><strong>Scarica la comunicazione</strong></a></td>
      </tr>
        {% endif %}
        {% if classe.anno == 2 and dati.esito.esito == 'A' and app.session.get('/CONFIG/SISTEMA/scrutinio_genitori_competenze') == 'S' %}
      <tr class="gs-big">
        <td class="col-sm-6"><strong>Certificazione delle competenze</strong></td>
        <td class="col-sm-6"><a class="btn btn-primary btn" href="{{ path('pagelle_alunno', {'classe': classe.id, 'alunno': alunno.id, 'tipo': 'G', 'periodo': dati.rinviato is defined ? 'R' : periodo}) }}" role="button" title="Scarica la certificazione delle competenze"><span class="glyphicon glyphicon-download-alt gs-mr-3"></span><strong>Scarica la comunicazione</strong></a></td>
      </tr>
        {% endif %}
      <tr class="gs-big">
        <td class="col-sm-6"><strong>Tabellone degli esiti della classe</strong></td>
        <td class="col-sm-6"><a class="btn btn-primary btn" href="{{ path('pagelle_alunno', {'classe': classe.id, 'alunno': alunno.id, 'tipo': 'T', 'periodo': dati.rinviato is defined ? 'R' : periodo}) }}" role="button" title="Scarica il tabellone degli esiti della classe"><span class="glyphicon glyphicon-download-alt gs-mr-3"></span><strong>Scarica la comunicazione</strong></a></td>
      </tr>
    </tbody>
  </table>
      {% endif %}
    {% else %}
  <div class="alert alert-info gs-mt-4" role="alert">
    <strong class="gs-big">Dati non ancora disponibili</strong>
  </div>
    {% endif %}
  {% endif %}
</div>
{% endblock %}
