{% extends 'base.html.twig' %}

{% block pagina_contenuto %}
<div class="container">
  <h1 class="gs-h1 text-center">Applicazioni e servizi disponibili per il Registro Elettronico</h1>
  <p class="gs-big">In questa pagina sono elencate le applicazioni e i servizi per smartphone disponibili per il Registro Elettronico dell'{{ app.session.get('/CONFIG/ISTITUTO/intestazione_breve') }}.</p>
  <p class="gs-big"><em>Attenzione: applicazioni scaricate da altre fonti sono da considerarsi non ufficiali e il oro uso espone al rischio di una violazione della privacy e di una potenziale diffusione non autorizzata dei dati degli utenti.</em></p>

  {% if applist['GiuaReg'] is defined %}
  <div class="alert alert-success gs-mt-5" role="alert">
    <div class="row text-center"><strong class="gs-big">GiuaReg v2.0</strong></div>
    <hr class="gs-mt-2 gs-mb-2">
    <div class="row text-center">
    </div>
    <div class="row gs-text-normal">
      <div class="col-sm-6">
        <p>Una volta configurata, permette l'apertura del registro senza dover inserire ogni volta le proprie credenziali di accesso.</p>
        <p><strong>Come si installa?</strong></p>
        <p>Prima di scaricare l'app, attiva sul tuo smartphone l'opzione per l'<em>installazione da fonti sconosciute</em>.<br>
          Succesivamente, cliccando sul pulsante che trovi di seguito verrà scaricata e installata sul tuo smartphone l'app <em>GiuaReg</em>.<br>
          Al termine dell'installazione ricordati di disabilitare nuovamente sul tuo smartphone l'opzione per l'<em>installazione da fonti sconosciute</em>.
        </p>
      </div>
      <div class="col-sm-6">
        <table class="table gs-big ">
          <tbody>
            <tr>
              <td style="width:50%;vertical-align:middle" class="text-right gs-noborder"><strong>Sistema operativo:</strong></td>
              <td style="width:50%" class="gs-noborder">
                <img src="{{ asset('img/android.png') }}" class="img-thumbnail" alt="Android" title="Android">
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row text-center">
          <a class="btn btn-primary btn-sm" href="{{ path('app_download', {'id': applist['GiuaReg'].id}) }}" title="Clicca per scaricare l'applicazione sul tuo smartphone"><strong class="gs-big">Scarica l'app</strong></a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if applist['RegistroIOS'] is defined %}
  <div class="alert alert-info gs-mt-5" role="alert">
    <div class="row text-center"><strong class="gs-big">Web App per iOS</strong></div>
    <hr class="gs-mt-2 gs-mb-2">
    <div class="row text-center">
    </div>
    <div class="row gs-text-normal">
      <div class="col-sm-6">
        <p>L'idea di creare l’applicazione nasce dal concetto di semplicità e portabilità: ti basterà entrare nell'app per visualizzare il Registro Elettronico. Inoltre, potrai ruotare lo schermo in modo tale da avere una visione migliore. Le credenziali vengono salvate automaticamente.</p>
        <p><strong>Come si installa?</strong></p>
        <p>Cliccando sul pulsante che trovi di seguito verrà scaricato sul tuo smartphone un profilo di configurazione.<br>
           Una volta finito di scaricare il file, recati nelle <strong>Impostazioni &gt; Generali &gt; Profili</strong> e noterai un nuovo profilo presente.<br>
           Dopo aver inserito il codice di sblocco del dispositivo e dopo aver completato l'installazione, apparirà sulla schermata <em>home</em> un'app chiamata <em>Registro</em>.<br>
           Se incontri difficoltà puoi seguire i passi seguenti dell'installazione (clicca sulle immagini per ingrandirle).</p>
        <div class="text-center">
          <a class="gs-img-zoom" href="#"><img style="width:15%" class="img-rounded gs-mr-2 gs-ml-2" id="gs-reg-passo1" src="{{ asset('app/Registro-IOS-1.png') }}"></a>
          <a class="gs-img-zoom" href="#"><img style="width:15%" class="img-rounded gs-mr-2 gs-ml-2" id="gs-reg-passo2" src="{{ asset('app/Registro-IOS-2.png') }}"></a>
          <a class="gs-img-zoom" href="#"><img style="width:15%" class="img-rounded gs-mr-2 gs-ml-2" id="gs-reg-passo3" src="{{ asset('app/Registro-IOS-3.png') }}"></a>
          <a class="gs-img-zoom" href="#"><img style="width:15%" class="img-rounded gs-mr-2 gs-ml-2" id="gs-reg-passo4" src="{{ asset('app/Registro-IOS-4.png') }}"></a>
          <a class="gs-img-zoom" href="#"><img style="width:15%" class="img-rounded gs-mr-2 gs-ml-2" id="gs-reg-passo5" src="{{ asset('app/Registro-IOS-5.png') }}"></a>
        </div>
        <div class="text-center gs-mt-2">
          <a class="gs-img-zoom" href="#"><img style="width:15%" class="img-rounded gs-mr-2 gs-ml-2" id="gs-reg-passo6" src="{{ asset('app/Registro-IOS-6.png') }}"></a>
          <a class="gs-img-zoom" href="#"><img style="width:15%" class="img-rounded gs-mr-2 gs-ml-2" id="gs-reg-passo7" src="{{ asset('app/Registro-IOS-7.png') }}"></a>
          <a class="gs-img-zoom" href="#"><img style="width:15%" class="img-rounded gs-mr-2 gs-ml-2" id="gs-reg-passo8" src="{{ asset('app/Registro-IOS-8.png') }}"></a>
          <a class="gs-img-zoom" href="#"><img style="width:15%" class="img-rounded gs-mr-2 gs-ml-2" id="gs-reg-passo9" src="{{ asset('app/Registro-IOS-9.png') }}"></a>
        </div>
      </div>
      <div class="col-sm-6">
        <table class="table gs-big ">
          <tbody>
            <tr>
              <td style="width:50%" class="text-right gs-noborder"><strong>Autore:</strong></td>
              <td style="width:50%" class="gs-noborder"><em>Claudio Pani (classe 4ª O)</em></td>
            </tr>
            <tr>
              <td style="width:50%;vertical-align:middle" class="text-right gs-noborder"><strong>Sistema operativo:</strong></td>
              <td style="width:50%" class="gs-noborder">
                <img src="{{ asset('img/ios.png') }}" class="img-thumbnail" alt="iOS" title="iOS">
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row text-center">
          <a class="btn btn-primary btn-sm" href="{{ path('app_download', {'id': applist['RegistroIOS'].id}) }}" title="Clicca per scaricare l'applicazione sul tuo smartphone"><strong class="gs-big">Scarica l'app</strong></a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

</div>
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script>
$(document).ready(function() {
  $(".gs-img-zoom img").click(function(e) {
    e.preventDefault();
    if ($(this).hasClass("gs-img-max")) {
      $(this).removeClass("gs-img-max");
      $(this).css("width", "15%");
      $(".gs-img-zoom img").show("slow");
    } else {
      $(this).addClass("gs-img-max");
      $(".gs-img-zoom img").not(this).hide("slow");
      $(this).css("width", "100%");
    }
  });
});
</script>
{% endblock %}
