{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block pagina_contenuto %}
<div class="container_fluid gs-mt-0">
  {% if manutenzione is not empty %}
  <div class="col-sm-12 bg-danger gs-mb-4 text-center">
    <h1 class="gs-h2">ATTENZIONE</h1>
    <p>
      <span class="gs-big">A causa di una manutenzione programmata del sistema informatico, il registro elettronico non sarà disponibile
      <strong>dalle ore {{ manutenzione[1] }} alle ore {{ manutenzione[2] }}</strong>.</span>
    </p>
  </div>
  {% endif %}
  <div class="col-sm-8 col-sm-offset-2 gs-mt-4">
    <div class="panel panel-success" >
      <div class="panel-heading">
        <div class="panel-title"><strong>Registrazione per l'utilizzo delle notifiche via <em>Telegram</em></strong></div>
      </div>
      <div class="panel-body">
  {% if not modo_manutenzione %}
        <div class="help-block">
          <span class="gs-text-normal gs-big">
            Questa pagina permette di attivare il servizio di notifica tramite l'applicazione <em>Telegram</em>.
            Inserisci il nome utente e la password di accesso al <em>Registro Elettronico</em> quindi premi il pulsante <strong>Conferma</strong>.<br>
          </span>
        </div>
    {% if successo %}
        <div class="alert alert-success">
          <span class="gs-text-normal gs-big"><strong>{{ successo|trans|raw }}</strong></span>
        </div>
    {% endif %}
        {{ form_start(form) }}
          {{ form_errors(form) }}
          <div class="form-group">
            <label for="app_telegram_username" class="sr-only">{{ 'label.username'|trans }}</label>
            <div class="input-group gs-ml-4 gs-mr-4">
              <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
              {{ form_widget(form.username) }}
            </div>
          </div>
          <div class="form-group">
            <label for="app_telegram_password" class="sr-only">{{ 'label.password'|trans }}</label>
            <div class="input-group gs-ml-4 gs-mr-4">
              <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
              {{ form_widget(form.password) }}
            </div>
          </div>
          <div class="form-group gs-ml-4 gs-mr-4">
            {{ form_widget(form.privacy) }}
          </div>
          <div class="row text-center">
            <a class="btn btn-success" href="#" data-toggle="modal" data-target="#gs-modal-waiting"><strong>{{ 'label.submit'|trans }}</strong></a>
          </div>
        {{ form_end(form) }}
        {% include 'include/modal-waiting.html.twig' %}
  {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="gs-privacy" tabindex="-1" role="dialog" aria-labelledby="gs-modal-info-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove gs-mr-2" aria-hidden="true"></span>
          <span class="sr-only">{{ 'label.close'|trans }}</span>
        </button>
        <h3 class="modal-title" id="gs-modal-info-label">Utilizzo del servizio di notifica su <em>Telegram</em> e diffusione dei dati personali</h3>
      </div>
      <div class="modal-body">
        <p>Questo servizio notifica l'inserimento di alcune informazioni sul Registro Elettronico tramite l'utilizzo dell'applicazione <em>Telegram</em>. Questo comporta che i dati personali contenuti nelle notifiche siano necessariamente trasmessi ai sistemi informatici che gestiscono tale applicazione. Si consulti il <a href="https://telegram.org/faq/it" target="_blank">sito di Telegram</a> per avere informazioni sulla gestione della privacy sui loro sistemi.</p>
        <p>I dati personali che possono essere inviati ai sistemi informatici gestiti da <em>Telegram</em> sono indicati di seguito.</p>
        <ul>
          <li>Informazioni sull'andamento scolastico dell'alunno: valutazioni, note disciplinari, verifiche, compiti per casa.</li>
          <li>Informazioni sulla vita scolastica che riguardano l'alunno: orari di ingresso o uscita, attività da svolgere.</li>
        </ul>
        <p>Durante la fase di registrazione del servizio, con la finalità di identificare l'utente, vengono inviati alcuni dati personali all'applicazione esterna che gestisce la comunicazione sulla <em>chat</em> di <em>Telegram</em>. Responsabile per il trattamento di tali dati è l'amministratore della <em>chat</em> utilizzata.</p>
        <p>I dati personali che vengono inviati nella fase di registrazione sono indicati di seguito.</p>
        <ul>
          <li>Dati anagrafici: nome, cognome.</li>
          <li>Informazioni sulla vita scolastica che riguardano l'alunno: classe di appartenenza.</li>
        </ul>
        <p>Esprimendo il proprio consenso all'invio e al trattamento dei propri dati da parte di soggetti terzi, si libera l'{{ app.session.get('/CONFIG/ISTITUTO/intestazione_breve') }} da ogni responsabilità in merito.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script>
$(document).ready(function() {
  $('#gs-modal-waiting').on('shown.bs.modal', function (event) {
    $('form[name="app_telegram"]').submit();
  });
});
</script>
{% endblock %}

{% block _app_telegram_privacy_widget %}
<div class="checkbox">
  <label class="gs-big required" for="app_telegram_privacy">
    <input type="checkbox" id="app_telegram_privacy" name="app_telegram[privacy]" required="required" value=""> <em>{{ ('label.privacy_app'|trans)|raw }}</em>
  </label>
</div>
{% endblock %}
