{% extends 'tema-new/layout-base.html.twig' %}

{% block pagina_contenuto %}
<div class="container">
  <h1 class="text-center mb-4">{{ info.titolo|trans }}</h1>
  {% if dati.NEW is defined %}
  <div class="card bg-success border rounded mb-3">
    <div class="card-header text-white py-1"><strong>Nuovi utenti</strong></div>
    <div class="card-body py-1">
    {% for k,v in dati.NEW %}
      <p class="text-white my-0 small"># {{ k }}: {% for fk,fv in v %}{% if not loop.first %}, {% endif%}<strong>{{ fk }}</strong>="{{ fv }}"{% endfor %}</p>
    {% endfor %}
    </div>
  </div>
  {% endif %}
  {% if dati.EDIT is defined %}
  <div class="card bg-warning border rounded mb-3">
    <div class="card-header text-white py-1"><strong>Utenti modificati</strong></div>
    <div class="card-body py-1">
    {% for k,v in dati.EDIT %}
      <p class="text-white my-0 small"># {{ k }}: {% for fk,fv in v %}{% if not loop.first %}, {% endif%}<strong>{{ fk }}</strong>="{{ fv }}"{% endfor %}</p>
    {% endfor %}
    </div>
  </div>
  {% endif %}
  {% if dati.NONE is defined %}
  <div class="card bg-info border rounded mb-3">
    <div class="card-header text-white py-1"><strong>Utenti non modificati</strong></div>
    <div class="card-body py-1">
    {% for k,v in dati.NONE %}
      <p class="text-white my-0 small"># {{ k }}: {% for fk,fv in v %}{% if not loop.first %}, {% endif%}<strong>{{ fk }}</strong>="{{ fv }}"{% endfor %}</p>
    {% endfor %}
    </div>
  </div>
  {% endif %}
  {% if dati.NONEW is defined %}
  <div class="card bg-info border rounded mb-3">
    <div class="card-header text-white py-1"><strong>Utenti non inseriti</strong></div>
    <div class="card-body py-1">
    {% for k,v in dati.NONEW %}
      <p class="text-white my-0 small"># {{ k }}: {% for fk,fv in v %}{% if not loop.first %}, {% endif%}<strong>{{ fk }}</strong>="{{ fv }}"{% endfor %}</p>
    {% endfor %}
    </div>
  </div>
  {% endif %}
  {% include 'tema-new/include/form.html.twig' with {form: form[0], form_help: form[1]} %}
</div>
{% endblock %}

{% block dropzone %}
  {% include 'tema-new/include/dropzone-nostore.html.twig' with {dz_id: 'importa_csv_file', dz_pagina: 'ata_importa', dz_param: 'file', dz_numfile: 1, dz_maxdim: 10, dz_accettati: '.csv', dz_idsubmit: 'importa_csv_submit'} %}
{% endblock %}
