<ul class="nav navbar-nav gs-navbar-nav">
  <li{{ app.request.attributes.get('_route') == 'login_home' ? ' class="active"' }}><a href="{{ path('login_home') }}" title="Visualizza la pagina principale">Home</a></li>
  {#-- <li class="dropdown{{ attivo is defined and attivo == 'sistema' ? ' active' }}"> #}
    {#-- <a href="#" title="Configurazione del sistema" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sistema</a> #}
    {#-- <ul role="menu" class="dropdown-menu gs-dropdown-menu"> #}
      {#-- <li role="presentation"{{ app.request.attributes.get('_route') == 'sistema_alias' ? ' class="active"' }}><a href="{{ path('sistema_alias') }}" title="Assumi l'identità di un altro utente">Alias</a></li> #}
      {#-- <li role="presentation"{{ app.request.attributes.get('_route') == 'sistema_password' ? ' class="active"' }}><a href="{{ path('sistema_password') }}" title="Cambia la password di qualunque utente">Password</a></li> #}
      {#-- <li role="presentation"{{ app.request.attributes.get('_route') == 'sistema_ricalcola' ? ' class="active"' }}><a href="{{ path('sistema_ricalcola') }}" title="Ricolcola le ore di assenza degli alunni">Ricalcola assenze</a></li> #}
      {#-- <li role="presentation"{{ app.request.attributes.get('_route') == 'sistema_manutenzione' ? ' class="active"' }}><a href="{{ path('sistema_manutenzione') }}" title="Gestisce la modalità di manutenzione del sito">Manutenzione</a></li> #}
      {#-- <li role="presentation"{{ app.request.attributes.get('_route') == 'sistema_archivia' ? ' class="active"' }}><a href="{{ path('sistema_archivia') }}" title="Gestisce l'archiviazione dei registri">Archiviazione</a></li> #}
    {#-- </ul> #}
  {#-- </li> #}
  {#-- <li class="dropdown{{ attivo is defined and attivo == 'scuola' ? ' active' }}"> #}
    {#-- <a href="#" title="Configurazione dei dati della scuola" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Scuola</a> #}
    {#-- <ul role="menu" class="dropdown-menu gs-dropdown-menu"> #}
      {#-- <li role="presentation" class="disabled"><a href="#" title="Impostazione dell'utente preside">Preside</a></li> #}
      {#-- <li role="presentation" class="disabled"><a href="#" title="Impostazione delle sedi della scuola">Sedi</a></li> #}
      {#-- <li role="presentation" class="disabled"><a href="#" title="Impostazione dei corsi di studio">Corsi</a></li> #}
      {#-- <li role="presentation" class="disabled"><a href="#" title="Impostazione delle classi">Classi</a></li> #}
      {#-- <li role="presentation" class="disabled"><a href="#" title="Impostazione delle materie scolastiche">Materie</a></li> #}
      {#-- <li role="presentation" class="disabled"><a href="#" title="Impostazione delle festività">Festività</a></li> #}
    {#-- </ul> #}
  {#-- </li> #}
  {#-- <li class="dropdown{{ attivo is defined and attivo == 'ata' ? ' active' }}"> #}
    {#-- <a href="#" title="Gestione del personale ATA" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ATA</a> #}
    {#-- <ul role="menu" class="dropdown-menu gs-dropdown-menu"> #}
      {#-- <li role="presentation"{{ app.request.attributes.get('_route') == 'ata_importa' ? ' class="active"' }}><a href="{{ path('ata_importa') }}" title="Importa da file i dati del personale ATA">Importa</a></li> #}
      {#-- <li role="presentation"{{ app.request.attributes.get('_route') == 'ata_modifica' ? ' class="active"' }}><a href="{{ path('ata_modifica') }}" title="Modifica i dati del personale ATA">Modifica</a></li> #}
    {#-- </ul> #}
  {#-- </li> #}
  {#-- <li class="dropdown{{ attivo is defined and attivo == 'docenti' ? ' active' }}"> #}
    {#-- <a href="#" title="Gestione dei docenti" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Docenti</a> #}
    {#-- <ul role="menu" class="dropdown-menu gs-dropdown-menu"> #}
      {#-- <li role="presentation"{{ app.request.attributes.get('_route') == 'docenti_importa' ? ' class="active"' }}><a href="{{ path('docenti_importa') }}" title="Importa da file i dati dei docenti">Importa</a></li> #}
      {#-- <li role="presentation"{{ app.request.attributes.get('_route')|slice(0,16) == 'docenti_modifica' ? ' class="active"' }}><a href="{{ path('docenti_modifica') }}" title="Modifica i dati dei docenti">Modifica</a></li> #}
      {#-- <li role="presentation"{{ app.request.attributes.get('_route')|slice(0,16) == 'docenti_cattedre' ? ' class="active"' }}><a href="{{ path('docenti_cattedre') }}" title="Modifica i dati delle cattedre">Cattedre</a></li> #}
      {#-- <li role="presentation"{{ app.request.attributes.get('_route')|slice(0,16) == 'docenti_colloqui' ? ' class="active"' }}><a href="{{ path('docenti_colloqui') }}" title="Importa da file i dati dei colloqui">Colloqui</a></li> #}
      {#-- <li role="presentation"{{ app.request.attributes.get('_route') == 'docenti_staff' ? ' class="active"' }}><a href="{{ path('docenti_staff') }}" title="Imposta i docenti facenti parte dello staff">Staff</a></li> #}
      {#-- <li role="presentation"{{ app.request.attributes.get('_route') == 'docenti_coordinatori' ? ' class="active"' }}><a href="{{ path('docenti_coordinatori') }}" title="Imposta i docenti coordinatori">Coordinatore</a></li> #}
      {#-- <li role="presentation"{{ app.request.attributes.get('_route') == 'docenti_segretari' ? ' class="active"' }}><a href="{{ path('docenti_segretari') }}" title="Imposta i docenti segretari">Segretario</a></li> #}
    {#-- </ul> #}
  {#-- </li> #}
  {#-- <li class="dropdown{{ attivo is defined and attivo == 'alunni' ? ' active' }}"> #}
    {#-- <a href="#" title="Gestione degli alunni" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Alunni</a> #}
    {#-- <ul role="menu" class="dropdown-menu gs-dropdown-menu"> #}
      {#-- <li role="presentation"{{ app.request.attributes.get('_route') == 'alunni_importa' ? ' class="active"' }}><a href="{{ path('alunni_importa') }}" title="Importa da file i dati degli alunni">Importa</a></li> #}
      {#-- <li role="presentation"{{ app.request.attributes.get('_route')|slice(0,15) == 'alunni_modifica' ? ' class="active"' }}><a href="{{ path('alunni_modifica') }}" title="Modifica i dati degli alunni">Modifica</a></li> #}
      {#-- <li role="presentation"{{ app.request.attributes.get('_route')|slice(0,13) == 'alunni_classe' ? ' class="active"' }}><a href="{{ path('alunni_classe') }}" title="Gestione del cambio di classe degli alunni">Cambio classe</a></li> #}
      {#-- <li role="presentation"{{ app.request.attributes.get('_route')|slice(0,15) == 'alunni_password' ? ' class="active"' }}><a href="{{ path('alunni_password') }}" title="Genera una nuova password per gli alunni">Genera Password</a></li> #}
    {#-- </ul> #}
  {#-- </li> #}
</ul>
