{% extends 'lezioni/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  {% include 'ruolo_docente/menu_lezioni.html.twig' %}
  <div class="panel panel-primary gs-mt-4" >
    <div class="panel-heading">
      <div class="panel-title">{{ form_title|trans }}</div>
    </div>
    <div class="panel-body gs-pt-0">
      <div class="row bg-success">
        <div class="col-sm-2 text-right"><strong class="gs-big">Data:</strong></div>
        <div class="col-sm-4"><span class="gs-big">{{ label.data }}</span></div>
        <div class="col-sm-2 text-right"><strong class="gs-big">Classe:</strong></div>
        <div class="col-sm-4"><span class="gs-big">{{ label.classe }}</span></div>
      </div>
      <div class="row bg-success gs-mb-3">
        <div class="col-sm-2 text-right"><strong class="gs-big">Docente:</strong></div>
        <div class="col-sm-10"><span class="gs-big">{{ label.docente }}</span></div>
      </div>
      {{ form_start(form) }}
      {{ form_errors(form) }}
      {{ form_row(form.testo) }}
      <div class="form-group">
        <label class="col-sm-2 control-label required">Notifica al genitore</label>
        <div class="col-sm-10">
          {{ form_widget(form.visibile) }}
          <div id="individuale" class="gs-mt-3" style="display:none">
            {{ form_widget(form.filtroIndividuale) }}
          </div>
        </div>
      </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script>
$(document).ready(function() {
  $('label.gs-checkbox-inline input').change(function() {
    $('label.gs-checkbox-inline').removeClass('active');
    if (this.checked) {
      $(this).parent().addClass('active');
    }
  });
  $('input[name="annotazione_edit[visibile]"]').change(function() {
    if ($(this).val() == '1') {
      $('#individuale').show();
    } else {
      $('#individuale').hide();
    }
  });
  // init
  if ($('input[name="annotazione_edit[visibile]"]:checked').val() == '1') {
    $('#individuale').show();
    $('label.gs-checkbox-inline input:checked').parent().addClass('active');
  }
});
</script>
{% endblock %}
