{% extends 'lezioni/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  {% if not cattedra and not classe %}
  <h1 class="text-center gs-h1 gs-mt-2">{{ 'title.lezioni_argomenti'|trans }}</h1>
  <div class="alert alert-warning" role="alert">
    <strong class="gs-big">{{ 'message.cattedra_mancante'|trans }}</strong>
  </div>
  {% elseif not cattedra %}
  <h1 class="text-center gs-h1 gs-mt-2">{{ 'title.lezioni_argomenti'|trans }}</h1>
  <div class="alert alert-warning" role="alert">
    <strong class="gs-big">{{ 'message.argomenti_supplenza'|trans }}</strong>
  </div>
  {% else %}
  <h1 class="text-center gs-h1 gs-mt-2 gs-mb-0">{{ 'title.lezioni_argomenti'|trans }} {{ classe.anno~'ª '~classe.sezione }}</h1>
  <h2 class="text-center gs-h2 gs-mt-0 gs-mb-5"><em>{{ info.materia }}{{ info.alunno ? ' ('~info.alunno.cognome~' '~info.alunno.nome~')' }}</em></h2>
    {% for periodo,v in dati %}
  <div class="row gs-mb-1">
    <div class="col-sm-4 text-info">
      <strong class="gs-big">{{ periodo }}</strong>
    </div>
    <div class="col-sm-4 text-center">
      <a class="btn btn-primary btn-sm" href="{{ path('lezioni_argomenti_programma', {'cattedra': cattedra.id}) }}" role="button" title="Scarica il programma svolto"><span class="glyphicon glyphicon-download-alt gs-mr-3"></span><strong>Programma svolto</strong></a>
    </div>
    <div class="col-sm-4 text-right">
      <a class="btn btn-success btn-sm" href="{{ path('lezioni_argomenti_riepilogo', {'cattedra': cattedra.id}) }}" role="button" title="Visualizza il riepilogo mensile delle lezioni"><span class="glyphicon glyphicon-list-alt gs-mr-3"></span><strong>Riepilogo mensile</strong></a>
    </div>
  </div>
  <table class="table table-bordered table-hover table-striped">
    <thead class="bg-success">
      <tr>
        <th>Data</th>
        <th>Argomenti</th>
        <th>Attività</th>
      </tr>
    </thead>
    <tbody>
      {% for data,v1 in v %}
        {% for e in v1 %}
      <tr>
          {% if loop.first %}
        <td style="background-color:#ffffff" rowspan="{{ v1|length }}">
          <a class="btn btn-primary btn-xs" href="{{ path('lezioni_registro_firme', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': data, 'vista': 'G'}) }}" role="button" title="Visualizza le lezioni del giorno"><span class="glyphicon glyphicon-pushpin gs-mr-2"></span><strong>{{ v1[0].data }}</strong></a>
        </td>
          {% endif %}
        <td{{ e.firme is not empty ? ' class="bg-info"' }}><small>{{ e.argomento }}{{ e.firme is not empty and e.argomento is not empty ? '<br>' }}{% if e.firme is not empty %}<em>({{ e.firme }})</em>{% endif %}</small></td>
        <td{{ e.firme is not empty ? ' class="bg-info"' }}><small>{{ e.attivita }}{{ e.firme is not empty and e.attivita is not empty ? '<br>' }}{% if e.firme is not empty %}<em>({{ e.firme }})</em>{% endif %}</small></td>
      </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}
