{% extends 'lezioni/index.html.twig' %}

{% form_theme form _self %}

{% block pagina_contenuto %}
<div class="container-fluid">
  <div class="panel panel-primary gs-mt-4" >
    <div class="panel-heading">
      <div class="panel-title">{{ form_title|trans }}</div>
    </div>
    <div class="panel-body gs-pt-0">
      <div class="row bg-success">
        <div class="col-sm-2 text-right"><strong class="gs-big">Data:</strong></div>
        <div class="col-sm-4"><span class="gs-big">{{ label.data }}</span></div>
        <div class="col-sm-2 text-right"><strong class="gs-big">Classe:</strong></div>
        <div class="col-sm-4"><span class="gs-big">{{ label.classe }}</span></div>
      </div>
      <div class="row bg-success gs-mb-3">
        <div class="col-sm-2 text-right"><strong class="gs-big">Docente:</strong></div>
        <div class="col-sm-4"><span class="gs-big">{{ label.docente }}</span></div>
        <div class="col-sm-2 text-right"><strong class="gs-big">Alunno:</strong></div>
        <div class="col-sm-4"><span class="gs-big">{{ label.alunno }}</span></div>
      </div>
      {{ form_start(form) }}
      <div {{ convalide == 0 ? 'style="display:none" '}}class="row alert alert-info gs-mb-4 gs-ml-2 gs-mr-2 gs-pl-2 gs-pr-2 gs-pt-2 gs-pb-2">
        <div class="col-sm-6">
          <label class="control-label">{{ 'label.convalida_assenze'|trans }}</label>
          <ul class="list-group">
            {{ form_widget(form.convalida_assenze) }}
          </ul>
        </div>
        <div class="col-sm-6">
          <label class="control-label">{{ 'label.convalida_ritardi'|trans }}</label>
          <ul class="list-group">
            {{ form_widget(form.convalida_ritardi) }}
          </ul>
        </div>
      </div>
      <div {{ giustificazioni == 0 ? 'style="display:none" '}}class="row gs-mb-4">
        <div class="col-sm-6">
          <label class="control-label">{{ 'label.assenze'|trans }}</label>
          <ul class="list-group">
            {{ form_widget(form.assenze) }}
          </ul>
        </div>
        <div class="col-sm-6">
          <label class="control-label">{{ 'label.ritardi'|trans }}</label>
          <ul class="list-group">
            {{ form_widget(form.ritardi) }}
          </ul>
        </div>
      </div>
      <div class="form-group text-center">
        {{ form_widget(form.submit) }}
        {{ form_widget(form.cancel) }}
      </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script>
$(document).ready(function() {
  $('label.gs-checkbox input[type="checkbox"]').change(function() {
    if (this.checked) {
      $(this).parent().addClass('active');
    } else {
      $(this).parent().removeClass('active');
    }
  }).change();
});
</script>
{% endblock %}

{% block choice_widget %}
  {% for child in form %}
  <li class="list-group-item gs-pt-0 gs-pb-0">
    <div class="checkbox">
      <label for="{{ child.vars.id }}" class="gs-checkbox gs-mb-2">
        <input type="checkbox" id="{{ child.vars.id }}" name="{{ child.vars.full_name }}" value="{{ child.vars.value }}">
        {{ child.vars.label|raw }}
      </label>
    </div>
  </li>
  {% endfor %}
{% endblock %}

