{% extends 'lezioni/index.html.twig' %}

{% form_theme form _self %}

{% block pagina_contenuto %}
<div class="container-fluid">
  {% include 'ruolo_docente/menu_lezioni.html.twig' %}
  <div class="panel panel-primary gs-mt-4" >
    <div class="panel-heading">
      <div class="panel-title">{{ form_title|trans }}</div>
    </div>
    <div class="panel-body gs-pt-0">
      <div class="row bg-success">
        <div class="col-sm-2 text-right"><strong class="gs-big">Data:</strong></div>
        <div class="col-sm-4"><span class="gs-big">{{ label.data }}</span></div>
        <div class="col-sm-2 text-right"><strong class="gs-big">Classe:</strong></div>
        <div class="col-sm-4"><span class="gs-big">{{ label.classe }}</span></div>
      </div>
      <div class="row bg-success gs-mb-3">
        <div class="col-sm-2 text-right"><strong class="gs-big">Docente:</strong></div>
        <div class="col-sm-4"><span class="gs-big">{{ label.docente }}</span></div>
        <div class="col-sm-2 text-right"><strong class="gs-big">Valutazione:</strong></div>
        <div class="col-sm-4"><span class="gs-big">{{ label.tipo|trans }}</span></div>
      </div>
      {{ form_start(form) }}
      {{ form_row(form.visibile) }}
      {{ form_row(form.argomento) }}
      <ul id="gs-form-collection" class="list-group">
      {% for app in form.lista %}
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">
              <strong>{{ app.alunno.vars.value }}</strong>
        {% if app.bes.vars.value != 'N' %}
              <button type="button" class="btn btn-xs btn-default gs-ml-1" title="Informazioni sull'alunno" data-placement="auto left" data-toggle="popover" data-trigger="hover" data-content="{{ ('label.bes_'~app.bes.vars.value)|trans }}"><span class="glyphicon glyphicon-info-sign"></span></button>
        {% endif %}
            </div>
            {{ form_widget(app) }}
          </div>
        </li>
      {% endfor %}
      </ul>
      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}

{% block pagina_css %}
{{ parent() }}
<link href="{{ asset('vendor/bootstrap-slider/css/bootstrap-slider.min.css') }}" rel="stylesheet">
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script src="{{ asset('vendor/bootstrap-slider/js/bootstrap-slider.min.js') }}"></script>
<script>
$(document).ready(function() {
  $('[data-toggle="popover"]').popover();
  $("#gs-form-collection input.slider").slider({
    min: 1,
    max: 10,
    step: 0.25,
    ticks: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    ticks_labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    ticks_snap_bounds: 0,
    focus: true,
    formatter: function(val) {
      var i = Math.floor(val + 0.25);
      var d = val - parseInt(val);
      return ''+i+(d == 0.25 ? '+' : (d == 0.75 ? '-' : (d == 0.5 ? '½' : '')));
      },
    natural_arrow_keys: true
  });
  $('#gs-form-collection button.gs-button-add').on('click', function(e) {
    $(this).parent().find('div').attr('style', 'display:inline-block').find('input').addClass('slider')
      .slider({
        min: 1,
        max: 10,
        step: 0.25,
        ticks: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
        ticks_labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
        ticks_snap_bounds: 0,
        focus: true,
        formatter: function(val) {
          var i = Math.floor(val + 0.25);
          var d = val - parseInt(val);
          return ''+i+(d == 0.25 ? '+' : (d == 0.75 ? '-' : (d == 0.5 ? '½' : '')));
          },
        natural_arrow_keys: true
      });
    $(this).hide();
    $(this).siblings('button.gs-button-delete').show();
    $(this).siblings('div').find('input').slider('setValue', 6, true, true);
    $(this).siblings('div').find('div').focus();
    e.preventDefault();
  });
  $('#gs-form-collection button.gs-button-delete').on('click', function(e) {
    $(this).siblings('div').find('input').slider('destroy');
    $(this).siblings('div').find('input').val(0);
    $(this).siblings('div').attr('style', 'display:none');
    $(this).siblings('span').removeClass('label-success label-danger label-warning').addClass('label-default').text('--');
    $(this).hide();
    $(this).siblings('button.gs-button-add').show();
    e.preventDefault();
  });
  $("#gs-form-collection").on("change", "input.slider", function(e) {
    var i = Math.floor(e.value.newValue + 0.25);
    var d = e.value.newValue - parseInt(e.value.newValue);
    var s = ''+i+(d == 0.25 ? '+' : (d == 0.75 ? '-' : (d == 0.5 ? '½' : '')));
    var c = (e.value.newValue >= 6 ? 'label-success' : (e.value.newValue < 5 ? 'label-danger' : 'label-warning'));
    $(this).parent().siblings('span').removeClass('label-success label-danger label-warning').addClass(c).text(s);
  });
});
</script>
{% endblock %}

{% block _voti_classe_lista_entry_widget %}
  <div class="col-sm-9">
    <div class="row">
      <label class="control-label col-sm-2" for="{{ form.voto.vars.id }}">Voto</label>
      <div class="col-sm-10">
  {% if form.voto.vars.value > 0 %}
        <span style="display:inline-block;width:3em;padding:0.6em 0.2em;" class="label {{ form.voto.vars.value >= 6 ? 'label-success' : (form.voto.vars.value < 5 ? 'label-danger' : 'label-warning') }} gs-mr-1 gs-big">{{ form.votoTesto.vars.value }}</span>
        <button style="display:none" class="btn btn-primary btn-xs gs-mr-5 gs-button-add" type="button" title="Aggiungi un voto"><span class="glyphicon glyphicon-plus gs-mr-2"></span>Aggiungi</button>
        <button class="btn btn-danger btn-xs gs-mr-5 gs-button-delete" type="button" title="Cancella il voto"><span class="glyphicon glyphicon-remove gs-mr-2"></span>Cancella</button>
        <div style="display:inline"><input id="{{ form.voto.vars.id }}" name="{{ form.voto.vars.full_name }}" class="slider" type="text" value="{{ form.voto.vars.value }}" data-slider-value="{{ form.voto.vars.value }}"></div>
  {% else %}
        <span style="display:inline-block;width:3em;padding:0.6em 0.2em;" class="label label-default gs-mr-1 gs-big">--</span>
        <button class="btn btn-primary btn-xs gs-mr-5 gs-button-add" type="button" title="Aggiungi un voto"><span class="glyphicon glyphicon-plus gs-mr-2"></span>Aggiungi</button>
        <button style="display:none" class="btn btn-danger btn-xs gs-mr-5 gs-button-delete" type="button" title="Cancella il voto"><span class="glyphicon glyphicon-remove gs-mr-2"></span>Cancella</button>
        <div style="display:none"><input id="{{ form.voto.vars.id }}" name="{{ form.voto.vars.full_name }}" type="text" value="0"></div>
  {% endif %}
      </div>
    </div>
    <div class="row ">
      <label class="control-label col-sm-2" for="{{ form.giudizio.vars.id }}">Giudizio</label>
      <div class="col-sm-10">
          {{ form_widget(form.giudizio) }}
      </div>
    </div>
  </div>
  {{ form_widget(form.id) }}
{% endblock %}
