{% extends 'docenti/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid gs-mt-3">

  <nav>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#importa_docenti" aria-controls="importa_docenti" role="tab" data-toggle="tab">{{ 'title.importa_docenti'|trans }}</a></li>
      <li role="presentation"><a href="#importa_cattedre" aria-controls="importa_cattedre" role="tab" data-toggle="tab">{{ 'title.importa_cattedre'|trans }}</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="importa_docenti">
        {% include 'include/form.html.twig' with {'form': form1, 'form_title': form1_title, 'form_help': form1_help, 'form_success': form1_success} %}
      </div>
      <div role="tabpanel" class="tab-pane fade" id="importa_cattedre">
        {% include 'include/form.html.twig' with {'form': form2, 'form_title': form2_title, 'form_help': form2_help, 'form_success': form2_success} %}
      </div>
    </div>
  </nav>

  {% if lista.NEW is defined %}
  <p class="bg-success"><strong>Inseriti nel sistema:</strong><br>
  {% for k,v in lista.NEW %}
    # {{ k }}: {% for fk,fv in v %}{% if not loop.first %}, {% endif%}<strong>{{ fk }}</strong>="{{ fv }}"{% endfor %}<br>
  {% endfor %}
  </p>
  {% endif %}

  {% if lista.EDIT is defined %}
  <p class="bg-warning"><strong>Esistenti nel sistema e modificati:</strong><br>
  {% for k,v in lista.EDIT %}
    # {{ k }}: {% for fk,fv in v %}{% if not loop.first %}, {% endif%}<strong>{{ fk }}</strong>="{{ fv }}"{% endfor %}<br>
  {% endfor %}
  </p>
  {% endif %}

  {% if lista.NONE is defined %}
  <p class="bg-info"><strong>Esistenti nel sistema e non modificati:</strong><br>
  {% for k,v in lista.NONE %}
    # {{ k }}: {% for fk,fv in v %}{% if not loop.first %}, {% endif%}<strong>{{ fk }}</strong>="{{ fv }}"{% endfor %}<br>
  {% endfor %}
  </p>
  {% endif %}

</div>
{% endblock %}
