{% extends 'ruolo_staff/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  <h1 class="text-center gs-h2 gs-mt-2">{{ 'title.circolari_archivio'|trans }}</h1>
  <form name="{{ form.vars.name }}" method="{{ form.vars.method }}" action="{{ form.vars.action }}" class="form-inline gs-mb-2">
    <div id="{{ form.vars.id }}">
      <div class="form-group" title="{{ form.anno.vars.label|trans }}">
        <label class="sr-only control-label" for="circolare_filtro_anno">{{ form.anno.vars.label|trans }}</label>
        {{ form_widget(form.anno) }}
      </div>
      <div class="form-group" title="{{ form.mese.vars.label|trans }}">
        <label class="sr-only control-label" for="circolare_filtro_mese">{{ form.mese.vars.label|trans }}</label>
        {{ form_widget(form.mese) }}
      </div>
      <div class="form-group" title="{{ form.oggetto.vars.label|trans }}">
        <label class="sr-only control-label" for="circolare_filtro_oggetto">{{ form.oggetto.vars.label|trans }}</label>
        {{ form_widget(form.oggetto, {'attr': {'style': 'width:30em'}}) }}
      </div>
      <div class="form-group _col-sm-2">
        {{ form_widget(form.submit) }}
      </div>
      {{ form_widget(form._token) }}
    </div>
  </form>
  {% if dati.lista|length > 0 %}
  <table class="table table-bordered table-hover table-striped gs-mb-4">
    <thead class="bg-success">
      <tr>
        <th class="col-sm-2">{{ 'label.numero'|trans }}</th>
        <th class="col-sm-2">{{ 'label.data'|trans }}</th>
        <th class="col-sm-6">{{ 'label.oggetto'|trans }}</th>
        <th class="col-sm-2">{{ 'label.action'|trans }}</th>
      </tr>
    </thead>
    <tbody>
    {% for c in dati.lista %}
      <tr>
        <td>{{ c.circolare.numero }}</td>
        <td>{{ c.circolare.data|date('d/m/Y') }}</td>
        <td><small>{{ c.circolare.titolo }}</small></td>
        <td>
          <button class="btn btn-xs btn-primary gs-button-remote" type="button" title="Visualizza i dettagli della circolare" data-toggle="modal" data-target="#gs-modal-remote" data-href="{{ path('circolari_dettagli_gestione', {'circolare': c.circolare.id}) }}"><span class="glyphicon glyphicon-zoom-in"></span></button>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
  {% else %}
  <div class="alert alert-info" role="alert">
    <strong class="gs-big">Nessuna circolare presente</strong>
  </div>
  {% endif %}
  {% include 'include/paginate.html.twig' with {'maxPagine': dati.maxPagine, 'pagina': info.pagina, 'url': 'circolari_archivio'} %}
  {% include 'include/modal-remote.html.twig' %}
  {% include 'include/modal-waiting.html.twig' %}
</div>
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script>
$(document).ready(function() {
  $('#circolari_anno').change(function (e) {
    $('form[name="{{ form.vars.name }}"]').submit();
    $('#gs-modal-waiting').modal('show');
  });
  $('#circolari_mese').change(function (e) {
    $('form[name="{{ form.vars.name }}"]').submit();
    $('#gs-modal-waiting').modal('show');
  });
  $('#circolari_submit').click(function (e) {
    $('form[name="{{ form.vars.name }}"]').submit();
    $('#gs-modal-waiting').modal('show');
  });
  $('#gs-modal-remote').on('show.bs.modal', function (event) {
    var url = $(event.relatedTarget).data('href');
    $(this).find('#gs-modal-remote-content').load(url);
  });
  $(".gs-button-remote").click(function(e) {
    e.preventDefault();
    $('#gs-modal-remote-content').html('<div class="modal-content"><div class="modal-header"><h3 class="modal-title">Attendere prego...</h3></div><div class="modal-body"><div class="progress"><div class="progress-bar progress-bar-info progress-bar-striped active" style="width: 100%"></div></div></div></div>');
  });
});
</script>
{% endblock %}
