{% extends 'bacheca/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  <h1 class="text-center gs-h2 gs-mt-2">{{ 'title.circolari_docenti'|trans }}</h1>
  <form name="{{ form.vars.name }}" method="{{ form.vars.method }}" action="{{ form.vars.action }}" class="form-inline gs-mb-2">
    <div id="{{ form.vars.id }}">
      <div class="form-group" title="{{ form.anno.vars.label|trans }}">
        <label class="sr-only control-label" for="circolari_docenti_anno">{{ form.anno.vars.label|trans }}</label>
        {{ form_widget(form.anno) }}
      </div>
      <div class="form-group" title="{{ form.visualizza.vars.label|trans }}">
        <label class="sr-only control-label" for="circolari_docenti_visualizza">{{ form.visualizza.vars.label|trans }}</label>
        {{ form_widget(form.visualizza, {choices: (form.anno.vars.value != dati.annoCorrente ? [form.visualizza.vars.choices[2]] : form.visualizza.vars.choices)}) }}
      </div>
      <div class="form-group" title="{{ form.mese.vars.label|trans }}">
        <label class="sr-only control-label" for="circolari_docenti_mese">{{ form.mese.vars.label|trans }}</label>
        {{ form_widget(form.mese) }}
      </div>
      <div class="form-group" title="{{ form.oggetto.vars.label|trans }}">
        <label class="sr-only control-label" for="circolari_docenti_oggetto">{{ form.oggetto.vars.label|trans }}</label>
        {{ form_widget(form.oggetto, {'attr': {'style': 'width:30em'}}) }}
      </div>
      <div class="form-group _col-sm-2">
        {{ form_widget(form.submit) }}
      </div>
      {{ form_widget(form._token) }}
    </div>
  </form>
  {% if dati.lista|length > 0 %}
  <table class="table table-bordered table-hover table-striped gs-mb-4">
    <thead class="bg-success">
      <tr>
        {% if form.anno.vars.value == dati.annoCorrente %}<th class="">{{ 'label.stato'|trans }}</th>{% endif %}
        <th class="">{{ 'label.numero'|trans }}</th>
        <th class="">{{ 'label.data'|trans }}</th>
        {% if form.anno.vars.value == dati.annoCorrente %}<th class="">{{ 'label.sede'|trans }}</th>{% endif %}
        <th class="">{{ 'label.oggetto'|trans }}</th>
        <th class="">{{ 'label.action'|trans }}</th>
      </tr>
    </thead>
    <tbody>
    {% for k,a in dati.lista %}
      <tr>
      {% if form.anno.vars.value == dati.annoCorrente %}
        <td>
        {% if dati.stato[a.id] and dati.stato[a.id].letta %}
          <span class="label label-default">LETTA</span>
        {% elseif dati.stato[a.id] and not dati.stato[a.id].letta %}
          <span class="label label-warning">DA LEGGERE</span>
        {% endif %}
        </td>
      {% endif %}
        <td>{{ a.numero }}</td>
        <td>{{ a.data|date('d/m/Y') }}</td>
      {% if form.anno.vars.value == dati.annoCorrente %}
        <td><small>{% for s in a.sedi %}{{ s.citta|upper }}{{ not loop.last ? ', ' }}{% endfor %}</small></td>
      {% endif %}
        <td><small>{{ a.oggetto }}</small></td>
        <td>
          <button type="button" class="btn btn-xs btn-primary" title="Visualizza la circolare" data-toggle="modal" data-target="#gs-modal-info" data-info-num="{{ a.numero }}" data-info-date="{{ a.data|date('j') }} {{ mesi[a.data|date('n')] }} {{ a.data|date('Y') }}" data-info-title="{{ a.oggetto }}" data-body="circolare-{{ loop.index }}"><span class="glyphicon glyphicon-zoom-in gs-mr-2"></span>Visualizza</button>
          <div id="circolare-{{ loop.index }}" style="display:none">
            <div class="list-group-item">
              <div class="list-group-item-text">
      {% if form.anno.vars.value == dati.annoCorrente %}
                <div class="gs-mt-2">
                  <strong>Sedi:</strong>
                  {% for s in a.sedi %}<div class="gs-ml-5">{{ s.citta|upper }}</div>{% endfor %}
                </div>
      {% endif %}
                <div class="gs-mt-2">
                  <div><strong>Destinatari:</strong></div>
                  {% if a.dsga %}<div class="gs-ml-5">DSGA</div>{% endif %}
                  {% if a.ata %}<div class="gs-ml-5">ATA</div>{% endif %}
                  {% if a.coordinatori != 'N' %}<div class="gs-ml-5">COORDINATORI {{ dati.info[a.id].coordinatori|raw }}</div>{% endif %}
                  {% if a.docenti != 'N' %}<div class="gs-ml-5">DOCENTI {{ dati.info[a.id].docenti|raw }}</div>{% endif %}
                  {% if a.genitori != 'N' %}<div class="gs-ml-5">GENITORI {{ dati.info[a.id].genitori|raw }}</div>{% endif %}
                  {% if a.alunni != 'N' %}<div class="gs-ml-5">ALUNNI {{ dati.info[a.id].alunni|raw }}</div>{% endif %}
                  {% for a in a.altri %}<div class="gs-ml-5">{{ a }}</div>{% endfor %}
                </div>
                <div class="gs-mt-2">
                  <div><strong>Impostazioni:</strong></div>
                  {% if a.firma %}<div class="gs-ml-5">Conferma di lettura</div>{% endif %}
                  {% if a.notifica %}<div class="gs-ml-5">Forza invio notifica</div>{% endif %}
                  {% if not a.firma and not a.notifica %}<div class="gs-ml-5">NESSUNA</div>{% endif %}
                </div>
      {% if form.anno.vars.value == dati.annoCorrente %}
                <div class="gs-mt-2">
                  <div><strong>Statistiche di lettura:</strong></div>
                  {% if a.alunni != 'N' and a.alunni != 'U' %}
                  <div class="gs-ml-5">
                    <strong>NELLE CLASSI {{ (dati.info[a.id].lettura['CLASSI'][1] / dati.info[a.id].lettura['CLASSI'][0] * 100)|number_format(0) }}%</strong>
                    {% if dati.info[a.id].lettura['CLASSI'][2]|length > 0 %}
                    (non letta in: {% for c in dati.info[a.id].lettura['CLASSI'][2] %}{{ c }}{{ not loop.last ? ', ' }}{% endfor %})
                    {% endif %}
                  </div>
                  {% endif %}
                  {% if a.dsga %}<div class="gs-ml-5">DSGA {{ (dati.info[a.id].lettura['DSGA'][1] / dati.info[a.id].lettura['DSGA'][0] * 100)|number_format(0) }}% ({{ dati.info[a.id].lettura['DSGA'][1] }} su {{ dati.info[a.id].lettura['DSGA'][0] }})</div>{% endif %}
                  {% if a.ata %}<div class="gs-ml-5">ATA {{ (dati.info[a.id].lettura['ATA'][1] / dati.info[a.id].lettura['ATA'][0] * 100)|number_format(0) }}% ({{ dati.info[a.id].lettura['ATA'][1] }} su {{ dati.info[a.id].lettura['ATA'][0] }})</div>{% endif %}
                  {% if a.coordinatori != 'N' %}<div class="gs-ml-5">COORDINATORI {{ (dati.info[a.id].lettura['COORD'][1] / dati.info[a.id].lettura['COORD'][0] * 100)|number_format(0) }}% ({{ dati.info[a.id].lettura['COORD'][1] }} su {{ dati.info[a.id].lettura['COORD'][0] }})</div>{% endif %}
                  {% if a.docenti != 'N' %}<div class="gs-ml-5">DOCENTI {{ (dati.info[a.id].lettura['DOC'][1] / dati.info[a.id].lettura['DOC'][0] * 100)|number_format(0) }}% ({{ dati.info[a.id].lettura['DOC'][1] }} su {{ dati.info[a.id].lettura['DOC'][0] }})</div>{% endif %}
                  {% if a.genitori != 'N' %}<div class="gs-ml-5">GENITORI {{ (dati.info[a.id].lettura['GEN'][1] / dati.info[a.id].lettura['GEN'][0] * 100)|number_format(0) }}% ({{ dati.info[a.id].lettura['GEN'][1] }} su {{ dati.info[a.id].lettura['GEN'][0] }})</div>{% endif %}
                  {% if a.alunni != 'N' %}<div class="gs-ml-5">ALUNNI {{ (dati.info[a.id].lettura['ALU'][1] / dati.info[a.id].lettura['ALU'][0] * 100)|number_format(0) }}% ({{ dati.info[a.id].lettura['ALU'][1] }} su {{ dati.info[a.id].lettura['ALU'][0] }})</div>{% endif %}
                </div>
      {% endif %}
              </div>
            </div>
            <div class="list-group-item">
              <div class="list-group-item-text">
                <div class="gs-mt-3 gs-mb-3">
                  <strong>Documento:</strong>
                  <a class="btn btn-xs btn-primary gs-ml-3" target="_blank" href="{{ path('circolari_download', {'id': a.id, 'doc': 0, 'tipo': 'V'}) }}" title="Visualizza la circolare" rel="noopener noreferrer"><strong>Visualizza</strong></a>
                  <a class="btn btn-xs btn-primary gs-ml-3" href="{{ path('circolari_download', {'id': a.id, 'doc': 0, 'tipo': 'D'}) }}" title="Scarica la circolare" download><strong>Scarica</strong></a>
                </div>
              </div>
            </div>
      {% if a.allegati|length > 0 %}
          <div class="list-group-item">
            <div class="list-group-item-text">
        {% for n,d in a.allegati %}
              <div class="gs-mt-3 gs-mb-3">
                <strong>Allegato{{ a.allegati|length > 1 ? ' '~loop.index }}:</strong>
                <a class="btn btn-xs btn-primary gs-ml-3" target="_blank" href="{{ path('circolari_download', {'id': a.id, 'doc': loop.index, 'tipo': 'V'}) }}" title="Visualizza l'allegato" rel="noopener noreferrer"><strong>Visualizza</strong></a>
                <a class="btn btn-xs btn-primary gs-ml-3" href="{{ path('circolari_download', {'id': a.id, 'doc': loop.index, 'tipo': 'D' }) }}" title="Scarica l'allegato" download><strong>Scarica</strong></a>
              </div>
        {% endfor %}
            </div>
          </div>
      {% endif %}
            <div class="list-group-item">
              <div class="list-group-item-text">
      {% if dati.stato[a.id] %}
        {% if dati.stato[a.id].letta %}
                <div><em>Data e ora di lettura: {{ dati.stato[a.id].letta|date('d/m/Y H:i') }} {{ dati.stato[a.id].confermata ? '(confermata dall\'utente)' }}</em></div>
        {% elseif a.firma %}
                <div class="gs-mt-3 gs-mb-3 text-center">
                  <p><em><strong>Si prega di confermare la lettura della circolare</strong></em></p>
                  <a class="btn btn-success btn-sm gs-mr-4" href="{{ path('circolari_firma', {'id': a.id}) }}" role="button" title="Conferma la lettura della circolare"><span class="glyphicon glyphicon-ok gs-mr-2"></span><strong>Conferma lettura</strong></a>
                  <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove gs-mr-2" aria-hidden="true"></span>Annulla</button>
                </div>
        {% else %}
                <div>
                  <em>La circolare non è stata ancora letta.</em>
                  <a class="btn btn-xs btn-success pull-right gs-ml-3" href="{{ path('circolari_firma', {'id': a.id}) }}" role="button" title="Conferma la lettura della circolare"><strong>Conferma lettura</strong></a>
                </div>
        {% endif %}
      {% elseif form.anno.vars.value == dati.annoCorrente %}
                <div><em>La circolare non è destinata all'utente.</em></div>
      {% endif %}
              </div>
            </div>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
  {% else %}
  <div class="alert alert-info" role="alert">
    <strong class="gs-big">Nessuna circolare presente</strong>
  </div>
  {% endif %}
  {% include 'include/paginate.html.twig' with {'maxPagine': maxPages, 'pagina': page, 'url': 'circolari_docenti'} %}
  {% include 'include/modal-info.html.twig' %}
  {% include 'include/modal-waiting.html.twig' %}
</div>
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script>
$(document).ready(function() {
  $('#circolari_docenti_anno').change(function (e) {
    if ($(this).val() != {{ dati.annoCorrente }}) {
      $('#circolari_docenti_visualizza').val('T');
    }
    $('form[name="{{ form.vars.name }}"]').submit();
    $('#gs-modal-waiting').modal('show');
  });
  $('#circolari_docenti_visualizza').change(function (e) {
    $('form[name="{{ form.vars.name }}"]').submit();
    $('#gs-modal-waiting').modal('show');
  });
  $('#circolari_docenti_mese').change(function (e) {
    $('form[name="{{ form.vars.name }}"]').submit();
    $('#gs-modal-waiting').modal('show');
  });
  $('#circolari_docenti_submit').click(function (e) {
    $('form[name="{{ form.vars.name }}"]').submit();
    $('#gs-modal-waiting').modal('show');
  });
  $('#gs-modal-info').on('show.bs.modal', function (e) {
    $(e.relatedTarget).data('info-title');
    var title = 'Circolare n. '+$(e.relatedTarget).data('info-num')+' del '+$(e.relatedTarget).data('info-date')+'<br><em class="gs-small">'+$(e.relatedTarget).data('info-title')+'</em>';
    var id = $(e.relatedTarget).data('body');
    var html = $('#'+id).html();
    $(this).find('#gs-modal-info-label').html(title);
    $(this).find('#gs-modal-info-body').html(html);
  });
});
</script>
{% endblock %}
