<div class="modal fade" id="gs-modal-confirm" tabindex="-1" role="dialog" aria-labelledby="gs-modal-confirm-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove gs-mr-2" aria-hidden="true"></span>
          <span class="sr-only">{{ 'label.close'|trans }}</span>
        </button>
        <h3 class="modal-title" id="gs-modal-confirm-label"><strong>{{ 'label.warning'|trans }}</strong></h3>
      </div>
      <div class="modal-body">
        <p id="gs-modal-confirm-msg">{{ modal_confirm_msg|trans }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" >{{ 'label.cancel'|trans }}</button>
        <a class="btn btn-primary" id="gs-modal-confirm-yes" href="#" role="button">{{ 'label.continua'|trans }}</a>
      </div>
    </div>
  </div>
</div>
