{% extends 'base.html.twig' %}

{% block pagina_contenuto %}
<div class="container_fluid gs-mt-0">

  {% if manutenzione is not empty %}
  <div class="col-sm-12 bg-danger gs-mb-4 text-center">
    <h1 class="gs-h2">ATTENZIONE</h1>
    <p>
      <span class="gs-big">A causa di una manutenzione programmata del sistema informatico, il registro elettronico non sarà disponibile
      <strong>dalle ore {{ manutenzione[1] }} alle ore {{ manutenzione[2] }}</strong>.</span>
    </p>
  </div>
  {% endif %}

  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 gs-mt-4">
    <div class="panel panel-primary" >
      <div class="panel-heading">
        <div class="panel-title">Accesso al Registro Elettronico</div>
      </div>
      <div class="panel-body" >
        <div class="help-block"><span class="gs-text-normal">Inserisci il tuo <strong>nome utente</strong> e la tua <strong>password</strong>, quindi clicca sul pulsante <strong>Accedi</strong>.</span></div>
        {% if errore %}<div class="alert alert-danger">{{ errore.message|trans }}</div>{% endif %}
        <form name="login_form" method="post" class="form-horizontal">
          <div class="form-group">
            <label for="username" class="sr-only">{{ 'label.username'|trans }}</label>
            <div class="input-group gs-ml-4 gs-mr-4">
              <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
              <input type="text" class="form-control" id="username" name="_username" required="required" placeholder="{{ 'label.username'|trans }}" value="{{ username }}">
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="sr-only">{{ 'label.password'|trans }}</label>
            <div class="input-group gs-ml-4 gs-mr-4 gs-mb-4">
              <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
              <input type="password" class="form-control" id="password" name="_password" required="required" placeholder="{{ 'label.password'|trans }}" value="">
            </div>
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary" id="login" name="login">{{ 'label.login'|trans }}</button>
          </div>
          <input type="hidden" id="login__csrf_token" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
