<ul class="nav navbar-nav gs-navbar-nav">
  <li><a href="{{ path('sistema') }}">Sistema</a></li>
  <li><a href="{{ path('scuola') }}">Scuola</a></li>
  <li><a href="{{ path('ruolo') }}">Ruolo</a></li>
  <li><a href="{{ path('docenti') }}">Docenti</a></li>
  <li><a href="{{ path('alunni') }}">Alunni</a></li>
  <li><a href="{{ path('procedure') }}">Procedure</a></li>
</ul>
