{% extends 'ruolo_staff/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  <h1 class="text-center gs-h2 gs-mt-2">{{ 'title.staff_avvisi_individuali'|trans }}</h1>
  {% include('include/form-inline.html.twig') %}
  <div class="row gs-mb-1">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6 text-right">
  {% if dati.azioni.add is defined  %}
      <a class="btn btn-primary" href="{{ path('staff_avvisi_individuali_edit', {'id': 0}) }}" role="button" title="Aggiungi un nuovo avviso"><span class="glyphicon glyphicon-plus gs-mr-2"></span>Aggiungi</a>
  {% endif %}
    </div>
  </div>
  <table class="table table-bordered table-hover table-striped gs-mb-0">
    <thead class="bg-success">
      <tr>
        <th class="col-sm-1">{{ 'label.data'|trans }}</th>
        <th class="col-sm-2">{{ 'label.docente'|trans }}</th>
        <th class="col-sm-5">{{ 'label.oggetto'|trans }}</th>
        <th class="col-sm-2">{{ 'label.classe'|trans }}</th>
        <th class="col-sm-2">{{ 'label.action'|trans }}</th>
      </tr>
    </thead>
    <tbody>
    {% for k,a in dati.lista %}
      <tr>
        <td>{{ a.data|date('d/m/Y') }}</td>
        <td>{{ a.docente.nome }} {{ a.docente.cognome }}</td>
        <td><small>{{ a.oggetto }}</small></td>
        <td>{{ dati.classe_individuale[a.id][0].anno }}ª {{ dati.classe_individuale[a.id][0].sezione }}</td>
        <td>
          <button class="btn btn-xs btn-primary" type="button" title="Visualizza i dettagli dell'avviso" data-toggle="modal" data-target="#gs-modal-remote" data-href="{{ path('staff_avvisi_dettagli', {'id': a.id}) }}"><span class="glyphicon glyphicon-zoom-in"></span></button>
      {% if dati.azioni[k].edit is defined %}
          <a class="btn btn-primary btn-xs" href="{{ path('staff_avvisi_individuali_edit', {'id': a.id}) }}" role="button" title="Modifica l'avviso indicato"><span class="glyphicon glyphicon-edit"></span></a>
      {% endif %}
      {% if dati.azioni[k].delete is defined %}
          <button class="btn btn-danger btn-xs gs-modal-confirm-button" title="Cancella l'avviso indicato" data-toggle="modal" data-target="#gs-modal-confirm" data-href="{{ path('staff_avvisi_delete', {'id': a.id, 'tipo': 'I'}) }}" data-text="{{ 'message.cancella_avviso'|trans }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
      {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% include 'include/modal-remote.html.twig' %}
  {% include 'include/modal-confirm.html.twig' with {'modal_confirm_msg': 'message.cancella_avviso'} %}
  {% if maxPages > 1 %}
  <nav aria-label="Navigazione tra le pagine" class="text-center">
    <ul class="pagination pagination-sm gs-mt-2">
    {% if page > 1 %}
      <li><a href="{{ path('staff_avvisi_individuali', {'pagina': page-1}) }}" title="{{ 'label.precedente'|trans }}"><span aria-hidden="true">&laquo;</span></a></li>
    {% else %}
      <li class="disabled"><span title="{{ 'label.precedente'|trans }}"><span aria-hidden="true">&laquo;</span></span></li>
    {% endif %}
    {% for i in 1..maxPages %}
      <li {{ page == i ? 'class="active"' }}><a href="{{ path('staff_avvisi_individuali', {'pagina': i}) }}">{{ i }}</a></li>
    {% endfor %}
    {% if page < maxPages %}
      <li><a href="{{ path('staff_avvisi_individuali', {'pagina': page+1}) }}" title="{{ 'label.successiva'|trans }}"><span aria-hidden="true">&raquo;</span></a></li>
    {% else %}
      <li class="disabled"><span title="{{ 'label.successiva'|trans }}"><span aria-hidden="true">&raquo;</span></span></li>
    {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script>
$(document).ready(function() {
  $('#gs-modal-remote').on('show.bs.modal', function (event) {
    var url = $(event.relatedTarget).data('href');
    $(this).find('#gs-modal-remote-content').load(url);
  });
  $('#gs-modal-confirm').on('show.bs.modal', function (event) {
    var href = $(event.relatedTarget).data('href');
    $(this).find('#gs-modal-confirm-yes').attr('href', href);
    var text = $(event.relatedTarget).data('text');
    $(this).find('#gs-modal-confirm-msg').text(text);
  });
});
</script>
{% endblock %}
