<nav class="gs-navbar-submenu">
  <ul class="nav nav-tabs">
    <li role="presentation"{{ app.request.attributes.get('_route') == 'circolari_ata' ? ' class="active"' }}><a href="{{ path('circolari_ata') }}" title="Visualizza le circolari indirizzati al personale ATA">Circolari</a></li>
    <li role="presentation"{{ app.request.attributes.get('_route') == 'bacheca_avvisi_ata' ? ' class="active"' }}><a href="{{ path('bacheca_avvisi_ata') }}" title="Visualizza gli avvisi indirizzati al personale ATA">Avvisi</a></li>
    <li role="presentation"{{ app.request.attributes.get('_route') == 'documenti_bacheca' ? ' class="active"' }}><a href="{{ path('documenti_bacheca') }}" title="Visualizza i documenti indirizzati al personale ATA">Documenti</a></li>
  </ul>
</nav>
