{% extends 'ruolo_ata/index.html.twig' %}

{% block pagina_submenu %}
  {% include 'ruolo_ata/menu_segreteria.html.twig' %}
{% endblock %}

{% block pagina_contenuto %}
<div class="container-fluid gs-mt-2">
  <h1 class="text-center gs-h2 gs-mt-0">{{ ((periodo == 'P' or periodo == 'S') ? 'Scrutinio ')~('label.periodo_'~periodo)|trans }} di {{ alunno.cognome }} {{ alunno.nome }} ({{ alunno.dataNascita|date('d/m/Y') }})</h1>
  {% if periodo == 'A' %}
  <h2 class="text-center gs-h2 gs-mt-0">Classe {{ scrutinio.classe[0:1] }}ª {{ scrutinio.classe[1:] }}</h2>
  {% else %}
  <h2 class="text-center gs-h2 gs-mt-0">Classe {{ scrutinio.classe }}</h2>
  {% endif %}
  {% if dati is empty and periodo != 'A' %}
  <div class="alert alert-danger gs-mt-4" role="alert">
    <div class="text-center"><strong class="gs-big">NON SONO PRESENTI DATI</strong></div>
  </div>
  {% else %}
    {% if periodo == 'A' %}
      {% if dati.esito.esito in ['N', 'L', 'R'] or (dati.esitoRinviato and dati.esitoRinviato.esito == 'N') %}
  <div class="alert alert-warning text-center gs-mt-4" role="alert">
  <strong class="gs-big">Esito finale:
    {% if dati.esito.esito == 'N' or (dati.esitoRinviato and dati.esitoRinviato.esito == 'N') %}NON AMMESS{{ alunno.sesso == 'M' ? 'O' : 'A' }}{% endif %}
    {% if dati.esito.esito == 'L' %}NON AMMESS{{ alunno.sesso == 'M' ? 'O' : 'A' }} PER SUPERAMENTO LIMITE DI ASSENZE{% endif %}
    {% if dati.esito.esito == 'R' %}NON SCRUTINAT{{ alunno.sesso == 'M' ? 'O' : 'A' }}{% endif %}
  </strong>
  </div>
      {% elseif dati.esito.esito == 'A' or (dati.esitoRinviato and dati.esitoRinviato.esito == 'A') %}
  <div class="alert alert-success text-center gs-mt-4" role="alert">
  <strong class="gs-big">Esito finale: AMMESS{{ alunno.sesso == 'M' ? 'O' : 'A' }}</strong>
  </div>
      {% elseif dati.esito.esito == 'E' %}
  <div class="alert alert-success text-center gs-mt-4" role="alert">
  <strong class="gs-big">ANNO ALL'ESTERO</strong>
  </div>
      {% elseif dati.esito.esito == 'X' and dati.esitoRinviato is empty %}
  <div class="alert alert-info text-center gs-mt-4" role="alert">
  <strong class="gs-big">SCRUTINIO RINVIATO</strong>
  </div>
      {% endif %}
  <table class="table table-bordered table-hover table-striped gs-mt-4">
    <thead class="bg-success">
      <tr>
        <th class="col-sm-6">Documento</th>
        <th class="col-sm-6">Azioni</th>
      </tr>
    </thead>
    <tbody>
      {% for d in dati.documenti %}
      <tr>
        {% if d[0:1] == 'V' %}
        <td><strong>Verbale dello scrutinio {{ d == 'V' ? 'finale' : (d == 'VS' ? 'per l\'esame di sospensione del giudizio' : 'rinviato') }}</strong></td>
        {% elseif d[0:1] == 'R' %}
        <td><strong>Riepilogo voti dello scrutinio {{ d == 'R' ? 'finale' : (d == 'RS' ? 'per l\'esame di sospensione del giudizio' : 'rinviato') }}</strong></td>
        {% elseif scrutinio.classe[0:1] == 2 and d[0:1] == 'C' %}
        <td><strong>Certificazione delle competenze {{ d == 'C' ? '- scrutinio finale' : (d == 'CS' ? ' - scrutinio per l\'esame di sospensione del giudizio' : ' - scrutinio rinviato') }}</strong></td>
        {% endif %}
        <td>
        {% if d == 'VXX' %}
          <a class="btn btn-primary btn-xs" href="{{ path('pagelle_classe', {'classe': dati.esitoRinviato.scrutinio.classe.id, 'tipo': 'V', 'periodo': 'X'}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica</strong></a>
        {% elseif d == 'RXX' %}
          <a class="btn btn-primary btn-xs" href="{{ path('pagelle_classe', {'classe': dati.esitoRinviato.scrutinio.classe.id, 'tipo': 'R', 'periodo': 'X'}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica</strong></a>
        {% elseif d == 'CXX' %}
          <a class="btn btn-primary btn-xs" href="{{ path('pagelle_classe', {'classe': dati.esitoRinviato.scrutinio.classe.id, 'tipo': 'C', 'periodo': 'X'}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica</strong></a>
        {% else %}
          <a class="btn btn-primary btn-xs" href="{{ path('file_download_segreteria', {'tipo': d, 'id': alunno.id}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica</strong></a>
        {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
    {% elseif periodo == 'P' or periodo == 'S' %}
  <table class="table table-bordered table-hover table-striped gs-mt-4">
    <caption class="text-center text-info"><strong class="gs-big">Scrutinio svolto in data {{ scrutinio.data|date('d/m/Y') }}</strong></caption>
    <thead class="bg-success">
      <tr>
        <th class="col-sm-6">Documento</th>
        <th class="col-sm-6">Azioni</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Verbale dello scrutinio</strong></td>
        <td>
          <div class="gs-mb-2">
            <a class="btn btn-primary btn-xs" href="{{ path('pagelle_classe', {'classe': scrutinio.classe.id, 'tipo': 'V', 'periodo': periodo}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica</strong></a>
          </div>
        </td>
      </tr>
      <tr>
        <td><strong>Quadro di riepilogo dei voti</strong></td>
        <td>
          <a class="btn btn-primary btn-xs" href="{{ path('pagelle_classe', {'classe': scrutinio.classe.id, 'tipo': 'R', 'periodo': periodo}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica</strong></a>
        </td>
      </tr>
      <tr>
        <td><strong>Comunicazione dei voti</strong></td>
        <td>
          <a class="btn btn-primary btn-xs" href="{{ path('pagelle_alunno', {'classe': scrutinio.classe.id, 'alunno': alunno.id, 'tipo': 'P', 'periodo': periodo}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica</strong></a>
        </td>
      </tr>
      {% if dati.debiti is not empty %}
      <tr>
        <td><strong>Comunicazione dei debiti formativi</strong></td>
        <td>
          <a class="btn btn-primary btn-xs" href="{{ path('pagelle_alunno', {'classe': scrutinio.classe.id, 'alunno': alunno.id, 'tipo': 'D', 'periodo': periodo}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica</strong></a>
        </td>
      </tr>
      {% endif %}
    </tbody>
  </table>
    {% elseif periodo == 'F' %}
  <div class="text-center text-info"><strong class="gs-big">Scrutinio finale del {{ scrutinio.data|date('d/m/Y') }}</strong></div>
  <table class="table table-bordered table-hover table-striped gs-mt-4">
    <caption class="text-center text-info"><strong class="gs-big">Documenti della classe</strong></caption>
    <thead class="bg-success">
      <tr>
        <th class="col-sm-6">Documento</th>
        <th class="col-sm-6">Azioni</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Verbale dello scrutinio</strong></td>
        <td>
          <div class="gs-mb-2">
            <a class="btn btn-primary btn-xs" href="{{ path('pagelle_classe', {'classe': scrutinio.classe.id, 'tipo': 'V', 'periodo': periodo}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica</strong></a>
          </div>
        </td>
      </tr>
      <tr>
        <td><strong>Quadro di riepilogo dei voti</strong></td>
        <td>
          <a class="btn btn-primary btn-xs" href="{{ path('pagelle_classe', {'classe': scrutinio.classe.id, 'tipo': 'R', 'periodo': periodo}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica</strong></a>
        </td>
      </tr>
      <tr>
        <td><strong>Tabellone degli esiti finali</strong></td>
        <td>
          <a class="btn btn-primary btn-xs" href="{{ path('pagelle_classe', {'classe': scrutinio.classe.id, 'tipo': 'T', 'periodo': periodo}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica</strong></a>
        </td>
      </tr>
      {% if scrutinio.classe.anno == 2 %}
      <tr>
        <td><strong>Certificazione delle competenze</strong></td>
        <td>
          <a class="btn btn-primary btn-xs" href="{{ path('pagelle_classe', {'classe': scrutinio.classe.id, 'tipo': 'C', 'periodo': periodo}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica tutte le certficazioni della classe</strong></a>
        </td>
      </tr>
      {% endif %}
    </tbody>
  </table>
  <table class="table table-bordered table-hover table-striped gs-mt-4">
    <caption class="text-center text-info"><strong class="gs-big">Documenti dello studente</strong></caption>
    <thead class="bg-success">
      <tr>
        <th class="col-sm-6">Documento</th>
        <th class="col-sm-6">Azioni</th>
      </tr>
    </thead>
    <tbody>
      {% if dati.esito is defined and dati.esito.esito != 'N' %}
      <tr>
        <td><strong>Comunicazione dei voti</strong></td>
        <td>
          <a class="btn btn-primary btn-xs" href="{{ path('pagelle_alunno', {'classe': scrutinio.classe.id, 'alunno': alunno.id, 'tipo': 'P', 'periodo': periodo}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica</strong></a>
        </td>
      </tr>
      {% endif %}
      {% if dati.noscrutinato is defined %}
      <tr>
        <td><strong>Comunicazione di non ammissione</strong></td>
        <td>
          <a class="btn btn-primary btn-xs" href="{{ path('pagelle_alunno', {'classe': scrutinio.classe.id, 'alunno': alunno.id, 'tipo': 'N', 'periodo': periodo}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica</strong></a>
        </td>
      </tr>
      {% else %}
        {% if dati.esito.esito == 'A' %}
          {% if dati.carenze is defined %}
      <tr>
        <td><strong>Comunicazione per il recupero autonomo</strong></td>
        <td>
          <a class="btn btn-primary btn-xs" href="{{ path('pagelle_alunno', {'classe': scrutinio.classe.id, 'alunno': alunno.id, 'tipo': 'C', 'periodo': periodo}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica</strong></a>
        </td>
      </tr>
          {% endif %}
          {% if scrutinio.classe.anno == 2 %}
      <tr>
        <td><strong>Certificazione delle competenze</strong></td>
        <td>
          <a class="btn btn-primary btn-xs" href="{{ path('pagelle_alunno', {'classe': scrutinio.classe.id, 'alunno': alunno.id, 'tipo': 'E', 'periodo': periodo}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica</strong></a>
        </td>
      </tr>
          {% endif %}
        {% elseif dati.esito.esito == 'S' %}
      <tr>
        <td><strong>Comunicazione del debito formativo</strong></td>
        <td>
          <a class="btn btn-primary btn-xs" href="{{ path('pagelle_alunno', {'classe': scrutinio.classe.id, 'alunno': alunno.id, 'tipo': 'D', 'periodo': periodo}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica</strong></a>
        </td>
      </tr>
          {% if dati.carenze is defined %}
      <tr>
        <td><strong>Comunicazione per il recupero autonomo</strong></td>
        <td>
          <a class="btn btn-primary btn-xs" href="{{ path('pagelle_alunno', {'classe': scrutinio.classe.id, 'alunno': alunno.id, 'tipo': 'C', 'periodo': periodo}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica</strong></a>
        </td>
      </tr>
          {% endif %}
        {% elseif dati.esito.esito == 'N' %}
      <tr>
        <td><strong>Comunicazione di non ammissione</strong></td>
        <td>
          <a class="btn btn-primary btn-xs" href="{{ path('pagelle_alunno', {'classe': scrutinio.classe.id, 'alunno': alunno.id, 'tipo': 'N', 'periodo': periodo}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica</strong></a>
        </td>
      </tr>
        {% endif %}
      {% endif %}
    </tbody>
  </table>
    {% elseif periodo == 'G' %}
  <div class="text-center text-info"><strong class="gs-big">Scrutinio svolto in data {{ scrutinio.data|date('d/m/Y') }}</strong></div>
      {% if dati.rinviato.scrutinio is defined %}
  <div class="text-center text-info"><strong class="gs-big">Scrutinio rinviato svolto in data {{ dati.rinviato.scrutinio.data|date('d/m/Y') }}</strong></div>
      {% endif %}
  <table class="table table-bordered table-hover table-striped gs-mt-4">
    <caption class="text-center text-info"><strong class="gs-big">Documenti della classe</strong></caption>
    <thead class="bg-success">
      <tr>
        <th class="col-sm-6">Documento</th>
        <th class="col-sm-6">Azioni</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Verbale dello scrutinio</strong></td>
        <td>
          <div class="gs-mb-2">
            <a class="btn btn-primary btn-xs" href="{{ path('pagelle_classe', {'classe': scrutinio.classe.id, 'tipo': 'V', 'periodo': periodo}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica</strong></a>
          </div>
        </td>
      </tr>
      {% if dati.rinviato.scrutinio is defined %}
      <tr>
        <td><strong>Verbale dello scrutinio rinviato</strong></td>
        <td>
          <div class="gs-mb-2">
            <a class="btn btn-primary btn-xs" href="{{ path('pagelle_classe', {'classe': scrutinio.classe.id, 'tipo': 'V', 'periodo': 'R'}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica</strong></a>
          </div>
        </td>
      </tr>
      {% endif %}
      <tr>
        <td><strong>Quadro di riepilogo dei voti</strong></td>
        <td>
          <a class="btn btn-primary btn-xs" href="{{ path('pagelle_classe', {'classe': scrutinio.classe.id, 'tipo': 'R', 'periodo': periodo}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica</strong></a>
        </td>
      </tr>
      {% if dati.rinviato.scrutinio is defined %}
      <tr>
        <td><strong>Quadro di riepilogo dei voti dello scrutinio rinviato</strong></td>
        <td>
          <a class="btn btn-primary btn-xs" href="{{ path('pagelle_classe', {'classe': scrutinio.classe.id, 'tipo': 'R', 'periodo': 'R'}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica</strong></a>
        </td>
      </tr>
      {% endif %}
      <tr>
        <td><strong>Tabellone degli esiti finali</strong></td>
        <td>
          <a class="btn btn-primary btn-xs" href="{{ path('pagelle_classe', {'classe': scrutinio.classe.id, 'tipo': 'T', 'periodo': periodo}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica</strong></a>
        </td>
      </tr>
      {% if dati.rinviato.scrutinio is defined %}
      <tr>
        <td><strong>Tabellone degli esiti finali dello scrutinio rinviato</strong></td>
        <td>
          <a class="btn btn-primary btn-xs" href="{{ path('pagelle_classe', {'classe': scrutinio.classe.id, 'tipo': 'T', 'periodo': 'R'}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica</strong></a>
        </td>
      </tr>
      {% endif %}
      {% if scrutinio.classe.anno == 2 %}
      <tr>
        <td><strong>Certificazione delle competenze</strong></td>
        <td>
          <a class="btn btn-primary btn-xs" href="{{ path('pagelle_classe', {'classe': scrutinio.classe.id, 'tipo': 'C', 'periodo': periodo}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica tutte le certficazioni della classe</strong></a>
        </td>
      </tr>
        {% if dati.rinviato.scrutinio is defined %}
      <tr>
        <td><strong>Certificazione delle competenze dello scrutinio rinviato</strong></td>
        <td>
          <a class="btn btn-primary btn-xs" href="{{ path('pagelle_classe', {'classe': scrutinio.classe.id, 'tipo': 'C', 'periodo': 'R'}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica tutte le certficazioni della classe</strong></a>
        </td>
      </tr>
        {% endif %}
      {% endif %}
    </tbody>
  </table>
  <table class="table table-bordered table-hover table-striped gs-mt-4">
    <caption class="text-center text-info"><strong class="gs-big">Documenti dello studente</strong></caption>
    <thead class="bg-success">
      <tr>
        <th class="col-sm-6">Documento</th>
        <th class="col-sm-6">Azioni</th>
      </tr>
    </thead>
    <tbody>
      {% if dati.esito.esito == 'A' or (dati.esito.esito == 'X' and dati.rinviato.esito is defined and dati.rinviato.esito.esito == 'A') %}
      <tr>
        <td><strong>Comunicazione dei voti</strong></td>
        <td>
          <a class="btn btn-primary btn-xs" href="{{ path('pagelle_alunno', {'classe': scrutinio.classe.id, 'alunno': alunno.id, 'tipo': 'P', 'periodo': dati.esito.esito == 'A' ? periodo : 'R'}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica</strong></a>
        </td>
      </tr>
      {% elseif dati.esito.esito == 'N' or (dati.esito.esito == 'X' and dati.rinviato.esito is defined and dati.rinviato.esito.esito == 'N') %}
      <tr>
        <td><strong>Comunicazione di non ammissione</strong></td>
        <td>
          <a class="btn btn-primary btn-xs" href="{{ path('pagelle_alunno', {'classe': scrutinio.classe.id, 'alunno': alunno.id, 'tipo': 'N', 'periodo': dati.esito.esito == 'N' ? periodo : 'R'}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica</strong></a>
        </td>
      </tr>
      {% elseif dati.esito.esito == 'X' %}
      <tr>
        <td colspan="2" class="text-center gs-big"><strong>SCRUTINIO RINVIATO</strong></td>
      </tr>
      {% endif %}
      {% if scrutinio.classe.anno == 2 and (dati.esito.esito == 'A' or (dati.esito.esito == 'X' and dati.rinviato.esito is defined and dati.rinviato.esito.esito == 'A')) %}
      <tr>
        <td><strong>Certificazione delle competenze</strong></td>
        <td>
          <a class="btn btn-primary btn-xs" href="{{ path('pagelle_alunno', {'classe': scrutinio.classe.id, 'alunno': alunno.id, 'tipo': 'E', 'periodo': dati.esito.esito == 'A' ? periodo : 'R'}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica</strong></a>
        </td>
      </tr>
      {% endif %}
    </tbody>
  </table>
    {% endif %}
  {% endif %}
  <div class="gs-mt-5">
    <a class="btn btn-primary gs-mr-3" href="{{ path('segreteria_scrutini') }}" role="button" title="Torna alla pagina di scelta degli alunni"><span class="glyphicon glyphicon-backward gs-mr-3" aria-hidden="true"></span><strong>{{ 'label.indietro'|trans }}</strong></a>
  </div>
</div>
{% endblock %}
