{% extends 'ruolo_staff/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid gs-mt-4">
  <div class="panel panel-primary" >
    <div class="panel-heading">
      <div class="panel-title">{{ form_title|trans }}</div>
    </div>
    <div class="panel-body">
      {{ form_start(form) }}
      {{ form_errors(form) }}
      {{ form_row(form.testo) }}
      <div class="form-group">
        <label class="col-sm-2 control-label required">{{ 'label.sede'|trans }}</label>
        <div class="col-sm-10">
          {{ form_widget(form.sedi) }}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label required">{{ 'label.destinatari'|trans }}</label>
        <div class="col-sm-10">
          <h3 class="modal-title text-center gs-pt-2 gs-pb-0 gs-h3">Scegli gli utenti dei genitori</h3>
          <div class="modal-body clearfix gs-pt-2 gs-pb-2 gs-pr-4 gs-pl-4">
            <div id="gs-modal-alunni-row" class="row bg-info gs-mr-0 gs-ml-0 gs-pt-1 gs-pb-1">
            </div>
            <div class="row gs-pr-4 gs-pl-4 gs-pt-2 gs-pb-2">
              <input type="text" id="gs-modal-alunni-cognome" name="cerca[cognome]" style="width:auto;display:inline-block" class="form-control" placeholder="{{ 'label.cognome'|trans }}">
              <input type="text" id="gs-modal-alunni-nome" name="cerca[nome]" style="width:auto;display:inline-block" class="form-control" placeholder="{{ 'label.nome'|trans }}">
              {{ form_widget(form.lista_classi) }}
              <button type="button" id="gs-modal-alunni-search" class="btn btn-default"><strong>{{ 'label.search'|trans }}</strong></button>
            </div>
            <div class="row gs-pr-4 gs-pl-4">
              <div id="gs-modal-alunni-col1" class="col-sm-6"></div>
              <div id="gs-modal-alunni-col2" class="col-sm-6"></div>
            </div>
            <div id="gs-modal-alunni-pag" class="row text-center gs-pr-4 gs-pl-4 gs-pt-3"></div>
          </div>
          {{ form_widget(form.filtro) }}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          {{ form_widget(form.submit) }}
          {{ form_widget(form.cancel) }}
        </div>
      </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>
  {% include 'include/modal-waiting.html.twig' %}
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script>
$(document).ready(function() {
  $("input[name='avviso[sedi][]']").change(function() {
    $('input[name="avviso[sedi][]"]:checked').each(function() {
      var s=$(this).parent().text().trim();
      $('#avviso_lista_classi optgroup[label="'+s+'"]').prop('disabled',false);
    });
    $('input[name="avviso[sedi][]"]:not(:checked)').each(function() {
      var s=$(this).parent().text().trim();
      $('#avviso_lista_classi optgroup[label="'+s+'"]').prop('disabled',true);
    });
    $('#avviso_lista_classi').val('');
  }).change();
  $("#gs-modal-alunni-search").click(function() {
    $('#gs-modal-waiting').modal('show');
    var par1 = "-"+encodeURIComponent($('#gs-modal-alunni-cognome').val());
    var par2 = "-"+encodeURIComponent($('#gs-modal-alunni-nome').val());
    var par3 = "-"+encodeURIComponent($('#avviso_lista_classi').val() ? $('#avviso_lista_classi').val() : '');
    var par4 = "-";
    $('input[name="avviso[sedi][]"]:checked').each(function() {
      par4 +=$(this).attr('id').substr($(this).attr('id').lastIndexOf('_')+1)+"-";
    });
    $('#gs-modal-alunni-pag').data('par1', par1).data('par2', par2).data('par3', par3).data('par4', par4);
    alunniSearch(1);
  });
  $("#avviso_submit").click(function() {
    var id = $('#gs-modal-alunni-row').data('id');
    if (id == null || id == '') {
      alert('ATTENZIONE: Devi selezionare almeno un utente');
      return false;
    } else {
      $("#avviso_filtro").val(id);
      return true;
    }
  });
  //init
  var opt = $('#avviso_filtro').val();
  $('#gs-modal-alunni-row').data('id', '').html('');
  $('#gs-modal-alunni-col1').html('');
  $('#gs-modal-alunni-col2').html('');
  $('#gs-modal-alunni-pag').html('');
  $('#gs-modal-alunni-cognome').val('');
  $('#gs-modal-alunni-nome').val('');
  if (opt != "") {
    $('#gs-modal-alunni-row').data('id', opt);
    var html = '<div>{{ dati.lista|raw }}</div>';
    $(html).find('span').each(function(){
      var s='<div class="col-sm-6 gs-mt-1"><button type="button" id="gs-modal-alunni-selezionati-'+$(this).attr('id')+'" class="btn btn-danger btn-xs gs-mr-2" title="Clicca per rimuovere l\'utente dalla selezione" onClick="removeUser(this)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button><strong>'+$(this).text()+'</strong></div>';
      $('#gs-modal-alunni-row').append(s);
    });
  }
});
function addUser(element) {
  var id = $(element).attr('id').substr($(element).attr('id').lastIndexOf('-')+1);
  var nome = $(element).parent().text();
  var s='<div class="col-sm-6 gs-mt-1"><button type="button" id="gs-modal-alunni-selezionati-'+id+'" class="btn btn-danger btn-xs gs-mr-2" title="Clicca per rimuovere l\'utente dalla selezione" onClick="removeUser(this)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button><strong>'+nome+'</strong></div>';
  var txt = $('#gs-modal-alunni-row').data('id');
  txt = (txt == null || txt == '' ? id : txt+','+id);
  $('#gs-modal-alunni-row').data('id', txt);
  $('#gs-modal-alunni-row').append(s);
  $(element).hide();
}
function removeUser(element) {
  var id = $(element).attr('id').substr($(element).attr('id').lastIndexOf('-')+1);
  var txt = ','+$('#gs-modal-alunni-row').data('id')+',';
  txt = txt.replace(','+id+',',',').slice(1,-1);
  $('#gs-modal-alunni-row').data('id', txt);
  $(element).parent().remove();
  $('#gs-modal-alunni-lista-'+id).show();
}
function alunniSearch(page) {
  $('#gs-modal-waiting').modal('show');
  var par1 = $('#gs-modal-alunni-pag').data('par1');
  var par2 = $('#gs-modal-alunni-pag').data('par2');
  var par3 = $('#gs-modal-alunni-pag').data('par3');
  var par4 = $('#gs-modal-alunni-pag').data('par4');
  var url = "{{ path('ajax_alunni') }}/"+par1+"/"+par2+"/"+par3+"/"+par4+"/"+page;
  $.post(url, function (data) {
      var sl='';
      var sr='';
      var s='';
      $.each(data.lista, function(idx,item){
        if ((','+$('#gs-modal-alunni-row').data('id')+',').indexOf(','+item.id+',') == -1) {
          s='<div class="gs-mt-1"><button type="button" id="gs-modal-alunni-lista-'+item.id+'" class="btn btn-primary btn-xs gs-mr-2" title="Clicca per selezionare l\'utente" onClick="addUser(this)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>'+item.nome+'</div>';
        } else {
          s='<div class="gs-mt-1"><button type="button" id="gs-modal-alunni-lista-'+item.id+'" class="btn btn-primary btn-xs gs-mr-2" title="Clicca per selezionare l\'utente" onClick="addUser(this)" style="display:none"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>'+item.nome+'</div>';
        }
        if (idx < 10) {
          sl+=s;
        } else {
          sr+=s;
        }
      });
      $('#gs-modal-alunni-col1').html(sl);
      $('#gs-modal-alunni-col2').html(sr);
      $('#gs-modal-alunni-pag').html('');
      if (data.fine > 1) {
        s = '<span><strong>Pagina: </strong></span><button type="button" class="btn btn-default btn-xs gs-mr-2" onClick="alunniSearch(1)">Prima</button>';
        for (i = data.inizio; i<=data.fine; i++) {
          if (i == data.pagina) {
            s = s+'<span class="gs-mr-2">'+i+'</span>';
          } else {
            s = s+'<button type="button" class="btn btn-default btn-xs gs-mr-2" onClick="alunniSearch('+i+')">'+i+'</button>';
          }
        }
        s = s+'<button type="button" class="btn btn-default btn-xs gs-mr-2" onClick="alunniSearch('+data.max+')">Ultima</button>';
        $('#gs-modal-alunni-pag').html(s);
      }
    }, 'json');
  $('#gs-modal-waiting').modal('hide');
}
</script>
{% endblock %}
