{% extends 'ruolo_staff/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  <h1 class="text-center gs-h2 gs-mt-2">{{ 'title.staff_doc15'|trans }}</h1>
  {% include('include/form-inline.html.twig') %}
  <table class="table table-bordered table-hover table-striped gs-mb-0">
    <thead class="bg-success">
      <tr>
        <th class="col-sm-6">{{ 'label.classe'|trans }}</th>
        <th class="col-sm-6">{{ 'label.documento'|trans }}</th>
      </tr>
    </thead>
    <tbody>
  {% for k,c in dati.lista %}
      <tr>
        <td>
          <strong>{{ c.anno }}ª {{ c.sezione }}</strong><br>{{ c.corso }} - {{ c.sede }}
        </td>
        <td>
      {% if c.documento_id %}
          <a href="{{ path('file_documento', {'tipo': 'M', 'id': c.documento_id }) }}" title="Scarica il documento del 15 maggio indicato">
          <span class="glyphicon glyphicon-download gs-mr-1"></span><strong>{{ c.file }}</strong>
          </a><br>
          <small>Dimensione: {{ (c.dimensione / 1000)|number_format(0, ',', '.') }} KB</small>
      {% else %}
          <strong class="gs-big text-danger">{{ 'label.documento_mancante'|trans }}</strong>
      {% endif %}
        </td>
      </tr>
  {% endfor %}
    </tbody>
  </table>
  {% if maxPages > 1 %}
  <nav aria-label="Navigazione tra le pagine" class="text-center">
    <ul class="pagination pagination-sm gs-mt-2">
    {% if page > 1 %}
      <li><a href="{{ path('staff_documenti_doc15', {'pagina': page-1}) }}" title="{{ 'label.precedente'|trans }}"><span aria-hidden="true">&laquo;</span></a></li>
    {% else %}
      <li class="disabled"><span title="{{ 'label.precedente'|trans }}"><span aria-hidden="true">&laquo;</span></span></li>
    {% endif %}
    {% for i in 1..maxPages %}
      <li {{ page == i ? 'class="active"' }}><a href="{{ path('staff_documenti_doc15', {'pagina': i}) }}">{{ i }}</a></li>
    {% endfor %}
    {% if page < maxPages %}
      <li><a href="{{ path('staff_documenti_doc15', {'pagina': page+1}) }}" title="{{ 'label.successiva'|trans }}"><span aria-hidden="true">&raquo;</span></a></li>
    {% else %}
      <li class="disabled"><span title="{{ 'label.successiva'|trans }}"><span aria-hidden="true">&raquo;</span></span></li>
    {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>
{% endblock %}
