{% extends 'ruolo_staff/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  <h1 class="text-center gs-h2 gs-mt-2">{{ 'title.genera_password'|trans }}</h1>
  {% for tipo,messaggi in app.flashes %}
    {% for msg in messaggi %}
  <div class="alert alert-{{ tipo }}" role="alert">{{ msg|trans|raw }}</div>
    {% endfor %}
  {% endfor %}
  {% include('include/form-inline.html.twig') %}
  <table class="table table-bordered table-hover table-striped gs-mb-0">
    <thead class="bg-success">
      <tr>
        <th>{{ 'label.alunno'|trans }}</th>
        <th>{{ 'label.classe'|trans }}</th>
        <th>{{ 'label.action'|trans }}</th>
      </tr>
    </thead>
    <tbody>
    {% for a in lista.lista %}
      <tr>
        <td>{{ a.cognome }} {{ a.nome }} ({{ a.dataNascita|date('d/m/Y') }})</td>
        <td>{{ a.classe.anno }}ª {{ a.classe.sezione }}</td>
        <td>
      {% if not app.session.get('/CONFIG/ACCESSO/id_provider_dominio') %}
          <a class="btn btn-primary btn-xs" href="{{ path('staff_password_create', {'username': a.username, 'tipo': 'E'}) }}" role="button" title="Genera una nuova password per il genitore e la invia tramite email"><span class="glyphicon glyphicon-lock gs-mr-2" aria-hidden="true"></span>{{ 'label.email_password'|trans }}</a>
      {% endif %}
          <a class="btn btn-primary btn-xs" href="{{ path('staff_password_create', {'username': a.username, 'tipo': 'P'}) }}" role="button" title="Genera una nuova password per l'alunno e la scarica come documento PDF"><span class="glyphicon glyphicon-lock gs-mr-2" aria-hidden="true"></span>{{ 'label.pdf_password'|trans }}</a>
          <button type="button" class="btn btn-primary btn-xs mr-1 mb-1" data-toggle="modal" data-target="#gs-scelta-genitore" title="Genera una nuova password per il genitore e la invia tramite email"
            data-title="Scegli il genitore a cui inviare la password"
            data-button1="{{ (lista.genitori[a.id][0].email and lista.genitori[a.id][0].email[-6:] != '.local') ? 'Invia' }}"
            data-gen1="{{ lista.genitori[a.id][0].nome }} {{ lista.genitori[a.id][0].cognome }} ({{ lista.genitori[a.id][0].username }})" data-email1="{{ (lista.genitori[a.id][0].email and lista.genitori[a.id][0].email[-6:] != '.local') ? (': '~lista.genitori[a.id][0].email) }}"
            data-href1="{{ path('staff_password_create', {'username': lista.genitori[a.id][0].username, 'tipo': 'E'}) }}"
            data-button2="{{ (lista.genitori[a.id][1].email and lista.genitori[a.id][1].email[-6:] != '.local') ? 'Invia' }}"
            data-gen2="{{ lista.genitori[a.id][1].nome }} {{ lista.genitori[a.id][1].cognome }} ({{ lista.genitori[a.id][1].username }})" data-email2="{{ (lista.genitori[a.id][1].email and lista.genitori[a.id][1].email[-6:] != '.local') ? (': '~lista.genitori[a.id][1].email) }}"
            data-href2="{{ path('staff_password_create', {'username': lista.genitori[a.id][1].username, 'tipo': 'E'}) }}">{{ 'label.email_password_genitore'|trans }}</button>
          <button type="button" class="btn btn-primary btn-xs mr-1 mb-1" data-toggle="modal" data-target="#gs-scelta-genitore" title="Genera una nuova password per il genitore e la scarica come documento PDF"
            data-title="Scegli il genitore di cui scaricare la password"
            data-button1="Scarica"
            data-gen1="{{ lista.genitori[a.id][0].nome }} {{ lista.genitori[a.id][0].cognome }} ({{ lista.genitori[a.id][0].username }})" data-email1=""
            data-href1="{{ path('staff_password_create', {'username': lista.genitori[a.id][0].username, 'tipo': 'P'}) }}"
            data-button2="Scarica"
            data-gen2="{{ lista.genitori[a.id][1].nome }} {{ lista.genitori[a.id][1].cognome }} ({{ lista.genitori[a.id][1].username }})" data-email2=""
            data-href2="{{ path('staff_password_create', {'username': lista.genitori[a.id][1].username, 'tipo': 'P'}) }}">{{ 'label.pdf_password_genitore'|trans }}</button>
          <div class="modal fade" id="gs-scelta-genitore" tabindex="-1" role="dialog" aria-labelledby="gs-scelta-genitore-titolo">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'label.close'|trans }}">
                    <span class="glyphicon glyphicon-remove gs-mr-2" aria-hidden="true"></span>
                    <span class="sr-only">{{ 'label.close'|trans }}</span>
                  </button>
                  <h3 class="modal-title gs-h3" id="gs-scelta-genitore-titolo"></h3>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-sm-10 gs-mb-2"><strong id="gs-scelta-genitore-1"></strong><span id="gs-scelta-genitore-1-email"></span></div>
                    <div class="col-sm-2 gs-mb-2"><a id="gs-scelta-genitore-1-href" class="btn btn-primary btn-xs" href="" role="button"><strong></strong></a></div>
                    <div class="col-sm-10"><strong id="gs-scelta-genitore-2"></strong><span id="gs-scelta-genitore-2-email"></span></div>
                    <div class="col-sm-2"><a id="gs-scelta-genitore-2-href" class="btn btn-primary btn-xs" href="" role="button"><strong></strong></a></div>
                  </div>
                </div>
                <div class="modal-footer text-center">
                  <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">{{ 'label.cancel'|trans }}</button>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% if maxPages > 1 %}
  <nav aria-label="Navigazione tra le pagine" class="text-center">
    <ul class="pagination pagination-sm gs-mt-2">
    {% if page > 1 %}
      <li><a href="{{ path('staff_password', {'pagina': page-1}) }}" title="{{ 'label.precedente'|trans }}"><span aria-hidden="true">&laquo;</span></a></li>
    {% else %}
      <li class="disabled"><span title="{{ 'label.precedente'|trans }}"><span aria-hidden="true">&laquo;</span></span></li>
    {% endif %}
    {% for i in 1..maxPages %}
      <li {{ page == i ? 'class="active"' }}><a href="{{ path('staff_password', {'pagina': i}) }}">{{ i }}</a></li>
    {% endfor %}
    {% if page < maxPages %}
      <li><a href="{{ path('staff_password', {'pagina': page+1}) }}" title="{{ 'label.successiva'|trans }}"><span aria-hidden="true">&raquo;</span></a></li>
    {% else %}
      <li class="disabled"><span title="{{ 'label.successiva'|trans }}"><span aria-hidden="true">&raquo;</span></span></li>
    {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>
  {% include 'include/modal-confirm.html.twig' with {'modal_confirm_msg': 'message.nuova_password_classe'} %}
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script>
$(document).ready(function() {
  $('#gs-modal-confirm').on('show.bs.modal', function (event) {
    var href = $(event.relatedTarget).data('href');
    $(this).find('#gs-modal-confirm-yes').attr('href', href);
  });
  $('#gs-modal-confirm-yes').on('click', function (event) {
    $('#gs-modal-confirm').modal('hide');
  });
  $('#gs-scelta-genitore').on('show.bs.modal', function (e) {
    var title = $(e.relatedTarget).data('title');
    var button1 = $(e.relatedTarget).data('button1');
    var gen1 = $(e.relatedTarget).data('gen1');
    var email1 = $(e.relatedTarget).data('email1');
    var href1 = $(e.relatedTarget).data('href1');
    var button2 = $(e.relatedTarget).data('button2');
    var gen2 = $(e.relatedTarget).data('gen2');
    var email2 = $(e.relatedTarget).data('email2');
    var href2 = $(e.relatedTarget).data('href2');
    if (gen1.indexOf("#") >= 0) {
      gen1 = 'NESSUN DATO';
    }
    if (gen2.indexOf("#") >= 0) {
      gen2 = 'NESSUN DATO';
    }
    $(this).find('#gs-scelta-genitore-titolo').text(title);
    if (button1) {
      $('#gs-scelta-genitore-1-href').show();
      $('#gs-scelta-genitore-1-href strong').text(button1);
    } else {
      $('#gs-scelta-genitore-1-href').hide();
    }
    if (button2) {
      $('#gs-scelta-genitore-2-href').show();
      $('#gs-scelta-genitore-2-href strong').text(button2);
    } else {
      $('#gs-scelta-genitore-2-href').hide();
    }
    $(this).find('#gs-scelta-genitore-1').text(gen1);
    $(this).find('#gs-scelta-genitore-1-email').text(email1);
    $(this).find('#gs-scelta-genitore-1-href').attr('href', href1);
    $(this).find('#gs-scelta-genitore-2').text(gen2);
    $(this).find('#gs-scelta-genitore-2-email').text(email2);
    $(this).find('#gs-scelta-genitore-2-href').attr('href', href2);
  });
});
</script>
{% endblock %}
