<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">
    <span class="glyphicon glyphicon-remove gs-mr-2" aria-hidden="true"></span>
    <span class="sr-only">{{ 'label.close'|trans }}</span>
  </button>
  <h3 class="modal-title gs-h3">{{ dati.avviso.data|date('d/m/Y') }}</h3>
  <h4 class="modal-title gs-h4"><em>{{ dati.avviso.oggetto }}</em></h4>
</div>
<div class="modal-body">
  <div class="alert alert-info gs-mt-0 gs-mb-0 gs-pt-2 gs-pb-2 gs-pr-2 gs-pl-2">
    <div class="gs-text-normal">{{ dati.testo|raw|nl2br }}</div>
    <div class="text-right gs-text-normal"><em>({{ dati.avviso.docente.nome }} {{ dati.avviso.docente.cognome }})</em></div>
{% if dati.avviso.allegati|length > 0 %}
    <div class="gs-mt-2 gs-pt-2 gs-text-normal" style="border-top: 1px solid">
      <strong>Allegati:</strong>
    {% for a in dati.avviso.allegati %}
      <a class="gs-ml-3" target="_blank" href="{{ path('file_avviso', {'avviso': dati.avviso.id, 'allegato': loop.index}) }}" title="Scarica l'allegato"><strong>Allegato-{{ loop.index }}</strong></a>
    {% endfor %}
    </div>
{% endif %}
  </div>
  <div class="gs-mt-2">
    <strong>Destinatari:</strong>
    {% if 'C' in dati.avviso.destinatari %}<span class="gs-mr-2">Coordinatori</span>{% endif %}
    {% if 'D' in dati.avviso.destinatari %}<span class="gs-mr-2">Docenti</span>{% endif %}
    {% if 'G' in dati.avviso.destinatari %}<span class="gs-mr-2">Genitori</span>{% endif %}
    {% if 'A' in dati.avviso.destinatari %}<span class="gs-mr-2">Alunni</span>{% endif %}
    {% if 'R' in dati.avviso.destinatari %}<span class="gs-mr-2">{{ 'label.rappresentanti_R'|trans }}</span>{% endif %}
    {% if 'I' in dati.avviso.destinatari %}<span class="gs-mr-2">{{ 'label.rappresentanti_I'|trans }}</span>{% endif %}
    {% if 'L' in dati.avviso.destinatari %}<span class="gs-mr-2">{{ 'label.rappresentanti_L'|trans }}</span>{% endif %}
    {% if 'S' in dati.avviso.destinatari %}<span class="gs-mr-2">{{ 'label.rappresentanti_S'|trans }}</span>{% endif %}
    {% if 'P' in dati.avviso.destinatari %}<span class="gs-mr-2">{{ 'label.rappresentanti_P'|trans }}</span>{% endif %}
    {% if 'D' in dati.avviso.destinatariAta %}<span class="gs-mr-2">DSGA</span>{% endif %}
    {% if 'A' in dati.avviso.destinatariAta %}
      <span class="gs-mr-2">ATA</span>
    {% else %}
      {% if 'M' in dati.avviso.destinatariAta %}<span class="gs-mr-2">Amministrativi</span>{% endif %}
      {% if 'T' in dati.avviso.destinatariAta %}<span class="gs-mr-2">Tecnici</span>{% endif %}
      {% if 'C' in dati.avviso.destinatariAta %}<span class="gs-mr-2">Coll.scolast.</span>{% endif %}
    {% endif %}
    {% if 'S' in dati.avviso.destinatariSpeciali %}<span class="gs-mr-2">RSPP</span>{% endif %}
  </div>
{% if dati.classi|length > 0 %}
  <div class="gs-mt-2">
    <strong>Filtro classi:</strong>
  {% for c in dati.classi %}
    {{ c.anno }}ª {{ c.sezione }}{{ c.gruppo ? ('-'~c.gruppo) }}{{ not loop.last ? ',' }}
  {% endfor %}
  </div>
{% elseif dati.utenti|length > 0 %}
  <div class="gs-mt-2">
    <strong>Filtro utenti:</strong>
    <div class="gs-ml-4">
  {% for u in dati.utenti %}
    {{ u.cognome }} {{ u.nome }} ({{ u.dataNascita|date('d/m/Y') }}) {{ u.anno }}ª {{ u.sezione }}{{ u.gruppo ? ('-'~u.gruppo) }}
    {% if 'A' in dati.avviso.destinatari %}
      {{ u.letto ? '- Letto dall\'alunno in data '~(u.letto|date('d/m/Y G:i')) : '- Non letto dall\'alunno' }}
    {% endif %}
    {% if 'G' in dati.avviso.destinatari %}
      {% if u.letto_genitore1 or u.letto_genitore2 %}
      <span> - Letto da un genitore in data {{ u.letto_genitore1 ? u.letto_genitore1|date('d/m/Y G:i') : u.letto_genitore2|date('d/m/Y G:i') }}</span>
      {% else %}
      <span> - Non letto dai genitori</span>
      {% endif %}
    {% endif %}
    {{ not loop.last ? '<br>' }}
  {% endfor %}
    </div>
  </div>
{% elseif dati.materie|length > 0 %}
  <div class="gs-mt-2">
    <strong>Filtro materie:</strong>
    <div class="gs-ml-4">
  {% for m in dati.materie %}
    {{ m.nome }}{{ not loop.last ? '<br>' }}
  {% endfor %}
    </div>
  </div>
{% else %}
  <div class="gs-mt-2">
    <strong>Filtro sedi:</strong>
  {% for s in dati.sedi %}
    {{ s.citta }}{{ not loop.last ? ',' }}
  {% endfor %}
  </div>
{% endif %}
  <div class="gs-mt-2">
    <strong>Annotazione sul Registro:</strong> {{ dati.avviso.annotazioni|length > 0 ? 'Si' : 'No' }}
  </div>
  <div class="gs-mt-2">
    <strong>Tipo di avviso:</strong>
  {% if dati.avviso.tipo == 'U' %}
    Uscita anticipata della classe
  {% elseif dati.avviso.tipo == 'E' %}
    Ingresso posticipato della classe
  {% elseif dati.avviso.tipo == 'V' %}
    Calendario verifiche
  {% elseif dati.avviso.tipo == 'A' %}
    Calendario attività
  {% elseif dati.avviso.tipo == 'C' %}
    Comunicazione generica
  {% elseif dati.avviso.tipo == 'I' %}
    Comunicazione individuale
  {% endif %}
  </div>
  <div class="gs-mt-2">
    <strong>Statistiche di lettura:</strong>
{% if dati.statistiche.dsga[0] > 0 %}
    <div class="row gs-ml-4 gs-mr-2 gs-pt-1 gs-pb-1" style="border-bottom: 1px solid #ccc">
      <div class="col-sm-8 gs-pl-0">DSGA: {{ (dati.statistiche.dsga[1] / dati.statistiche.dsga[0] * 100)|number_format(0) }}% ({{ dati.statistiche.dsga[1] }} su {{ dati.statistiche.dsga[0] }})</div>
      <div class="col-sm-4 text-right"><button type="button" class="btn btn-primary btn-xs{{ dati.statistiche.dsga[1] == 0 ? ' disabled' }}" data-toggle="collapse" data-target="#gs-collapse-dsga">Dettagli</button></div>
    </div>
  {% if dati.statistiche.dsga[1] > 0 %}
    <div id="gs-collapse-dsga" class="collapse bg-info gs-ml-4 gs-mr-2 gs-pr-2 gs-pl-2">
    {% for u in dati.statistiche.dsga[2] %}
      <div class="row">
        <div class="col-sm-8">{{ u[1] }}</div>
        <div class="col-sm-4 text-right">{{ u[0]|date('d/m/Y H:i') }}</div>
      </div>
    {% endfor %}
    </div>
  {% endif %}
{% endif %}
{% if dati.statistiche.ata[0] > 0 %}
    <div class="row gs-ml-4 gs-mr-2 gs-pt-1 gs-pb-1" style="border-bottom: 1px solid #ccc">
      <div class="col-sm-8 gs-pl-0">ATA: {{ (dati.statistiche.ata[1] / dati.statistiche.ata[0] * 100)|number_format(0) }}% ({{ dati.statistiche.ata[1] }} su {{ dati.statistiche.ata[0] }})</div>
      <div class="col-sm-4 text-right"><button type="button" class="btn btn-primary btn-xs{{ dati.statistiche.ata[1] == 0 ? ' disabled' }}" data-toggle="collapse" data-target="#gs-collapse-ata">Dettagli</button></div>
    </div>
  {% if dati.statistiche.ata[1] > 0 %}
    <div id="gs-collapse-ata" class="collapse bg-info gs-ml-4 gs-mr-2 gs-pr-2 gs-pl-2">
    {% for u in dati.statistiche.ata[2] %}
      <div class="row">
        <div class="col-sm-8">{{ u[1] }}</div>
        <div class="col-sm-4 text-right">{{ u[0]|date('d/m/Y H:i') }}</div>
      </div>
    {% endfor %}
    </div>
  {% endif %}
{% endif %}
{% if dati.statistiche.coordinatori[0] > 0 %}
    <div class="row gs-ml-4 gs-mr-2 gs-pt-1 gs-pb-1" style="border-bottom: 1px solid #ccc">
      <div class="col-sm-8 gs-pl-0">Coordinatori: {{ (dati.statistiche.coordinatori[1] / dati.statistiche.coordinatori[0] * 100)|number_format(0) }}% ({{ dati.statistiche.coordinatori[1] }} su {{ dati.statistiche.coordinatori[0] }})</div>
      <div class="col-sm-4 text-right"><button type="button" class="btn btn-primary btn-xs{{ dati.statistiche.coordinatori[1] == 0 ? ' disabled' }}" data-toggle="collapse" data-target="#gs-collapse-coordinatori">Dettagli</button></div>
    </div>
  {% if dati.statistiche.coordinatori[1] > 0 %}
    <div id="gs-collapse-coordinatori" class="collapse bg-info gs-ml-4 gs-mr-2 gs-pr-2 gs-pl-2">
    {% for u in dati.statistiche.coordinatori[2] %}
      <div class="row">
        <div class="col-sm-8">{{ u[1] }}</div>
        <div class="col-sm-4 text-right">{{ u[0]|date('d/m/Y H:i') }}</div>
      </div>
    {% endfor %}
    </div>
  {% endif %}
{% endif %}
{% if dati.statistiche.docenti[0] > 0 %}
    <div class="row gs-ml-4 gs-mr-2 gs-pt-1 gs-pb-1" style="border-bottom: 1px solid #ccc">
      <div class="col-sm-8 gs-pl-0">Docenti: {{ (dati.statistiche.docenti[1] / dati.statistiche.docenti[0] * 100)|number_format(0) }}% ({{ dati.statistiche.docenti[1] }} su {{ dati.statistiche.docenti[0] }})</div>
      <div class="col-sm-4 text-right"><button type="button" class="btn btn-primary btn-xs{{ dati.statistiche.docenti[1] == 0 ? ' disabled' }}" data-toggle="collapse" data-target="#gs-collapse-docenti">Dettagli</button></div>
    </div>
  {% if dati.statistiche.docenti[1] > 0 %}
    <div id="gs-collapse-docenti" class="collapse bg-info gs-ml-4 gs-mr-2 gs-pr-2 gs-pl-2">
    {% for u in dati.statistiche.docenti[2] %}
      <div class="row">
        <div class="col-sm-8">{{ u[1] }}</div>
        <div class="col-sm-4 text-right">{{ u[0]|date('d/m/Y H:i') }}</div>
      </div>
    {% endfor %}
    </div>
  {% endif %}
{% endif %}
{% if dati.statistiche.genitori[0] > 0 %}
    <div class="row gs-ml-4 gs-mr-2 gs-pt-1 gs-pb-1" style="border-bottom: 1px solid #ccc">
      <div class="col-sm-8 gs-pl-0">Genitori: {{ (dati.statistiche.genitori[1] / dati.statistiche.genitori[0] * 100)|number_format(0) }}% ({{ dati.statistiche.genitori[1] }} su {{ dati.statistiche.genitori[0] }})</div>
      <div class="col-sm-4 text-right"><button type="button" class="btn btn-primary btn-xs{{ dati.statistiche.genitori[1] == 0 ? ' disabled' }}" data-toggle="collapse" data-target="#gs-collapse-genitori">Dettagli</button></div>
    </div>
  {% if dati.statistiche.genitori[1] > 0 %}
    <div id="gs-collapse-genitori" class="collapse bg-info gs-ml-4 gs-mr-2 gs-pr-2 gs-pl-2">
    {% for u in dati.statistiche.genitori[2] %}
      <div class="row">
        <div class="col-sm-8">{{ u[1] }}</div>
        <div class="col-sm-4 text-right">{{ u[0]|date('d/m/Y H:i') }}</div>
      </div>
    {% endfor %}
    </div>
  {% endif %}
{% endif %}
{% if dati.statistiche.alunni[0] > 0 %}
    <div class="row gs-ml-4 gs-mr-2 gs-pt-1 gs-pb-1" style="border-bottom: 1px solid #ccc">
      <div class="col-sm-8 gs-pl-0">Alunni: {{ (dati.statistiche.alunni[1] / dati.statistiche.alunni[0] * 100)|number_format(0) }}% ({{ dati.statistiche.alunni[1] }} su {{ dati.statistiche.alunni[0] }})</div>
      <div class="col-sm-4 text-right"><button type="button" class="btn btn-primary btn-xs{{ dati.statistiche.alunni[1] == 0 ? ' disabled' }}" data-toggle="collapse" data-target="#gs-collapse-alunni">Dettagli</button></div>
    </div>
  {% if dati.statistiche.alunni[1] > 0 %}
    <div id="gs-collapse-alunni" class="collapse bg-info gs-ml-4 gs-mr-2 gs-pr-2 gs-pl-2">
    {% for u in dati.statistiche.alunni[2] %}
      <div class="row">
        <div class="col-sm-8">{{ u[1] }}</div>
        <div class="col-sm-4 text-right">{{ u[0]|date('d/m/Y H:i') }}</div>
      </div>
    {% endfor %}
    </div>
  {% endif %}
{% endif %}
{% if dati.statistiche.classi[0] > 0 %}
    <div class="gs-ml-4">
      Classi: {{ (dati.statistiche.classi[1] / dati.statistiche.classi[0] * 100)|number_format(0) }}%  ({{ dati.statistiche.classi[1] }} su {{ dati.statistiche.classi[0] }})
  {% if dati.statistiche.classi[1] < dati.statistiche.classi[0] %}
      <br><em class="gs-ml-2">Da leggere in:</em> {% for c in dati.statistiche.classi[2] %}{{ c }}{{ not loop.last ? ', '}}{% endfor %}
  {% endif %}
    </div>
{% endif %}
  </div>
</div>
