{% extends 'ruolo_staff/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  <h1 class="text-center gs-h2 gs-mt-2">{{ 'title.staff_assenze'|trans }} {{ classe ? classe }}</h1>
  {% if errore %}
  <div class="row gs-mb-5">
    <div class="col-sm-12">
      {% if data_prec %}<a class="btn btn-success btn-sm" href="{{ path('staff_studenti_assenze', {'data': data_prec|date('Y-m-d'), 'classe': (classe ? classe.id : 0)}) }}" role="button" title="Giorno precedente"><span class="glyphicon glyphicon-chevron-left"></span></a>{% endif %}
      <button class="btn btn-primary" id="gs-button-date" title="Cambia giorno"><span class="glyphicon glyphicon-calendar gs-mr-3"></span><strong>{{ info.data_label }}</strong></button>
      {% if data_succ %}<a class="btn btn-success btn-sm" href="{{ path('staff_studenti_assenze', {'data': data_succ|date('Y-m-d'), 'classe': (classe ? classe.id : 0)}) }}" role="button" title="Giorno successivo"><span class="glyphicon glyphicon-chevron-right"></span></a>{% endif %}
    </div>
  </div>
  <div class="alert alert-warning" role="alert">
    <strong class="gs-big">{{ errore }}</strong>
  </div>
  {% else %}
  {% include('include/form-inline.html.twig') %}
  <div class="row gs-mb-4">
    <div class="col-sm-12">
      {% if data_prec %}<a class="btn btn-success btn-sm" href="{{ path('staff_studenti_assenze', {'data': data_prec|date('Y-m-d'), 'classe': (classe ? classe.id : 0)}) }}" role="button" title="Giorno precedente"><span class="glyphicon glyphicon-chevron-left"></span></a>{% endif %}
      <button class="btn btn-primary" id="gs-button-date" title="Cambia giorno"><span class="glyphicon glyphicon-calendar gs-mr-3"></span><strong>{{ info.data_label }}</strong></button>
      {% if data_succ %}<a class="btn btn-success btn-sm" href="{{ path('staff_studenti_assenze', {'data': data_succ|date('Y-m-d'), 'classe': (classe ? classe.id : 0)}) }}" role="button" title="Giorno successivo"><span class="glyphicon glyphicon-chevron-right"></span></a>{% endif %}
    </div>
  </div>
    {% if classe and form_assenze %}
      {{ form_start(form_assenze) }}
      {{ form_widget(form_assenze) }}
      {{ form_end(form_assenze) }}
    {% endif %}
  {% endif %}
</div>
{% endblock %}

{% block pagina_css %}
{{ parent() }}
<link href="{{ asset('vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet">
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script src="{{ asset('vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap-datepicker/locales/bootstrap-datepicker.it.min.js') }}"></script>
<script>
$(document).ready(function() {
  $('#gs-button-date').datepicker({
    format: "yyyy-mm-dd",
    weekStart: 1,
    maxViewMode: 1,
    daysOfWeekDisabled: "0",
    defaultViewDate: "{{ data }}",
    startDate: "{{ app.session.get('/CONFIG/SCUOLA/anno_inizio') }}",
    endDate: "{{ app.session.get('/CONFIG/SCUOLA/anno_fine') }}",
    datesDisabled: {{ lista_festivi|raw }},
    todayBtn: "linked",
    todayHighlight: true,
    autoclose: true,
    language: "it",
    zIndexOffset: 1200
    });
  $('#gs-button-date').datepicker()
    .on('show', function(ev){
      $('#gs-button-date').datepicker('update', '{{ data }}');
  });
  $('#gs-button-date').datepicker()
    .on('changeDate', function(ev){
      $('#gs-button-date').datepicker('hide');
      url = "{{ path('staff_studenti_assenze', {'data': '9999-99-99', 'classe': (classe ? classe.id : 0)}) }}";
      url = url.replace("9999-99-99", ev.format());
      window.location.href = url;
  });
  $('form[name="staff_studenti_assenze"]').on('submit', function(ev){
    var url = "{{ path('staff_studenti_assenze', {'data': data, 'classe': '9999'}) }}";
    var v = $('#staff_studenti_assenze_classe').val();
    url = url.replace("9999", (v ? v : 0));
    window.location.href = url;
    return false;
  });
  $('#staff_studenti_assenze_appello').on('change', 'label.gs-checkbox-inline input', function() {
    if ($(this).is(":checked")) {
      $(this).parent().addClass('active');
    } else {
      $(this).parent().removeClass('active');
    }
  });
  // init
  $('#staff_studenti_assenze_appello label.gs-checkbox-inline input:checked').parent().addClass('active');
});
</script>
{% endblock %}
