{% extends 'ruolo_staff/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  <h1 class="text-center gs-h2 gs-mt-2">{{ titolo|trans }}</h1>
  <form name="{{ form[0].vars.name }}" method="{{ form[0].vars.method }}" action="{{ form[0].vars.action }}" class="form-inline gs-mb-2">
    <div id="staff_studenti_condotta">
      <div class="form-group">
        <label class="sr-only control-label" for="{{ form[0].sede.vars.id }}">{{ form[0].sede.vars.label|trans }}</label>
        {{ form_widget(form[0].sede) }}
      </div>
      <div class="input-group date">
        {{ form_widget(form[0].inizio, {'attr': {'widget': false}}) }}
        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
      <div class="input-group date">
        {{ form_widget(form[0].fine, {'attr': {'widget': false}}) }}
        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
      <div class="form-group">
        {{ form_widget(form[0].submit) }}
      </div>
      {{ form_widget(form[0]._token) }}
    </div>
  </form>
  {% if dati|length == 0 %}
  <div class="alert alert-info text-center gs-big">
    <strong>Non sono presenti dati</strong>
  </div>
  {% else %}
  <table class="table table-bordered table-hover">
    <thead class="bg-success">
      <tr>
        <th class="col-sm-2">Sede</th>
        <th class="col-sm-2">Classe</th>
        <th class="col-sm-6">Numero note</th>
        <th class="col-sm-2">Azioni</th>
      </tr>
    </thead>
    <tbody>
    {% for c in dati.lista %}
      <tr>
        <td><strong class="big">{{ c.classe.sede.nomeBreve }}</strong></td>
        <td><strong class="big">{{ c.classe }}</strong></td>
        <td><strong class="big">{{ c.tot }}</strong> ({{ c.nc }} note di classe, {{ c.ni }} note individuali)</td>
        <td>
          <button class="btn btn-xs btn-primary gs-button-remote" type="button" title="Visualizza le note disciplinari della classe" data-toggle="modal" data-target="#gs-modal-remote" data-href="{{ path('scheda_note', {'classe': c.classe.id, 'inizio': info.inizio, 'fine': info.fine}) }}"><span class="glyphicon glyphicon-zoom-in gs-mr-2" ></span>Mostra note</button>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
    {% include 'include/modal-remote.html.twig' %}
    {% include 'include/paginate.html.twig' with {maxPagine: dati.maxPagine, pagina: info.pagina, url: 'staff_studenti_condotta'} %}
  {% endif %}
</div>
{% endblock %}

{% block pagina_css %}
{{ parent() }}
<link href="{{ asset('vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet">
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script src="{{ asset('vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap-datepicker/locales/bootstrap-datepicker.it.min.js') }}"></script>
<script>
$(document).ready(function() {
  $('#{{ form[0].vars.id }} .input-group.date').datepicker({
    format: "dd/mm/yyyy",
    weekStart: 1,
    maxViewMode: 1,
    todayBtn: "linked",
    language: "it",
    autoclose: true,
    todayHighlight: true,
    zIndexOffset: 1200
    });
  $('#gs-modal-remote').on('show.bs.modal', function (event) {
    var url = $(event.relatedTarget).data('href');
    $('#gs-errori').hide();
    $(this).find('#gs-modal-remote-content').load(url);
  });
  $('#gs-modal-remote').on('shown.bs.modal', function (e) {
    $('body').addClass('modal-open');
  });
  $(".gs-button-remote").click(function(e) {
    e.preventDefault();
    $('#gs-modal-remote-content').html('<div class="modal-content"><div class="modal-header"><h3 class="modal-title">Attendere prego...</h3></div><div class="modal-body"><div class="progress"><div class="progress-bar progress-bar-info progress-bar-striped active" style="width: 100%"></div></div></div></div>');
  });
});
</script>
{% endblock %}
