{% extends 'ruolo_staff/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  <div class="panel panel-primary gs-mt-4" >
    <div class="panel-heading">
      <div class="panel-title">{{ form_title|trans }}</div>
    </div>
    <div class="panel-body gs-pt-0">
      <div class="row bg-success">
        <div class="col-sm-2 text-right"><strong class="gs-big">Data uscita:</strong></div>
        <div class="col-sm-4"><span class="gs-big">{{ label.data }}</span></div>
        <div class="col-sm-2 text-right"><strong class="gs-big">Classe:</strong></div>
        <div class="col-sm-4"><span class="gs-big">{{ label.classe }}</span></div>
      </div>
      <div class="row bg-success gs-mb-3">
        <div class="col-sm-2 text-right"><strong class="gs-big">Alunno:</strong></div>
        <div class="col-sm-4"><span class="gs-big">{{ label.alunno }}</span></div>
  {% if app.session.get('/CONFIG/SCUOLA/gestione_uscite') == 'A' %}
        <div class="col-sm-2 text-right"><strong class="gs-big">Richiesta:</strong></div>
        <div class="col-sm-4"><span class="label label-{{ label.richiesta ? 'success' : 'danger' }} gs-big">{{ label.richiesta ? 'PRESENTE' : 'NESSUNA' }}</span></div>
  {% endif %}
      </div>
  {% if label.richiesta %}
      <div class="row bg-info gs-mb-3">
        <div class="col-sm-3 text-right"><strong>Motivazione richiesta:</strong></div>
        <div class="col-sm-9"><em>{{ label.richiesta.valori.motivazione }}</em></div>
        <div class="col-sm-3 text-right"><strong>Documenti richiesta:</strong></div>
        <div class="col-sm-9">
          <a class="btn btn-xs btn-info gs-mr-2 gs-mb-2" href="{{ path('richieste_download', {id: label.richiesta.id}) }}" title="Scarica il modulo di richiesta compilato">
            <span class="glyphicon glyphicon-download gs-mr-1"></span><strong>Scarica il modulo compilato</strong>
          </a>
          {% for a in label.richiesta.allegati %}
          <a class="btn btn-xs btn-info gs-mr-2 gs-mb-2" href="{{ path('richieste_download', {id:  label.richiesta.id, documento: loop.index}) }}" title="Scarica l'allegato alla richiesta">
            <span class="glyphicon glyphicon-download gs-mr-1"></span><strong>Scarica l'allegato {{ loop.index }}</strong>
          </a>
          {% endfor %}
        </div>
      </div>
  {% endif %}
      {{ form_start(form) }}
      {{ form_widget(form) }}
      <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <button type="submit" id="{{ form.vars.full_name }}_submit" name="{{ form.vars.full_name }}[submit]" class="btn-default gs-mr-3 btn">{{ 'label.submit'|trans }}</button>
  {% if btn_delete %}
          <button type="submit" id="{{ form.vars.full_name }}_delete" name="{{ form.vars.full_name }}[delete]" class="btn-danger gs-mr-3 btn">{{ 'label.delete'|trans }}</button>
  {% endif %}
          <button type="button" id="{{ form.vars.full_name }}_cancel" name="{{ form.vars.full_name }}[cancel]" onclick="location.href='{{ path('staff_studenti_autorizza') }}'" class="btn-default btn">{{ 'label.cancel'|trans }}</button>
        </div>
      </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script src="{{ asset('vendor/moment/js/moment.min.js') }}"></script>
<script src="{{ asset('vendor/moment/locales/it.js') }}"></script>
<script src="{{ asset('vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
<script>
$(document).ready(function() {
  $('#{{ form.vars.id }} .input-group.time').datetimepicker({
    format: "HH:mm",
    enabledHours: [8, 9, 10, 11, 12 ,13],
    useCurrent: false,
    tooltips: {
      incrementHour: 'Incrementa l\'ora',
      pickHour: 'Imposta l\'ora',
      decrementHour:'Decrementa l\'ora',
      incrementMinute: 'Incrementa i minuti',
      pickMinute: 'Imposta i minuti',
      decrementMinute:'Decrementa i minuti'
      },
    widgetPositioning: { horizontal: 'left' },
    allowInputToggle: true
    });
  $('#{{ form.vars.id }} .input-group.time').datetimepicker()
    .on('dp.show', function(){
      $(this).find('a.btn').addClass('btn-primary');
  });
});
</script>
{% endblock %}
