{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% if form_success %}
<div class="has-success"><span class="help-block"><strong><span class="glyphicon glyphicon-ok gs-mr-2" aria-hidden="true"></span>{{ form_success|trans }}</strong></span></div>
{% endif %}
{% if form_help %}
<div class="help-block">{{ form_help|trans }}</div>
{% endif %}
{{ form_start(form, {'attr': {'class': 'form-inline gs-mb-2'}}) }}
{{ form_widget(form) }}
{{ form_end(form) }}
