{% extends 'lezioni/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  <h1 class="text-center gs-h1 gs-mt-2">{{ titolo|trans({classe: info.classe}) }}</h1>
  {% if dati.uniche is empty and dati.multiple is empty %}
  <div class="alert alert-warning" role="alert">
    <strong class="gs-big">{{ 'message.no_moduli_classe'|trans }}</strong>
  </div>
  {% else %}
    {% if info.scheda_evacuazione is defined %}
  <div class="alert alert-info text-center">
    <strong class="gs-big"><a href="{{ path('richieste_evacuazione', {classe: info.scheda_evacuazione}) }}"><span class="glyphicon glyphicon-file gs-mr-2"></span><span class="gs-text-normal">Scheda Evacuazione: designazione studenti apri-file, chiudi-fila e assistenti</span></a></strong>
  </div>
    {% endif %}
    {% for mk,mv in dati.uniche %}
  <div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title gs-h3">{{ mv.nome }}</h3></div>
    <div class="panel-body">
      {% if dati.richieste[mk] is defined %}
      <div class="col-sm-6 gs-big">
        <strong>Invio richiesta: </strong>{{ dati.richieste[mk].nuove[0].inviata|date('d/m/Y H:i') }}
      </div>
      <div class="col-sm-6 gs-big">
        {% if mv.gestione %}
        <strong>Stato: </strong>
          {% if dati.richieste[mk].nuove[0].stato == 'I' %}
        <strong class="text-danger">IN ATTESA</strong>
          {% else %}
        <strong class="text-success">GESTITA</strong>
          {% endif %}
        {% endif %}
      </div>
        {% if dati.richieste[mk].nuove[0].messaggio %}
      <div class="col-sm-12 gs-big">
        <div class="alert alert-info"><em>{{ dati.richieste[mk].nuove[0].messaggio }}</em></div>
      </div>
        {% endif %}
      <div class="col-sm-12">
        <a class="btn btn-xs btn-info gs-mr-2 gs-mb-2" href="{{ path('richieste_download', {id: dati.richieste[mk].nuove[0].id}) }}" title="Scarica il modulo compilato">
          <span class="glyphicon glyphicon-download gs-mr-1"></span><strong>Scarica il modulo compilato</strong>
        </a>
        {% for a in dati.richieste[mk].nuove[0].allegati %}
        <a class="btn btn-xs btn-info gs-mr-2 gs-mb-2" href="{{ path('richieste_download', {id: dati.richieste[mk].nuove[0].id, documento: loop.index}) }}" title="Scarica l'allegato al modulo">
          <span class="glyphicon glyphicon-download gs-mr-1"></span><strong>Scarica l'allegato {{ loop.index }}</strong>
        </a>
        {% endfor %}
      </div>
        {% if dati.richieste[mk].nuove[0].delete %}
      <div class="text-right">
        <button class="btn btn-danger gs-modal-confirm-button" title="Cancella il modulo inviato" data-toggle="modal" data-target="#gs-modal-confirm" data-href="{{ path('richieste_classe_delete', {classe: info.classe.id, id: dati.richieste[mk].nuove[0].id}) }}" data-text="{{ 'message.cancella_modulo'|trans }}"><strong>{{ 'label.delete'|trans }}</strong></button>
      </div>
        {% endif %}
      {% else %}
      <div class="text-right">
        <a class="btn btn-primary" href="{{ path('richieste_classe_add', {classe: info.classe.id, modulo: mk}) }}" title="Invia una nuovo modulo">
          <strong>{{ 'label.add'|trans }}</strong>
        </a>
        <a class="btn btn-default gs-ml-3" href="{{ path('lezioni_registro_firme') }}"><strong>{{ 'label.back'|trans }}</strong></a>
      </div>
      {% endif %}
    </div>
  </div>
    {% endfor %}
    {% for mk,mv in dati.multiple %}
  <div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title gs-h3">{{ mv.nome }}</h3></div>
      {% if dati.richieste[mk].nuove is defined %}
    <ul class="list-group">
        {% for rv in dati.richieste[mk].nuove %}
      <li class="list-group-item container-fluid">
        <div class="col-sm-6 gs-big">
          <strong>Modulo per il giorno: </strong>{{ rv.data|date('d/m/Y') }}
        </div>
        <div class="col-sm-6 gs-big">
          {% if mv.gestione %}
          <strong>Stato: </strong>
            {% if rv.stato == 'I' %}
          <strong class="text-danger">IN ATTESA</strong>
            {% else %}
          <strong class="text-success">GESTITA</strong>
            {% endif %}
          {% endif %}
        </div>
          {% if rv.messaggio %}
        <div class="col-sm-12 gs-big">
          <div class="alert alert-info"><em>{{ rv.messaggio }}</em></div>
        </div>
          {% endif %}
        <div class="col-sm-12">
          <a class="btn btn-xs btn-info gs-mr-2 gs-mb-2" href="{{ path('richieste_download', {id: rv.id}) }}" title="Scarica il modulo compilato">
            <span class="glyphicon glyphicon-download gs-mr-1"></span><strong>Scarica il modulo compilato</strong>
          </a>
          {% for a in rv.allegati %}
          <a class="btn btn-xs btn-info gs-mr-2 gs-mb-2" href="{{ path('richieste_download', {id: rv.id, documento: loop.index}) }}" title="Scarica l'allegato al modulo">
            <span class="glyphicon glyphicon-download gs-mr-1"></span><strong>Scarica l'allegato {{ loop.index }}</strong>
          </a>
        </div>
          {% endfor %}
          {% if rv.stato == 'I' and rv.delete %}
          <div class="text-right">
            <button class="btn btn-danger gs-modal-confirm-button" title="Cancella il modulo inviato" data-toggle="modal" data-target="#gs-modal-confirm" data-href="{{ path('richieste_classe_delete', {classe: info.classe.id, id: rv.id}) }}" data-text="{{ 'message.cancella_modulo'|trans }}"><strong>{{ 'label.delete'|trans }}</strong></button>
          </div>
          {% endif %}
      </li>
        {% endfor %}
    </ul>
      {% endif %}
    <div class="panel-footer text-right">
      <a class="btn btn-primary" href="{{ path('richieste_classe_add', {classe: info.classe.id, modulo: mk}) }}" title="Invia un nuovo modulo">
        <strong>{{ 'label.add'|trans }}</strong>
      </a>
      {% if dati.richieste[mk].vecchie is defined %}
      <button class="btn btn-default gs-modal-confirm-button gs-ml-3" title="Visualizza moduli precedenti" data-toggle="modal" data-target="#gs-modal-info" data-title="{{ mv.nome}}<br>Visualizza moduli precedenti" data-body="gs-richieste-scadute"><strong>Vecchi moduli</strong></button>
      <ul id="gs-richieste-scadute" class="list-group" style="display:none">
        {% for rv in dati.richieste[mk].vecchie %}
        <li class="list-group-item">
          <div class="gs-big">
            <strong>Modulo per il giorno: </strong>{{ rv.data|date('d/m/Y') }}
          </div>
            {% if rv.messaggio %}
          <div class="alert alert-info"><em>{{ rv.messaggio }}</em></div>
            {% endif %}
          <div>
            <a class="btn btn-xs btn-info gs-mr-2 gs-mb-2" href="{{ path('richieste_download', {id: rv.id}) }}" title="Scarica il modulo compilato">
              <span class="glyphicon glyphicon-download gs-mr-1"></span><strong>Scarica il modulo compilato</strong>
            </a>
            {% for a in rv.allegati %}
            <a class="btn btn-xs btn-info gs-mr-2 gs-mb-2" href="{{ path('richieste_download', {id: rv.id, documento: loop.index}) }}" title="Scarica l'allegato al modulo">
              <span class="glyphicon glyphicon-download gs-mr-1"></span><strong>Scarica l'allegato {{ loop.index }}</strong>
            </a>
          </div>
            {% endfor %}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      <a class="btn btn-default gs-ml-3" href="{{ path('lezioni_registro_firme') }}"><strong>{{ 'label.back'|trans }}</strong></a>
    </div>
  </div>
    {% endfor %}
  {% endif %}
  {% include 'include/modal-confirm.html.twig' with {'modal_confirm_msg': 'message.cancella_modulo'} %}
  {% include 'include/modal-info.html.twig' %}
</div>
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script>
$(document).ready(function() {
  $('#gs-modal-confirm').on('show.bs.modal', function (event) {
    var href = $(event.relatedTarget).data('href');
    $(this).find('#gs-modal-confirm-yes').attr('href', href);
    var text = $(event.relatedTarget).data('text');
    $(this).find('#gs-modal-confirm-msg').text(text);
  });
  $('#gs-modal-info').on('show.bs.modal', function (event) {
    var title = $(event.relatedTarget).data('title');
    var id = $(event.relatedTarget).data('body');
    var html = $('#'+id).html();
    $(this).find('#gs-modal-info-label').html(title);
    $(this).find('#gs-modal-info-body').html(html);
  });
});
</script>
{% endblock %}
