<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">
    <span class="glyphicon glyphicon-remove gs-mr-2" aria-hidden="true"></span>
    <span class="sr-only">{{ 'label.close'|trans }}</span>
  </button>
  <h3 class="modal-title gs-h3">{{ data|date('d/m/Y') }}</h3>
  <h4 class="modal-title gs-h4"><em>Attività previste</em></h4>
</div>
<div class="modal-body">
{% for a in dati.attivita %}
  <div class="alert alert-info gs-mt-0 gs-mb-2 gs-pt-2 gs-pb-2 gs-pr-2 gs-pl-2" role="alert">
    <div class="gs-text-normal _gs-mt-2">
      <strong class="gs-big">Classi:</strong>
      <strong>{% for c in a.classi %}{{ c.anno }}ª {{ c.sezione }}{{ not loop.last ? ', ' }}{% endfor %}</strong>
    </div>
    <div class="gs-text-normal">{{ a.testo|nl2br }}</div>
    <div class="text-right gs-text-normal"><em>({{ a.avviso.docente.nome }} {{ a.avviso.docente.cognome }})</em></div>
  </div>
{% endfor %}
</div>
