{% extends 'coordinatore/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  {% if not classe %}
  <div class="alert alert-warning gs-mt-4" role="alert">
    <strong class="gs-big">{{ 'message.classe_mancante'|trans }}</strong>
  </div>
  {% else %}
  <h1 class="text-center gs-h1 gs-mt-2 gs-mb-3">{{ 'title.coordinatore_assenze'|trans }} {{ classe }}</h1>
  <div class="row gs-mb-1">
    <div class="col-sm-12 text-right">
      <a class="btn btn-success btn-sm" href="{{ path('coordinatore_assenze', {'classe': classe.id, 'tipo': 'P'}) }}" role="button" title="Scarica il documento in formato PDF"><span class="glyphicon glyphicon-print gs-mr-3"></span><strong>{{ 'label.stampa'|trans }}</strong></a>
    </div>
  </div>
  <table class="table table-bordered table-hover table-striped">
    <thead class="bg-success">
      <tr>
        <th class="col-sm-5">Alunno</th>
        <th class="col-sm-1">Assenze</th>
        <th class="col-sm-1">Ritardi<br>(brevi)</th>
        <th class="col-sm-1">Conteggio<br>Ritardi</th>
        <th class="col-sm-1">Uscite</th>
        <th class="col-sm-1">Conteggio<br>Uscite</th>
        <th class="col-sm-2">Ore totali<br>e % su {{ dati.monte }}</th>
      </tr>
    </thead>
    <tbody>
    {% for alunno,a in dati.alunni %}
      <tr>
        <td>
          <button type="button" class="btn btn-xs btn-default" title="Dettagli alunno" data-toggle="modal" data-target="#gs-modal-info" data-title="{{ a.cognome }} {{ a.nome }} ({{ a.dataNascita|date('d/m/Y') }})" data-body="alunno-{{ loop.index }}"><span class="glyphicon glyphicon-zoom-in"></span></button>
          <strong>{{ a.cognome }} {{ a.nome }} ({{ a.dataNascita|date('d/m/Y') }})</strong>
      {% if a.cambio %}
          <br><em class="text-danger">{{ a.cambio }}</em>
      {% endif %}
      {% if a.frequenzaEstero %}
          <br><em class="text-danger">Frequenta all'estero</em>
      {% endif %}
          {% include 'include/scheda-alunno.html.twig' with {id: loop.index, a: a, g: dati.genitori[a.id]} %}
        </td>
        <td>
      {% if dati.statistiche[alunno].assenze is defined %}
          <strong>{{ dati.statistiche[alunno].assenze }}</strong>
        {% if dati.statistiche[alunno]['giustifica-ass'] > 0 %}
          <span class="label label-danger gs-ml-3" data-placement="auto left" data-toggle="popover" data-trigger="hover" data-content="Assenze da giustificare">{{ dati.statistiche[alunno]['giustifica-ass'] }}</span>
        {% endif %}
      {% else %}
          <strong>0</strong>
      {% endif %}
        </td>
        <td>
      {% if dati.statistiche[alunno].ritardi is defined %}
          <strong>{{ dati.statistiche[alunno].ritardi }}</strong> ({{ dati.statistiche[alunno].brevi }})
        {% if dati.statistiche[alunno]['giustifica-rit'] > 0 %}
          <span class="label label-danger gs-ml-3" data-placement="auto left" data-toggle="popover" data-trigger="hover" data-content="Ritardi da giustificare">{{ dati.statistiche[alunno]['giustifica-rit'] }}</span>
        {% endif %}
      {% else %}
          <strong>0</strong>
      {% endif %}
        </td>
        <td>
      {% if dati.statistiche[alunno].ritardi is defined and dati.statistiche[alunno]['conta-ritardi'] > 0 %}
          <span class="label label-warning gs-ml-3" data-placement="auto left" data-toggle="popover" data-trigger="hover" data-content="Validi per il conteggio del numero massimo di ritardi">{{ dati.statistiche[alunno]['conta-ritardi'] }}</span>
      {% else %}
          <strong>0</strong>
      {% endif %}
        </td>
        <td>
      {% if dati.statistiche[alunno].uscite is defined %}
          <strong>{{ dati.statistiche[alunno].uscite }}</strong>
      {% else %}
          <strong>0</strong>
      {% endif %}
        </td>
        <td>
      {% if dati.statistiche[alunno].uscite is defined and dati.statistiche[alunno]['conta-uscite'] > 0 %}
          <span class="label label-warning gs-ml-3" data-placement="auto left" data-toggle="popover" data-trigger="hover" data-content="Valide per il conteggio del numero massimo di uscite anticipate">{{ dati.statistiche[alunno]['conta-uscite'] }}</span>
      {% else %}
          <strong>0</strong>
      {% endif %}
        </td>
        <td>
      {% if dati.statistiche[alunno].ore is defined %}
          <strong>{{ dati.statistiche[alunno].ore }}</strong>
          <span class="label label-{{ dati.statistiche[alunno].livello }} gs-ml-3">{{ dati.statistiche[alunno].perc }}%</span>
      {% else %}
          <strong>0</strong>
      {% endif %}
        </td>
    {% endfor %}
    </tbody>
  </table>
    {% if dati.trasferiti|length > 0 %}
  <table class="table table-bordered table-hover table-striped">
    <caption class="text-center text-primary gs-h2">Traferiti o ritirati</caption>
    <thead class="bg-success">
      <tr>
        <th class="col-sm-5">Alunno</th>
        <th class="col-sm-7">Situazione</th>
      </tr>
    </thead>
    <tbody>
    {% for alunno,a in dati.trasferiti %}
      <tr>
        <td>
          <strong>{{ a.cognome }} {{ a.nome }} ({{ a.dataNascita|date('d/m/Y') }})</strong>
        </td>
        <td>
          <strong class="text-danger">{{ a.cambio }}</strong>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
    {% endif %}
    {% include 'include/modal-info.html.twig' %}
  {% endif %}
</div>
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script>
$(document).ready(function() {
  $('[data-toggle="popover"]').popover();
  $('#gs-modal-info').on('show.bs.modal', function (event) {
    var title = $(event.relatedTarget).data('title');
    var id = $(event.relatedTarget).data('body');
    var html = $('#'+id).html();
    $(this).find('#gs-modal-info-label').text(title);
    $(this).find('#gs-modal-info-body').html(html);
  });
  $('#gs-modal-info').on('shown.bs.modal', function (e) {
    $('body').addClass('modal-open');
    $('button.gs-show-hide').on('click', function (e) {
      var el = $(this).parent().siblings('div');
      if (el.is(':visible')) {
        el.fadeOut();
        $(this).attr('title', 'Apre la scheda con le informazioni riservate');
        $(this).find('strong span').attr('class', 'glyphicon glyphicon-resize-full gs-mr-2');
      } else {
        el.fadeIn();
        $(this).attr('title', 'Chiude la scheda con le informazioni riservate');
        $(this).find('strong span').attr('class', 'glyphicon glyphicon-resize-small gs-mr-2');
      }
    });
  });
});
</script>
{% endblock %}
