{{ form_start(form) }}
  <div class="modal-header">
    <h3 class="modal-title gs-h3">Scrutinio di <span class="text-info">{{ alunno.cognome }} {{ alunno.nome }}</span> - Classe {{ alunno.classe.anno~'ª '~alunno.classe.sezione }}</h3>
  </div>
  <div class="modal-body">
    <ul id="gs-form-collection" class="list-group">
  {% set valutazioni = ['NC', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
    null, null, null, null, null, null, null, null, null,
    'NC', 'Insufficiente', 'Sufficiente', 'Discreto', 'Buono', 'Distinto', 'Ottimo'] %}
  {% for voto in dati.voti %}
      <li class="list-group-item gs-pt-1 gs-pb-1">
        <div class="form-group gs-mb-0">
          <label class="control-label col-sm-6 gs-pl-1 gs-pr-1">{{ dati.materie[voto.materia.id].nomeBreve }}</label>
          <div class="col-sm-6">
            <span style="display:inline-block;width:7em;" class="label label-{{ (voto.unico < 5 or (voto.unico >= 20 and voto.unico < 22)) ? 'danger' : (voto.unico < 6 ? 'warning' : 'success') }} gs-big">{{ valutazioni[voto.unico] }}</span>
          </div>
        </div>
      </li>
  {% endfor %}
      <li class="list-group-item gs-pt-0 gs-pb-0">
        <div class="form-group gs-mb-0">
          <div class="col-sm-6 text-center gs-mt-2 gs-mb-2">
            <strong class="gs-big gs-mr-2">Media</strong>
            <span class="label label-info gs-big">{{ dati.esito.media|number_format(2,',') }}</span>
          </div>
          <div class="col-sm-6 text-center gs-mt-2 gs-mb-2">
            <strong class="gs-big gs-mr-2">Assenze</strong>
            <span class="label label-info gs-big">{{ dati.scrutinio.dati.scrutinabili[alunno.id].percentuale|number_format(2,',') }}%</span>
          </div>
        </div>
      </li>
    </ul>
    <div>
      <div><strong><em>Livelli relativi all’acquisizione delle competenze di ciascun asse:</strong></em></div>
      <ul>
        <li><strong>LIVELLO BASE</strong>: lo studente svolge compiti semplici in situazioni note, mostrando di possedere conoscenze ed abilità essenziali e di saper applicare regole e procedure fondamentali.</li>
        <li><strong>LIVELLO INTERMEDIO</strong>: lo studente svolge compiti e risolve problemi complessi in situazioni note, compie scelte consapevoli, mostrando di saper utilizzare le conoscenze e le abilità acquisite.</li>
        <li><strong>LIVELLO AVANZATO</strong>: lo studente svolge compiti e problemi complessi in situazioni anche non note, mostrando padronanza nell’uso delle conoscenze e delle abilità.</li>
      </ul>
    </div>
    <div class="form-group bg-success gs-mb-1 gs-pb-2 gs-pt-2">
      <label class="col-sm-12 text-center gs-mb-0">{{ 'label.certificazione_italiano'|trans }}</label>
      <div class="col-sm-12">
        <ul class="gs-mb-0">
          <li>Padroneggiare gli strumenti espressivi ed argomentativi indispensabili per gestire l’interazione comunicativa verbale in vari contesti</li>
          <li>Leggere comprendere e interpretare testi scritti di vario tipo</li>
          <li>Produrre testi di vario tipo in relazione ai differenti scopi comunicativi</li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3">
        {{ form_widget(form.certificazione_italiano) }}
      </div>
      <label class="control-label col-sm-3">Motivazione</label>
      <div class="col-sm-9">
        {{ form_widget(form.certificazione_italiano_motivazione) }}
      </div>
    </div>
    <div class="form-group bg-success gs-mb-1 gs-pb-2 gs-pt-2">
      <label class="col-sm-12 text-center gs-mb-0">{{ 'label.certificazione_lingua'|trans }}</label>
      <div class="col-sm-12">
        <ul class="gs-mb-0">
          <li>Utilizzare la lingua Inglese per i principali scopi comunicativi ed operativi</li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3">
        {{ form_widget(form.certificazione_lingua) }}
      </div>
      <label class="control-label col-sm-3">Motivazione</label>
      <div class="col-sm-9">
        {{ form_widget(form.certificazione_lingua_motivazione) }}
      </div>
    </div>
    <div class="form-group bg-success gs-mb-1 gs-pb-2 gs-pt-2">
      <label class="col-sm-12 text-center gs-mb-0">{{ 'label.certificazione_linguaggio'|trans }}</label>
      <div class="col-sm-12">
        <ul class="gs-mb-0">
          <li>Utilizzare gli strumenti fondamentali per una fruizione consapevole del patrimonio artistico e letterario</li>
          <li>Utilizzare e produrre testi multimediali</li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3">
        {{ form_widget(form.certificazione_linguaggio) }}
      </div>
      <label class="control-label col-sm-3">Motivazione</label>
      <div class="col-sm-9">
        {{ form_widget(form.certificazione_linguaggio_motivazione) }}
      </div>
    </div>
    <div class="form-group bg-success gs-mb-1 gs-pb-2 gs-pt-2">
      <label class="col-sm-12 text-center gs-mb-0">{{ 'label.certificazione_matematica'|trans }}</label>
      <div class="col-sm-12">
        <ul class="gs-mb-0">
          <li>Utilizzare le tecniche e le procedure del calcolo aritmetico ed algebrico, rappresentandole anche sotto forma grafica</li>
          <li>Confrontare ed analizzare figure geometriche, individuando invarianti e relazioni</li>
          <li>Individuare le strategie appropriate per la soluzione dei problemi</li>
          <li>Analizzare dati e interpretarli sviluppando deduzioni e ragionamenti sugli stessi anche con l’ausilio di rappresentazioni grafiche, usando consapevolmente gli strumenti di calcolo e le potenzialità offerte da applicazioni specifiche di tipo informatico</li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3">
        {{ form_widget(form.certificazione_matematica) }}
      </div>
      <label class="control-label col-sm-3">Motivazione</label>
      <div class="col-sm-9">
        {{ form_widget(form.certificazione_matematica_motivazione) }}
      </div>
    </div>
    <div class="form-group bg-success gs-mb-1 gs-pb-2 gs-pt-2">
      <label class="col-sm-12 text-center gs-mb-0">{{ 'label.certificazione_scienze'|trans }}</label>
      <div class="col-sm-12">
        <ul class="gs-mb-0">
          <li>Osservare, descrivere ed analizzare fenomeni appartenenti alla realtà naturale e artificiale e riconoscere nelle varie forme i concetti di sistema e di complessità</li>
          <li>Analizzare qualitativamente e quantitativamente fenomeni legati alle trasformazioni di energia a partire dall’esperienza</li>
          <li>Essere consapevoli delle potenzialità e dei limiti delle tecnologie nel contesto culturale e sociale in cui vengono applicate</li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3">
        {{ form_widget(form.certificazione_scienze) }}
      </div>
      <label class="control-label col-sm-3">Motivazione</label>
      <div class="col-sm-9">
        {{ form_widget(form.certificazione_scienze_motivazione) }}
      </div>
    </div>
    <div class="form-group bg-success gs-mb-1 gs-pb-2 gs-pt-2">
      <label class="col-sm-12 text-center gs-mb-0">{{ 'label.certificazione_storia'|trans }}</label>
      <div class="col-sm-12">
        <ul class="gs-mb-0">
          <li>Comprendere il cambiamento e la diversità dei tempi storici in una dimensione diacronica attraverso il confronto fra epoche e in una dimensione sincronica attraverso il confronto fra aree geografiche e culturali</li>
          <li>Collocare l’esperienza personale in un sistema di regole fondato sul reciproco riconoscimento dei diritti garantiti dalla Costituzione, a tutela della persona, della collettività e dell’ambiente</li>
          <li>Riconoscere le caratteristiche essenziali del sistema socio economico per orientarsi nel tessuto produttivo del proprio territorio</li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3">
        {{ form_widget(form.certificazione_storia) }}
      </div>
      <label class="control-label col-sm-3">Motivazione</label>
      <div class="col-sm-9">
        {{ form_widget(form.certificazione_storia_motivazione) }}
      </div>
    </div>
  <div class="modal-footer">
    {{ form_widget(form.submit, {attr: {class: 'btn-primary'}}) }}
    <button type="button" class="btn-default btn" data-dismiss="modal">{{ 'label.cancel'|trans }}</button>
  </div>
  {{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false}) }}

<script>
$(document).ready(function() {
  $('select').change(function(e) {
    var t=$(this).parent().parent().find('textarea');
    var l=$(this).parent().next('label');
    if ($(this).val() == 'N') {
      t.fadeIn();
      l.fadeIn();
    } else {
      t.val('');
      t.fadeOut();
      l.fadeOut();
    }
  }).change();
});
</script>
