{{ form_start(form) }}
  <div class="modal-header">
    <h3 class="modal-title gs-h3">Scrutinio di <span class="text-info">{{ alunno.cognome }} {{ alunno.nome }}</span> - Classe {{ alunno.classe }}</h3>
  </div>
  <div class="modal-body">
    <ul id="gs-form-collection" class="list-group">
  {% for voto in dati.voti %}
      <li class="list-group-item gs-pt-1 gs-pb-1">
        <div class="form-group gs-mb-0">
          <label class="control-label col-sm-6 gs-pl-1 gs-pr-1">{{ dati.materie[voto.materia.id].nomeBreve }}</label>
          <div class="col-sm-6">
            <span style="display:inline-block;width:7em;" class="label label-{{ voto.unico < dati.valutazioni[dati.materie[voto.materia.id].tipo].med ? 'danger' : (voto.unico < dati.valutazioni[dati.materie[voto.materia.id].tipo].suff ? 'warning' : 'success') }} gs-big">{{ dati.valutazioni[dati.materie[voto.materia.id].tipo].lista[voto.unico] }}</span>
          </div>
        </div>
      </li>
  {% endfor %}
      <li class="list-group-item gs-pt-0 gs-pb-0">
        <div class="form-group gs-mb-0">
          <div class="col-sm-6 text-center gs-mt-2 gs-mb-2">
            <strong class="gs-big gs-mr-2">Media</strong>
            <span class="label label-info gs-big">{{ dati.esito.media|number_format(2,',') }}</span>
          </div>
          <div class="col-sm-6 text-center gs-mt-2 gs-mb-2">
            <strong class="gs-big gs-mr-2">Assenze</strong>
            <span class="label label-info gs-big">{{ dati.scrutinio.dati.scrutinabili[alunno.id].percentuale|number_format(2,',') }}%</span>
          </div>
        </div>
      </li>
    </ul>
    <div class="form-group bg-success gs-mb-1">
      <label class="col-sm-4 control-label gs-big">{{ 'label.credito_scolastico'|trans }}</label>
      <div class="col-sm-8">
  {% if form.creditoCondotta.vars.value and form.creditoQuinta.vars.value %}
    {% for f in form.creditoScolastico.children %}
          {{ form_widget(f) }}
    {% endfor %}
  {% else %}
    <div class="gs-pt-5 gs-pb-4 gs-ml-4 gs-pl-2">
      <p><strong><em>{{ (form.creditoCondotta.vars.value == 0 ? 'label.criterio_credito_condotta_no' : 'label.criterio_credito_quinta_no')|trans }}</em></strong></p>
    </div>
  {% endif %}
        {{ form_widget(form.creditoCondotta) }}
        {{ form_widget(form.creditoQuinta) }}
      </div>
    </div>
    <div class="form-group gs-mb-0">
      <label class="col-sm-4 control-label gs-big">Punteggio attribuito</label>
      <div class="col-sm-8 gs-mt-2">
        <span id="gs-credito-alunno" class="label label-info gs-big">{{ dati.credito }}</span>
        <strong class="gs-big gs-ml-3">(intervallo: {{ dati.credito }} - {{ dati.credito + 1 }})</strong>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    {{ form_widget(form.submit, {attr: {class: 'btn-primary'}}) }}
    <button type="button" class="btn-default btn" data-dismiss="modal">{{ 'label.cancel'|trans }}</button>
  </div>
  {{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false}) }}

<script>
$(document).ready(function() {
  $('input[type=checkbox]').change(function(e) {
    var c=0;
    $('input[type=checkbox]').each(function(i,e) {
      if (e.checked) {
        c++;
      }
    });
    if (c>=2 && {{ form.creditoQuinta.vars.value ? 'true' : 'false'}}) {
      var v={{ dati.credito }}+1;
      var cl='label-success';
    } else {
      var v={{ dati.credito }};
      var cl='label-info';
    }
    $('#gs-credito-alunno').text(v).removeClass('label-info label-success').addClass(cl);
    var l=$(this).parent();
    if ($(this).is(':checked')) {
      l.css('font-weight', 'bold');
    } else {
      l.css('font-weight', 'normal');
    }
  }).change();
});
</script>
