{{ form_start(form) }}
  <div class="modal-header">
    <h3 class="modal-title gs-h3">Scrutinio di <span class="text-info">{{ alunno.cognome }} {{ alunno.nome }}</span> - Classe {{ classe }}</h3>
  </div>
  <div class="modal-body">
    <ul id="gs-form-collection" class="list-group">
  {% for voto in form.lista %}
      <li class="list-group-item gs-pt-2 gs-pb-2">
        <div class="form-group gs-mb-0">
          <label class="control-label col-sm-3 gs-pl-1 gs-pr-1" for="{{ voto.unico.vars.id }}">{{ dati.materie[voto.vars.value.materia.id].nomeBreve }}</label>
          <div class="col-sm-9">
            <span style="display:inline-block;width:7em;padding:0.6em 0.2em;" class="label label-{{ voto.unico.vars.value < dati.valutazioni[dati.materie[voto.vars.value.materia.id].tipo].med ? 'danger' : (voto.unico.vars.value < dati.valutazioni[dati.materie[voto.vars.value.materia.id].tipo].suff ? 'warning' : 'success') }} gs-mr-4 gs-big">{{ dati.valutazioni[dati.materie[voto.vars.value.materia.id].tipo].lista[voto.unico.vars.value] }}</span>
    {% if dati.materie[voto.vars.value.materia.id].tipo == 'E' %}
            <div style="display:inline-block">{{ form_widget(voto.unico, {'attr': {'class': 'slider-civica', 'data-slider-value': voto.unico.vars.value}}) }}</div>
    {% elseif dati.materie[voto.vars.value.materia.id].tipo == 'N' %}
            <div style="display:inline-block">{{ form_widget(voto.unico, {'attr': {'class': 'slider', 'data-slider-value': voto.unico.vars.value}}) }}</div>
    {% else %}
            {{ form_widget(voto.unico) }}
    {% endif %}
          </div>
        </div>
        {{ form_widget(voto.alunno) }}
      </li>
  {% endfor %}
    </ul>
    <div class="form-group gs-mb-2">
      <label class="control-label col-sm-2" for="{{ form.esito.vars.id }}">Esito</label>
      <div class="col-sm-10">
        {{ form_widget(form.esito) }}
      </div>
    </div>
    <div id="gs-scrutinio-giudizio" class="form-group gs-mb-2" style="display:none">
      <label class="control-label col-sm-2" for="{{ form.giudizio.vars.id }}">Motivazione</label>
      <div class="col-sm-10">
        {{ form_widget(form.giudizio, {'attr': {'rows': 4}}) }}
      </div>
    </div>
    <div id="gs-delibera" class="form-group gs-mb-2">
      <label class="control-label col-sm-2" >Delibera</label>
      <div id="gs-scrutinio-unanimita" class="col-sm-6">
        {{ form_widget(form.unanimita) }}
      </div>
    </div>
    <div id="row_{{ form.unanimita.vars.id }}" class="form-group" style="display:none">
      <label class="control-label col-sm-2 col-sm-offset-2" for="{{ form.contrari.vars.id }}">Contrari</label>
      <div class="col-sm-8">
        {{ form_widget(form.contrari, {attr: {title: 'Nomi dei docenti contrari'}}) }}
      </div>
    </div>
  </div>
  <div class="modal-footer">
    {{ form_widget(form.submit, {attr: {class: 'btn-primary'}}) }}
    <button type="button" class="btn-default btn" data-dismiss="modal">{{ 'label.cancel'|trans }}</button>
  </div>
  {{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false}) }}

<script>
var votiN = [{{ dati.valutazioni['N'].voti|raw }}];
var votiE = [{{ dati.valutazioni['E'].voti|raw }}];
var inizio = 1;
$(document).ready(function() {
  $("#gs-form-collection input.slider").slider({
    min: {{ dati.valutazioni['N'].min }},
    max: {{ dati.valutazioni['N'].max }},
    step: 1,
    ticks: [{{ dati.valutazioni['N'].valori }}],
    ticks_labels: [{{ dati.valutazioni['N'].etichette|raw }}],
    ticks_snap_bounds: 0,
    focus: true,
    formatter: function(val) { return votiN[val - {{ dati.valutazioni['N'].min }}]; },
    natural_arrow_keys: true
  });
  $("#gs-form-collection").on("change", "input.slider", function(e) {
    var d = [{{ dati.valutazioni['N'].votiAbbr|raw }}];
    var c = (e.value.newValue < {{ dati.valutazioni['N'].med }} ? 'label-danger' : (e.value.newValue < {{ dati.valutazioni['N'].suff }} ? 'label-warning' : 'label-success'));
    $(this).parent().siblings('span').removeClass('label-default label-success label-danger label-warning').addClass(c).text(d[e.value.newValue - {{ dati.valutazioni['N'].min }}]);
    inizio = 1;
    $('#esito_esito').change();
  });
  $("#gs-form-collection input.slider-civica").slider({
    min: {{ dati.valutazioni['E'].min }},
    max: {{ dati.valutazioni['E'].max }},
    step: 1,
    ticks: [{{ dati.valutazioni['E'].valori }}],
    ticks_labels: [{{ dati.valutazioni['E'].etichette|raw }}],
    ticks_snap_bounds: 0,
    focus: true,
    formatter: function(val) { return votiE[val - {{ dati.valutazioni['E'].min }}]; },
    natural_arrow_keys: true
  });
  $("#gs-form-collection").on("change", "input.slider-civica", function(e) {
    var d = [{{ dati.valutazioni['E'].votiAbbr|raw }}];
    var c = (e.value.newValue < {{ dati.valutazioni['E'].med }} ? 'label-danger' : (e.value.newValue < {{ dati.valutazioni['E'].suff }} ? 'label-warning' : 'label-success'));
    $(this).parent().siblings('span').removeClass('label-default label-success label-danger label-warning').addClass(c).text(d[e.value.newValue - {{ dati.valutazioni['E'].min }}]);
    inizio = 1;
    $('#esito_esito').change();
  });
  $('#gs-scrutinio-unanimita label.radio-inline input[type="radio"]').change(function() {
    if (this.value == 1 && this.checked) {
      $(this).parent().css('font-weight', 'bold');
      $(this).parent().siblings('label.radio-inline').css('font-weight', 'normal');
      $('#row_esito_unanimita').hide();
    } else if (this.checked) {
      $(this).parent().css('font-weight', 'bold');
      $(this).parent().siblings('label.radio-inline').css('font-weight', 'normal');
      $('#row_esito_unanimita').show();
    }
  }).change();
  $('#esito_esito').change(function() {
    if ($(this).val() == 'N') {
      if ($('#esito_giudizio').val() == '' || !inizio) {
        $('#esito_giudizio').val("{{ 'message.giudizio_non_ammissione_sospeso'|trans({'%sex%': (alunno.sesso == 'M' ? 'o' : 'a')})|raw }}");
      }
      $('#gs-delibera').fadeIn();
      $('#gs-scrutinio-giudizio').fadeIn();
    } else if ($(this).val() == 'A')  {
      if (!inizio) {
        $('#esito_giudizio').val('');
      }
      $('#gs-delibera').fadeIn();
      $('#gs-scrutinio-giudizio').fadeOut();
    } else if ($(this).val() == 'X') {
      if (!inizio) {
        $('#esito_giudizio').val("{{ 'message.giudizio_scrutinio_rinviato'|trans({'%sex%': (alunno.sesso == 'M' ? 'o' : 'a')})|raw }}");
      }
      $('#gs-esito-label').text("{{ 'label.motivazione_obbligatoria'|trans }}").addClass('text-danger').removeClass('text-success');
      $('#gs-scrutinio-giudizio').fadeIn();
      $('#gs-delibera').fadeOut();
    } else {
      $('#esito_giudizio').val('');
      $('#gs-scrutinio-giudizio').fadeOut();
    }
    inizio = 0;
  }).change();
});
</script>
