{% extends 'coordinatore/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  {% if not info.classe %}
  <div class="alert alert-warning gs-mt-4" role="alert">
    <strong class="gs-big">{{ 'message.classe_mancante'|trans }}</strong>
  </div>
  {% else %}
  <h1 class="text-center gs-h1 gs-mt-2 gs-mb-3">{{ 'title.coordinatore.moduliFormativi'|trans }} {{ info.classe }}</h1>
  <div class="row gs-mt-2">
    <div class="col-sm-8">
      <form name="{{ form[0].vars.name }}" method="{{ form[0].vars.method }}" class="form-inline">
        <div id="{{ form[0].vars.id }}">
          <div class="form-group gs-mr-2">
            <label class="sr-only control-label" for="{{ form[0].tipo.vars.id }}">{{ form[0].tipo.vars.label|trans }}</label>
            {{ form_widget(form[0].tipo) }}
          </div>
          <div class="form-group gs-mr-2">
            <label class="sr-only control-label" for="{{ form[0].moduloFormativo.vars.id }}">{{ form[0].moduloFormativo.vars.label|trans }}</label>
            {{ form_widget(form[0].moduloFormativo) }}
          </div>
          <div class="form-group">
            {{ form_widget(form[0].submit) }}
          </div>
          {{ form_widget(form[0]._token) }}
        </div>
      </form>
    </div>
    <div class="col-sm-4 text-right">
      <a class="btn btm-sm btn-success" href="{{ path('coordinatore_moduliFormativi_alunni', {classe: info.classe.id}) }}" role="button" title="Dettagli dei moduli formativi seguiti da ogni alunno"><strong>Situazione alunni</strong></a>
    </div>
  </div>
  <table class="table table-bordered table-hover table-striped">
    <caption class="text-center text-primary gs-h2">Numero totale di ore: {{ dati.ore }}</caption>
    <thead class="bg-success">
      <tr>
        <th class="col-sm-2">Data</th>
        <th class="col-sm-2">Materia</th>
        <th class="col-sm-6">Modulo formativo</th>
        <th class="col-sm-2">{{ 'label.action'|trans }}</th>
      </tr>
    </thead>
    <tbody>
    {% for m in dati.lista %}
      <tr>
        <td>{{ m.data|date('d/m/Y') }} {{ m.inizio|date('H:i') }}</td>
        <td>{{ m.materiaBreve }}</td>
        <td><small>{{ m.moduloBreve }}</small></td>
        <td>
          <button type="button" class="btn btn-xs btn-primary" title="Dettagli del modulo formativo" data-toggle="modal" data-target="#gs-modal-info" data-title="{{ ('label.modulo_formativo_tipo_'~m.tipo)|trans }}" data-body="lezione-{{ m.lezione_id }}"><strong>{{ 'label.show'|trans }}</strong></button>
          <div id="lezione-{{ m.lezione_id }}" style="display:none">
            <h3 class="gs-h3 text-center gs-mt-1 text-primary">{{ m.modulo }}</h3>
            <p><strong>Lezione:</strong> {{ m.data|date('d/m/Y') }} dalle {{ m.inizio|date('H:i') }} alle {{ m.fine|date('H:i') }}</p>
            <p><strong>Materia:</strong> {{ m.materia }}</p>
            <p><strong>Argomento:</strong> {{ m.argomento }}</p>
            <p><strong>Attività:</strong> {{ m.attivita }}</p>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% include 'include/modal-info.html.twig' %}
  {% endif %}
</div>
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script>
$(document).ready(function() {
  $('#filtro_tipo').change(function () {
    if ($('#filtro_tipo').val() == 'O') {
      $('#filtro_moduloFormativo').html(opt_O);
    } else if ($('#filtro_tipo').val() == 'P') {
      $('#filtro_moduloFormativo').html(opt_P);
    } else {
      $('#filtro_moduloFormativo').html(opt);
    }
  });
  $('#gs-modal-info').on('show.bs.modal', function (e) {
    var title = $(e.relatedTarget).data('title');
    var body = $('#'+$(e.relatedTarget).data('body')).html();
    $(this).find('#gs-modal-info-label').html(title);
    $(this).find('#gs-modal-info-body').html(body);
  });
  // init
  var opt = '<option value="">Qualsiasi modulo formativo</option>';
  var opt_O = opt;
  var opt_P = opt;
  {% if form[0].moduloFormativo.vars.choices['O'].choices is defined %}
    {% for o in form[0].moduloFormativo.vars.choices['O'].choices %}
  opt_O += '<option value="{{ o.value }}">{{ o.label }}</option>';
    {% endfor %}
  {% endif %}
  {% if form[0].moduloFormativo.vars.choices['P'].choices is defined %}
    {% for o in form[0].moduloFormativo.vars.choices['P'].choices %}
  opt_P += '<option value="{{ o.value }}">{{ o.label }}</option>';
    {% endfor -%}
  {% endif %}
  $('#filtro_tipo').change();
  {% if form[0].moduloFormativo.vars.value %}
  $('#filtro_moduloFormativo').val({{ form[0].moduloFormativo.vars.value }});
  {% endif %}
});
</script>
{% endblock %}
