{% extends 'coordinatore/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  {% if not classe %}
  <div class="alert alert-warning gs-mt-4" role="alert">
    <strong class="gs-big">{{ 'message.classe_mancante'|trans }}</strong>
  </div>
  {% else %}
  <h1 class="text-center gs-h1 gs-mt-2 gs-mb-3">{{ 'title.coordinatore_note'|trans }} {{ classe }}</h1>
    {% for periodo,v in dati %}
  <div class="row gs-mb-1">
    <div class="col-sm-12 text-right">
      <a class="btn btn-success btn-sm" href="{{ path('coordinatore_note_stampa', {'classe': classe.id}) }}" role="button" title="Scarica il documento in formato PDF"><span class="glyphicon glyphicon-print gs-mr-3"></span><strong>{{ 'label.stampa'|trans }}</strong></a>
    </div>
  </div>
  <table class="table table-bordered table-hover table-striped">
    <caption class="text-info text-center gs-big"><strong>{{ periodo }}</strong></caption>
    <thead class="bg-success">
      <tr>
        <th class="col-sm-2">Data</th>
        <th class="col-sm-2">Destinatari</th>
        <th class="col-sm-5">Nota</th>
        <th class="col-sm-3">Provvedimento</th>
      </tr>
    </thead>
    <tbody>
      {% for data,v1 in v %}
        {% for tipo,v2 in v1 %}
          {% for k,e in v2 %}
      <tr>
        <td><strong>{{ e.data }}</strong></td>
          {% if tipo == 'classe' %}
        <td>
          <em>Tutta la classe</em>
            {% if e.esclusi|length > 0 %}
          <br>Esclusi: {% for a in e.esclusi %}{{ a }}{{ not loop.last ? ', ' }}{% endfor %}
            {% endif %}
        </td>
        {% else %}
        <td>{% for alu in e.alunni %}{{ alu }}{{ not loop.last ? ',<br>' }}{% endfor %}</td>
          {% endif %}
        <td><small>{{ e.nota|raw|nl2br }}<br><em>({{ e.nota_doc }})</em></small></td>
        <td><small>{{ e.provvedimento|raw|nl2br ? (e.provvedimento~'<br><em>('~e.provvedimento_doc~')</em>')|raw }}</small></td>
      </tr>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
    {% else %}
  <div class="alert alert-info" role="alert">
    <strong class="gs-big">Non sono presenti note disciplinari</strong>
  </div>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}
