{{ form_start(form) }}
  <div class="modal-header">
    <h3 class="modal-title gs-h3">Piano di Integrazione degli Apprendimenti della classe {{ classe.anno~'ª '~classe.sezione }}</h3>
  </div>
  <div class="modal-body">
    <ul id="gs-form-collection" class="list-group">
  {% for piano in form.lista %}
      <li class="list-group-item">
        <div class="text-center text-primary"><strong class="gs-big">{{ piano.vars.value.materia.nomeBreve }}</strong></div>
        <div class="form-group gs-pb-2">
          <label class="col-sm-8 control-label" for="{{ piano.necessario.vars.id }}">{{ 'label.PIA_necessario'|trans }}</label>
          <div class="col-sm-4">{{ form_widget(piano.necessario) }}</div>
        </div>
        <div id="row_{{ piano.obiettivi.vars.id }}" style="display:none">
          {{ form_row(piano.obiettivi) }}
          {{ form_row(piano.strategie) }}
        </div>
      </li>
  {% endfor %}
    </ul>
  </div>
  <div class="modal-footer">
    {{ form_widget(form.submit, {attr: {class: 'btn-primary'}}) }}
    <button type="button" class="btn-default btn" data-dismiss="modal">{{ 'label.cancel'|trans }}</button>
  </div>
  {{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false}) }}

<script>
$(document).ready(function() {
  $('#gs-modal-remote-content label.radio-inline input[type="radio"]').change(function() {
    var pos = $(this).attr('id').substring(0,$(this).attr('id').length-12);
    if (this.value == 1 && this.checked) {
      $(this).parent().css('font-weight', 'bold');
      $(this).parent().siblings('label.radio-inline').css('font-weight', 'normal');
      $('#row_'+pos+'obiettivi').fadeIn(300);
    } else if (this.checked) {
      $(this).parent().css('font-weight', 'bold');
      $(this).parent().siblings('label.radio-inline').css('font-weight', 'normal');
      $('#row_'+pos+'obiettivi').fadeOut(300);
    }
  }).change();
});
</script>
