{{ form_start(form) }}
  <div class="modal-header">
    <h3 class="modal-title gs-h3">{{ 'title.lezioni_proposte'|trans }} {{ classe.anno~'ª '~classe.sezione }}</h3>
    <h4 class="modal-title gs-h4"><em>{{ info.materia }}</em></h4>
  </div>
  <div class="modal-body">
    <ul id="gs-form-collection" class="list-group">
  {% set valutazioni = ['NC', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
    null, null, null, null, null, null, null, null, null,
    'NC', 'Insufficiente', 'Sufficiente', 'Discreto', 'Buono', 'Distinto', 'Ottimo'] %}
  {% for prop in form.lista %}
      <li class="list-group-item">
        <div class="row gs-pl-2 gs-pr-2"><strong>{{ proposte.alunni[prop.alunno.vars.value][0] }} {{ proposte.alunni[prop.alunno.vars.value][1] }} ({{ proposte.alunni[prop.alunno.vars.value][2]|date('d/m/Y') }})</strong></div>
        <div class="row">
          <label class="control-label col-sm-2" for="{{ prop.unico.vars.id }}">Voto</label>
          <div class="col-sm-10">
    {% if prop.unico.vars.value is not empty %}
            <span style="display:inline-block;width:7em;padding:0.6em 0.2em;" class="label label-{{ prop.unico.vars.value < 5 ? 'danger' : (prop.unico.vars.value < 6 ? 'warning' : (prop.unico.vars.value <= 10 ? 'success' : (prop.unico.vars.value < 22 ? 'danger' : 'success'))) }} gs-mr-4 gs-big">{{ valutazioni[prop.unico.vars.value] }}</span>
            <button style="display:none" class="btn btn-primary btn-xs gs-mr-5 gs-button-add" type="button" title="Aggiungi una proposta di voto"><span class="glyphicon glyphicon-plus gs-mr-2"></span>Aggiungi</button>
    {% else %}
            <span style="display:inline-block;width:7em;padding:0.6em 0.2em;" class="label label-default gs-mr-4 gs-big">--</span>
            <button class="btn btn-primary btn-xs gs-mr-5 gs-button-add" type="button" title="Aggiungi una proposta di voto"><span class="glyphicon glyphicon-plus gs-mr-2"></span>Aggiungi</button>
    {% endif %}
            <div style="display:none">{{ form_widget(prop.unico) }}</div>
          </div>
        </div>
        {{ form_widget(prop.alunno) }}
      </li>
  {% endfor %}
    </ul>
  </div>
  <div class="modal-footer">
    {{ form_widget(form.submit) }}
    <button type="button" class="btn-default btn" data-dismiss="modal">{{ 'label.cancel'|trans }}</button>
  </div>
  {{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false}) }}

<script>
$(document).ready(function() {
  $('#gs-form-collection button.gs-button-add').on('click', function(e) {
    $(this).parent().find('div').attr('style', 'display:inline-block').find('input').addClass('slider')
      .slider({
        min: {{ info.valutazioni.min }},
        max: {{ info.valutazioni.max }},
        step: 1,
        ticks: [{{ info.valutazioni.ticks }}],
        ticks_labels: [{{ info.valutazioni.labels|raw }}],
        ticks_snap_bounds: 0,
        focus: true,
        formatter: function(val) {
          var d = ['Non Classificato', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
            null, null, null, null, null, null, null, null, null,
            'Non Classificato', 'Insufficiente', 'Sufficiente', 'Discreto', 'Buono', 'Distinto', 'Ottimo'];
          return d[val];
          },
        natural_arrow_keys: true
      });
    $(this).hide();
    $(this).siblings('div').find('input').slider('setValue', '{{ info.valutazioni.start }}', true, true);
    $(this).siblings('div').find('div').focus();
    e.preventDefault();
  });
  $("#gs-form-collection").on("change", "input.slider", function(e) {
    var d = ['NC', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
      null, null, null, null, null, null, null, null, null,
      'NC', 'Insufficiente', 'Sufficiente', 'Discreto', 'Buono', 'Distinto', 'Ottimo'];
    var c = (e.value.newValue < 5 ? 'label-danger' : (e.value.newValue < 6 ? 'label-warning' :
      (e.value.newValue <= 10 ? 'label-success' : (e.value.newValue < 22 ? 'label-danger' : 'label-success'))));
    $(this).parent().siblings('span').removeClass('label-default label-success label-danger label-warning').addClass(c).text(d[e.value.newValue]);
    var id = this.id.slice(15,-6);
  });
});
</script>
