{% extends 'coordinatore/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  {% if not classe %}
  <div class="alert alert-warning gs-mt-4" role="alert">
    <strong class="gs-big">{{ 'message.classe_mancante'|trans }}</strong>
  </div>
  {% else %}
  <h1 class="text-center gs-h1 gs-mt-2 gs-mb-0">{{ 'title.coordinatore_scrutinio'|trans }} {{ classe }}</h1>
  <h2 class="text-center gs-h2 gs-mt-0 gs-mb-3">Passo 5: esito dello scrutinio</h2>
  <h3 class="text-center text-info gs-h3 gs-mt-0 gs-mb-1"><em>Clicca sul pulsante dell'esito per inserire o modificare l'esito finale dell'alunno.<br>Puoi anche modificare tutte le valutazioni cliccando sul pulsante di modifica della materia o su un singolo voto.</em></h2>
    {% include 'include/modal-error.html.twig' %}
    {{ form_start(form) }}
  <div id="gs-fixed-header">
    <table class="table table-bordered table-hover table-striped">
      <thead class="bg-success">
        <tr>
          <th class="gs-pt-1 gs-pb-1 gs-pl-2 gs-pr-2"><small>Alunno</small></th>
    {% for materia,m in dati.materie %}
          <th class="gs-pt-1 gs-pb-1 gs-pl-2 gs-pr-2">
      {% if m.tipo == 'C' %}
            <button type="button" class="btn btn-xs btn-primary gs-button-remote" title="Modifica le valutazioni per la Condotta" data-toggle="modal" data-target="#gs-modal-remote" data-href="{{ path('coordinatore_scrutinio_condotta', {'classe': classe.id, 'periodo': 'F', 'alunno': 0}) }}"><span class="glyphicon glyphicon-edit"></span></button>
            <br>
      {% elseif m.tipo == 'E' %}
            <button type="button" class="btn btn-xs btn-primary gs-button-remote" title="Modifica le valutazioni per Ed. civica" data-toggle="modal" data-target="#gs-modal-remote" data-href="{{ path('coordinatore_scrutinio_edcivica', {'classe': classe.id, 'periodo': 'F', 'alunno': 0}) }}"><span class="glyphicon glyphicon-edit"></span></button>
            <br>
      {% else %}
            <button type="button" class="btn btn-xs btn-primary gs-button-remote" title="Modifica le valutazioni della materia" data-toggle="modal" data-target="#gs-modal-remote" data-href="{{ path('coordinatore_scrutinio_voti', {'classe': classe.id, 'materia': materia, 'periodo': 'F', 'alunno': 0}) }}"><span class="glyphicon glyphicon-edit"></span></button>
            <br>
      {% endif %}
            <small><span data-placement="auto left" data-toggle="popover" data-trigger="hover" data-content="{{ m.nome }}">{{ m.nomeBreve }}</span></small>
          </th>
    {% endfor %}
          <th class="gs-pt-1 gs-pb-1 gs-pl-2 gs-pr-2">
            <small><span data-placement="auto left" data-toggle="popover" data-trigger="hover" data-content="Media complessiva dei voti">Media</span></small>
          </th>
          <th class="gs-pt-1 gs-pb-1 gs-pl-2 gs-pr-2">
            <small><span data-placement="auto left" data-toggle="popover" data-trigger="hover" data-content="Esito finale">Esito</span></small>
          </th>
        </tr>
      </thead>
      <tbody>
    {% for alunno,a in dati.alunni %}
        <tr>
          <td class="gs-pt-1 gs-pb-1 gs-pl-2 gs-pr-2">
            <strong>{{ a.cognome }} {{ a.nome }}</strong><br><small>({{ a.dataNascita|date('d/m/Y') }})</small>
      {% if a.bes != 'N' %}
            <button type="button" class="btn btn-xs btn-default gs-ml-1" title="Informazioni sull'alunno" data-placement="auto left" data-toggle="popover" data-trigger="hover" data-content="{{ ('label.bes_'~a.bes)|trans }}"><span class="glyphicon glyphicon-info-sign"></span></button>
      {% endif %}
          </td>
      {% for materia,m in dati.materie %}
          <td class="gs-pt-1 gs-pb-1 gs-pl-2 gs-pr-2">
        {% if m.tipo == 'C' %}
            <button type="button" class="btn btn-xs btn-{{ dati.voti[alunno][materia].unico < dati.valutazioni[m.tipo].med ? 'danger' : (dati.voti[alunno][materia].unico < dati.valutazioni[m.tipo].suff ? 'warning' : 'success') }} gs-button-remote" title="Modifica la valutazione della Condotta" data-toggle="modal" data-target="#gs-modal-remote" data-href="{{ path('coordinatore_scrutinio_condotta', {'classe': classe.id, 'periodo': 'F', 'alunno': alunno}) }}"><strong>{{ dati.valutazioni[m.tipo].lista[dati.voti[alunno][materia].unico] }}</strong></button>
        {% elseif m.tipo == 'E' %}
            <button type="button" class="btn btn-xs btn-{{ dati.voti[alunno][materia].unico < dati.valutazioni[m.tipo].med ? 'danger' : (dati.voti[alunno][materia].unico < dati.valutazioni[m.tipo].suff ? 'warning' : 'success') }} gs-button-remote" title="Modifica la valutazione di Ed. Civica" data-toggle="modal" data-target="#gs-modal-remote" data-href="{{ path('coordinatore_scrutinio_edcivica', {'classe': classe.id, 'periodo': 'F', 'alunno': alunno}) }}"><strong>{{ dati.valutazioni[m.tipo].lista[dati.voti[alunno][materia].unico] }}</strong></button>
        {% elseif m.tipo == 'R' and a.religione != 'S' and a.religione != 'A' %}
            <span>NA</span>
        {% else %}
            <button type="button" class="btn btn-xs btn-{{ dati.voti[alunno][materia].unico < dati.valutazioni[m.tipo].med ? 'danger' : (dati.voti[alunno][materia].unico < dati.valutazioni[m.tipo].suff ? 'warning' : 'success') }} gs-button-remote" title="Modifica la valutazione della materia" data-toggle="modal" data-target="#gs-modal-remote" data-href="{{ path('coordinatore_scrutinio_voti', {'classe': classe.id, 'materia': materia, 'periodo': 'F', 'alunno': alunno}) }}"><strong>{{ dati.valutazioni[m.tipo].lista[dati.voti[alunno][materia].unico] }}</strong></button>
        {% endif %}
          </td>
      {% endfor %}
          <td>
            <span class="gs-big"><span class="label label-{{ dati.medie[alunno][:-3] < dati.valutazioni['N'].med  ? 'danger' : (dati.medie[alunno][:-3] < dati.valutazioni['N'].suff  ? 'warning' : 'success') }}">{{ dati.medie[alunno] }}</span></span>
          </td>
          <td>
      {% if dati.esiti[alunno].esito is not defined %}
            <button type="button" class="btn btn-xs btn-primary gs-button-remote" title="Inserisci l'esito" data-toggle="modal" data-target="#gs-modal-remote" data-href="{{ path('coordinatore_scrutinio_esito', {'alunno': alunno, 'periodo': 'F', 'classe': classe.id}) }}"><span class="glyphicon glyphicon-edit"></span></button>
      {% elseif dati.esiti[alunno].esito == 'A' %}
            <button type="button" class="btn btn-xs btn-success gs-button-round gs-button-remote" title="AMMESSO - Clicca per modificare l'esito" data-toggle="modal" data-target="#gs-modal-remote" data-href="{{ path('coordinatore_scrutinio_esito', {'alunno': alunno, 'periodo': 'F', 'classe': classe.id}) }}"><span class="glyphicon glyphicon-ok"></span></button>
      {% elseif dati.esiti[alunno].esito == 'N' %}
            <button type="button" class="btn btn-xs btn-danger gs-button-round gs-button-remote" title="NON AMMESSO - Clicca per modificare l'esito" data-toggle="modal" data-target="#gs-modal-remote" data-href="{{ path('coordinatore_scrutinio_esito', {'alunno': alunno, 'periodo': 'F', 'classe': classe.id}) }}"><span class="glyphicon glyphicon-remove"></span></button>
      {% elseif dati.esiti[alunno].esito == 'S' %}
            <button type="button" class="btn btn-xs btn-warning gs-button-round gs-button-remote" title="GIUDIZIO SOSPESO - Clicca per modificare l'esito" data-toggle="modal" data-target="#gs-modal-remote" data-href="{{ path('coordinatore_scrutinio_esito', {'alunno': alunno, 'periodo': 'F', 'classe': classe.id}) }}"><span class="glyphicon glyphicon-hourglass"></span></button>
      {% endif %}
          </td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="row gs-mt-5 gs-mb-5">
    <div class="col-sm-6">
      <a class="btn btn-primary gs-wait-page" href="{{ path('coordinatore_scrutinio', {'classe': classe.id, 'stato': '4'}) }}" role="button" title="Annulla e torna al passo precedente"><span class="glyphicon glyphicon-backward gs-mr-2"></span><strong>Torna al passo precedente</strong></a>
    </div>
    <div class="text-right col-sm-6">
      <button class="btn btn-primary" title="Vai al passo successivo" data-toggle="modal" data-target="#gs-modal-waiting"><span class="glyphicon glyphicon-forward gs-mr-2"></span><strong>Conferma e vai avanti</strong></button>
    </div>
  </div>
    {{ form_end(form) }}
    {% include 'include/modal-remote.html.twig' %}
    {% include 'include/modal-waiting.html.twig' %}
  {% endif %}
</div>
{% endblock %}

{% block pagina_css %}
{{ parent() }}
<link href="{{ asset('vendor/bootstrap-slider/css/bootstrap-slider.min.css') }}" rel="stylesheet">
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script src="{{ asset('vendor/bootstrap-slider/js/bootstrap-slider.min.js') }}"></script>
<script src="{{ asset('vendor/floatThead/jquery.floatThead.min.js') }}"></script>
<script>
$(document).ready(function() {
  $('[data-toggle="popover"]').popover({container: 'body'});
  $('#gs-modal-remote').on('show.bs.modal', function (event) {
    var url = $(event.relatedTarget).data('href')+'/'+Math.floor($('html').scrollTop());
    $(this).find('#gs-modal-remote-content').load(url);
  });
  $('#gs-modal-remote').on('shown.bs.modal', function (event) {
    window.dispatchEvent(new Event('resize'));
  });
  $(".gs-button-remote").click(function(e) {
    e.preventDefault();
    $('#gs-modal-remote-content').html('<div class="modal-content"><div class="modal-header"><h3 class="modal-title">Attendere prego...</h3></div><div class="modal-body"><div class="progress"><div class="progress-bar progress-bar-info progress-bar-striped active" style="width: 100%"></div></div></div></div>');
  });
  $('#gs-modal-waiting').on('shown.bs.modal', function (event) {
    $('form[name="scrutinio"]').submit();
  });
  $('a.gs-wait-page').click(function (event) {
    $('#gs-modal-waiting').modal('show');
    return true;
  });
  $('#gs-fixed-header table').on("floatThead", function(e, isFloated, floatContainer) {
    var c=floatContainer.find('thead');
    if(isFloated){
      c.hide();
      c.removeClass("bg-success").addClass("bg-info");
      c.fadeIn();
    } else {
      c.removeClass("bg-info").addClass("bg-success");
    }
  });
  // init
  $('#gs-fixed-header table').floatThead({top: 60});
  {% if posizione > 0 %}
  $('html').scrollTop({{ posizione }});
  {% endif %}
  {% for messaggio in app.flashes('errore') %}
    {% if loop.first %}
  var m = '';
    {% endif %}
  m = m + "{{ messaggio|raw }}<br>";
    {% if loop.last %}
  $('#gs-modal-error-text').html(m);
  $('#gs-modal-error').modal('show');
    {% endif %}
  {% endfor %}
});
</script>
{% endblock %}
