{% extends 'coordinatore/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  {% if not classe %}
  <div class="alert alert-warning gs-mt-4" role="alert">
    <strong class="gs-big">{{ 'message.classe_mancante'|trans }}</strong>
  </div>
  {% else %}
  <h1 class="text-center gs-h1 gs-mt-2 gs-mb-0">Scrutinio per gli esami degli studenti con sospensione del giudizio<br>della classe {{ classe.anno }}ª {{ classe.sezione }}</h1>
  <h2 class="text-center gs-h2 gs-mt-0 gs-mb-4">Scrutinio chiuso</h2>
    {% include 'include/modal-error.html.twig' %}
    <table class="table table-bordered table-hover table-striped gs-mt-4">
      <thead class="bg-success">
        <tr>
          <th class="col-sm-2">Documento</th>
          <th class="col-sm-7">Note</th>
          <th class="col-sm-3">Azioni</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>Verbale</strong></td>
          <td>
            Stampare in <strong>duplice copia</strong> e consegnare in Segreteria Didattica: una copia sarà inserita nel registro dei verbali e l'altra conservata agli atti.<br>
            <strong><em>Far firmare al presidente e al segretario della seduta.</em></strong><br>
            <br>
            Formato del documento: <em>PDF</em>
          <td>
            <div class="gs-mb-2">
              <a class="btn btn-primary btn-xs" href="{{ path('pagelle_classe', {'classe': classe.id, 'tipo': 'V', 'periodo': 'G'}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica</strong></a>
            </div>
          </td>
        </tr>
        <tr>
          <td><strong>Riepilogo voti</strong></td>
          <td>
            Stampare in <strong>duplice copia</strong> e consegnare in Segreteria Didattica: una copia sarà allegata al verbale e l'altra conservata agli atti.<br>
            <strong><em>Far firmare a tutti i docenti e al presidente.</em></strong><br>
            <br>
            Formato del documento: <em>PDF</em>
          </td>
          <td>
            <a class="btn btn-primary btn-xs" href="{{ path('pagelle_classe', {'classe': classe.id, 'tipo': 'R', 'periodo': 'G'}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica</strong></a>
          </td>
        </tr>
        <tr>
          <td><strong>Foglio firme Registro dei voti</strong></td>
          <td>
            Stampare in un'<strong>unica copia</strong> e consegnare in Segreteria Didattica, dove sarà conservata agli atti.<br>
            <strong><em>Far firmare a tutti i docenti, al segretario e al presidente.</em></strong><br>
            <br>
            Formato del documento: <em>PDF</em>
          </td>
          <td>
            <a class="btn btn-primary btn-xs" href="{{ path('pagelle_classe', {'classe': classe.id, 'tipo': 'I', 'periodo': 'G'}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica</strong></a>
          </td>
        </tr>
    {% if classe.anno == 2 %}
        <tr>
          <td><strong>Certificazione competenze</strong></td>
          <td>
            Stampare in un'<strong>unica copia</strong> e consegnare in Segreteria Didattica, dove sarà conservata agli atti.<br>
            <strong><em>Controllare che non ci siano errori.</em></strong><br>
            <br>
            Formato del documento: <em>PDF</em>
          </td>
          <td>
            <a class="btn btn-primary btn-xs" href="{{ path('pagelle_classe', {'classe': classe.id, 'tipo': 'C', 'periodo': 'G'}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica</strong></a>
          </td>
        </tr>
    {% endif %}
        <tr>
          <td><strong>Tabellone esiti</strong></td>
          <td>
            Documento pubblicato direttamente sul Registro Elettronico (<em>non stampare</em>).<br>
            <strong><em>Controllare che non ci siano errori.</em></strong><br>
            <br>
            Formato del documento: <em>PDF</em>
          </td>
          <td>
            <a class="btn btn-primary btn-xs" href="{{ path('pagelle_classe', {'classe': classe.id, 'tipo': 'T', 'periodo': 'G'}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>Scarica</strong></a>
          </td>
        </tr>
        <tr>
          <td><strong>Comunicazione Non Ammessi</strong></td>
          <td>
            Documento pubblicato direttamente sul Registro Elettronico (<em>non stampare</em>).<br>
            <strong><em>Controllare che non ci siano errori.</em></strong><br>
            <br>
            Formato del documento: <em>PDF</em>
          </td>
          <td>
    {% for a in dati.non_ammessi %}
            <div class="gs-mb-2"><a class="btn btn-primary btn-xs" href="{{ path('pagelle_alunno', {'classe': classe.id, 'alunno': a.id, 'tipo': 'N', 'periodo': 'G'}) }}" role="button" title="Scarica il documento"><span class="glyphicon glyphicon-download-alt gs-mr-2"></span><strong>{{ a.cognome }} {{ a.nome }}</strong></a></div>
    {% else %}
            <span class="label label-warning">NESSUNA COMUNICAZIONE</span>
    {% endfor %}
          </td>
        </tr>
      </tbody>
    </table>
    {% if dati.precedente %}
  <div class="row text-center gs-mt-5 gs-mb-5">
    <a class="btn btn-danger gs-wait-page" href="{{ path('coordinatore_scrutinio', {'classe': classe.id, 'stato': '4'}) }}" role="button" title="Annulla la chiusura dello scrutinio e torna al passo precedente"><span class="glyphicon glyphicon-backward gs-mr-2"></span><strong>Riapri lo scrutinio</strong></a>
  </div>
    {% endif %}
    {% include 'include/modal-remote.html.twig' %}
    {% include 'include/modal-waiting.html.twig' %}
  {% endif %}
</div>
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script>
$(document).ready(function() {
  $('#gs-modal-remote').on('show.bs.modal', function (event) {
    var url = $(event.relatedTarget).data('href');
    $(this).find('#gs-modal-remote-content').load(url);
  });
  $(".gs-button-remote").click(function(e) {
    e.preventDefault();
    $('#gs-modal-remote-content').html('<div class="modal-content"><div class="modal-header"><h3 class="modal-title">Attendere prego...</h3></div><div class="modal-body"><div class="progress"><div class="progress-bar progress-bar-info progress-bar-striped active" style="width: 100%"></div></div></div></div>');
  });
  $('#gs-modal-waiting').on('shown.bs.modal', function (event) {
    $('form[name="scrutinio"]').submit();
  });
  $('a.gs-wait-page').click(function (event) {
    $('#gs-modal-waiting').modal('show');
    return true;
  });
  // init
  {% for messaggio in app.flashes('errore') %}
    {% if loop.first %}
  var m = '';
    {% endif %}
  m = m + "{{ messaggio|raw }}<br>";
    {% if loop.last %}
  $('#gs-modal-error-text').html(m);
  $('#gs-modal-error').modal('show');
    {% endif %}
  {% endfor %}
});
</script>
{% endblock %}
