{% extends 'coordinatore/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  {% if not classe %}
  <div class="alert alert-warning gs-mt-4" role="alert">
    <strong class="gs-big">{{ 'message.classe_mancante'|trans }}</strong>
  </div>
  {% else %}
  <h1 class="text-center gs-h1 gs-mt-2 gs-mb-0">Scrutinio per gli esami degli studenti con sospensione del giudizio<br>della classe {{ classe }}</h1>
  {% if dati.periodo is defined and dati.periodo != 'G' %}<h2 class="text-center gs-h2 gs-mt-0 gs-mb-4">Sessione supplettiva</h2>{% endif %}
  <h2 class="text-center gs-h2 gs-mt-0 gs-mb-3">Passo 4: verbale e chiusura</h2>
    {% include 'include/modal-error.html.twig' %}
    {{ form_start(form) }}
  <div class="gs-mb-5">
    <label class="gs-h3 text-info gs-pt-1 gs-pb-1 gs-pr-4 gs-pl-4"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Numero del verbale</label>
    <div class="form-group">
      <div class="col-sm-3 gs-ml-5">
        {{ form_widget(form.numeroVerbale) }}
      </div>
    </div>
  </div>
    {% for step,args in dati.verbale.struttura %}
      {% if args.tipo == 'Argomento' and (args.classi is empty or (classe.anno~classe.sezione) in args.classi) %}
  <div class="gs-mb-5">
    <div class="gs-h3 text-info gs-pt-1 gs-pb-1 gs-pr-4 gs-pl-4"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> {{ args.sezione }}. {{ args.argomento }}</div>
    <div class="gs-big gs-pr-4 gs-pl-4">{{ args.inizio|nl2br }}</div>
    <div class="container-fluid alert alert-success">
      <div class="col-sm-10"><em><strong>{{ args.testo|nl2br }}</strong></em></div>
      <div class="col-sm-2">
        {% if args.validato %}
        <button type="button" class="btn btn-sm btn-default gs-button-remote" title="Modifica il testo da inserire nel verbale" data-toggle="modal" data-target="#gs-modal-remote" data-href="{{ path('coordinatore_scrutinio_verbale', {'classe': classe.id, 'periodo': dati.periodo, 'step': step}) }}"><span class="glyphicon glyphicon-edit gs-mr-2"></span><strong>Modifica</strong></button>
        {% else %}
        <button type="button" class="btn btn-sm btn-primary gs-button-remote" title="Conferma il testo da inserire nel verbale" data-toggle="modal" data-target="#gs-modal-remote" data-href="{{ path('coordinatore_scrutinio_verbale', {'classe': classe.id, 'periodo': dati.periodo, 'step': step}) }}"><span class="glyphicon glyphicon-check gs-mr-2"></span><strong>Conferma</strong></button>
        {% endif %}
      </div>
    </div>
    <div class="gs-big gs-pr-4 gs-pl-4">{{ args.fine|nl2br }}</div>
  </div>
      {% endif %}
    {% endfor %}
  <div class="gs-mb-5">
    <label class="gs-h3 text-info gs-pt-1 gs-pb-1 gs-pr-4 gs-pl-4"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Ora di chiusura</label>
    <div class="form-group">
      <div class="col-sm-3 gs-ml-5">
        {{ form_widget(form.fine) }}
      </div>
    </div>
  </div>
  <div class="alert alert-info text-center gs-big gs-mt-5 gs-mb-3">
    <strong>Controllare i dati inseriti prima di chiudere lo scrutinio.<br>
    Una volta chiuso, lo scrutinio potrà essere riaperto solo dalla Presidenza.</strong>
  </div>
  <div class="row gs-mt-5 gs-mb-5">
    <div class="col-sm-6">
      <a class="btn btn-primary gs-wait-page" href="{{ path('coordinatore_scrutinio', {'classe': classe.id, 'stato': '3'}) }}" role="button" title="Annulla e torna al passo precedente"><span class="glyphicon glyphicon-backward gs-mr-2"></span><strong>Torna al passo precedente</strong></a>
    </div>
    <div class="text-right col-sm-6">
      <button class="btn btn-primary" title="Termina la procedura dello scrutinio" data-toggle="modal" data-target="#gs-modal-waiting"><span class="glyphicon glyphicon-forward gs-mr-2"></span><strong>Chiudi lo scrutinio</strong></button>
    </div>
  </div>
    {{ form_end(form) }}
    {% include 'include/modal-waiting.html.twig' %}
    {% include 'include/modal-remote.html.twig' %}
  {% endif %}
</div>
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script src="{{ asset('vendor/moment/js/moment.min.js') }}"></script>
<script src="{{ asset('vendor/moment/locales/it.js') }}"></script>
<script src="{{ asset('vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
<script>
$(document).ready(function() {
  $('[data-toggle="popover"]').popover({container: 'body'});
  $('.input-group.time').datetimepicker({
    format: "HH:mm",
    useCurrent: false,
    tooltips: {
      incrementHour: 'Incrementa l\'ora',
      pickHour: 'Imposta l\'ora',
      decrementHour:'Decrementa l\'ora',
      incrementMinute: 'Incrementa i minuti',
      pickMinute: 'Imposta i minuti',
      decrementMinute:'Decrementa i minuti'
      },
    widgetPositioning: { horizontal: 'left' },
    allowInputToggle: true
    });
  $('.input-group.time').datetimepicker()
    .on('dp.show', function(){
      $(this).find('a.btn').addClass('btn-primary');
  });
  $('#gs-modal-remote').on('show.bs.modal', function (event) {
    var url = $(event.relatedTarget).data('href');
    $(this).find('#gs-modal-remote-content').load(url);
  });
  $(".gs-button-remote").click(function(e) {
    e.preventDefault();
    $('#gs-modal-remote-content').html('<div class="modal-content"><div class="modal-header"><h3 class="modal-title">Attendere prego...</h3></div><div class="modal-body"><div class="progress"><div class="progress-bar progress-bar-info progress-bar-striped active" style="width: 100%"></div></div></div></div>');
    var dati = {numeroVerbale: $('#scrutinio_numeroVerbale').val(), fine: $('#scrutinio_fine').val()};
    $.post("{{ path('coordinatore_scrutinio_aggiorna', {scrutinio: dati.scrutinio.id}) }}", dati);
  });
  $('#gs-modal-waiting').on('shown.bs.modal', function (event) {
    $('form[name="scrutinio"]').submit();
  });
  $('a.gs-wait-page').click(function (event) {
    $('#gs-modal-waiting').modal('show');
    return true;
  });
  // init
  {% for messaggio in app.flashes('errore') %}
    {% if loop.first %}
  var m = '';
    {% endif %}
  m = m + "{{ messaggio|raw }}<br>";
    {% if loop.last %}
  $('#gs-modal-error-text').html(m);
  $('#gs-modal-error').modal('show');
    {% endif %}
  {% endfor %}
});
</script>
{% endblock %}
