{{ form_start(form) }}
  <div class="modal-header">
    <h3 class="modal-title gs-h3">{{ dati.sezione }} all'ordine del giorno</h3>
    <h4 class="modal-title gs-h4"><em>{{ dati.argomento }}</em></h4>
  </div>
  <div class="modal-body">
    <label class="control-label required" for="verbale_testo">Inserisci il testo o lascia vuota la casella se non c'è niente di rilevante da verbalizzare:</label>
    {{ form_widget(form.testo) }}
  </div>
  <div class="modal-footer">
    {{ form_widget(form.submit) }}
    <button type="button" class="btn-default btn" data-dismiss="modal">{{ 'label.cancel'|trans }}</button>
  </div>
{{ form_end(form) }}
