{% extends 'coordinatore/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  {% if not classe %}
  <div class="alert alert-warning gs-mt-4" role="alert">
    <strong class="gs-big">{{ 'message.classe_mancante'|trans }}</strong>
  </div>
  {% else %}
  <h1 class="text-center gs-h1 gs-mt-2 gs-mb-3">{{ 'title.coordinatore_voti'|trans }} {{ classe.anno }}ª {{ classe.sezione }}</h1>
  <div class="row gs-mb-1">
    <div class="col-sm-12 text-right">
      <a class="btn btn-success btn-sm" href="{{ path('coordinatore_voti_stampa', {'classe': classe.id}) }}" role="button" title="Scarica il documento in formato PDF"><span class="glyphicon glyphicon-print gs-mr-3"></span><strong>{{ 'label.stampa'|trans }}</strong></a>
    </div>
  </div>
  <table class="table table-bordered table-hover table-striped">
    <caption class="text-info text-center gs-big"><strong>{{ dati.periodo }}</strong></caption>
    <thead class="bg-success">
      <tr>
        <th class="gs-pt-1 gs-pb-1 gs-pl-2 gs-pr-2"><small>Alunno</small></th>
    {% for materia,m in dati.materie %}
        <th class="gs-pt-1 gs-pb-1 gs-pl-2 gs-pr-2">
          <small><span data-placement="auto left" data-toggle="popover" data-trigger="hover" data-content="{{ m.nome }}">{{ m.nomeBreve }}</span></small>
        </th>
    {% endfor %}
        <th class="gs-pt-1 gs-pb-1 gs-pl-2 gs-pr-2"><small><span data-placement="auto left" data-toggle="popover" data-trigger="hover" data-content="Media complessiva">Media</span></small></th>
      </tr>
    </thead>
    <tbody>
    {% for alunno,a in dati.alunni %}
      <tr>
        <td class="gs-pt-1 gs-pb-1 gs-pl-2 gs-pr-2">
          <button type="button" class="btn btn-xs btn-default pull-left gs-mr-2 gs-mt-2" title="Dettagli alunno" data-toggle="modal" data-target="#gs-modal-info" data-title="{{ a.cognome }} {{ a.nome }} ({{ a.dataNascita|date('d/m/Y') }})" data-body="alunno-{{ loop.index }}"><span class="glyphicon glyphicon-zoom-in"></span></button>
          <strong>{{ a.cognome }} {{ a.nome }}</strong><br><small>({{ a.dataNascita|date('d/m/Y') }})</small>
          <div id="alunno-{{ loop.index }}" style="display:none">
            <div class="list-group-item">
              <div class="list-group-item-text">
                <h3 class="gs-h3 text-center gs-mt-1">Autorizzazioni e deroghe</h3>
                <p>Ingresso: {{ a.autorizzaEntrata ? a.autorizzaEntrata : 'NESSUNA' }}</p>
                <p>Uscita: {{ a.autorizzaUscita ? a.autorizzaUscita : 'NESSUNA' }}</p>
                {% if a.note %}<p>Note:<br><em>{{ a.note }}</em></p>{% endif %}
              </div>
            </div>
            <div class="list-group-item">
              <div class="list-group-item-text">
                <h3 class="gs-h3 text-center gs-mt-1">Dati utente</h3>
                <p>Profilo <strong>GENITORE</strong>: {{ dati.genitori[a.id].username }}<br>(ultimo accesso: {{ dati.genitori[a.id].ultimoAccesso ? dati.genitori[a.id].ultimoAccesso|date('d/m/Y H:i:s') : 'MAI' }})</p>
                <p>Profilo <strong>STUDENTE</strong>: {{ a.username }}<br>(ultimo accesso: {{ a.ultimoAccesso ? a.ultimoAccesso|date('d/m/Y H:i:s') : 'MAI' }})</p>
              </div>
            </div>
            {% if a.bes != 'N' %}
            <div class="list-group-item">
              <div class="list-group-item-text">
                <h3 class="gs-h3 text-center gs-mt-1">Bisogni Educativi Speciali</h3>
                <p>Tipologia: {{ ('label.bes_'~a.bes)|trans }}</p>
                {% if a.noteBes %}<p>Descrizione:<br><em>{{ a.noteBes|raw }}</em></p>{% endif %}
              </div>
            </div>
            {% endif %}
          </div>
        </td>
      {% for materia,m in dati.materie %}
        <td class="gs-pt-1 gs-pb-1 gs-pl-2 gs-pr-2">
        {% if dati.medie[alunno][materia] is defined %}
          <span class="label label-{{ dati.medie[alunno][materia] < 5 ? 'danger' : (dati.medie[alunno][materia] < 6 ? 'warning' : 'success')}}">{{ dati.medie[alunno][materia] }}</span>
        {% else %}
          <span>--</span>
        {% endif %}
        </td>
      {% endfor %}
        <td class="gs-pt-1 gs-pb-1 gs-pl-2 gs-pr-2">
      {% if dati.medie[alunno][0] is defined %}
          <span class="gs-big"><span class="label label-{{ dati.medie[alunno][0] < 5 ? 'danger' : (dati.medie[alunno][0] < 6 ? 'warning' : 'success')}}">{{ dati.medie[alunno][0] }}</span></span>
      {% else %}
          <span>--</span>
      {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
    {% include 'include/modal-info.html.twig' %}
  {% endif %}
</div>
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script>
$(document).ready(function() {
  $('[data-toggle="popover"]').popover();
  $('#gs-modal-info').on('show.bs.modal', function (event) {
    var title = $(event.relatedTarget).data('title');
    var id = $(event.relatedTarget).data('body');
    var html = $('#'+id).html();
    $(this).find('#gs-modal-info-label').text(title);
    $(this).find('#gs-modal-info-body').html(html);
  });
});
</script>
{% endblock %}
