<p style="text-align:center; font-family:times; font-size:12pt">
  <img style="width: 28pt" src="{{ asset('img/logo-italia.png') }}"><br>
  <strong>ISTITUTO DI ISTRUZIONE SUPERIORE STATALE</strong><br>
  <strong><i></i></strong><br>
</p>
<p style="text-align:center; font-size:13pt">
  <strong>Anno Scolastico 2017/2018</strong><br>
  <strong>Valutazioni della classe {{ classe.anno }}ª {{ classe.sezione }}</strong><br>
  <strong>{{ info.materia }} - {{ info.periodo.nome }}</strong>
</p>
{% for alunno,a in dati.alunni %}
  {% if dati.voti[alunno] is defined %}
<br>
  {% endif %}
  {% for tipo in ['S','O','P'] %}
    {% if dati.voti[alunno][tipo] is defined %}
<div style="text-align:center"><strong>{{ a.cognome }} {{ a.nome }} ({{ a.dataNascita|date('d/m/Y') }}) - {{ tipo == 'S' ? 'Scritto' : (tipo == 'O' ? 'Orale' : 'Pratico') }}</strong></div>
<table border="1" cellpadding="2" style="font-size:10pt">
  <tr nobr="true">
    <td width="12%" style="text-align:center"><strong>Data</strong></td>
    <td width="38%" style="text-align:center"><strong>Argomenti o descrizione della prova</strong></td>
    <td width="8%" style="text-align:center"><strong>Voto</strong></td>
    <td width="42%" style="text-align:center"><strong>Giudizio</strong></td>
  </tr>
      {% for e in dati.voti[alunno][tipo] %}
  <tr nobr="true">
    <td style="font-size:9pt">{{ e.data|date('d/m/Y') }}</td>
    <td style="font-size:9pt">{{ e.argomento }}</td>
    <td style="text-align:center"><strong>{{ e.voto_str }}</strong></td>
    <td style="font-size:9pt">{{ e.giudizio }}</td>
  </tr>
      {% endfor %}
</table>
    {% endif %}
  {% endfor %}
{% endfor %}
