<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">
    <span class="glyphicon glyphicon-remove gs-mr-2" aria-hidden="true"></span>
    <span class="sr-only">{{ 'label.close'|trans }}</span>
  </button>
  <h3 class="modal-title gs-h3">{{ data|date('d/m/Y') }}</h3>
  <h4 class="modal-title gs-h4"><em>Compiti assegnati</em></h4>
</div>
<div class="modal-body">
{% for c in dati.compiti %}
  <div class="alert alert-info gs-mt-0 gs-mb-2 gs-pt-2 gs-pb-2 gs-pr-2 gs-pl-2" role="alert">
    <div class="gs-text-normal">
      <strong class="gs-big">Materia: {{ c.avviso.cattedra.materia.nome }}</strong>
    </div>
    <div class="gs-text-normal">
      <strong>Docente: {{ c.avviso.docente.nome }} {{ c.avviso.docente.cognome }}</strong>
    </div>
    <div class="gs-text-normal gs-pt-3 gs-pb-3">{{ c.testo|raw|nl2br }}</div>
  </div>
{% endfor %}
</div>
