{% extends 'base.html.twig' %}

{% block pagina_menu %}
<ul class="nav navbar-nav gs-navbar-nav">
  <li><a href="{{ path('home') }}"><span class="glyphicon glyphicon-backward gs-mr-2" aria-hidden="true"></span>Indietro</a></li>
  <li{{ app.request.attributes.get('_route') == 'docenti_importa' ? ' class="active"' }}><a href="{{ path('docenti_importa') }}">Importa</a></li>
  <li{{ app.request.attributes.get('_route')|slice(0,16) == 'docenti_modifica' ? ' class="active"' }}><a href="{{ path('docenti_modifica') }}">Modifica</a></li>
  <li{{ app.request.attributes.get('_route')|slice(0,16) == 'docenti_cattedre' ? ' class="active"' }}><a href="{{ path('docenti_cattedre') }}">Cattedre</a></li>
  <li class="disabled"><a href="#">Orario</a></li>
</ul>
{% endblock %}
