{% extends 'base.html.twig' %}

{% block pagina_contenuto %}
<div class="container_fluid gs-mt-0">
  {% if manutenzione or 'now'|date('Y-m-d H:i') <= app.session.get('/CONFIG/SISTEMA/manutenzione_inizio') %}
  <div class="col-sm-12 bg-danger gs-mb-4 text-center">
    <h1 class="gs-h2">ATTENZIONE</h1>
    <p>
      <span class="gs-big">A causa di una manutenzione programmata del sistema informatico,<br>
        il registro elettronico non sarà disponibile
        <strong>dalle ore {{ app.session.get('/CONFIG/SISTEMA/manutenzione_inizio')|date('H:i') }} del {{ app.session.get('/CONFIG/SISTEMA/manutenzione_inizio')|date('d/m/Y') }}
        alle ore {{ app.session.get('/CONFIG/SISTEMA/manutenzione_fine')|date('H:i') }} del {{ app.session.get('/CONFIG/SISTEMA/manutenzione_fine')|date('d/m/Y') }}
        </strong>.
      </span>
    </p>
  </div>
  {% endif %}
  {% if not manutenzione %}
  <div class="col-sm-8 col-sm-offset-2 gs-mt-4">
    <div class="panel panel-success" >
      <div class="panel-heading">
        <div class="panel-title"><strong>Attivazione del profilo STUDENTE</strong></div>
      </div>
      <div class="panel-body">
    {% if successo %}
        <div class="alert alert-success">
          <span class="gs-text-normal gs-big"><strong>{{ successo|trans|raw }}</strong></span>
        </div>
    {% endif %}
        <div class="help-block">
          <span class="gs-text-normal gs-big">
            Inserisci i dati dell'alunno richiesti, assicurandoti che siano corretti.
            Quindi clicca sul pulsante <strong>Invia</strong>: ti verrà inviata un'email con ulteriori istruzioni.
          </span>
        </div>
        {{ form_start(form) }}
    {% if errore %}
        <div class="alert alert-danger">{{ errore|trans }}</div>
    {% endif %}
         {{ form_end(form) }}
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
