{% extends 'base.html.twig' %}

{% block pagina_contenuto %}
<div class="container_fluid gs-mt-0">
  {% if manutenzione or 'now'|date('Y-m-d H:i') <= app.session.get('/CONFIG/SISTEMA/manutenzione_inizio') %}
  <div class="col-sm-12 bg-danger gs-mb-4 text-center">
    <h1 class="gs-h2">ATTENZIONE</h1>
    <p>
      <span class="gs-big">A causa di una manutenzione programmata del sistema informatico,<br>
        il registro elettronico non sarà disponibile
        <strong>dalle ore {{ app.session.get('/CONFIG/SISTEMA/manutenzione_inizio')|date('H:i') }} del {{ app.session.get('/CONFIG/SISTEMA/manutenzione_inizio')|date('d/m/Y') }}
        alle ore {{ app.session.get('/CONFIG/SISTEMA/manutenzione_fine')|date('H:i') }} del {{ app.session.get('/CONFIG/SISTEMA/manutenzione_fine')|date('d/m/Y') }}
        </strong>.
      </span>
    </p>
  </div>
  {% endif %}
  {% if not manutenzione %}
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 gs-mt-4">
    <div class="panel panel-primary" >
      <div class="panel-heading">
        <div class="panel-title">Accesso con Tessera Sanitaria - Carta Nazionale dei Servizi (CNS)</div>
      </div>
      <div class="panel-body" >
        <div class="help-block"><span class="gs-text-normal">Assicurati che la <strong>Tessera Sanitaria</strong> sia correttamente inserita nel lettore, quindi clicca sul pulsante <strong>Accedi</strong>.</span></div>
        {% if errore %}<div class="alert alert-danger">{{ errore.message|trans }}</div>{% endif %}
        <img src="{{ asset('img/tessera-sanitaria-small.png') }}" class="img-responsive center-block gs-mb-4" alt="Tessera Sanitaria">
        <form name="login_card" method="get" action="{{ path('login_card') }}" class="form-horizontal">
          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary" id="login" name="login">{{ 'label.login'|trans }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
