      <div class="col-sm-12 text-center gs-pt-3">
        <!-- AGID - SPID IDP BUTTON MEDIUM "ENTRA CON SPID" * begin * -->
        <a href="#" class="italia-it-button italia-it-button-size-m button-spid" spid-idp-button="#spid-idp-button-medium-get" aria-haspopup="true" aria-expanded="false">
          <span class="italia-it-button-icon"><img src="{{ asset('spid/spid-sp-access-button/img/spid-ico-circle-bb.svg') }}" onerror="this.src='{{ asset('spid/spid-sp-access-button/img/spid-ico-circle-bb.png') }}'; this.onerror=null;" alt="" /></span>
          <span class="italia-it-button-text">Entra con SPID</span>
        </a>
        <div id="spid-idp-button-medium-get" class="spid-idp-button spid-idp-button-tip spid-idp-button-relative">
         <ul id="spid-idp-list-medium-root-get" class="spid-idp-button-menu" aria-labelledby="spid-idp">
           <li class="spid-idp-button-link" data-idp="arubaid">
             <a href="{{ path('spid_login', {idp: 'IdAruba'}) }}"><span class="spid-sr-only">Aruba ID</span><img src="{{ asset('spid/spid-sp-access-button/img/spid-idp-arubaid.svg') }}" onerror="this.src='{{ asset('spid/spid-sp-access-button/img/spid-idp-arubaid.png') }}'; this.onerror=null;" alt="Aruba ID" /></a>
           </li>
           <li class="spid-idp-button-link" data-idp="infocertid">
             <a href="{{ path('spid_login', {idp: 'IdInfocert'}) }}"><span class="spid-sr-only">Infocert ID</span><img src="{{ asset('spid/spid-sp-access-button/img/spid-idp-infocertid.svg') }}" onerror="this.src='{{ asset('spid/spid-sp-access-button/img/spid-idp-infocertid.png') }}'; this.onerror=null;" alt="Infocert ID" /></a>
           </li>
           <li class="spid-idp-button-link" data-idp="intesaid">
             <a href="{{ path('spid_login', {idp: 'IdIntesa'}) }}"><span class="spid-sr-only">Intesa ID</span><img src="{{ asset('spid/spid-sp-access-button/img/spid-idp-intesaid.svg') }}" onerror="this.src='{{ asset('spid/spid-sp-access-button/img/spid-idp-intesaid.png') }}'; this.onerror=null;" alt="Intesa ID" /></a>
           </li>
           <li class="spid-idp-button-link" data-idp="lepidaid">
             <a href="{{ path('spid_login', {idp: 'IdLepida'}) }}"><span class="spid-sr-only">Lepida ID</span><img src="{{ asset('spid/spid-sp-access-button/img/spid-idp-lepidaid.svg') }}" onerror="this.src='{{ asset('spid/spid-sp-access-button/img/spid-idp-lepidaid.png') }}'; this.onerror=null;" alt="Lepida ID" /></a>
           </li>
           <li class="spid-idp-button-link" data-idp="namirialid">
             <a href="{{ path('spid_login', {idp: 'IdNamirial'}) }}"><span class="spid-sr-only">Namirial ID</span><img src="{{ asset('spid/spid-sp-access-button/img/spid-idp-namirialid.svg') }}" onerror="this.src='{{ asset('spid/spid-sp-access-button/img/spid-idp-namirialid.png') }}'; this.onerror=null;" alt="Namirial ID" /></a>
           </li>
           <li class="spid-idp-button-link" data-idp="posteid">
             <a href="{{ path('spid_login', {idp: 'IdPoste'}) }}"><span class="spid-sr-only">Poste ID</span><img src="{{ asset('spid/spid-sp-access-button/img/spid-idp-posteid.svg') }}" onerror="this.src='{{ asset('spid/spid-sp-access-button/img/spid-idp-posteid.png') }}'; this.onerror=null;" alt="Poste ID" /></a>
           </li>
           <li class="spid-idp-button-link" data-idp="sielteid">
             <a href="{{ path('spid_login', {idp: 'IdSielte'}) }}"><span class="spid-sr-only">Sielte ID</span><img src="{{ asset('spid/spid-sp-access-button/img/spid-idp-sielteid.svg') }}" onerror="this.src='{{ asset('spid/spid-sp-access-button/img/spid-idp-sielteid.png') }}'; this.onerror=null;" alt="Sielte ID" /></a>
           </li>
           <li class="spid-idp-button-link" data-idp="spiditalia">
             <a href="{{ path('spid_login', {idp: 'IdRegister'}) }}"><span class="spid-sr-only">SPIDItalia Register.it</span><img src="{{ asset('spid/spid-sp-access-button/img/spid-idp-spiditalia.svg') }}" onerror="this.src='{{ asset('spid/spid-sp-access-button/img/spid-idp-spiditalia.png') }}'; this.onerror=null;" alt="SpidItalia" /></a>
           </li>
           <li class="spid-idp-button-link" data-idp="timid">
             <a href="{{ path('spid_login', {idp: 'IdTim'}) }}"><span class="spid-sr-only">Tim ID</span><img src="{{ asset('spid/spid-sp-access-button/img/spid-idp-timid.svg') }}" onerror="this.src='{{ asset('spid/spid-sp-access-button/img/spid-idp-timid.png') }}'; this.onerror=null;" alt="Tim ID" /></a>
           </li>
           {% if app.session.get('/CONFIG/ACCESSO/spid') == 'validazione' %}
           <!-- AGID-VALIDATORE-INIZIO -->
           <li class="spid-idp-support-link">
             <a href="{{ path('spid_login', {idp: 'VALIDATOR'}) }}">AgID Validator</a>
           </li>
           <!-- AGID-VALIDATORE-FINE -->
           {% endif %}
           <li class="spid-idp-support-link">
             <a href="https://www.spid.gov.it" target="_blank">Maggiori informazioni</a>
           </li>
           <li class="spid-idp-support-link">
             <a href="https://www.spid.gov.it/richiedi-spid" target="_blank">Non hai SPID?</a>
           </li>
           <li class="spid-idp-support-link">
             <a href="https://www.spid.gov.it/serve-aiuto" target="_blank">Serve aiuto?</a>
           </li>
         </ul>
        </div>
        <!-- AGID - SPID IDP BUTTON MEDIUM "ENTRA CON SPID" * end * -->
        <a href="#" type="button" class="gs-big gs-ml-2" data-toggle="modal" data-target="#gs-spid-info">
          <strong class="gs-big"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></strong>
        </a>
        <div class="modal fade" id="gs-spid-info" tabindex="-1" role="dialog" aria-labelledby="gs-spid-info-title">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  <span class="glyphicon glyphicon-remove gs-mr-2" aria-hidden="true"></span>
                  <span class="sr-only">{{ 'label.close'|trans }}</span>
                </button>
                <h3 class="modal-title text-primary gs-h3" id="gs-spid-info-title">Cos'è SPID?</h3>
              </div>
              <div class="modal-body text-left">
                <p>SPID è il sistema di accesso che consente di utilizzare, con un'identità digitale unica, i servizi online della Pubblica Amministrazione e dei privati accreditati.
                  <br>Se sei già in possesso di un'identità digitale, accedi con le credenziali del tuo gestore.
                  <br>Se non hai ancora un'identità digitale, richiedila ad uno dei gestori.</p>
                <p><a href="https://www.spid.gov.it" target="_blank"><strong>Maggiori informazioni su SPID</strong></a></p>
                <p><a href="https://www.spid.gov.it/richiedi-spid" target="_blank"><strong>Non hai SPID?</strong></a></p>
                <p><a href="https://www.spid.gov.it/serve-aiuto" target="_blank"><strong>Serve aiuto?</strong></a></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'label.close'|trans }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
