{% extends 'base.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  {% for label,messages in app.flashes %}
    {% for msg in messages %}
  <div class="alert alert-{{ label }}">{{ msg|trans }}</div>
    {% endfor %}
  {% endfor %}
  <div class="panel panel-info gs-mb-5">
    <div class="panel-heading gs-pt-1 gs-pb-1">
      <div class="panel-title">
        <span>Utente: <strong>{{ app.user.username }} ({{ ('label.'~app.user.roles[0])|trans }})</strong></span>
        <span class="gs-ml-5">Ultimo accesso: <strong>{{ app.session.get('APP/UTENTE/ultimo_accesso') ? app.session.get('APP/UTENTE/ultimo_accesso') : 'NESSUNO' }}</strong></span>
      </div>
    </div>
    <div class="panel-body">
  {% if is_granted('ROLE_DOCENTE') %}
    {% if dati.richieste > 0 %}
      <div class="alert alert-danger gs-mb-2" role="alert"><strong class="gs-big">{{ dati.richieste == 1 ? 'È presente 1 richiesta' : 'Sono presenti '~dati.richieste~' richieste' }} di colloquio a cui rispondere: <a href="{{ path('colloqui') }}">vai alla gestione dei colloqui</a></strong></div>
    {% endif %}
    {% if dati.colloqui %}
      {% for c in dati.colloqui %}
      <div class="alert alert-success gs-mb-2" role="alert">
        <strong class="gs-big">Colloquio con i genitori dell'alunn{{ c.sesso == 'M' ? 'o' : 'a' }} {{ c.cognome }} {{ c.nome }} (classe {{ c.anno }}ª {{ c.sezione }}): {{ c.data_str }} {{ c.ora_str }}</strong>
        {% if c.messaggio is not empty %}
        <br>Messaggio al genitore: <em>{{ c.messaggio }}</em>
        {% endif %}
        {% if c.dati.codice is not empty %}
        <br>Codice riunione: <strong>{{ c.dati.codice }}</strong>
        {% endif %}
      </div>
      {% endfor %}
    {% endif %}
    {% if dati.avvisi > 0 %}
      <div class="alert alert-warning gs-mb-2" role="alert"><strong class="gs-big">{{ 'message.presenti_nuovi_avvisi'|trans({'num': dati.avvisi}) }}: <a href="{{ path('bacheca_avvisi') }}">vai alla Bacheca per visualizzarl{{ dati.avvisi == 1 ? 'o' : 'i' }}</a></strong></div>
    {% endif %}
    {% if dati.circolari > 0 %}
      <div class="alert alert-warning gs-mb-2" role="alert"><strong class="gs-big">{{ 'message.presenti_nuove_circolari'|trans({'num': dati.circolari}) }}: <a href="{{ path('circolari_docenti') }}">vai alla Bacheca per visualizzarl{{ dati.circolari == 1 ? 'a' : 'e' }}</a></strong></div>
    {% endif %}
    {% if dati.verifiche.oggi > 0 %}
      <div class="alert alert-warning gs-mb-2" role="alert"><strong class="gs-big">{{ 'message.presenti_verifiche_oggi'|trans({'num': dati.verifiche.oggi}) }}: <a href="{{ path('agenda_eventi') }}">vai all'Agenda per visualizzarl{{ dati.verifiche.oggi == 1 ? 'a' : 'e' }}</a></strong></div>
    {% endif %}
    {% if dati.verifiche.prossime > 0 %}
      <div class="alert alert-success gs-mb-2" role="alert"><strong class="gs-big">{{ 'message.presenti_verifiche_prossime'|trans({'num': dati.verifiche.prossime}) }}: <a href="{{ path('agenda_eventi') }}">vai all'Agenda per visualizzarl{{ dati.verifiche.prossime == 1 ? 'a' : 'e' }}</a></strong></div>
    {% endif %}
    {% if dati.compiti.oggi > 0 %}
      <div class="alert alert-warning gs-mb-2" role="alert"><strong class="gs-big">{{ 'message.presenti_compiti_oggi'|trans({'num': dati.compiti.oggi}) }}: <a href="{{ path('agenda_eventi') }}">vai all'Agenda per visualizzarl{{ dati.compiti.oggi == 1 ? 'o' : 'i' }}</a></strong></div>
    {% endif %}
    {% if dati.compiti.domani > 0 %}
      <div class="alert alert-success gs-mb-2" role="alert"><strong class="gs-big">{{ 'message.presenti_compiti_domani'|trans({'num': dati.compiti.domani}) }}: <a href="{{ path('agenda_eventi') }}">vai all'Agenda per visualizzarl{{ dati.compiti.domani == 1 ? 'o' : 'i' }}</a></strong></div>
    {% endif %}
  {% elseif is_granted('ROLE_GENITORE') or is_granted('ROLE_ALUNNO') %}
    {% if dati.colloqui is defined and dati.colloqui %}
      {% for c in dati.colloqui %}
      <div class="alert alert-success gs-mb-2 gs-big" role="alert">
        Colloquio con {{ c.sesso == 'M' ? 'il prof.' : 'la prof.ssa' }} {{ c.cognome }} {{ c.nome }}: <strong>{{ c.data_str }} {{ c.ora_str }}</strong>
        {% if c.messaggio is not empty %}
        <br>Messaggio del docente: <em>{{ c.messaggio }}</em>
        {% endif %}
        {% if c.dati.codice is not empty %}
        <br>Codice riunione: <strong>{{ c.dati.codice }}</strong>
        {% endif %}
      </div>
      {% endfor %}
    {% endif %}
    {% if dati.avvisi > 0 %}
      <div class="alert alert-warning gs-mb-2" role="alert"><strong class="gs-big">{{ 'message.presenti_nuovi_avvisi'|trans({'num': dati.avvisi}) }}: <a href="{{ path('genitori_avvisi') }}">vai alla Bacheca per visualizzarl{{ dati.avvisi == 1 ? 'o' : 'i' }}</a></strong></div>
    {% endif %}
    {% if dati.circolari > 0 %}
      <div class="alert alert-warning gs-mb-2" role="alert"><strong class="gs-big">{{ 'message.presenti_nuove_circolari'|trans({'num': dati.circolari}) }}: <a href="{{ path('circolari_genitori') }}">vai alla Bacheca per visualizzarl{{ dati.circolari == 1 ? 'a' : 'e' }}</a></strong></div>
    {% endif %}
    {% if dati.giustificazioni > 0 %}
      <div class="alert alert-warning gs-mb-2" role="alert"><strong class="gs-big">{{ 'message.presenti_assenze_ingiustificate'|trans }}: <a href="{{ path('genitori_assenze') }}">vai alla Situazione Assenze per giustificare</a></strong></div>
    {% endif %}
    {% if dati.verifiche.oggi > 0 %}
      <div class="alert alert-warning gs-mb-2" role="alert"><strong class="gs-big">{{ 'message.presenti_verifiche_oggi'|trans({'num': dati.verifiche.oggi}) }}: <a href="{{ path('genitori_eventi') }}">vai all'Agenda per visualizzarl{{ dati.verifiche.oggi == 1 ? 'a' : 'e' }}</a></strong></div>
    {% endif %}
    {% if dati.verifiche.prossime > 0 %}
      <div class="alert alert-success gs-mb-2" role="alert"><strong class="gs-big">{{ 'message.presenti_verifiche_prossime'|trans({'num': dati.verifiche.prossime}) }}: <a href="{{ path('genitori_eventi') }}">vai all'Agenda per visualizzarl{{ dati.verifiche.prossime == 1 ? 'a' : 'e' }}</a></strong></div>
    {% endif %}
    {% if dati.compiti.oggi > 0 %}
      <div class="alert alert-warning gs-mb-2" role="alert"><strong class="gs-big">{{ 'message.presenti_compiti_oggi'|trans({'num': dati.compiti.oggi}) }}: <a href="{{ path('genitori_eventi') }}">vai all'Agenda per visualizzarl{{ dati.compiti.oggi == 1 ? 'o' : 'i' }}</a></strong></div>
    {% endif %}
    {% if dati.compiti.domani > 0 %}
      <div class="alert alert-success gs-mb-2" role="alert"><strong class="gs-big">{{ 'message.presenti_compiti_domani'|trans({'num': dati.compiti.domani}) }}: <a href="{{ path('genitori_eventi') }}">vai all'Agenda per visualizzarl{{ dati.compiti.domani == 1 ? 'o' : 'i' }}</a></strong></div>
    {% endif %}
  {% elseif is_granted('ROLE_ATA') %}
    {% if dati.avvisi > 0 %}
      <div class="alert alert-warning gs-mb-2" role="alert"><strong class="gs-big">{{ 'message.presenti_nuovi_avvisi'|trans({'num': dati.avvisi}) }}: <a href="{{ path('bacheca_avvisi_ata') }}">vai alla Bacheca per visualizzarl{{ dati.avvisi == 1 ? 'o' : 'i' }}</a></strong></div>
    {% endif %}
    {% if dati.circolari > 0 %}
      <div class="alert alert-warning gs-mb-2" role="alert"><strong class="gs-big">{{ 'message.presenti_nuove_circolari'|trans({'num': dati.circolari}) }}: <a href="{{ path('circolari_ata') }}">vai alla pagina delle Circolari per visualizzarl{{ dati.circolari == 1 ? 'a' : 'e' }}</a></strong></div>
    {% endif %}
  {% endif %}
    </div>
  </div>
  {% if is_granted('ROLE_DOCENTE') %}
  <p><em>{{ 'message.login_docente'|trans|raw }}</em></p>
  <p class="gs-mb-0"><strong>Si prega di prendere visione dei manuali:</strong></p>
  <ul class="gs-mb-0">
    <li><strong><a href="{{ asset('doc/giuaschool_manuale_scrutinio_sospesi.pdf') }}">Manuale dello scrutinio per gli esami degli studenti con sospensione del giudizio</a></strong></li>
    <li><a href="{{ asset('doc/giuaschool_accesso_docenti.pdf') }}">Modalità di accesso per i docenti (aggiornato al {{ filedate('doc/giuaschool_accesso_docenti.pdf')|date('d/m/Y') }})</a></li>
    <li><a href="{{ asset('doc/giuaschool_manuale_docenti.pdf') }}">Manuale per i docenti (aggiornato al {{ filedate('doc/giuaschool_manuale_docenti.pdf')|date('d/m/Y') }})</a></li>
  </ul>
  {% elseif is_granted('ROLE_GENITORE') %}
  <p><em>{{ 'message.login_genitore'|trans|raw }}</em></p>
  <p class="gs-mb-0"><strong>Si prega di prendere visione del manuale d'uso:</strong></p>
  <ul class="gs-mb-0">
    <li><a href="{{ asset('doc/giuaschool_manuale_genitori.pdf') }}">Manuale per i genitori (aggiornato al {{ filedate('doc/giuaschool_manuale_genitori.pdf')|date('d/m/Y') }})</a></li>
  </ul>
  {% elseif is_granted('ROLE_ALUNNO') %}
  <p><em>{{ 'message.login_alunno'|trans|raw }}</em></p>
  <p class="gs-mb-0"><strong>Si prega di prendere visione del manuale d'uso:</strong></p>
  <ul class="gs-mb-0">
    <li><a href="{{ asset('doc/giuaschool_manuale_alunni.pdf') }}">Manuale per gli alunni (aggiornato al {{ filedate('doc/giuaschool_manuale_genitori.pdf')|date('d/m/Y') }})</a></li>
  </ul>
  {% elseif is_granted('ROLE_ATA') %}
  <p><em>{{ 'message.login_ata'|trans|raw }}</em></p>
  <p class="gs-mb-0"><strong>Si prega di prendere visione del manuale d'uso:</strong></p>
  <ul class="gs-mb-0">
    <li><a href="{{ asset('doc/giuaschool_manuale_ata.pdf') }}">Manuale per il personale ATA (aggiornato al {{ filedate('doc/giuaschool_manuale_ata.pdf')|date('d/m/Y') }})</a></li>
  </ul>
  {% endif %}
</div>
{% endblock %}
