{% extends 'base.html.twig' %}

{% block pagina_contenuto %}
<div class="container_fluid gs-mt-0">
  {% if manutenzione or 'now'|date('Y-m-d H:i') <= app.session.get('/CONFIG/SISTEMA/manutenzione_inizio') %}
  <div class="col-sm-12 bg-danger gs-mb-4 text-center">
    <h1 class="gs-h2">ATTENZIONE</h1>
    <p>
      <span class="gs-big">A causa di una manutenzione programmata del sistema informatico,<br>
        il registro elettronico non sarà disponibile
        <strong>dalle ore {{ app.session.get('/CONFIG/SISTEMA/manutenzione_inizio')|date('H:i') }} del {{ app.session.get('/CONFIG/SISTEMA/manutenzione_inizio')|date('d/m/Y') }}
        alle ore {{ app.session.get('/CONFIG/SISTEMA/manutenzione_fine')|date('H:i') }} del {{ app.session.get('/CONFIG/SISTEMA/manutenzione_fine')|date('d/m/Y') }}
        </strong>.
      </span>
    </p>
  </div>
  {% endif %}
  {% if not manutenzione %}
  <div class="col-sm-10 col-sm-offset-1 gs-mt-4">
    <div class="panel panel-primary" >
      <div class="panel-heading">
        <div class="panel-title">Recupero della password di accesso</div>
      </div>
      <div class="panel-body">
    {% if successo %}
        <div class="alert alert-success">
          <span class="gs-text-normal gs-big"><strong>{{ successo|trans }}</strong></span>
        </div>
    {% endif %}
    {% if app.session.get('/CONFIG/SISTEMA/id_provider') %}
        <div class="help-block text-center gs-mb-4">
          <span class="text-danger gs-big">Il recupero password è attivo solo per i <strong>Genitori</strong> e il <strong>Personale ATA</strong>.</span><br>
          <span class="text-danger gs-big">Gli <strong>Alunni</strong> e i <strong>Docenti</strong> possono effettuare il recupero password sulla <strong>GSuite</strong>.</span>
        </div>
    {% endif %}
        <div class="help-block">
          <span class="gs-text-normal">Inserisci l'indirizzo di posta elettronica che hai configurato nel Registro Elettronico, quindi clicca sul pulsante <strong>Conferma</strong>.</span><br>
          <span><strong><em>Se non hai configurato il tuo indirizzo email, non potrai usare questo servizio.</em></strong></span>
        </div>
        {{ form_start(form) }}
    {% if errore %}
        <div class="alert alert-danger">{{ errore|trans }}</div>
    {% endif %}
          <div class="form-group gs-mt-4">
            <label class="sr-only" for="login_recovery_email">{{ 'label.email'|trans }}</label>
            <div class="input-group gs-ml-4 gs-mr-4">
              <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
              {{ form_widget(form.email) }}
            </div>
          </div>
    {% if app.session.get('/CONFIG/SISTEMA/id_provider') is empty %}
          <div class="form-group">
            <label for="otp" class="col-sm-6 text-primary text-right">{{ 'label.login_otp'|trans|raw }}</label>
            <div class="col-sm-6 input-group gs-pr-4 gs-pl-4 gs-mb-4">
              <div class="input-group-addon"><span class="glyphicon glyphicon-flash"></span></div>
              {{ form_widget(form.otp) }}
            </div>
          </div>
    {% endif %}
          <div class="form-group text-center">
            {{ form_widget(form.submit) }}
          </div>
          {{ form_widget(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
