{% extends 'coordinatore/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  <div class="panel panel-primary gs-mt-4">
    <div class="panel-heading">
      <div class="panel-title">{{ form_title|trans }}</div>
    </div>
    <div class="panel-body">
      {{ form_start(form) }}
      {{ form_errors(form) }}
      {{ form_row(form.testo) }}
      <div class="form-group">
        <label class="col-sm-2 control-label required" for="avviso_edit_destinatari">Destinatari</label>
        <div class="col-sm-10">
          {{ form_widget(form.destinatari) }}
          {{ form_widget(form.filtro) }}
          <div id="individuale" style="display:none">
            <div class="col-sm-6"></div>
            <div class="col-sm-6"></div>
            {{ form_widget(form.filtroIndividuale) }}
          </div>
        </div>
      </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script>
$(document).ready(function() {
  $('label.radio-inline input').change(function() {
    $('label.radio-inline input').parent().removeClass('active');
    if ($(this).is(":checked")) {
      $(this).parent().addClass('active');
    }
  });
  $("input[name='avviso_edit[filtroIndividuale][]']").change(function() {
    if ($(this).is(":checked")) {
      $(this).parent().addClass('active');
    } else {
      $(this).parent().removeClass('active');
    }
  }).change();
  $("input[name='avviso_edit[destinatari]']").change(function() {
    var f='<option value="N">Nessuno</option>';
    var b='<option value="T">Tutti</option>';
    var i='<option value="I">Filtra per utente</option>';
    if ($("input[name='avviso_edit[destinatari]'][value='D']").is(":checked")) {
      f=b;
    } else if ($("input[name='avviso_edit[destinatari]'][value='G']").is(":checked")) {
      f=b+i;
    }
    $("#avviso_edit_filtro").html(f).change();
  });
  $("#avviso_edit_filtro").change(function() {
    $('#individuale').hide();
    if ($(this).val() == 'I') {
      $('#individuale').show();
    }
  });
  // init
  $('label.radio-inline input:checked').parent().addClass('active');
  var f='<option value="N">Nessuno</option>';
  var b='<option value="T">Tutti</option>';
  var i='<option value="I">Filtra per utente</option>';
  if ($("input[name='avviso_edit[destinatari]'][value='D']").is(":checked")) {
    f=b;
  } else if ($("input[name='avviso_edit[destinatari]'][value='G']").is(":checked")) {
    f=b+i;
  }
  var s = $('#avviso_edit_filtro').val();
  $("#avviso_edit_filtro").html(f).val(s).change();
});
</script>
{% endblock %}
