{% extends 'documenti/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  <h1 class="text-center gs-h2 gs-mt-2">{{ 'title.documenti_archivio_bes'|trans }}</h1>
  <div class="help-block gs-text-normal gs-big gs-mb-4"><em>{{ 'message.documenti_archivio_bes'|trans|raw }}</em></div>
  {% for type,msgs in app.flashes %}
    {% for msg in msgs %}
  <div class="alert alert-{{ type }} text-center gs-big gs-mb-4 gs-pt-2 gs-pb-2" role="alert"><strong>{{ msg }}</strong></div>
    {% endfor %}
  {% endfor %}
  <div class="row  gs-mb-3">
    <div class="col-sm-4 gs-mb-0">
    </div>
    <div class="col-sm-4 text-center gs-mb-0">
      <a class="btn btn-default" href="{{ path('documenti_bes') }}" role="button" title="Vai alla gestione dei documenti BES"><span class="glyphicon glyphicon-time gs-mr-2"></span><strong>Gestione documenti</strong></a>
    </div>
    <div class="col-sm-4 text-right gs-mb-0">
    </div>
  </div>
  {% include('include/form-inline.html.twig') %}
  {% if dati.lista is empty %}
  <div class="alert alert-warning gs-mt-2" role="alert">
    <strong class="gs-big">{{ 'message.no_documenti'|trans }}</strong>
  </div>
  {% else %}
  <table class="table table-bordered table-hover table-striped gs-mt-2">
    <thead class="bg-success">
      <tr>
        <th class="col-sm-5">{{ 'label.alunno'|trans }}</th>
        <th class="col-sm-5">{{ 'label.documento'|trans }}</th>
        <th class="col-sm-2">{{ 'label.action'|trans }}</th>
      </tr>
    </thead>
    <tbody>
    {% for d in dati.lista %}
      <tr>
        <td><strong>{{ d.titolo }}</strong></td>
        <td>
          <a href="{{ path('documenti_download', {'documento': d.id}) }}" title="Scarica il documento indicato">
            <span class="glyphicon glyphicon-download gs-mr-1"></span><strong>{{ d.allegati[0].titolo }}</strong>
          </a><br>
          <button type="button" class="btn btn-xs btn-warning gs-mr-2" title="Codice di accesso" data-placement="auto left" data-toggle="popover" data-content="{{ d.cifrato }}"><span class="glyphicon glyphicon-lock"></span><span class="sr-only sr-only-focusable">Codice di accesso: {{ d.cifrato }}</span></button>
          <small>Dimensione: {{ (d.allegati[0].dimensione / 1000)|number_format(0,',','.') }} kB</small>
        </td>
        <td>
      {% if dati.restore[d.id] is defined %}
          <a class="btn btn-warning btn-xs" href="{{ path('documenti_bes_restore', {'documento': d.id}) }}" role="button" title="Ripristina il documento indicato"><span class="glyphicon glyphicon-plus gs-mr-2"></span><strong>Ripristina</strong></a>
      {% endif %}
      {% if dati.delete[d.id] is defined %}
          <button class="btn btn-danger btn-xs gs-modal-confirm-button" title="Cancella il documento indicato" data-toggle="modal" data-target="#gs-modal-confirm" data-href="{{ path('documenti_delete', {'documento': d.id}) }}" data-text="{{ 'message.cancella_documenti_bes'|trans }}"><span class="glyphicon glyphicon-remove gs-mr-2" aria-hidden="true"></span><strong>Cancella</strong></button>
      {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
    {% if dati.maxPagine > 1 %}
  <nav aria-label="Navigazione tra le pagine" class="text-center">
    <ul class="pagination pagination-sm gs-mt-2">
      {% if info.pagina > 1 %}
      <li><a href="{{ path('documenti_archivio_bes', {'pagina': info.pagina - 1}) }}" title="{{ 'label.precedente'|trans }}"><span aria-hidden="true">&laquo;</span></a></li>
      {% else %}
      <li class="disabled"><span title="{{ 'label.precedente'|trans }}"><span aria-hidden="true">&laquo;</span></span></li>
      {% endif %}
      {% for i in 1 .. dati.maxPagine %}
      <li {{ info.pagina == i ? 'class="active"' }}><a href="{{ path('documenti_archivio_bes', {'pagina': i}) }}">{{ i }}</a></li>
      {% endfor %}
      {% if info.pagina < dati.maxPagine %}
      <li><a href="{{ path('documenti_archivio_bes', {'pagina': info.pagina + 1}) }}" title="{{ 'label.successiva'|trans }}"><span aria-hidden="true">&raquo;</span></a></li>
      {% else %}
      <li class="disabled"><span title="{{ 'label.successiva'|trans }}"><span aria-hidden="true">&raquo;</span></span></li>
      {% endif %}
    </ul>
  </nav>
    {% endif %}
  {% endif %}
  {% include 'include/modal-confirm.html.twig' with {'modal_confirm_msg': 'message.cancella_documenti_bes'} %}
</div>
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script>
$(document).ready(function() {
  $('[data-toggle="popover"]').popover();
  $('#gs-modal-confirm').on('show.bs.modal', function (event) {
    var href = $(event.relatedTarget).data('href');
    $(this).find('#gs-modal-confirm-yes').attr('href', href);
    var text = $(event.relatedTarget).data('text');
    $(this).find('#gs-modal-confirm-msg').text(text);
  });
});
</script>
{% endblock %}
