{% extends 'documenti/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  <div class="panel panel-primary gs-mt-4">
    <div class="panel-heading">
      <div class="panel-title">{{ form_title|trans }}</div>
    </div>
    <div class="panel-body gs-pt-0">
      <div class="row bg-success gs-mb-3 gs-pt-2 gs-pb-2">
        <div class="col-sm-2 text-right"><strong class="gs-big">Classe:</strong></div>
        <div class="col-sm-4"><span class="gs-big">{{ info.classe }}</span></div>
        <div class="col-sm-2 text-right"><strong class="gs-big">Materia:</strong></div>
        <div class="col-sm-4"><span class="gs-big">{{ info.materia }}</span></div>
      </div>
      <div class="help-block gs-text-normal gs-big gs-mb-4"><em>{{ 'message.inserimento_piani'|trans|raw }}</em></div>
      {{ form_start(form) }}
      {{ form_errors(form) }}
      <div class="form-group">
        <label class="col-sm-2 control-label">Documento</label>
        <div class="col-sm-10">
          <div class="dropzone">
            <div class="fallback"></div>
          </div>
        </div>
      </div>
      {{ form_end(form) }}
    </div>
  </div>
  {% include 'include/modal-waiting.html.twig' %}
</div>
{% endblock %}

{% block pagina_css %}
{{ parent() }}
<link href="{{ asset('vendor/dropzone/css/dropzone.min.css') }}" rel="stylesheet">
<link href="{{ asset('css/tema_dropzone.css') }}" rel="stylesheet">
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script src="{{ asset('vendor/dropzone/js/dropzone.min.js') }}"></script>
<script>
Dropzone.autoDiscover = false;
var DZ = new Dropzone(".dropzone", {
  url: "{{ path('file_upload', {'pagina': 'documenti_piani_add', 'param': 'files'}) }}",
  maxFiles: 1,
  maxFilesize: 50,
  acceptedFiles: ".pdf,.odt,.doc,.docx,.rtf,.txt",
  timeout: 0,
  paramName: "files",
  uploadMultiple: true,
  addRemoveLinks: true,
  createImageThumbnails: false,
  clickable: true,
  dictDefaultMessage: "{{ 'message.single_upload_dropzone'|trans }}",
  dictFallbackMessage: "{{ 'exception.upload_no_dropzone'|trans }}",
  dictInvalidFileType: "{{ 'exception.upload_tipo'|trans }}",
  dictFileTooBig: "{{ 'exception.upload_dimensione'|trans }}",
  dictMaxFilesExceeded: "{{ 'exception.upload_numero'|trans }}",
  dictRemoveFile: "{{ 'label.upload_rimuove_file'|trans }}",
  dictCancelUpload: "{{ 'label.upload_cancella'|trans }}",
  dictCancelUploadConfirmation: "{{ 'message.upload_cancella'|trans }}",
  init: function() {
    this.on("successmultiple", function(files, response) {
      $.each(files, function(key,file){
        file.uploaded = response[key];
        $('#documento_submit').removeAttr('disabled');
      });
    });
    this.on("removedfile", function(file) {
      $.post("{{ path('file_remove', {'pagina': 'documenti_piani_add', 'param': 'files'}) }}", {"files": file.uploaded});
      if (file.status == 'success') {
        $('#documento_submit').attr('disabled', true);
      }
    });
    $('#documento_submit').attr('disabled', true);
  }
});
$(document).ready(function() {
  $('form[name="documento"]').submit(function(ev) {
    var f = DZ.getAcceptedFiles()[0];
    if (f && f.type != 'application/pdf') {
      $('#gs-modal-waiting-title').html('Attendere: conversione del documento in formato PDF.');
      $('#gs-modal-waiting').modal('show');
    }
  });
});
</script>
{% endblock %}
