{% extends 'documenti/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  <h1 class="text-center gs-h2 gs-mt-2">{{ 'title.documenti_programmi'|trans }}</h1>
  {% if dati is empty %}
  <div class="alert alert-warning" role="alert">
    <strong class="gs-big">{{ 'message.no_cattedra_programmi'|trans }}</strong>
  </div>
  {% else %}
  <div class="help-block gs-text-normal gs-big gs-mb-4"><em>{{ 'message.inserimento_programmi'|trans|raw }}</em></div>
  <table class="table table-bordered table-hover table-striped gs-mt-5">
    <thead class="bg-success">
      <tr>
        <th class="col-sm-5">{{ 'label.cattedra'|trans }}</th>
        <th class="col-sm-5">{{ 'label.documento'|trans }}</th>
        <th class="col-sm-2">{{ 'label.action'|trans }}</th>
      </tr>
    </thead>
    <tbody>
    {% for d in dati %}
      <tr>
        <td>
          <strong>{{ d.anno }}ª {{ d.sezione }}</strong> - {{ d.corso }} - {{ d.sede }}<br>
          <strong>{{ d.materia }}</strong>
        </td>
        <td>
      {% if d.documento %}
          <a href="{{ path('documenti_download', {'documento': d.documento.id}) }}" title="Scarica il programma indicato">
          <span class="glyphicon glyphicon-download gs-mr-1"></span><strong>{{ d.documento.allegati[0].titolo }}</strong>
          </a><br>
          <small>Dimensione: {{ (d.documento.allegati[0].dimensione / 1000)|number_format(0,',','.') }} kB</small>
      {% else %}
          <strong class="gs-big text-danger">{{ 'label.documento_mancante'|trans }}</strong>
      {% endif %}
        </td>
        <td>
      {% if d.add is defined %}
          <a class="btn btn-primary btn-xs" href="{{ path('documenti_programmi_add', {'classe': d.classe_id, 'materia': d.materia_id}) }}" role="button" title="Inserisci il programma svolto"><span class="glyphicon glyphicon-plus gs-mr-2"></span><strong>Aggiungi</strong></a>
      {% endif %}
      {% if d.delete is defined %}
          <button class="btn btn-danger btn-xs gs-modal-confirm-button" title="Cancella il programma indicato" data-toggle="modal" data-target="#gs-modal-confirm" data-href="{{ path('documenti_delete', {'documento': d.documento.id}) }}" data-text="{{ 'message.cancella_programma'|trans }}"><span class="glyphicon glyphicon-remove gs-mr-2" aria-hidden="true"></span><strong>Cancella</strong></button>
      {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% endif %}
  {% include 'include/modal-confirm.html.twig' with {'modal_confirm_msg': 'message.cancella_programma'} %}
</div>
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script>
$(document).ready(function() {
  $('#gs-modal-confirm').on('show.bs.modal', function (event) {
    var href = $(event.relatedTarget).data('href');
    $(this).find('#gs-modal-confirm-yes').attr('href', href);
    var text = $(event.relatedTarget).data('text');
    $(this).find('#gs-modal-confirm-msg').text(text);
  });
});
</script>
{% endblock %}
