<nav class="gs-navbar-submenu">
  <ul class="nav nav-tabs">
    <li role="presentation"{{ app.request.attributes.get('_route') == 'utenti_profilo' ? ' class="active"' }}><a href="{{ path('utenti_profilo') }}" title="Visualizza il profilo dell'utente">Profilo</a></li>
    <li role="presentation"{{ app.request.attributes.get('_route') == 'utenti_password' ? ' class="active"' }}><a href="{{ path('utenti_password') }}" title="Modifica la password di accesso">Password</a></li>
  {% if app.session.get('/CONFIG/ACCESSO/id_provider') and app.user.controllaRuolo(app.session.get('/CONFIG/ACCESSO/id_provider_tipo')) %}
    <li role="presentation" class="disabled"><a href="#" class="disabled" title="Modifica l'indirizzo di posta elettronica">Email</a></li>
  {% else %}
    <li role="presentation"{{ app.request.attributes.get('_route') == 'utenti_email' ? ' class="active"' }}><a href="{{ path('utenti_email') }}" title="Modifica l'indirizzo di posta elettronica">Email</a></li>
  {% endif %}
  {% if (app.session.get('/CONFIG/ACCESSO/id_provider') and app.user.controllaRuolo(app.session.get('/CONFIG/ACCESSO/id_provider_tipo'))) or not app.user.controllaRuolo(app.session.get('/CONFIG/ACCESSO/otp_tipo')) %}
    <li role="presentation" class="disabled"><a href="#" title="Abilita/disabilita l'uso del codice OTP per l'accesso sicuro">OTP</a></li>
  {% else %}
    <li role="presentation"{{ app.request.attributes.get('_route') == 'utenti_otp' ? ' class="active"' }}><a href="{{ path('utenti_otp') }}" title="Abilita/disabilita l'uso del codice OTP per l'accesso sicuro">OTP</a></li>
  {% endif %}
    <li role="presentation"{{ app.request.attributes.get('_route') == 'utenti_notifiche' ? ' class="active"' }}><a href="{{ path('utenti_notifiche') }}" title="Modifica le impostazioni delle notifiche">Notifiche</a></li>
  </ul>
</nav>
