<nav class="gs-navbar-submenu">
  <ul class="nav nav-tabs">
    <li role="presentation"{{ app.request.attributes.get('_route') == 'utenti_profilo' ? ' class="active"' }}><a href="{{ path('utenti_profilo') }}" title="Visualizza il profilo dell'utente">Profilo</a></li>
    <li role="presentation"{{ app.request.attributes.get('_route') == 'utenti_email' ? ' class="active"' }}><a href="{{ path('utenti_email') }}" title="Modifica l'indirizzo di posta elettronica">Cambia email</a></li>
    <li role="presentation"{{ app.request.attributes.get('_route') == 'utenti_password' ? ' class="active"' }}><a href="{{ path('utenti_password') }}" title="Modifica la password di accesso">Cambia password</a></li>
  {% if is_granted('ROLE_DOCENTE') %}
    <li role="presentation"{{ app.request.attributes.get('_route') == 'utenti_otp' ? ' class="active"' }}><a href="{{ path('utenti_otp') }}" title="Abilita all'uso del codice OTP per l'accesso sicuro">Attiva OTP</a></li>
  {% endif %}
  {% if is_granted('ROLE_DOCENTE') or is_granted('ROLE_ATA') %}
    <li role="presentation"{{ app.request.attributes.get('_route') == 'utenti_notifiche' ? ' class="active"' }}><a href="{{ path('utenti_notifiche') }}" title="Abilita o disabilita le notifiche delle circolari">Gestione notifiche</a></li>
  {% endif %}
  </ul>
</nav>

