{% extends 'lezioni/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  <h1 class="text-center gs-h1 gs-mt-2 gs-mb-0">{{ 'title.lezioni_riepilogo'|trans }} {{ classe.anno~'ª '~classe.sezione }}</h1>
  <h2 class="text-center gs-h2 gs-mt-0 gs-mb-5"><em>{{ info.materia }}{% if info.alunno %}<button type="button" class="btn btn-xs btn-default gs-ml-3" title="Informazioni sulla cattedra" data-placement="auto left" data-toggle="popover" data-trigger="hover" data-content="{{ info.alunno }}"><span class="glyphicon glyphicon-info-sign"></span></button>{% endif %}</em></h2>
  <div class="row gs-mb-1">
    <div class="col-sm-6">
      {% if data_prec %}<a class="btn btn-success btn-sm" href="{{ path('lezioni_argomenti_riepilogo', {'cattedra': (cattedra ? cattedra.id : 0), 'data': data_prec|date('Y-m-d')}) }}" role="button" title="Mese precedente"><span class="glyphicon glyphicon-chevron-left"></span></a>{% endif %}
      <button class="btn btn-primary gs-pt-2 gs-pb-2" id="gs-button-date" title="Cambia mese"><span class="glyphicon glyphicon-calendar gs-mr-3"></span><strong>{{ mesi[data|date('n')] }} {{ data|date('Y') }}</strong></button>
      {% if data_succ %}<a class="btn btn-success btn-sm" href="{{ path('lezioni_argomenti_riepilogo', {'cattedra': (cattedra ? cattedra.id : 0), 'data': data_succ|date('Y-m-d')}) }}" role="button" title="Mese successivo"><span class="glyphicon glyphicon-chevron-right"></span></a>{% endif %}
    </div>
    <div class="col-sm-6 text-right">
      <a class="btn btn-success btn-sm" href="{{ path('lezioni_argomenti', {'cattedra': cattedra.id, 'classe': classe.id}) }}" role="button" title="Visualizza gli argomenti e le attività delle lezioni svolte"><span class="glyphicon glyphicon-zoom-in gs-mr-3"></span><strong>Elenco argomenti</strong></a>
    </div>
  </div>
  {% if dati.lista is defined %}
  <table class="table table-bordered table-hover table-striped">
    <thead class="bg-success">
      <tr>
        <th>Alunno</th>
    {% for dt,v in dati.lista %}
        <th class="gs-pr-0 gs-pl-0">
          <a class="btn btn-{{ v.durata > 0 ? 'primary' : 'default' }} btn-xs" href="{{ path('lezioni_registro_firme', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': dt, 'vista': 'G'}) }}" role="button" title="Visualizza le lezioni del giorno"><strong>{{ v.data }}</strong></a><br>
          <small>ore: {{ v.durata > 0 ? v.durata : '-'}}</small>
        </th>
    {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% set tipo_rel = (cattedra and cattedra.materia.tipo == 'R' and cattedra.tipo == 'A') ? 'A' : (cattedra and cattedra.materia.tipo == 'R' ? 'S' : '') %}
    {% for a in dati.alunni %}
      {% if cattedra.materia.tipo != 'R' or a.religione == tipo_rel %}
      <tr>
        <td class="gs-pt-1 gs-pb-1">
          <small><strong>{{ a.cognome }} {{ a.nome }} ({{ a.dataNascita|date('d/m/Y') }})</strong></small>
        </td>
        {% for dt,v in dati.lista %}
          {% if v[a.id]['classe'] is defined %}
        <td class="gs-pr-0 gs-pl-0 gs-pt-1 gs-pb-1">
            {% if v[a.id]['assenze'] is defined and v.durata > 0 %}
              {% if v[a.id]['assenze'] >= 1 %}
                {% for ore in 1 .. (v[a.id]['assenze']|round(0,'floor')) %}
          <span class="label label-default gs-pr-1 gs-pl-1" title="Assenza di un'ora">A</span>
                {% endfor %}
              {% endif %}
              {% if v[a.id]['assenze'] > (v[a.id]['assenze']|round(0,'floor')) %}
          <span class="label label-default gs-pr-1 gs-pl-1" title="Assenza di mezz'ora">a</span>
              {% endif %}
            {% endif %}
            {% if v[a.id]['voti'] is defined %}
              {% for voto in v[a.id]['voti'] %}
                {% if voto.voto > 0 and not voto.visibile %}
          <button type="button" class="btn btn-xs btn-default" title="Informazioni sulla valutazione" data-toggle="modal" data-target="#gs-modal-info" data-title="Informazioni sulla valutazione" data-body="voti-{{ voto.voto_id }}">{{ voto.voto_str }}</button>
                {% elseif voto.voto > 0 %}
          <button type="button" class="btn btn-xs btn-{{ voto.voto < 5 ? 'danger' : (voto.voto < 6 ? 'warning' : 'success') }}" title="Informazioni sulla valutazione" data-toggle="modal" data-target="#gs-modal-info" data-title="Informazioni sulla valutazione" data-body="voti-{{ voto.voto_id }}">{{ voto.voto_str }}</button>
                {% else %}
          <button type="button" class="btn btn-xs btn-default" title="Informazioni sulla valutazione" data-toggle="modal" data-target="#gs-modal-info" data-title="Informazioni sulla valutazione" data-body="voti-{{ voto.voto_id }}"><span class="glyphicon glyphicon-asterisk"></span></button>
                {% endif %}
          <div id="voti-{{ voto.voto_id }}" style="display:none">
            <div class="list-group-item">
              <div class="list-group-item-text">
                <p>
                {% if not voto.visibile %}
                  <span class="glyphicon glyphicon-eye-close text-danger gs-mr-2" title="Non visibile ai genitori"></span>
                {% endif %}
                  <strong>Data: {{ v.data }} {{ info.data_label }}</strong>
                </p>
                <p><strong>Tipo: {{ ('label.voti_'~voto.tipo)|trans }}</strong></p>
                {% if voto.argomento is not empty %}
                <p><strong>Argomenti o descrizione della prova:</strong><br>{{ voto.argomento }}</p>
                {% endif %}
                {% if voto.giudizio is not empty %}
                <p><strong>Giudizio:</strong><br>{{ voto.giudizio }}</p>
                {% endif %}
              </div>
            </div>
          </div>
              {% endfor %}
            {% endif %}
        </td>
          {% else %}
        <td class="gs-bg-muted"></td>
          {% endif %}
        {% endfor %}
      </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div class="alert alert-warning" role="alert">
    <strong class="gs-big">{{ 'message.nessun_dato'|trans }}</strong>
  </div>
  {% endif %}
  {% include 'include/modal-info.html.twig' %}
</div>
{% endblock %}

{% block pagina_css %}
{{ parent() }}
<link href="{{ asset('vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet">
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script src="{{ asset('vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap-datepicker/locales/bootstrap-datepicker.it.min.js') }}"></script>
<script>
$(document).ready(function() {
  $('#gs-button-date').datepicker({
    format: "yyyy-mm-dd",
    weekStart: 1,
    maxViewMode: 1,
    daysOfWeekDisabled: "0",
    defaultViewDate: "{{ data }}",
    startDate: "{{ app.session.get('/CONFIG/SCUOLA/anno_inizio') }}",
    endDate: "{{ app.session.get('/CONFIG/SCUOLA/anno_fine') }}",
    todayBtn: "linked",
    todayHighlight: true,
    autoclose: true,
    language: "it",
    zIndexOffset: 1200
    });
  $('#gs-button-date').datepicker()
    .on('show', function(ev){
      $('#gs-button-date').datepicker('update', '{{ data }}');
  });
  $('#gs-button-date').datepicker()
    .on('changeDate', function(ev){
      $('#gs-button-date').datepicker('hide');
      url = "{{ path('lezioni_argomenti_riepilogo', {'cattedra': (cattedra ? cattedra.id : 0), 'data': '9999-99-99'}) }}";
      url = url.replace("9999-99-99", ev.format());
      window.location.href = url;
  });
  $('[data-toggle="popover"]').popover();
  $('#gs-modal-info').on('show.bs.modal', function (event) {
    var title = $(event.relatedTarget).data('title');
    var id = $(event.relatedTarget).data('body');
    var html = $('#'+id).html();
    $(this).find('#gs-modal-info-label').text(title);
    $(this).find('#gs-modal-info-body').html(html);
  });
});
</script>
{% endblock %}
