{% extends 'lezioni/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  {% if not cattedra and not classe %}
  <h1 class="text-center gs-h1 gs-mt-2">{{ 'title.lezioni_assenze'|trans }}</h1>
  <div class="alert alert-warning" role="alert">
    <strong class="gs-big">{{ 'message.cattedra_mancante'|trans }}</strong>
  </div>
  {% else %}
  <h1 class="text-center gs-h1 gs-mt-2 gs-mb-0">{{ 'title.lezioni_assenze'|trans }} {{ classe.anno~'ª '~classe.sezione }}</h1>
  <h2 class="text-center gs-h2 gs-mt-0 gs-mb-5"><em>{{ info.materia }}{% if info.alunno %}<button type="button" class="btn btn-xs btn-default gs-ml-3" title="Informazioni sulla cattedra" data-placement="auto left" data-toggle="popover" data-trigger="hover" data-content="{{ info.alunno }}"><span class="glyphicon glyphicon-info-sign"></span></button>{% endif %}</em></h2>
    {% if errore %}
  <div class="row gs-mb-5">
    <div class="col-sm-12">
      {% if data_prec %}<a class="btn btn-success btn-sm" href="{{ path('lezioni_assenze_quadro', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': data_prec|date('Y-m-d'), 'vista': 'G'}) }}" role="button" title="Giorno precedente"><span class="glyphicon glyphicon-chevron-left"></span></a>{% endif %}
      <button class="btn btn-primary gs-pt-2 gs-pb-2" id="gs-button-date" title="Cambia giorno"><span class="glyphicon glyphicon-calendar gs-mr-3"></span><strong>{{ info.data_label }}</strong></button>
      {% if data_succ %}<a class="btn btn-success btn-sm" href="{{ path('lezioni_assenze_quadro', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': data_succ|date('Y-m-d'), 'vista': 'G'}) }}" role="button" title="Giorno successivo"><span class="glyphicon glyphicon-chevron-right"></span></a>{% endif %}
    </div>
  </div>
  <div class="alert alert-warning" role="alert">
    <strong class="gs-big">{{ errore }}</strong>
  </div>
    {% else %}
      {% if avvisi+(circolari|length) > 0 %}
        {% include 'include/modal-popup.html.twig' with {'modal_popup_msg': 'message.presenti_comunicazioni'|trans } %}
  <div class="alert alert-danger text-center gs-big gs-mb-5 gs-pt-2 gs-pb-2" role="alert">
    <strong>{{ 'message.presenti_comunicazioni'|trans }}</strong><br>
        {% if avvisi > 0 %}
    <button id="gs-leggi-avvisi" class="btn btn-xs btn-primary gs-button-remote gs-ml-3" type="button" title="Visualizza il contenuto degli avvisi" data-toggle="modal" data-target="#gs-modal-remote" data-href="{{ path('bacheca_avvisi_alunni', {'classe': classe.id}) }}"><span class="glyphicon glyphicon-zoom-in gs-mr-2"></span><strong>{{ avvisi }} {{ 'message.num_avvisi'|trans({'num': avvisi}) }}</strong></button>
        {% endif %}
        {% if circolari|length > 0 %}
    <button id="gs-leggi-circolari" class="btn btn-xs btn-primary gs-ml-3" type="button" title="Visualizza il contenuto delle circolari" data-toggle="modal" data-target="#gs-modal-info" data-title="Circolari da leggere" data-body="circolare-lista"><span class="glyphicon glyphicon-zoom-in gs-mr-2"></span><strong>{{ circolari|length }} {{ 'message.num_circolari'|trans({'num': circolari|length}) }}</strong></button>
    <div id="circolare-lista" style="display:none">
          {% for c in circolari %}
      <div class="list-group-item">
        <div class="list-group-item-text">
          <h3 class="modal-title gs-h3">Circolare n. {{ c.numero }} del {{ c.data|date('d/m/Y') }}</h3>
          <h4 class="modal-title gs-h4"><em>{{ c.oggetto }}</em></h4>
          <div class="gs-mt-2">
            <strong>Documento:</strong>
            <a class="btn btn-xs btn-primary gs-ml-3" target="_blank" href="{{ path('circolari_download', {'id': c.id, 'doc': 0, 'tipo': 'V'}) }}" title="Visualizza la circolare" rel="noopener noreferrer"><strong>Visualizza</strong></a>
            <a class="btn btn-xs btn-primary gs-ml-3" href="{{ path('circolari_download', {'id': c.id, 'doc': 0, 'tipo': 'D'}) }}" title="Scarica la circolare" download><strong>Scarica</strong></a>
          </div>
            {% if c.allegati|length > 0 %}
              {% for n,d in c.allegati %}
          <div class="gs-mt-2">
            <strong>Allegato{{ c.allegati|length > 1 ? ' '~loop.index }}:</strong>
            <a class="btn btn-xs btn-primary gs-ml-3" target="_blank" href="{{ path('circolari_download', {'id': c.id, 'doc': loop.index, 'tipo': 'V'}) }}" title="Visualizza l'allegato" rel="noopener noreferrer"><strong>Visualizza</strong></a>
            <a class="btn btn-xs btn-primary gs-ml-3" href="{{ path('circolari_download', {'id': c.id, 'doc': loop.index, 'tipo': 'D' }) }}" title="Scarica l'allegato" download><strong>Scarica</strong></a>
          </div>
              {% endfor %}
            {% endif %}
          <div class="text-center gs-mt-4">
            <a class="btn btn-success" href="{{ path('circolari_firma_classe', {'classe': classe.id, 'id': c.id}) }}" role="button" title="Conferma la lettura della circolare alla classe"><span class="glyphicon glyphicon-ok gs-mr-2"></span><strong>Conferma lettura alla classe</strong></a>
          </div>
        </div>
      </div>
          {% endfor %}
      <div class="list-group-item">
        <div class="list-group-item-text">
          <div class="text-center gs-mt-3 gs-mb-3">
          {% if circolari|length > 1 %}
            <a class="btn btn-success gs-mr-4" href="{{ path('circolari_firma_classe', {'classe': classe.id, 'id': 0}) }}" role="button" title="Conferma la lettura di tutte le circolari alla classe"><span class="glyphicon glyphicon-ok gs-mr-2"></span><strong>Conferma lettura di tutto</strong></a>
          {% endif %}
            <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove gs-mr-2" aria-hidden="true"></span><strong>Annulla</strong></button>
          </div>
        </div>
      </div>
    </div>
        {% endif %}
  </div>
      {% endif %}
  <div class="row gs-mb-1">
    <div class="col-sm-5">
      {% if data_prec %}<a class="btn btn-success btn-sm" href="{{ path('lezioni_assenze_quadro', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': data_prec|date('Y-m-d'), 'vista': 'G'}) }}" role="button" title="Giorno precedente"><span class="glyphicon glyphicon-chevron-left"></span></a>{% endif %}
      <button class="btn btn-primary gs-pt-2 gs-pb-2" id="gs-button-date" title="Cambia giorno"><span class="glyphicon glyphicon-calendar gs-mr-3"></span><strong>{{ info.data_label }}</strong></button>
      {% if data_succ %}<a class="btn btn-success btn-sm" href="{{ path('lezioni_assenze_quadro', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': data_succ|date('Y-m-d'), 'vista': 'G'}) }}" role="button" title="Giorno successivo"><span class="glyphicon glyphicon-chevron-right"></span></a>{% endif %}
    </div>
    <div class="col-sm-2 text-center">
      {% if dati[data].pulsante_appello is defined and not app.session.get('/CONFIG/SCUOLA/assenze_ore') %}
      <a class="btn btn-success" href="{{ dati[data].pulsante_appello }}" role="button" title="Esegui la procedura dell'appello"><span class="glyphicon glyphicon-hand-up gs-mr-3"></span>Appello</a>
      {% endif %}
    </div>
    <div class="col-sm-5 text-right">
      <strong class="gs-big">Vista:</strong>
      <a class="btn btn-default btn-sm active" href="{{ path('lezioni_assenze_quadro', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': data, 'vista': 'G'}) }}" role="button" title="Visualizza le assenze del giorno"><span class="glyphicon glyphicon-stop"></span></a>
      <a class="btn btn-default btn-sm" href="{{ path('lezioni_assenze_quadro', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': data, 'vista': 'S'}) }}" role="button" title="Visualizza le assenze della settimana"><span class="glyphicon glyphicon-th-large"></span></a>
      <a class="btn btn-default btn-sm" href="{{ path('lezioni_assenze_quadro', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': data, 'vista': 'M'}) }}" role="button" title="Visualizza le assenze del mese"><span class="glyphicon glyphicon-th"></span></a>
    </div>
  </div>
      {% set tipo_rel = (cattedra and cattedra.materia.tipo == 'R' and cattedra.tipo == 'A') ? 'A' : (cattedra and cattedra.materia.tipo == 'R' ? 'S' : '') %}
      {% for tab in ['N','R'] %}
        {% if tab == 'N' or (cattedra and cattedra.materia.tipo == 'R') %}
  <table class="table table-bordered table-hover table-striped">
          {% if tab == 'R' %}
    <caption class="text-info text-center gs-big"><strong>Alunni che non si avvalgono</strong></caption>
          {% endif %}
    <thead class="bg-success">
      <tr>
        <th>#</th>
        <th>Alunno</th>
        <th>Situazione</th>
        <th>Giustificazioni</th>
        <th>Azioni</th>
      </tr>
    </thead>
    <tbody>
          {% for k,v in dati[data].lista %}
            {% if (tab == 'N' and (not cattedra or cattedra.materia.tipo != 'R' or v.religione == tipo_rel)) or (tab == 'R' and v.religione != tipo_rel) %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>
          <button type="button" class="btn btn-xs btn-default" title="Dettagli alunno" data-toggle="modal" data-target="#gs-modal-info" data-title="{{ v.cognome }} {{ v.nome }} ({{ v.dataNascita|date('d/m/Y') }})" data-body="alunno-{{ loop.index }}"><span class="glyphicon glyphicon-zoom-in"></span></button>
          <strong>{{ v.cognome }} {{ v.nome }} ({{ v.dataNascita|date('d/m/Y') }})</strong>
              {% if v.autorizzaEntrata is not empty %}
          <button type="button" class="btn btn-xs btn-info gs-ml-1" title="Autorizzazione all'entrata in ritardo" data-placement="auto left" data-toggle="popover" data-trigger="hover" data-content="{{ v.autorizzaEntrata }}"><span class="glyphicon glyphicon-time"></span></button>
              {% endif %}
              {% if v.autorizzaUscita is not empty %}
          <button type="button" class="btn btn-xs btn-warning gs-ml-1" title="Autorizzazione all'uscita anticipata" data-placement="auto left" data-toggle="popover" data-trigger="hover" data-content="{{ v.autorizzaUscita }}"><span class="glyphicon glyphicon-time"></span></button>
              {% endif %}
          <div id="alunno-{{ loop.index }}" style="display:none">
            <div class="list-group-item">
              <div class="list-group-item-text">
                <h3 class="gs-h3 text-center gs-mt-1">Autorizzazioni e deroghe</h3>
                <p>Ingresso: {{ v.autorizzaEntrata ? v.autorizzaEntrata : 'NESSUNA' }}</p>
                <p>Uscita: {{ v.autorizzaUscita ? v.autorizzaUscita : 'NESSUNA' }}</p>
                {% if v.note %}<p>Note:<br><em>{{ v.note }}</em></p>{% endif %}
              </div>
            </div>
            <div class="list-group-item">
              <div class="list-group-item-text">
                <h3 class="gs-h3 text-center gs-mt-1">Dati utente</h3>
                <p>Profilo <strong>GENITORE</strong>: {{ dati[data].genitori[v.id_alunno].username }}<br>(ultimo accesso: {{ dati[data].genitori[v.id_alunno].ultimoAccesso ? dati[data].genitori[v.id_alunno].ultimoAccesso|date('d/m/Y H:i:s') : 'MAI' }})</p>
                <p>Profilo <strong>STUDENTE</strong>: {{ v.username }}<br>(ultimo accesso: {{ v.ultimoAccesso ? v.ultimoAccesso|date('d/m/Y H:i:s') : 'MAI' }})</p>
              </div>
            </div>
              {% if v.bes != 'N' %}
            <div class="list-group-item">
              <div class="list-group-item-text">
                <h3 class="gs-h3 text-center gs-mt-1">Bisogni Educativi Speciali</h3>
                <p>Tipologia: {{ ('label.bes_'~v.bes)|trans }}</p>
                {% if v.noteBes and cattedra %}<p>Descrizione:<br><em>{{ v.noteBes|raw }}</em></p>{% endif %}
              </div>
            </div>
              {% endif %}
          </div>
        </td>
        <td>
              {% if v.id_assenza %}
          <span class="label label-danger">Assente</span>
                {% if app.session.get('/CONFIG/SCUOLA/assenze_ore') %}
                  {% for o,ol in dati[data].ore.id %}
                    {% if v.id_alunno in ol %}
                      <span class="label label-default">{{ o }}ª</span>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endif %}
              {% if v.id_entrata %}
          <span class="label label-warning gs-mr-1"{% if v.note_entrata %} title="Note sul ritardo" data-placement="auto left" data-toggle="popover" data-trigger="hover" data-content="{{ v.note_entrata }}"{% endif %}>Ritardo ({{ v.ora_entrata|date('H:i') }})
                {% if v.note_entrata %} <span class="glyphicon glyphicon-info-sign"></span>{% endif %}
          </span>
              {% endif %}
              {% if v.id_uscita %}
          <span class="label label-warning"{% if v.note_uscita %} title="Note sull'uscita anticipata" data-placement="auto left" data-toggle="popover" data-trigger="hover" data-content="{{ v.note_uscita }}"{% endif %}>Uscita ({{ v.ora_uscita|date('H:i') }})
                {% if v.note_uscita %} <span class="glyphicon glyphicon-info-sign"></span>{% endif %}
          </span>
              {% endif %}
        </td>
        <td>
              {% if v.convalide > 0 %}
          <span class="label label-success gs-mr-3">{{ v.convalide }} convalid{{ v.convalide > 1 ? 'e' : 'a' }}</span>
              {% endif %}
              {% if v.giustifica_assenze > 0 %}
          <span class="badge gs-mr-3">{{ v.giustifica_assenze }} assenz{{ v.giustifica_assenze > 1 ? 'e' : 'a' }}</span>
              {% endif %}
              {% if v.giustifica_ritardi > 0 %}
          <span class="badge gs-mr-3">{{ v.giustifica_ritardi }} ritard{{ v.giustifica_ritardi > 1 ? 'i' : 'o' }}</span>
              {% endif %}
        </td>
        <td>
              {% if v.pulsante_presenza is defined and not app.session.get('/CONFIG/SCUOLA/assenze_ore') %}
          <a class="btn btn-success btn-xs" href="{{ v.pulsante_presenza }}" role="button" title="Segna la presenza dell'alunno">P</a>
              {% endif %}
              {% if v.pulsante_assenza is defined and not app.session.get('/CONFIG/SCUOLA/assenze_ore') %}
          <a class="btn btn-danger btn-xs" href="{{ v.pulsante_assenza }}" role="button" title="Segna l'assenza dell'alunno">A</a>
              {% endif %}
              {% if v.pulsante_entrata is defined and not app.session.get('/CONFIG/SCUOLA/assenze_ore') %}
          <a class="btn btn-warning btn-xs" href="{{ v.pulsante_entrata }}" role="button" title="Segna il ritardo dell'alunno">R</a>
              {% endif %}
              {% if v.pulsante_uscita is defined and not app.session.get('/CONFIG/SCUOLA/assenze_ore') %}
          <a class="btn btn-warning btn-xs" href="{{ v.pulsante_uscita }}" role="button" title="Segna l'uscita anticipata dell'alunno">U</a>
              {% endif %}
              {% if v.pulsante_giustifica is defined %}
          <a class="btn btn-primary btn-xs" href="{{ v.pulsante_giustifica }}" role="button" title="Giustifica le assenze e i ritardi">G</a>
              {% endif %}
        </td>
      </tr>
            {% endif %}
          {% endfor %}
    </tbody>
  </table>
        {% endif %}
      {% endfor %}
      {% include 'include/modal-remote.html.twig' %}
      {% include 'include/modal-info.html.twig' %}
    {% endif %}
  {% endif %}
</div>
{% endblock %}

{% block pagina_css %}
{{ parent() }}
<link href="{{ asset('vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet">
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script src="{{ asset('vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap-datepicker/locales/bootstrap-datepicker.it.min.js') }}"></script>
<script>
$(document).ready(function() {
  $('#gs-button-date').datepicker({
    format: "yyyy-mm-dd",
    weekStart: 1,
    maxViewMode: 1,
    daysOfWeekDisabled: "0",
    defaultViewDate: "{{ data }}",
    startDate: "{{ app.session.get('/CONFIG/SCUOLA/anno_inizio') }}",
    endDate: "{{ app.session.get('/CONFIG/SCUOLA/anno_fine') }}",
    datesDisabled: {{ lista_festivi|raw }},
    todayBtn: "linked",
    todayHighlight: true,
    autoclose: true,
    language: "it",
    zIndexOffset: 1200
    });
  $('#gs-button-date').datepicker()
    .on('show', function(ev){
      $('#gs-button-date').datepicker('update', '{{ data }}');
  });
  $('#gs-button-date').datepicker()
    .on('changeDate', function(ev){
      $('#gs-button-date').datepicker('hide');
      url = "{{ path('lezioni_assenze_quadro', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': '9999-99-99', 'vista': 'G'}) }}";
      url = url.replace("9999-99-99", ev.format());
      window.location.href = url;
  });
  $('[data-toggle="popover"]').popover();
  $('#gs-modal-info').on('show.bs.modal', function (event) {
    var title = $(event.relatedTarget).data('title');
    var id = $(event.relatedTarget).data('body');
    var html = $('#'+id).html();
    $(this).find('#gs-modal-info-label').text(title);
    $(this).find('#gs-modal-info-body').html(html);
  });
  $('#gs-modal-remote').on('show.bs.modal', function (event) {
    var url = $(event.relatedTarget).data('href');
    $(this).find('#gs-modal-remote-content').load(url);
  });
  $('#gs-modal-remote').on('shown.bs.modal', function (e) {
    $('body').addClass('modal-open');
  });
  $(".gs-button-remote").click(function(e) {
    e.preventDefault();
    var url = $(e.currentTarget).data('href');
    $('#gs-modal-remote-content').html('<div class="modal-content"><div class="modal-header"><h3 class="modal-title">Attendere prego...</h3></div><div class="modal-body"><div class="progress"><div class="progress-bar progress-bar-info progress-bar-striped active" style="width: 100%"></div></div></div></div>');
  });
  $('#gs-modal-info').on('show.bs.modal', function (e) {
    var title = $(e.relatedTarget).data('title');
    var body = $('#'+$(e.relatedTarget).data('body')).html();
    $(this).find('#gs-modal-info-label').html(title);
    $(this).find('#gs-modal-info-body').html(body);
  });
  $('#gs-modal-info').on('shown.bs.modal', function (e) {
    $('body').addClass('modal-open');
  });
  {% if avvisi+(circolari|length) > 0 %}
  $("#gs-modal-popup-do").click(function(e) {
    $('#gs-modal-popup').modal('hide');
    {% if avvisi > 0 %}
    $('#gs-leggi-avvisi').click();
    {% else %}
    $('#gs-leggi-circolari').click();
    {% endif %}
  });
  // init
  $('#gs-modal-popup').modal('show');
  {% endif %}
});
</script>
{% endblock %}
