{% extends 'lezioni/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  {% if not cattedra and not classe %}
  <h1 class="text-center gs-h1 gs-mt-2">{{ 'title.lezioni_assenze'|trans }}</h1>
  <div class="alert alert-warning" role="alert">
    <strong class="gs-big">{{ 'message.cattedra_mancante'|trans }}</strong>
  </div>
  {% else %}
  <h1 class="text-center gs-h1 gs-mt-2 gs-mb-0">{{ 'title.lezioni_assenze'|trans }} {{ classe }}</h1>
  <h2 class="text-center gs-h2 gs-mt-0 gs-mb-5"><em>{{ info.materia }}{% if info.alunno %}<button type="button" class="btn btn-xs btn-default gs-ml-3" title="Informazioni sulla cattedra" data-placement="auto left" data-toggle="popover" data-trigger="hover" data-content="{{ info.alunno }}"><span class="glyphicon glyphicon-info-sign"></span></button>{% endif %}</em></h2>
    {% if errore %}
  <div class="row gs-mb-5">
    <div class="col-sm-12">
      {% if data_prec %}<a class="btn btn-success btn-sm" href="{{ path('lezioni_assenze_quadro', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': data_prec|date('Y-m-d'), 'vista': 'G'}) }}" role="button" title="Giorno precedente"><span class="glyphicon glyphicon-chevron-left"></span></a>{% endif %}
      <button class="btn btn-primary gs-pt-2 gs-pb-2" id="gs-button-date" title="Cambia giorno"><span class="glyphicon glyphicon-calendar gs-mr-3"></span><strong>{{ info.data_label }}</strong></button>
      {% if data_succ %}<a class="btn btn-success btn-sm" href="{{ path('lezioni_assenze_quadro', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': data_succ|date('Y-m-d'), 'vista': 'G'}) }}" role="button" title="Giorno successivo"><span class="glyphicon glyphicon-chevron-right"></span></a>{% endif %}
    </div>
  </div>
  <div class="alert alert-warning" role="alert">
    <strong class="gs-big">{{ errore }}</strong>
  </div>
    {% else %}
  <div class="row gs-mb-1">
    <div class="col-sm-5">
      {% if data_prec %}<a class="btn btn-success btn-sm" href="{{ path('lezioni_assenze_quadro', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': data_prec|date('Y-m-d'), 'vista': 'G'}) }}" role="button" title="Giorno precedente"><span class="glyphicon glyphicon-chevron-left"></span></a>{% endif %}
      <button class="btn btn-primary gs-pt-2 gs-pb-2" id="gs-button-date" title="Cambia giorno"><span class="glyphicon glyphicon-calendar gs-mr-3"></span><strong>{{ info.data_label }}</strong></button>
      {% if data_succ %}<a class="btn btn-success btn-sm" href="{{ path('lezioni_assenze_quadro', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': data_succ|date('Y-m-d'), 'vista': 'G'}) }}" role="button" title="Giorno successivo"><span class="glyphicon glyphicon-chevron-right"></span></a>{% endif %}
    </div>
    <div class="col-sm-2 text-center">
      {% if dati[data].pulsante_appello is defined and not app.session.get('/CONFIG/SCUOLA/assenze_ore') %}
      <a class="btn btn-success" href="{{ dati[data].pulsante_appello }}" role="button" title="Esegui la procedura dell'appello"><span class="glyphicon glyphicon-hand-up gs-mr-3"></span>Appello</a>
      {% endif %}
    </div>
    <div class="col-sm-5 text-right">
      <strong class="gs-big">Vista:</strong>
      <a class="btn btn-default btn-sm active" href="{{ path('lezioni_assenze_quadro', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': data, 'vista': 'G'}) }}" role="button" title="Visualizza le assenze del giorno"><span class="glyphicon glyphicon-stop"></span></a>
      <a class="btn btn-default btn-sm" href="{{ path('lezioni_assenze_quadro', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': data, 'vista': 'S'}) }}" role="button" title="Visualizza le assenze della settimana"><span class="glyphicon glyphicon-th-large"></span></a>
      <a class="btn btn-default btn-sm" href="{{ path('lezioni_assenze_quadro', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': data, 'vista': 'M'}) }}" role="button" title="Visualizza le assenze del mese"><span class="glyphicon glyphicon-th"></span></a>
    </div>
  </div>
      {% set tipo_rel = (cattedra and cattedra.materia.tipo == 'R' and cattedra.tipo == 'A') ? 'A' : (cattedra and cattedra.materia.tipo == 'R' ? 'S' : '') %}
      {% for tab in ['N','R'] %}
        {% if tab == 'N' or (cattedra and cattedra.materia.tipo == 'R') %}
  <table class="table table-bordered table-hover table-striped">
          {% if tab == 'R' %}
    <caption class="text-info text-center gs-big"><strong>Alunni che non si avvalgono</strong></caption>
          {% endif %}
    <thead class="bg-success">
      <tr>
        <th>#</th>
        <th>Alunno</th>
        <th>Situazione</th>
        <th>Giustificazioni</th>
        <th>Azioni</th>
      </tr>
    </thead>
    <tbody>
          {% for k,v in dati[data].lista %}
            {% if (tab == 'N' and (not cattedra or cattedra.materia.tipo != 'R' or v.religione == tipo_rel)) or (tab == 'R' and v.religione != tipo_rel) %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>
          <button type="button" class="btn btn-xs btn-default" title="Dettagli alunno" data-toggle="modal" data-target="#gs-modal-info" data-title="{{ v.cognome }} {{ v.nome }} ({{ v.dataNascita|date('d/m/Y') }})" data-body="alunno-{{ loop.index }}"><span class="glyphicon glyphicon-zoom-in"></span></button>
          <strong>{{ v.cognome }} {{ v.nome }} ({{ v.dataNascita|date('d/m/Y') }})</strong>
              {% if v.autorizzaEntrata is not empty %}
          <button type="button" class="btn btn-xs btn-info gs-ml-1" title="Autorizzazione all'entrata in ritardo" data-placement="auto left" data-toggle="popover" data-trigger="hover" data-content="{{ v.autorizzaEntrata }}"><span class="glyphicon glyphicon-time"></span></button>
              {% endif %}
              {% if v.autorizzaUscita is not empty %}
          <button type="button" class="btn btn-xs btn-warning gs-ml-1" title="Autorizzazione all'uscita anticipata" data-placement="auto left" data-toggle="popover" data-trigger="hover" data-content="{{ v.autorizzaUscita }}"><span class="glyphicon glyphicon-time"></span></button>
              {% endif %}
          {% include 'include/scheda-alunno.html.twig' with {id: loop.index, a: v, g: dati[data].genitori[v.id_alunno]} %}
        </td>
        <td>
              {% if v.id_assenza %}
          <span class="label label-danger">Assente</span>
                {% if app.session.get('/CONFIG/SCUOLA/assenze_ore') %}
                  {% for o,ol in dati[data].ore.id %}
                    {% if v.id_alunno in ol %}
                      <span class="label label-default">{{ o }}ª</span>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endif %}
              {% if v.id_entrata %}
          <span class="label label-warning gs-mr-1"{% if v.note_entrata %} title="Note sul ritardo" data-placement="auto left" data-toggle="popover" data-trigger="hover" data-content="{{ v.note_entrata }}"{% endif %}>Ritardo ({{ v.ora_entrata|date('H:i') }})
                {% if v.note_entrata %} <span class="glyphicon glyphicon-info-sign"></span>{% endif %}
          </span>
              {% endif %}
              {% if v.id_uscita %}
          <span class="label label-warning"{% if v.note_uscita %} title="Note sull'uscita anticipata" data-placement="auto left" data-toggle="popover" data-trigger="hover" data-content="{{ v.note_uscita }}"{% endif %}>Uscita ({{ v.ora_uscita|date('H:i') }})
                {% if v.note_uscita %} <span class="glyphicon glyphicon-info-sign"></span>{% endif %}
          </span>
              {% endif %}
              {% if v.id_presenza %}
          <span class="label label-success gs-mr-1" title="Fuori classe {% if v.oraInizio %}dalle {{ v.oraInizio|date('H:i') }}{% if v.oraFine %} alle {{ v.oraFine|date('H:i') }}{% endif %}{% else %}tutto il giorno{% endif %}" data-placement="auto left" data-toggle="popover" data-trigger="hover" data-content="{{ ('label.presenza_tipo_'~v.tipo)|trans }}: {{v.descrizione}}">Fuori classe
            <span class="glyphicon glyphicon-info-sign"></span>
          </span>
              {% endif %}
              {% if v.uscite > 0 %}
          <span class="label label-info pull-right gs-ml-1 gs-mt-1">Uscite: {{ v.uscite }}</span>
              {% endif %}
              {% if v.ritardi > 0 %}
          <span class="label label-info pull-right gs-mt-1">Ritardi: {{ v.ritardi }}</span>
              {% endif %}
        </td>
        <td>
              {% if v.convalide > 0 %}
          <span class="label label-success gs-mr-3">{{ v.convalide }} convalid{{ v.convalide > 1 ? 'e' : 'a' }}</span>
              {% endif %}
              {% if v.giustifica_assenze > 0 %}
          <span class="badge gs-mr-3">{{ v.giustifica_assenze }} assenz{{ v.giustifica_assenze > 1 ? 'e' : 'a' }}</span>
              {% endif %}
              {% if v.giustifica_ritardi > 0 %}
          <span class="badge gs-mr-3">{{ v.giustifica_ritardi }} ritard{{ v.giustifica_ritardi > 1 ? 'i' : 'o' }}</span>
              {% endif %}
              {% if v.giustifica_uscite > 0 %}
          <span class="badge gs-mr-3">{{ v.giustifica_uscite }} uscit{{ v.giustifica_uscite > 1 ? 'e' : 'a' }}</span>
              {% endif %}
        </td>
        <td>
              {% if v.pulsante_presenza is defined and not app.session.get('/CONFIG/SCUOLA/assenze_ore') %}
          <button type="button" class="{{ v.pulsante_presenza == '#' ? 'disabled ' }}btn btn-success btn-xs gs-button-remote gs-mb-1" data-href="{{ v.pulsante_presenza }}" title="Segna la presenza dell'alunno">P</button>
              {% endif %}
              {% if v.pulsante_assenza is defined and not app.session.get('/CONFIG/SCUOLA/assenze_ore') %}
          <button type="button" class="{{ v.pulsante_assenza == '#' ? 'disabled ' }}btn btn-danger btn-xs gs-button-remote gs-mb-1" data-href="{{ v.pulsante_assenza }}" title="Segna l'assenza dell'alunno">A</button>
              {% endif %}
              {% if v.pulsante_entrata is defined and not app.session.get('/CONFIG/SCUOLA/assenze_ore') %}
          <button type="button" class="{{ v.pulsante_entrata == '#' ? 'disabled ' }}btn btn-warning btn-xs gs-button-remote gs-mb-1" data-href="{{ v.pulsante_entrata }}" title="Segna il ritardo dell'alunno">R</button>
              {% endif %}
              {% if v.pulsante_uscita is defined and not app.session.get('/CONFIG/SCUOLA/assenze_ore') %}
          <button type="button" class="{{ v.pulsante_uscita == '#' ? 'disabled ' }}btn btn-warning btn-xs gs-button-remote gs-mb-1" data-href="{{ v.pulsante_uscita }}" title="Segna l'uscita anticipata dell'alunno">U</button>
              {% endif %}
              {% if v.pulsante_fc is defined and not app.session.get('/CONFIG/SCUOLA/assenze_ore') %}
          <button type="button" class="{{ v.pulsante_fc == '#' ? 'disabled ' }}btn gs-btn-secondary btn-xs gs-button-remote gs-mb-1" data-href="{{ v.pulsante_fc }}" title="Imposta o elimina il fuori classe dell'alunno">FC</button>
              {% endif %}
              {% if v.pulsante_giustifica is defined %}
          <button type="button" class="btn btn-primary btn-xs gs-button-remote gs-mb-1" data-href="{{ v.pulsante_giustifica }}" title="Giustifica le assenze e i ritardi">G</button>
              {% endif %}
        </td>
      </tr>
            {% endif %}
          {% endfor %}
    </tbody>
  </table>
        {% endif %}
      {% endfor %}
      {% include 'include/modal-info.html.twig' %}
    {% endif %}
  {% endif %}
</div>
{% endblock %}

{% block pagina_css %}
{{ parent() }}
<link href="{{ asset('vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet">
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script src="{{ asset('vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap-datepicker/locales/bootstrap-datepicker.it.min.js') }}"></script>
<script>
$(document).ready(function() {
  $('#gs-button-date').datepicker({
    format: "yyyy-mm-dd",
    weekStart: 1,
    maxViewMode: 1,
    daysOfWeekDisabled: "0",
    defaultViewDate: "{{ data }}",
    startDate: "{{ app.session.get('/CONFIG/SCUOLA/anno_inizio') }}",
    endDate: "{{ app.session.get('/CONFIG/SCUOLA/anno_fine') }}",
    datesDisabled: {{ lista_festivi|raw }},
    todayBtn: "linked",
    todayHighlight: true,
    autoclose: true,
    language: "it",
    zIndexOffset: 1200
    });
  $('#gs-button-date').datepicker()
    .on('show', function(ev){
      $('#gs-button-date').datepicker('update', '{{ data }}');
  });
  $('#gs-button-date').datepicker()
    .on('changeDate', function(ev){
      $('#gs-button-date').datepicker('hide');
      url = "{{ path('lezioni_assenze_quadro', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': '9999-99-99', 'vista': 'G'}) }}";
      url = url.replace("9999-99-99", ev.format());
      window.location.href = url;
  });
  $('[data-toggle="popover"]').popover();
  $('#gs-modal-info').on('show.bs.modal', function (event) {
    var title = $(event.relatedTarget).data('title');
    var id = $(event.relatedTarget).data('body');
    var html = $('#'+id).html();
    $(this).find('#gs-modal-info-label').text(title);
    $(this).find('#gs-modal-info-body').html(html);
  });
  $('#gs-modal-info').on('shown.bs.modal', function (e) {
    $('body').addClass('modal-open');
    $('button.gs-show-hide').on('click', function (e) {
      var el = $(this).parent().siblings('div');
      if (el.is(':visible')) {
        el.fadeOut();
        $(this).attr('title', 'Apre la scheda con le informazioni riservate');
        $(this).find('strong span').attr('class', 'glyphicon glyphicon-resize-full gs-mr-2');
      } else {
        el.fadeIn();
        $(this).attr('title', 'Chiude la scheda con le informazioni riservate');
        $(this).find('strong span').attr('class', 'glyphicon glyphicon-resize-small gs-mr-2');
      }
    });
  });
  $('.gs-button-remote').click(function(e) {
    var url = $(e.target).data('href');
    if (url != '#') {
      window.location.href = url+'/'+Math.floor($('html').scrollTop());
    }
  });
  // init
  {% if posizione > 0 %}
  $('html').scrollTop({{ posizione }});
  {% endif %}
});
</script>
{% endblock %}
