{% extends 'lezioni/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  {% if not cattedra and not classe %}
  <h1 class="text-center gs-h1 gs-mt-2">{{ 'title.lezioni_assenze'|trans }}</h1>
  <div class="alert alert-warning" role="alert">
    <strong class="gs-big">{{ 'message.cattedra_mancante'|trans }}</strong>
  </div>
  {% else %}
  <h1 class="text-center gs-h1 gs-mt-2 gs-mb-0">{{ 'title.lezioni_assenze'|trans }} {{ classe.anno~'ª '~classe.sezione }}</h1>
  <h2 class="text-center gs-h2 gs-mt-0 gs-mb-5"><em>{{ info.materia }}{% if info.alunno %}<button type="button" class="btn btn-xs btn-default gs-ml-3" title="Informazioni sulla cattedra" data-placement="auto left" data-toggle="popover" data-trigger="hover" data-content="{{ info.alunno }}"><span class="glyphicon glyphicon-info-sign"></span></button>{% endif %}</em></h2>
    {% if errore %}
  <div class="row gs-mb-5">
    <div class="col-sm-12">
      {% if data_prec %}<a class="btn btn-success btn-sm" href="{{ path('lezioni_assenze_quadro', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': data_prec|date('Y-m-d'), 'vista': 'S'}) }}" role="button" title="Settimana precedente"><span class="glyphicon glyphicon-chevron-left"></span></a>{% endif %}
      <button class="btn btn-primary gs-pt-2 gs-pb-2" id="gs-button-date" title="Cambia settimana"><span class="glyphicon glyphicon-calendar gs-mr-3"></span><strong>{{ data_inizio }} - {{ data_fine }}</strong></button>
      {% if data_succ %}<a class="btn btn-success btn-sm" href="{{ path('lezioni_assenze_quadro', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': data_succ|date('Y-m-d'), 'vista': 'S'}) }}" role="button" title="Settimana successiva"><span class="glyphicon glyphicon-chevron-right"></span></a>{% endif %}
    </div>
  </div>
  <div class="alert alert-warning" role="alert">
    <strong class="gs-big">{{ errore }}</strong>
  </div>
    {% else %}
      {% if avvisi+(circolari|length) > 0 %}
        {% include 'include/modal-popup.html.twig' with {'modal_popup_msg': 'message.presenti_comunicazioni'|trans } %}
  <div class="alert alert-danger text-center gs-big gs-mb-5 gs-pt-2 gs-pb-2" role="alert">
    <strong>{{ 'message.presenti_comunicazioni'|trans }}</strong><br>
        {% if avvisi > 0 %}
    <button id="gs-leggi-avvisi" class="btn btn-xs btn-primary gs-button-remote gs-ml-3" type="button" title="Visualizza il contenuto degli avvisi" data-toggle="modal" data-target="#gs-modal-remote" data-href="{{ path('bacheca_avvisi_alunni', {'classe': classe.id}) }}"><span class="glyphicon glyphicon-zoom-in gs-mr-2"></span><strong>{{ avvisi }} {{ 'message.num_avvisi'|trans({'num': avvisi}) }}</strong></button>
        {% endif %}
        {% if circolari|length > 0 %}
    <button id="gs-leggi-circolari" class="btn btn-xs btn-primary gs-ml-3" type="button" title="Visualizza il contenuto delle circolari" data-toggle="modal" data-target="#gs-modal-info" data-title="Circolari da leggere" data-body="circolare-lista"><span class="glyphicon glyphicon-zoom-in gs-mr-2"></span><strong>{{ circolari|length }} {{ 'message.num_circolari'|trans({'num': circolari|length}) }}</strong></button>
    <div id="circolare-lista" style="display:none">
          {% for c in circolari %}
      <div class="list-group-item">
        <div class="list-group-item-text">
          <h3 class="modal-title gs-h3">Circolare n. {{ c.numero }} del {{ c.data|date('d/m/Y') }}</h3>
          <h4 class="modal-title gs-h4"><em>{{ c.oggetto }}</em></h4>
          <div class="gs-mt-2">
            <strong>Documento:</strong>
            <a class="btn btn-xs btn-primary gs-ml-3" target="_blank" href="{{ path('circolari_download', {'id': c.id, 'doc': 0, 'tipo': 'V'}) }}" title="Visualizza la circolare" rel="noopener noreferrer"><strong>Visualizza</strong></a>
            <a class="btn btn-xs btn-primary gs-ml-3" href="{{ path('circolari_download', {'id': c.id, 'doc': 0, 'tipo': 'D'}) }}" title="Scarica la circolare" download><strong>Scarica</strong></a>
          </div>
            {% if c.allegati|length > 0 %}
              {% for n,d in c.allegati %}
          <div class="gs-mt-2">
            <strong>Allegato{{ c.allegati|length > 1 ? ' '~loop.index }}:</strong>
            <a class="btn btn-xs btn-primary gs-ml-3" target="_blank" href="{{ path('circolari_download', {'id': c.id, 'doc': loop.index, 'tipo': 'V'}) }}" title="Visualizza l'allegato" rel="noopener noreferrer"><strong>Visualizza</strong></a>
            <a class="btn btn-xs btn-primary gs-ml-3" href="{{ path('circolari_download', {'id': c.id, 'doc': loop.index, 'tipo': 'D' }) }}" title="Scarica l'allegato" download><strong>Scarica</strong></a>
          </div>
              {% endfor %}
            {% endif %}
          <div class="text-center gs-mt-4">
            <a class="btn btn-success" href="{{ path('circolari_firma_classe', {'classe': classe.id, 'id': c.id}) }}" role="button" title="Conferma la lettura della circolare alla classe"><span class="glyphicon glyphicon-ok gs-mr-2"></span><strong>Conferma lettura alla classe</strong></a>
          </div>
        </div>
      </div>
          {% endfor %}
      <div class="list-group-item">
        <div class="list-group-item-text">
          <div class="text-center gs-mt-3 gs-mb-3">
          {% if circolari|length > 1 %}
            <a class="btn btn-success gs-mr-4" href="{{ path('circolari_firma_classe', {'classe': classe.id, 'id': 0}) }}" role="button" title="Conferma la lettura di tutte le circolari alla classe"><span class="glyphicon glyphicon-ok gs-mr-2"></span><strong>Conferma lettura di tutto</strong></a>
          {% endif %}
            <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove gs-mr-2" aria-hidden="true"></span><strong>Annulla</strong></button>
          </div>
        </div>
      </div>
    </div>
        {% endif %}
  </div>
      {% endif %}
  <div class="row gs-mb-1">
    <div class="col-sm-9">
      {% if data_prec %}<a class="btn btn-success btn-sm" href="{{ path('lezioni_assenze_quadro', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': data_prec|date('Y-m-d'), 'vista': 'S'}) }}" role="button" title="Settimana precedente"><span class="glyphicon glyphicon-chevron-left"></span></a>{% endif %}
      <button class="btn btn-primary gs-pt-2 gs-pb-2" id="gs-button-date" title="Cambia settimana"><span class="glyphicon glyphicon-calendar gs-mr-3"></span><strong>{{ data_inizio }} - {{ data_fine }}</strong></button>
      {% if data_succ %}<a class="btn btn-success btn-sm" href="{{ path('lezioni_assenze_quadro', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': data_succ|date('Y-m-d'), 'vista': 'S'}) }}" role="button" title="Settimana successiva"><span class="glyphicon glyphicon-chevron-right"></span></a>{% endif %}
    </div>
    <div class="col-sm-3 text-right">
      <strong class="gs-big">Vista:</strong>
      <a class="btn btn-default btn-sm" href="{{ path('lezioni_assenze_quadro', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': data, 'vista': 'G'}) }}" role="button" title="Visualizza le assenze del giorno"><span class="glyphicon glyphicon-stop"></span></a>
      <a class="btn btn-default btn-sm active" href="{{ path('lezioni_assenze_quadro', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': data, 'vista': 'S'}) }}" role="button" title="Visualizza le assenze della settimana"><span class="glyphicon glyphicon-th-large"></span></a>
      <a class="btn btn-default btn-sm" href="{{ path('lezioni_assenze_quadro', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': data, 'vista': 'M'}) }}" role="button" title="Visualizza le assenze del mese"><span class="glyphicon glyphicon-th"></span></a>
    </div>
  </div>
  <table class="table table-hover table-bordered table-striped">
    <thead class="bg-success">
      <tr>
        <th>Alunno</th>
      {% for k,v in dati.lista %}
        <th>
        {% if v.errore is defined %}
          {{ settimana[v.data|date('w')][:2] }} {{ v.data|date('j') }}
        {% else %}
          <a class="btn btn-primary btn-xs" href="{{ path('lezioni_assenze_quadro', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': v.data|date('Y-m-d'), 'vista': 'G'}) }}" role="button" title="Visualizza i dati del giorno"><span class="glyphicon glyphicon-pushpin gs-mr-2"></span><strong>{{ settimana[v.data|date('w')][:2] }} {{ v.data|date('j') }}</strong></a>
        {% endif %}
        </th>
      {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for ka,va in dati.alunni %}
        {% if not cattedra or cattedra.materia.tipo != 'R' or va.religione == 'S' %}
      <tr>
        <td>
          <strong>{{ va.cognome }} {{ va.nome }} ({{ va.dataNascita|date('d/m/Y') }})</strong>
        </td>
          {% for k,v in dati.lista %}
            {% if v.errore is defined %}
        <td class="bg-warning">
            {% elseif v[va.id_alunno] is defined %}
        <td>
              {% if v[va.id_alunno].assenza_doc %}
          <span class="label label-default">A</span>
              {% elseif v[va.id_alunno].id_assenza %}
          <span class="label label-danger" title="Assenza da giustificare o convalidare" data-placement="auto left" data-toggle="popover" data-trigger="hover" data-content="">A</span>
              {% endif %}
              {% if v[va.id_alunno].entrata_giust and (v[va.id_alunno].entrata_doc or v[va.id_alunno].ritardoBreve) %}
          <span class="label label-default" title="Note sul ritardo" data-placement="auto left" data-toggle="popover" data-trigger="hover" data-content="{{ v[va.id_alunno].ora_entrata|date('H:i') }} {{ v[va.id_alunno].note_entrata }}">R</span>
              {% elseif v[va.id_alunno].id_entrata %}
          <span class="label label-danger" title="Note sul ritardo (da giustificare o convalidare)" data-placement="auto left" data-toggle="popover" data-trigger="hover" data-content="{{ v[va.id_alunno].ora_entrata|date('H:i') }} {{ v[va.id_alunno].note_entrata }}">R</span>
              {% endif %}
              {% if v[va.id_alunno].id_uscita %}
          <span class="label label-default" title="Note sull'uscita anticipata" data-placement="auto left" data-toggle="popover" data-trigger="hover" data-content="{{ v[va.id_alunno].ora_uscita|date('H:i') }} {{ v[va.id_alunno].note_uscita }}">U</span>
              {% endif %}
            {% else %}
        <td class="gs-bg-muted">
            {% endif %}
        </td>
          {% endfor %}
      </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
      {% include 'include/modal-remote.html.twig' %}
      {% include 'include/modal-info.html.twig' %}
    {% endif %}
  {% endif %}
</div>
{% endblock %}

{% block pagina_css %}
{{ parent() }}
<link href="{{ asset('vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet">
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script src="{{ asset('vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap-datepicker/locales/bootstrap-datepicker.it.min.js') }}"></script>
<script>
$(document).ready(function() {
  $('#gs-button-date').datepicker({
    format: "yyyy-mm-dd",
    weekStart: 1,
    maxViewMode: 1,
    daysOfWeekDisabled: "0",
    defaultViewDate: "{{ data }}",
    startDate: "{{ app.session.get('/CONFIG/SCUOLA/anno_inizio') }}",
    endDate: "{{ app.session.get('/CONFIG/SCUOLA/anno_fine') }}",
    datesDisabled: {{ lista_festivi|raw }},
    todayBtn: "linked",
    todayHighlight: true,
    autoclose: true,
    language: "it",
    zIndexOffset: 1200
    });
  $('#gs-button-date').datepicker()
    .on('show', function(ev){
      $('#gs-button-date').datepicker('update', '{{ data }}');
  });
  $('#gs-button-date').datepicker()
    .on('changeDate', function(ev){
      $('#gs-button-date').datepicker('hide');
      url = "{{ path('lezioni_assenze_quadro', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': '9999-99-99', 'vista': 'S'}) }}";
      url = url.replace("9999-99-99", ev.format());
      window.location.href = url;
  });
  $('[data-toggle="popover"]').popover();
  $('#gs-modal-remote').on('show.bs.modal', function (event) {
    var url = $(event.relatedTarget).data('href');
    $(this).find('#gs-modal-remote-content').load(url);
  });
  $('#gs-modal-remote').on('shown.bs.modal', function (e) {
    $('body').addClass('modal-open');
  });
  $(".gs-button-remote").click(function(e) {
    e.preventDefault();
    var url = $(e.currentTarget).data('href');
    $('#gs-modal-remote-content').html('<div class="modal-content"><div class="modal-header"><h3 class="modal-title">Attendere prego...</h3></div><div class="modal-body"><div class="progress"><div class="progress-bar progress-bar-info progress-bar-striped active" style="width: 100%"></div></div></div></div>');
  });
  $('#gs-modal-info').on('show.bs.modal', function (e) {
    var title = $(e.relatedTarget).data('title');
    var body = $('#'+$(e.relatedTarget).data('body')).html();
    $(this).find('#gs-modal-info-label').html(title);
    $(this).find('#gs-modal-info-body').html(body);
  });
  $('#gs-modal-info').on('shown.bs.modal', function (e) {
    $('body').addClass('modal-open');
  });
  {% if avvisi+(circolari|length) > 0 %}
  $("#gs-modal-popup-do").click(function(e) {
    $('#gs-modal-popup').modal('hide');
    {% if avvisi > 0 %}
    $('#gs-leggi-avvisi').click();
    {% else %}
    $('#gs-leggi-circolari').click();
    {% endif %}
  });
  // init
  $('#gs-modal-popup').modal('show');
  {% endif %}
});
</script>
{% endblock %}
