{% extends 'lezioni/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  {% if not cattedra and not classe %}
  <h1 class="text-center gs-h1 gs-mt-2">{{ 'title.lezioni_proposte'|trans }}</h1>
  <div class="alert alert-warning" role="alert">
    <strong class="gs-big">{{ 'message.cattedra_mancante'|trans }}</strong>
  </div>
  {% elseif not cattedra %}
  <h1 class="text-center gs-h1 gs-mt-2">{{ 'title.lezioni_proposte'|trans }}</h1>
  <div class="alert alert-warning" role="alert">
    <strong class="gs-big">{{ 'message.voti_supplenza'|trans }}</strong>
  </div>
  {% else %}
  <h1 class="text-center gs-h1 gs-mt-2 gs-mb-0">{{ 'title.lezioni_proposte'|trans }} {{ classe.anno~'ª '~classe.sezione }}</h1>
  <h2 class="text-center gs-h2 gs-mt-0 gs-mb-5"><em>{{ info.materia }}{% if info.alunno %}<button type="button" class="btn btn-xs btn-default gs-ml-3" title="Informazioni sulla cattedra" data-placement="auto left" data-toggle="popover" data-trigger="hover" data-content="{{ info.alunno }}"><span class="glyphicon glyphicon-info-sign"></span></button>{% endif %}</em></h2>
  <div class="row gs-mb-1">
    <div class="col-sm-8">
      <strong class="gs-big">Periodo:</strong>
      <div style="display:inline-block" class="dropdown">
        <button class="btn btn-primary dropdown-toggle" id="gs-dropdown-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="Clicca per scegliere l'alunno">{{ (periodo ? ('label.periodo_'~periodo) : 'label.scegli_periodo')|trans }}<span class="caret gs-ml-3"></span></button>
        <ul class="dropdown-menu" aria-labelledby="gs-dropdown-menu">
    {% for p in ['P','1','F','I'] %}
      {% if lista_periodi[p] is defined %}
          <li{{ periodo == p ? ' class="active"' }}><a href="{{ path('lezioni_scrutinio_proposte', {'cattedra': cattedra.id, 'classe': classe.id, 'periodo': p}) }}">{{ ('label.periodo_'~p)|trans }}</a></li>
      {% endif %}
    {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-sm-4 text-right">
      <a class="btn btn-success btn-sm" href="{{ path('lezioni_scrutinio_svolto', {'cattedra': cattedra.id, 'classe': classe.id, 'periodo': (periodo ? periodo : 0)}) }}" role="button" title="Visualizza il tabellone dei voti degli scrutini svolti"><span class="glyphicon glyphicon-list gs-mr-3"></span><strong>Tabellone</strong></a>
    </div>
  </div>
    {% if periodo == 'P' %}
      {% if lista_periodi[periodo] == 'N' %}
        {% form_theme form _self %}
  <div class="panel panel-info gs-mt-2" >
    <div class="panel-heading">
      <div class="panel-title"><strong>{{ form_title|trans }}</strong></div>
    </div>
    <div class="panel-body">
        {% if form.vars.submitted and form.vars.valid %}
      <div class="alert alert-success" role="alert">
        <strong><span class="glyphicon glyphicon-ok-sign gs-mr-3"></span>{{ 'message.update_ok'|trans }}</strong>
      </div>
        {% endif %}
        {{ form_start(form) }}
        {{ form_errors(form) }}
      <ul id="gs-form-collection" class="list-group">
        {% for prop in form.lista %}
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">
              <strong>{{ proposte.alunni[prop.alunno.vars.value][0] }} {{ proposte.alunni[prop.alunno.vars.value][1] }} ({{ proposte.alunni[prop.alunno.vars.value][2]|date('d/m/Y') }})</strong>
          {% if proposte.alunni[prop.alunno.vars.value][3] != 'N' %}
              <button type="button" class="btn btn-xs btn-default" title="Dettagli alunno" data-toggle="modal" data-target="#gs-modal-info" data-title="{{ proposte.alunni[prop.alunno.vars.value][0] }} {{ proposte.alunni[prop.alunno.vars.value][1] }} ({{ proposte.alunni[prop.alunno.vars.value][2]|date('d/m/Y') }})" data-body="alunno-{{ loop.index }}"><span class="glyphicon glyphicon-zoom-in"></span></button>
              <div id="alunno-{{ loop.index }}" style="display:none">
                <div class="list-group-item">
                  <div class="list-group-item-text">
                    <h3 class="gs-h3 text-center gs-mt-1">Bisogni Educativi Speciali</h3>
                    <p>Tipologia: {{ ('label.bes_'~proposte.alunni[prop.alunno.vars.value][3])|trans }}</p>
                    {% if proposte.alunni[prop.alunno.vars.value][4] %}<p>Descrizione:<br><em>{{ proposte.alunni[prop.alunno.vars.value][4]|raw }}</em></p>{% endif %}
                  </div>
                </div>
              </div>
          {% endif %}
              <br>
              <button class="btn btn-xs btn-primary gs-button-remote" type="button" title="Visualizza i dettagli delle valutazioni" data-toggle="modal" data-target="#gs-modal-remote" data-href="{{ path('scheda_voti_materia', {'cattedra': cattedra.id, 'alunno': prop.alunno.vars.value, 'periodo': periodo}) }}"><span class="glyphicon glyphicon-zoom-in gs-mr-2" ></span>Dettaglio voti</button>
            </div>
          {{ form_widget(prop) }}
          </div>
        </li>
        {% endfor %}
      </ul>
        {{ form_end(form) }}
    </div>
  </div>
      {% else %}
        {% set valutazioni = ['NC', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
          null, null, null, null, null, null, null, null, null,
          'NC', 'Insufficiente', 'Sufficiente', 'Discreto', 'Buono', 'Distinto', 'Ottimo'] %}
  <div class="panel panel-info gs-mt-2" >
    <div class="panel-heading">
      <div class="panel-title"><strong>{{ form_title|trans }}</strong></div>
    </div>
    <div class="panel-body">
      <ul id="gs-form-collection" class="list-group">
        {% for k,alu in proposte.alunni %}
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">
              <strong>{{ alu[0] }} {{ alu[1] }} ({{ alu[2]|date('d/m/Y') }})</strong>
          {% if alu[3] != 'N' %}
              <button type="button" class="btn btn-xs btn-default" title="Dettagli alunno" data-toggle="modal" data-target="#gs-modal-info" data-title="{{ alu[0] }} {{ alu[1] }} ({{ alu[2]|date('d/m/Y') }})" data-body="alunno-{{ loop.index }}"><span class="glyphicon glyphicon-zoom-in"></span></button>
              <div id="alunno-{{ loop.index }}" style="display:none">
                <div class="list-group-item">
                  <div class="list-group-item-text">
                    <h3 class="gs-h3 text-center gs-mt-1">Bisogni Educativi Speciali</h3>
                    <p>Tipologia: {{ ('label.bes_'~alu[3])|trans }}</p>
                    {% if alu[4] %}<p>Descrizione:<br><em>{{ alu[4]|raw }}</em></p>{% endif %}
                  </div>
                </div>
              </div>
          {% endif %}
            </div>
            <div class="col-sm-9">
              <div class="row">
            {% if proposte.proposte[k].unico is not empty %}
                <span style="display:inline-block;width:7em;padding:0.6em 0.2em;" class="label {{ proposte.proposte[k].unico < 5 ? 'label-danger' : (proposte.proposte[k].unico < 6 ? 'label-warning' : (proposte.proposte[k].unico <= 10 ? 'label-success' : (proposte.proposte[k].unico < 22 ? 'label-danger' : 'label-success'))) }} gs-ml-4 gs-big">{{ valutazioni[proposte.proposte[k].unico] }}</span>
            {% else %}
                <span style="display:inline-block;width:7em;padding:0.6em 0.2em;" class="label label-default gs-ml-4 gs-big">--</span>
            {% endif %}
                <span class="label label-default gs-big gs-ml-4">{{ proposte.proposte[k].recupero ? ('label.recupero_'~proposte.proposte[k].recupero)|trans }}</span>
              </div>
            {% if proposte.proposte[k].debito is not empty %}
              <div class="alert alert-info gs-mt-1 gs-mb-0 gs-pt-2 gs-pb-2"><em>{{ proposte.proposte[k].debito }}</em></div>
            {% endif %}
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
      {% endif %}
      {% include 'include/modal-remote.html.twig' %}
      {% include 'include/modal-info.html.twig' %}
    {% elseif lista_periodi|length == 0 %}
  <div class="alert alert-info gs-mt-4" role="alert">
    <strong class="gs-big">{{ 'message.no_proposte'|trans }}</strong>
  </div>
    {% endif %}
  {% endif %}
</div>
{% endblock %}

{% block pagina_css %}
{{ parent() }}
<link href="{{ asset('vendor/bootstrap-slider/css/bootstrap-slider.min.css') }}" rel="stylesheet">
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script src="{{ asset('vendor/bootstrap-slider/js/bootstrap-slider.min.js') }}"></script>
<script>
$(document).ready(function() {
  $('[data-toggle="popover"]').popover();
  $("#gs-form-collection input.slider").slider({
    min: {{ info.valutazioni.min }},
    max: {{ info.valutazioni.max }},
    step: 1,
    ticks: [{{ info.valutazioni.ticks }}],
    ticks_labels: [{{ info.valutazioni.labels|raw }}],
    ticks_snap_bounds: 0,
    focus: true,
    formatter: function(val) {
      var d = ['Non Classificato', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
        null, null, null, null, null, null, null, null, null,
        'Non Classificato', 'Insufficiente', 'Sufficiente', 'Discreto', 'Buono', 'Distinto', 'Ottimo'];
      return d[val];
      },
    natural_arrow_keys: true
  });
  $('#gs-form-collection button.gs-button-add').on('click', function(e) {
    $(this).parent().find('div').attr('style', 'display:inline-block').find('input').addClass('slider')
      .slider({
        min: {{ info.valutazioni.min }},
        max: {{ info.valutazioni.max }},
        step: 1,
        ticks: [{{ info.valutazioni.ticks }}],
        ticks_labels: [{{ info.valutazioni.labels|raw }}],
        ticks_snap_bounds: 0,
        focus: true,
        formatter: function(val) {
          var d = ['Non Classificato', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
            null, null, null, null, null, null, null, null, null,
            'Non Classificato', 'Insufficiente', 'Sufficiente', 'Discreto', 'Buono', 'Distinto', 'Ottimo'];
          return d[val];
          },
        natural_arrow_keys: true
      });
    $(this).hide();
    $(this).siblings('div').find('input').slider('setValue', '{{ info.valutazioni.start }}', true, true);
    $(this).siblings('div').find('div').focus();
    e.preventDefault();
  });
  $("#gs-form-collection").on("change", "input.slider", function(e) {
    var d = ['NC', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
      null, null, null, null, null, null, null, null, null,
      'NC', 'Insufficiente', 'Sufficiente', 'Discreto', 'Buono', 'Distinto', 'Ottimo'];
    var c = (e.value.newValue < 5 ? 'label-danger' : (e.value.newValue < 6 ? 'label-warning' :
      (e.value.newValue <= 10 ? 'label-success' : (e.value.newValue < 22 ? 'label-danger' : 'label-success'))));
    $(this).parent().siblings('span').removeClass('label-default label-success label-danger label-warning').addClass(c).text(d[e.value.newValue]);
    var id = this.id.slice(15,-6);
    if (e.value.newValue < 6) {
      $('#row_proposte_lista_'+id+'_recupero').fadeIn(300);
      $('#row_proposte_lista_'+id+'_debito').fadeIn(300);
    } else {
      $('#row_proposte_lista_'+id+'_recupero').fadeOut(300);
      $('#row_proposte_lista_'+id+'_debito').fadeOut(300);
      $('#proposte_lista_'+id+'_recupero').val('');
      $('#proposte_lista_'+id+'_debito').text('');
    }
  });
  $('#gs-modal-remote').on('show.bs.modal', function (event) {
    var url = $(event.relatedTarget).data('href');
    $(this).find('#gs-modal-remote-content').load(url);
  });
  $('#gs-modal-remote').on('shown.bs.modal', function (e) {
    $('body').addClass('modal-open');
  });
  $(".gs-button-remote").click(function(e) {
    e.preventDefault();
    var url = $(e.currentTarget).data('href');
    $('#gs-modal-remote-content').html('<div class="modal-content"><div class="modal-header"><h3 class="modal-title">Attendere prego...</h3></div><div class="modal-body"><div class="progress"><div class="progress-bar progress-bar-info progress-bar-striped active" style="width: 100%"></div></div></div></div>');
  });
  $('#gs-modal-info').on('show.bs.modal', function (e) {
    var title = $(e.relatedTarget).data('title');
    var body = $('#'+$(e.relatedTarget).data('body')).html();
    $(this).find('#gs-modal-info-label').html(title);
    $(this).find('#gs-modal-info-body').html(body);
  });
  $('#gs-modal-info').on('shown.bs.modal', function (e) {
    $('body').addClass('modal-open');
  });
});
</script>
{% endblock %}

{% block _proposte_lista_entry_widget %}
  {% set valutazioni = ['NC', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
    null, null, null, null, null, null, null, null, null,
    'NC', 'Insufficiente', 'Sufficiente', 'Discreto', 'Buono', 'Distinto', 'Ottimo'] %}
  <div class="col-sm-9">
    <div class="row">
      <label class="control-label col-sm-2" for="{{ form.unico.vars.id }}">Voto</label>
      <div class="col-sm-10">
  {% if form.unico.vars.value is not empty %}
        <span style="display:inline-block;width:7em;padding:0.6em 0.2em;" class="label {{ form.unico.vars.value < 5 ? 'label-danger' : (form.unico.vars.value < 6 ? 'label-warning' : (form.unico.vars.value <= 10 ? 'label-success' : (form.unico.vars.value < 22 ? 'label-danger' : 'label-success'))) }} gs-mr-4 gs-big">{{ valutazioni[form.unico.vars.value] }}</span>
        <button style="display:none" class="btn btn-primary btn-xs gs-mr-5 gs-button-add" type="button" title="Aggiungi una proposta di voto"><span class="glyphicon glyphicon-plus gs-mr-2"></span>Aggiungi</button>
        <div style="display:inline"><input id="{{ form.unico.vars.id }}" name="{{ form.unico.vars.full_name }}" class="slider" type="text" value="{{ form.unico.vars.value }}" data-slider-value="{{ form.unico.vars.value }}"></div>
  {% else %}
        <span style="display:inline-block;width:7em;padding:0.6em 0.2em;" class="label label-default gs-mr-4 gs-big">--</span>
        <button class="btn btn-primary btn-xs gs-mr-5 gs-button-add" type="button" title="Aggiungi una proposta di voto"><span class="glyphicon glyphicon-plus gs-mr-2"></span>Aggiungi</button>
        <div style="display:none"><input id="{{ form.unico.vars.id }}" name="{{ form.unico.vars.full_name }}" type="text" value=""></div>
  {% endif %}
      </div>
    </div>
    <div id="row_{{ form.recupero.vars.id }}" class="row"{{ form.parent.vars.attr.no_recupero is defined or form.unico.vars.value is empty or form.unico.vars.value >= 6 ? ' style="display:none"' }}>
      <label class="control-label col-sm-2" for="{{ form.recupero.vars.id }}">Recupero</label>
      <div class="col-sm-10">
        {{ form_widget(form.recupero, {'placeholder': 'label.scegli_recupero', 'choices': [form.recupero.vars.choices[0],form.recupero.vars.choices[1],form.recupero.vars.choices[2]] }) }}
      </div>
    </div>
    <div id="row_{{ form.debito.vars.id }}" class="row"{{ form.parent.vars.attr.no_recupero is defined or form.unico.vars.value is empty or form.unico.vars.value >= 6 ? ' style="display:none"' }}>
      <label class="control-label col-sm-2" for="{{ form.debito.vars.id }}">Argomenti</label>
      <div class="col-sm-10">
        {{ form_widget(form.debito) }}
      </div>
    </div>
    {{ form_widget(form.alunno) }}
  </div>
{% endblock %}
