{% extends 'lezioni/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  {% if not cattedra and not classe %}
  <h1 class="text-center gs-h1 gs-mt-2">{{ 'title.lezioni_registro'|trans }}</h1>
  <div class="alert alert-warning" role="alert">
    <strong class="gs-big">{{ 'message.cattedra_mancante'|trans }}</strong>
  </div>
  {% else %}
  <h1 class="text-center gs-h1 gs-mt-2 gs-mb-0">{{ 'title.lezioni_registro'|trans }} {{ classe.anno~'ª '~classe.sezione }}</h1>
  <h2 class="text-center gs-h2 gs-mt-0 gs-mb-5"><em>{{ info.materia }}{% if info.alunno %}<button type="button" class="btn btn-xs btn-default gs-ml-3" title="Informazioni sulla cattedra" data-placement="auto left" data-toggle="popover" data-trigger="hover" data-content="{{ info.alunno }}"><span class="glyphicon glyphicon-info-sign"></span></button>{% endif %}</em></h2>
    {% if errore %}
  <div class="row gs-mb-5">
    <div class="col-sm-12">
      {% if data_prec %}<a class="btn btn-success btn-sm" href="{{ path('lezioni_registro_firme', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': data_prec|date('Y-m-d'), 'vista': 'G'}) }}" role="button" title="Giorno precedente"><span class="glyphicon glyphicon-chevron-left"></span></a>{% endif %}
      <button class="btn btn-primary gs-pt-2 gs-pb-2" id="gs-button-date" title="Cambia giorno"><span class="glyphicon glyphicon-calendar gs-mr-3"></span><strong>{{ info.data_label }}</strong></button>
      {% if data_succ %}<a class="btn btn-success btn-sm" href="{{ path('lezioni_registro_firme', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': data_succ|date('Y-m-d'), 'vista': 'G'}) }}" role="button" title="Giorno successivo"><span class="glyphicon glyphicon-chevron-right"></span></a>{% endif %}
    </div>
  </div>
  <div class="alert alert-warning" role="alert">
    <strong class="gs-big">{{ errore }}</strong>
  </div>
    {% else %}
      {% if avvisi+(circolari|length) > 0 %}
        {% include 'include/modal-popup.html.twig' with {'modal_popup_msg': 'message.presenti_comunicazioni'|trans } %}
  <div class="alert alert-danger text-center gs-big gs-mb-5 gs-pt-2 gs-pb-2" role="alert">
    <strong>{{ 'message.presenti_comunicazioni'|trans }}</strong><br>
        {% if avvisi > 0 %}
    <button id="gs-leggi-avvisi" class="btn btn-xs btn-primary gs-button-remote gs-ml-3" type="button" title="Visualizza il contenuto degli avvisi" data-toggle="modal" data-target="#gs-modal-remote" data-href="{{ path('bacheca_avvisi_alunni', {'classe': classe.id}) }}"><span class="glyphicon glyphicon-zoom-in gs-mr-2"></span><strong>{{ avvisi }} {{ 'message.num_avvisi'|trans({'num': avvisi}) }}</strong></button>
        {% endif %}
        {% if circolari|length > 0 %}
    <button id="gs-leggi-circolari" class="btn btn-xs btn-primary gs-ml-3" type="button" title="Visualizza il contenuto delle circolari" data-toggle="modal" data-target="#gs-modal-info" data-title="Circolari da leggere" data-body="circolare-lista"><span class="glyphicon glyphicon-zoom-in gs-mr-2"></span><strong>{{ circolari|length }} {{ 'message.num_circolari'|trans({'num': circolari|length}) }}</strong></button>
    <div id="circolare-lista" style="display:none">
          {% for c in circolari %}
      <div class="list-group-item">
        <div class="list-group-item-text">
          <h3 class="modal-title gs-h3">Circolare n. {{ c.numero }} del {{ c.data|date('d/m/Y') }}</h3>
          <h4 class="modal-title gs-h4"><em>{{ c.oggetto }}</em></h4>
          <div class="gs-mt-2">
            <strong>Documento:</strong>
            <a class="btn btn-xs btn-primary gs-ml-3" target="_blank" href="{{ path('circolari_download', {'id': c.id, 'doc': 0, 'tipo': 'V'}) }}" title="Visualizza la circolare" rel="noopener noreferrer"><strong>Visualizza</strong></a>
            <a class="btn btn-xs btn-primary gs-ml-3" href="{{ path('circolari_download', {'id': c.id, 'doc': 0, 'tipo': 'D'}) }}" title="Scarica la circolare" download><strong>Scarica</strong></a>
          </div>
            {% if c.allegati|length > 0 %}
              {% for n,d in c.allegati %}
          <div class="gs-mt-2">
            <strong>Allegato{{ c.allegati|length > 1 ? ' '~loop.index }}:</strong>
            <a class="btn btn-xs btn-primary gs-ml-3" target="_blank" href="{{ path('circolari_download', {'id': c.id, 'doc': loop.index, 'tipo': 'V'}) }}" title="Visualizza l'allegato" rel="noopener noreferrer"><strong>Visualizza</strong></a>
            <a class="btn btn-xs btn-primary gs-ml-3" href="{{ path('circolari_download', {'id': c.id, 'doc': loop.index, 'tipo': 'D' }) }}" title="Scarica l'allegato" download><strong>Scarica</strong></a>
          </div>
              {% endfor %}
            {% endif %}
          <div class="text-center gs-mt-4">
            <a class="btn btn-success" href="{{ path('circolari_firma_classe', {'classe': classe.id, 'id': c.id}) }}" role="button" title="Conferma la lettura della circolare alla classe"><span class="glyphicon glyphicon-ok gs-mr-2"></span><strong>Conferma lettura alla classe</strong></a>
          </div>
        </div>
      </div>
          {% endfor %}
      <div class="list-group-item">
        <div class="list-group-item-text">
          <div class="text-center gs-mt-3 gs-mb-3">
          {% if circolari|length > 1 %}
            <a class="btn btn-success gs-mr-4" href="{{ path('circolari_firma_classe', {'classe': classe.id, 'id': 0}) }}" role="button" title="Conferma la lettura di tutte le circolari alla classe"><span class="glyphicon glyphicon-ok gs-mr-2"></span><strong>Conferma lettura di tutto</strong></a>
          {% endif %}
            <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove gs-mr-2" aria-hidden="true"></span><strong>Annulla</strong></button>
          </div>
        </div>
      </div>
    </div>
        {% endif %}
  </div>
      {% endif %}
      {% for type,msgs in app.flashes %}
        {% for msg in msgs %}
  <div class="alert alert-{{ type }} text-center gs-big gs-mb-4 gs-pt-2 gs-pb-2" role="alert">{{ msg|trans }}</div>
        {% endfor %}
      {% endfor %}
  <div class="row gs-mb-2">
    <div class="col-sm-6">
      {% if data_prec %}<a class="btn btn-success btn-sm" href="{{ path('lezioni_registro_firme', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': data_prec|date('Y-m-d'), 'vista': 'G'}) }}" role="button" title="Giorno precedente"><span class="glyphicon glyphicon-chevron-left"></span></a>{% endif %}
      <button class="btn btn-primary gs-pt-2 gs-pb-2" id="gs-button-date" title="Cambia giorno"><span class="glyphicon glyphicon-calendar gs-mr-3"></span><strong>{{ info.data_label }}</strong></button>
      {% if data_succ %}<a class="btn btn-success btn-sm" href="{{ path('lezioni_registro_firme', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': data_succ|date('Y-m-d'), 'vista': 'G'}) }}" role="button" title="Giorno successivo"><span class="glyphicon glyphicon-chevron-right"></span></a>{% endif %}
    </div>
    <div class="col-sm-6 text-right">
      <strong class="gs-big">Vista:</strong>
      <a class="btn btn-default btn-sm active" href="{{ path('lezioni_registro_firme', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': data, 'vista': 'G'}) }}" role="button" title="Visualizza i dati del giorno"><span class="glyphicon glyphicon-stop"></span></a>
      <a class="btn btn-default btn-sm" href="{{ path('lezioni_registro_firme', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': data, 'vista': 'S'}) }}" role="button" title="Visualizza i dati della settimana"><span class="glyphicon glyphicon-th-large"></span></a>
      <a class="btn btn-default btn-sm" href="{{ path('lezioni_registro_firme', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': data, 'vista': 'M'}) }}" role="button" title="Visualizza i dati del mese"><span class="glyphicon glyphicon-th"></span></a>
    </div>
  </div>
  <div class="row gs-row-eq gs-mb-2">
    <div class="col-sm-6 bg-warning">
      <div class="gs-mt-2 gs-mb-2">
        <h3 class="gs-h3 gs-inline">Note disciplinari</h3>
        {% if dati[data].note.add is defined  %}
        <a class="btn btn-primary btn-xs pull-right" href="{{ dati[data].note.add }}" role="button" title="Aggiungi una nota di classe o individuale"><span class="glyphicon glyphicon-plus gs-mr-2"></span>Aggiungi</a>
        {% endif %}
      </div>
      <div class="list-group gs-mb-2">
        {% for k,v in dati[data].note.lista %}
        <div class="list-group-item">
          <div class="list-group-item-text">
            {% if v.alunni is defined %}
            <small><em>Alunni: {{ v.alunni }}</em></small><br>
            {% endif %}
            {{ v.testo|raw|nl2br }}<br><small><em>({{ v.docente }})</em></small>
            {% if v.provvedimento %}
            <br><strong>{{ v.provvedimento|raw|nl2br }}<br><small><em>({{ v.docente_provvedimento }})</em></small></strong>
            {% endif %}
            {% if v.delete is defined %}
            <button class="btn btn-danger btn-xs pull-right gs-ml-3 gs-modal-confirm-button" title="Cancella la nota disciplinare" data-toggle="modal" data-target="#gs-modal-confirm" data-href="{{ v.delete }}" data-text="{{ 'message.cancella_nota'|trans }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            {% endif %}
            {% if v.edit is defined %}
            <a class="btn btn-primary btn-xs pull-right" href="{{ v.edit }}" role="button" title="Modifica la nota disciplinare"><span class="glyphicon glyphicon-edit"></span></a>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-sm-6 bg-info">
      <div class="gs-mt-2 gs-mb-2">
        <h3 class="gs-h3 gs-inline">Annotazioni</h3>
        {% if dati[data].annotazioni.add is defined  %}
        <a class="btn btn-primary btn-xs pull-right" href="{{ dati[data].annotazioni.add }}" role="button" title="Aggiungi una annotazione sul registro"><span class="glyphicon glyphicon-plus gs-mr-2"></span>Aggiungi</a>
        {% endif %}
      </div>
      <div class="list-group gs-mb-2">
        {% for k,v in dati[data].annotazioni.lista %}
        <div class="list-group-item">
          <div class="list-group-item-text">
            {% if v.alunni is not empty %}
              <strong>Destinatari ({% for d in v.avviso.destinatari|filter(f => (f == 'G' or f == 'A')) %}{{ d == 'G' ? 'genitori' : 'alunni' }}{{ not loop.last ? ', ' }}{% endfor %}):
                {% for al in v.alunni %}{{ al.cognome }} {{ al.nome }}{{ not loop.last ? ', ' }}{% endfor %}</strong><br>
            {% endif %}
            {{ v.testo|raw|nl2br }}<br>
            <small><em>({{ v.docente }})</em></small>
            {% if v.delete is defined and (not v.avviso or v.visibile) %}
            <button class="btn btn-danger btn-xs pull-right gs-ml-3 gs-modal-confirm-button" title="Cancella l'annotazione sul registro" data-toggle="modal" data-target="#gs-modal-confirm" data-href="{{ v.delete }}" data-text="{{ 'message.cancella_annotazione'|trans }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            {% endif %}
            {% if v.edit is defined and (not v.avviso or v.visibile) %}
            <a class="btn btn-primary btn-xs pull-right" href="{{ v.edit }}" role="button" title="Modifica l'annotazione sul registro"><span class="glyphicon glyphicon-edit"></span></a>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <table class="table table-bordered table-hover table-striped gs-mb-2">
    <thead class="bg-success">
      <tr>
        <th>Ora</th>
        <th>Materia</th>
        <th>Docenti</th>
        <th>Argomenti/Attività</th>
        <th>Azioni</th>
      </tr>
    </thead>
    <tbody>
      {% for k,v in dati[data].lezioni %}
      <tr>
        <td><strong>{{ k }}ª: <span class="text-info">{{ v.inizio }} - {{ v.fine }}</span></strong></td>
        <td>{{ v.materia }}</td>
        <td><small><em>{% for v1 in v.docenti %}{{ v1 }}{{ not loop.last ? '<br>' }}{% endfor %}</em></small></td>
        <td style="word-wrap:anywhere">
          {% if v.sostegno is defined %}
            {% for sk,sv in v.sostegno.argomento %}
              {% if sv is not empty %}
          <button type="button" class="btn btn-xs btn-default" title="Argomenti e attività del sostegno - {{ v.sostegno.alunno[sk] }} ({{ v.sostegno.docente[sk] }})" data-toggle="modal" data-target="#gs-modal-info" data-title="Argomenti e attività del sostegno" data-body="sostegno-{{ k }}-{{ sk }}"><span class="glyphicon glyphicon-info-sign"></span></button>
          <div id="sostegno-{{ k }}-{{ sk }}" style="display:none">
            <div class="list-group-item">
              <div class="list-group-item-text">
                <p><strong>Alunno: {{ v.sostegno.alunno[sk] }}</strong></p>
                <p><strong>Docente: {{ v.sostegno.docente[sk] }}</strong></p>
                {{ sv|raw }}
              </div>
            </div>
          </div>
              {% endif %}
            {% endfor %}
          {% endif %}
          <small>{{ v.argomenti|raw }}</small>
        </td>
        <td>
          {% if v.add is defined  %}
          <a class="btn btn-primary btn-xs" href="{{ v.add }}" role="button" title="Aggiungi una lezione"><span class="glyphicon glyphicon-plus gs-mr-2"></span>Aggiungi</a>
          {% elseif v.addAltra is defined %}
          <button class="btn btn-warning btn-xs" title="Aggiungi una lezione" data-toggle="modal" data-target="#gs-modal-info" data-title="ATTENZIONE!" data-body="add-avviso-{{ v.addAltra.id }}"><span class="glyphicon glyphicon-plus gs-mr-2" aria-hidden="true"></span>Aggiungi</button>
          <div id="add-avviso-{{ v.addAltra.id }}" style="display:none">
            <p class="gs-big">{{ 'message.lezione_esiste_altra'|trans({classe: v.addAltra.classe})|raw }}</p>
          </div>
          {% endif %}
          {% if v.edit is defined  %}
          <a class="btn btn-primary btn-xs" href="{{ v.edit }}" role="button" title="Modifica la lezione"><span class="glyphicon glyphicon-edit gs-mr-2"></span>Modifica</a>
          {% elseif v.editAltra is defined %}
          <button class="btn btn-warning btn-xs" title="Modifica una lezione" data-toggle="modal" data-target="#gs-modal-info" data-title="ATTENZIONE!" data-body="edit-avviso-{{ v.editAltra.id }}"><span class="glyphicon glyphicon-edit gs-mr-2" aria-hidden="true"></span>Modifica</button>
          <div id="edit-avviso-{{ v.editAltra.id }}" style="display:none">
            <p class="gs-big">{{ 'message.lezione_esiste_altra'|trans({classe: v.editAltra.classe})|raw }}</p>
          </div>
          {% endif %}
          {% if v.delete is defined  %}
          <button class="btn btn-danger btn-xs gs-modal-confirm-button" title="Cancella la lezione" data-toggle="modal" data-target="#gs-modal-confirm" data-href="{{ v.delete }}" data-text="{{ 'message.cancella_lezione'|trans }}"><span class="glyphicon glyphicon-remove gs-mr-2" aria-hidden="true"></span>Cancella</button>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="row gs-mb-3">
      {% if app.session.get('/CONFIG/SCUOLA/assenze_ore') %}
    <div class="col-sm-12">
      <table class="table table-bordered table-condensed gs-mt-2">
        <thead class="bg-success">
          <tr>
          {% for ora,ass in assenti.nomi %}
            <th>Assenti {{ ora}}ª ora</th>
          {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr>
          {% for ora,ass in assenti.nomi %}
            <td><small class="gs-text-normal">{% for a in ass %}{{ not loop.first ? ', ' }}{{ a }}{% endfor %}</small></td>
          {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
      {% else %}
    <div class="col-sm-4">
        {% if assenti.assenze is defined %}
      <div class="panel panel-success">
        <div class="panel-heading gs-pt-1 gs-pb-1 gs-pr-2 gs-pl-2">
          <strong class="gs-text-normal">Assenti:</strong>
          <small class="gs-text-normal">{% for a in assenti.assenze %}{{ not loop.first ? ', ' }}{{ a }}{% endfor %}</small>
        </div>
      </div>
        {% else %}
      <div class="panel panel-default">
        <div class="panel-heading gs-pt-1 gs-pb-1 gs-pr-2 gs-pl-2"><strong>Assenti:</strong></div>
      </div>
        {% endif %}
    </div>
    <div class="col-sm-4">
        {% if assenti.entrate is defined %}
      <div class="panel panel-success">
        <div class="panel-heading gs-pt-1 gs-pb-1 gs-pr-2 gs-pl-2">
          <strong class="gs-text-normal">Ritardi:</strong>
          <small class="gs-text-normal">{% for a in assenti.entrate %}{{ not loop.first ? ', ' }}{{ a }}{% endfor %}</small>
        </div>
      </div>
        {% else %}
      <div class="panel panel-default">
        <div class="panel-heading gs-pt-1 gs-pb-1 gs-pr-2 gs-pl-2"><strong>Ritardi:</strong></div>
      </div>
        {% endif %}
    </div>
    <div class="col-sm-4">
        {% if assenti.uscite is defined %}
      <div class="panel panel-success">
        <div class="panel-heading gs-pt-1 gs-pb-1 gs-pr-2 gs-pl-2">
          <strong class="gs-text-normal">Uscite:</strong>
          <small class="gs-text-normal">{% for a in assenti.uscite %}{{ not loop.first ? ', ' }}{{ a }}{% endfor %}</small>
        </div>
      </div>
        {% else %}
      <div class="panel panel-default">
        <div class="panel-heading gs-pt-1 gs-pb-1 gs-pr-2 gs-pl-2"><strong>Uscite:</strong></div>
      </div>
        {% endif %}
    </div>
      {% endif %}
  </div>
      {% include 'include/modal-confirm.html.twig' with {'modal_confirm_msg': 'message.cancella_lezione'} %}
      {% include 'include/modal-info.html.twig' %}
      {% include 'include/modal-remote.html.twig' %}
    {% endif %}
  {% endif %}
</div>
{% endblock %}

{% block pagina_css %}
{{ parent() }}
<link href="{{ asset('vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet">
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script src="{{ asset('vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap-datepicker/locales/bootstrap-datepicker.it.min.js') }}"></script>
<script>
$(document).ready(function() {
  $('#gs-button-date').datepicker({
    format: "yyyy-mm-dd",
    weekStart: 1,
    maxViewMode: 1,
    daysOfWeekDisabled: "0",
    defaultViewDate: "{{ data }}",
    startDate: "{{ app.session.get('/CONFIG/SCUOLA/anno_inizio') }}",
    endDate: "{{ app.session.get('/CONFIG/SCUOLA/anno_fine') }}",
    datesDisabled: {{ lista_festivi|raw }},
    todayBtn: "linked",
    todayHighlight: true,
    autoclose: true,
    language: "it",
    zIndexOffset: 1200
    });
  $('#gs-button-date').datepicker()
    .on('show', function(ev){
      $('#gs-button-date').datepicker('update', '{{ data }}');
  });
  $('#gs-button-date').datepicker()
    .on('changeDate', function(ev){
      $('#gs-button-date').datepicker('hide');
      url = "{{ path('lezioni_registro_firme', {'cattedra': (cattedra ? cattedra.id : 0), 'classe': (classe ? classe.id : 0), 'data': '9999-99-99', 'vista': 'G'}) }}";
      url = url.replace("9999-99-99", ev.format());
      window.location.href = url;
  });
  $('[data-toggle="popover"]').popover();
  $('#gs-modal-confirm').on('show.bs.modal', function (event) {
    var href = $(event.relatedTarget).data('href');
    $(this).find('#gs-modal-confirm-yes').attr('href', href);
    var text = $(event.relatedTarget).data('text');
    $(this).find('#gs-modal-confirm-msg').text(text);
  });
  $('#gs-modal-remote').on('show.bs.modal', function (e) {
    var url = $(e.relatedTarget).data('href');
    $(this).find('#gs-modal-remote-content').load(url);
  });
  $('#gs-modal-remote').on('shown.bs.modal', function (e) {
    $('body').addClass('modal-open');
  });
  $(".gs-button-remote").click(function(e) {
    e.preventDefault();
    $('#gs-modal-remote-content').html('<div class="modal-content"><div class="modal-header"><h3 class="modal-title">Attendere prego...</h3></div><div class="modal-body"><div class="progress"><div class="progress-bar progress-bar-info progress-bar-striped active" style="width: 100%"></div></div></div></div>');
  });
  $('#gs-modal-info').on('show.bs.modal', function (e) {
    var title = $(e.relatedTarget).data('title');
    var body = $('#'+$(e.relatedTarget).data('body')).html();
    $(this).find('#gs-modal-info-label').html(title);
    $(this).find('#gs-modal-info-body').html(body);
  });
  $('#gs-modal-info').on('shown.bs.modal', function (e) {
    $('body').addClass('modal-open');
  });
  {% if avvisi+(circolari|length) > 0 %}
  $("#gs-modal-popup-do").click(function(e) {
    $('#gs-modal-popup').modal('hide');
    {% if avvisi > 0 %}
    $('#gs-leggi-avvisi').click();
    {% else %}
    $('#gs-leggi-circolari').click();
    {% endif %}
  });
  // init
  $('#gs-modal-popup').modal('show');
  {% endif %}
});
</script>
{% endblock %}
