{% extends 'lezioni/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  {% if not cattedra and not classe %}
  <h1 class="text-center gs-h1 gs-mt-2">{{ 'title.lezioni_voti'|trans }}</h1>
  <div class="alert alert-warning" role="alert">
    <strong class="gs-big">{{ 'message.cattedra_mancante'|trans }}</strong>
  </div>
  {% elseif not cattedra %}
  <h1 class="text-center gs-h1 gs-mt-2">{{ 'title.lezioni_voti'|trans }}</h1>
  <div class="alert alert-warning" role="alert">
    <strong class="gs-big">{{ 'message.voti_supplenza'|trans }}</strong>
  </div>
  {% else %}
  <h1 class="text-center gs-h1 gs-mt-2 gs-mb-0">{{ 'title.lezioni_voti'|trans }} {{ classe.anno~'ª '~classe.sezione }}</h1>
  <h2 class="text-center gs-h2 gs-mt-0 gs-mb-4"><em>{{ info.materia }}{{ info.alunno ? ' ('~info.alunno.cognome~' '~info.alunno.nome~')' }}</em></h2>
  <div class="row text-center gs-big gs-mb-2"><em>Clicca su un voto per modificarlo o eliminarlo.</em></div>
  <div class="row gs-mb-1">
    <div class="col-sm-8">
      <strong class="gs-big">Periodo:</strong>
      <div style="display:inline-block" class="dropdown">
        <button class="btn btn-primary dropdown-toggle" id="gs-dropdown-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="Clicca per scegliere il periodo">{{ periodo ? lista_periodi[periodo].nome : 'Scegli' }}<span class="caret gs-ml-3"></span></button>
        <ul class="dropdown-menu" aria-labelledby="gs-dropdown-menu">
    {% for p,d in lista_periodi %}
      {% if d.nome %}
          <li{{ periodo == p ? ' class="active"' }}><a href="{{ path('lezioni_voti_quadro', {'cattedra': cattedra.id, 'classe': classe.id, 'periodo': p}) }}">{{ d.nome }}</a></li>
      {% endif %}
    {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-sm-4 text-right">
    {% if periodo %}
      <a class="btn btn-success btn-sm" href="{{ path('lezioni_voti_esporta', {'cattedra': cattedra.id, 'classe': classe.id, 'data': lista_periodi[periodo].fine}) }}" role="button" title="Esporta i dati in formato CSV"><span class="glyphicon glyphicon-download-alt gs-mr-3"></span><strong>{{ 'label.esporta'|trans }}</strong></a>
      <a class="btn btn-success btn-sm" href="{{ path('lezioni_voti_stampa', {'cattedra': cattedra.id, 'classe': classe.id, 'data': lista_periodi[periodo].fine}) }}" role="button" title="Scarica il documento in formato PDF"><span class="glyphicon glyphicon-print gs-mr-3"></span><strong>{{ 'label.stampa'|trans }}</strong></a>
      <a class="btn btn-success btn-sm" href="{{ path('lezioni_voti_dettagli', {'cattedra': cattedra.id, 'classe': classe.id}) }}" role="button" title="Visualizza i dettagli delle valutazioni"><span class="glyphicon glyphicon-zoom-in gs-mr-3"></span><strong>Dettagli</strong></a>
    {% endif %}
    </div>
  </div>
  <table class="table table-bordered table-hover table-striped">
    <thead class="bg-success">
      <tr>
        <th class="col-sm-4">Alunno</th>
    {% if edit %}
        <th><button type="button" class="btn btn-primary btn-xs" title="Aggiungi o modifica una valutazione scritta per la classe" data-toggle="modal" data-target="#gs-modal-info" data-title="Valutazione scritta per la classe" data-body="gs-voti-scritto"><span class="glyphicon glyphicon-edit gs-mr-2"></span>Scritto</button></th>
        <th><button type="button" class="btn btn-primary btn-xs" title="Aggiungi o modifica una valutazione orale per la classe" data-toggle="modal" data-target="#gs-modal-info" data-title="Valutazione orale per la classe" data-body="gs-voti-orale"><span class="glyphicon glyphicon-edit gs-mr-2"></span>Orale</button></th>
        <th><button type="button" class="btn btn-primary btn-xs" title="Aggiungi o modifica una valutazione pratica per la classe" data-toggle="modal" data-target="#gs-modal-info" data-title="Valutazione pratica per la classe" data-body="gs-voti-pratica"><span class="glyphicon glyphicon-edit gs-mr-2"></span>Pratica</button></th>
        <div id="gs-voti-scritto" style="display:none">
      {% if dati.classe.S is defined  %}
        {% for dt,v in dati.classe.S  %}
          <div class="list-group-item">
            <div class="list-group-item-text row gs-pr-3 gs-pl-3">
              <strong>Scritto del {{ dt|date('d/m/Y') }}</strong><br>
              <em><small>{{ v.arg }}</small></em>
              <a class="btn btn-primary btn-xs pull-right" href="{{ path('lezioni_voti_classe', {'cattedra': cattedra.id, 'tipo': 'S', 'data': dt}) }}" role="button" title="Modifica la valutazione indicata"><span class="glyphicon glyphicon-edit gs-mr-2"></span>Modifica</a>
            </div>
          </div>
        {% endfor %}
      {% endif %}
          <div class="list-group-item gs-pt-3 gs-pb-3">
            <div class="list-group-item-text row text-right gs-pr-3 gs-pl-3">
              <a class="btn btn-primary btn-xs" href="{{ path('lezioni_voti_classe', {'cattedra': cattedra.id, 'tipo': 'S'}) }}" role="button" title="Nuova valutazione scritta per la classe"><span class="glyphicon glyphicon-plus gs-mr-2"></span>Aggiungi</a>
            </div>
          </div>
        </div>
        <div id="gs-voti-orale" style="display:none">
      {% if dati.classe.O is defined  %}
        {% for dt,v in dati.classe.O  %}
          <div class="list-group-item">
            <div class="list-group-item-text row gs-pr-3 gs-pl-3">
              <strong>Orale del {{ dt|date('d/m/Y') }}</strong><br>
              <em><small>{{ v.arg }}</small></em>
              <a class="btn btn-primary btn-xs pull-right" href="{{ path('lezioni_voti_classe', {'cattedra': cattedra.id, 'tipo': 'O', 'data': dt}) }}" role="button" title="Modifica la valutazione indicata"><span class="glyphicon glyphicon-edit gs-mr-2"></span>Modifica</a>
            </div>
          </div>
        {% endfor %}
      {% endif %}
          <div class="list-group-item">
            <div class="list-group-item-text row text-right gs-pr-3 gs-pl-3">
              <a class="btn btn-primary btn-xs" href="{{ path('lezioni_voti_classe', {'cattedra': cattedra.id, 'tipo': 'O'}) }}" role="button" title="Nuova valutazione orale per la classe"><span class="glyphicon glyphicon-plus gs-mr-2"></span>Aggiungi</a>
            </div>
          </div>
        </div>
        <div id="gs-voti-pratica" style="display:none">
      {% if dati.classe.P is defined  %}
        {% for dt,v in dati.classe.P  %}
          <div class="list-group-item">
            <div class="list-group-item-text row gs-pr-3 gs-pl-3">
              <strong>Pratica del {{ dt|date('d/m/Y') }}</strong><br>
              <em><small>{{ v.arg }}</small></em>
              <a class="btn btn-primary btn-xs pull-right" href="{{ path('lezioni_voti_classe', {'cattedra': cattedra.id, 'tipo': 'P', 'data': dt}) }}" role="button" title="Modifica la valutazione indicata"><span class="glyphicon glyphicon-edit gs-mr-2"></span>Modifica</a>
            </div>
          </div>
        {% endfor %}
      {% endif  %}
          <div class="list-group-item gs-pt-3 gs-pb-3">
            <div class="list-group-item-text row text-right gs-pr-3 gs-pl-3">
              <a class="btn btn-primary btn-xs" href="{{ path('lezioni_voti_classe', {'cattedra': cattedra.id, 'tipo': 'P'}) }}" role="button" title="Nuova valutazione pratica per la classe"><span class="glyphicon glyphicon-plus gs-mr-2"></span>Aggiungi</a>
            </div>
          </div>
        </div>
    {% else %}
        <th>Scritto</th>
        <th>Orale</th>
        <th>Pratico</th>
    {% endif %}
        <th class="col-sm-2">Azioni</th>
      </tr>
    </thead>
    <tbody>
    {% set tipo_rel = (cattedra and cattedra.materia.tipo == 'R' and cattedra.tipo == 'A') ? 'A' : (cattedra and cattedra.materia.tipo == 'R' ? 'S' : '') %}
    {% for k,a in dati.alunni %}
      {% if cattedra.materia.tipo != 'R' or a.religione == tipo_rel %}
      <tr>
        <td>
          <button type="button" class="btn btn-xs btn-default" title="Dettagli alunno" data-toggle="modal" data-target="#gs-modal-info" data-title="{{ a.cognome }} {{ a.nome }} ({{ a.dataNascita|date('d/m/Y') }})" data-body="alunno-{{ loop.index }}"><span class="glyphicon glyphicon-zoom-in"></span></button>
          <strong{{ a.classe_id!=classe.id ? ' class="text-danger"' }}>{{ a.cognome }} {{ a.nome }} ({{ a.dataNascita|date('d/m/Y') }})</strong>
          <div id="alunno-{{ loop.index }}" style="display:none">
            <div class="list-group-item">
              <div class="list-group-item-text">
                <h3 class="gs-h3 text-center gs-mt-1">Autorizzazioni e deroghe</h3>
                <p>Ingresso: {{ a.autorizzaEntrata ? a.autorizzaEntrata : 'NESSUNA' }}</p>
                <p>Uscita: {{ a.autorizzaUscita ? a.autorizzaUscita : 'NESSUNA' }}</p>
                {% if a.note %}<p>Note:<br><em>{{ a.note }}</em></p>{% endif %}
              </div>
            </div>
            <div class="list-group-item">
              <div class="list-group-item-text">
                <h3 class="gs-h3 text-center gs-mt-1">Dati utente</h3>
                <p>Profilo <strong>STUDENTE</strong>: {{ a.username }} (ultimo accesso: {{ a.ultimoAccesso ? a.ultimoAccesso|date('d/m/Y H:i') : 'MAI' }})</p>
                <p>Profilo <strong>GENITORE 1{{ ('#' not in (dati.genitori[a.id].g1_nome~dati.genitori[a.id].g1_cognome)) ? (' - '~dati.genitori[a.id].g1_nome~' '~dati.genitori[a.id].g1_cognome) }}</strong>: {{ dati.genitori[a.id].g1_username }} (ultimo accesso: {{ dati.genitori[a.id].g1_accesso ? dati.genitori[a.id].g1_accesso|date('d/m/Y H:i') : 'MAI' }})</p>
                <p>Profilo <strong>GENITORE 2{{ ('#' not in (dati.genitori[a.id].g2_nome~dati.genitori[a.id].g2_cognome)) ? (' - '~dati.genitori[a.id].g2_nome~' '~dati.genitori[a.id].g2_cognome) }}</strong>: {{ dati.genitori[a.id].g2_username }} (ultimo accesso: {{ dati.genitori[a.id].g2_accesso ? dati.genitori[a.id].g2_accesso|date('d/m/Y H:i') : 'MAI' }})</p>
              </div>
            </div>
            {% if a.bes != 'N' %}
            <div class="list-group-item">
              <div class="list-group-item-text">
                <h3 class="gs-h3 text-center gs-mt-1">Bisogni Educativi Speciali</h3>
                <p>Tipologia: {{ ('label.bes_'~a.bes)|trans }}</p>
                {% if a.noteBes %}<p>Descrizione:<br><em>{{ a.noteBes|raw }}</em></p>{% endif %}
              </div>
            </div>
            {% endif %}
          </div>
        </td>
        {% for tipo in ['S','O','P'] %}
        <td>
          {% for kv,v in dati.voti[k][tipo] %}
            {% if v.docente_id != app.user.id %}
          <button type="button" class="btn btn-xs btn-info" title="Informazioni sulla valutazione" data-toggle="modal" data-target="#gs-modal-info" data-title="Informazioni sulla valutazione" data-body="gs-voti-{{ v.id }}">{% if v.voto > 0 %}{{ v.voto_str }}{% else %}<span class="glyphicon glyphicon-asterisk"></span>{% endif %}</button>
            {% elseif v.voto > 0 and not v.visibile %}
          <button type="button" class="btn btn-xs btn-default" title="Informazioni sulla valutazione" data-toggle="modal" data-target="#gs-modal-info" data-title="Informazioni sulla valutazione" data-body="gs-voti-{{ v.id }}">{{ v.voto_str }}</button>
            {% elseif v.voto > 0 and not v.media %}
          <button type="button" class="btn btn-xs gs-btn-secondary" title="Informazioni sulla valutazione" data-toggle="modal" data-target="#gs-modal-info" data-title="Informazioni sulla valutazione" data-body="gs-voti-{{ v.id }}">{{ v.voto_str }}</button>
            {% elseif v.voto > 0 %}
          <button type="button" class="btn btn-xs btn-{{ v.voto < 5 ? 'danger' : (v.voto < 6 ? 'warning' : 'success') }}" title="Informazioni sulla valutazione" data-toggle="modal" data-target="#gs-modal-info" data-title="Informazioni sulla valutazione" data-body="gs-voti-{{ v.id }}">{{ v.voto_str }}</button>
            {% else %}
          <button type="button" class="btn btn-xs btn-default" title="Informazioni sulla valutazione" data-toggle="modal" data-target="#gs-modal-info" data-title="Informazioni sulla valutazione" data-body="gs-voti-{{ v.id }}"><span class="glyphicon glyphicon-asterisk"></span></button>
            {% endif %}
          <div id="gs-voti-{{ v.id }}" style="display:none">
            <div class="list-group-item">
              <div class="list-group-item-text">
                <p>
            {% if not v.visibile %}
                  <span class="glyphicon glyphicon-eye-close text-danger gs-mr-2" title="Non visibile ai genitori"></span>
            {% endif %}
                  <strong>Data:</strong> {{ v.data|date('d/m/Y') }}
                </p>
                <p><strong>Docente:</strong> {{ v.nome }} {{ v.cognome }}</p>
                <p><strong>Valutazione:</strong> {{ ('label.voti_'~v.tipo)|trans }} <em>{{ not v.media ? '(non utilizzata nel calcolo della media)' }}</em></p>
                <p><strong>Alunno:</strong> {{ a.cognome }} {{ a.nome }} ({{ a.dataNascita|date('d/m/Y') }})</p>
            {% if v.argomento is not empty %}
                <p><strong>Argomenti o descrizione della prova:</strong><br>{{ v.argomento }}</p>
            {% endif %}
            {% if v.voto_str is defined %}
                <p><strong>Voto:</strong> {{ v.voto_str }}</p>
            {% endif %}
            {% if v.giudizio is not empty %}
                <p><strong>Giudizio:</strong><br>{{ v.giudizio }}</p>
            {% endif %}
              </div>
            {% if v.docente_id == app.user.id and edit %}
              <div class="list-group-item-text text-right">
                <a class="btn btn-primary btn-sm" href="{{ path('lezioni_voti_alunno', {'cattedra': cattedra.id, 'alunno': a.id, 'tipo': v.tipo, 'id': v.id}) }}" role="button" title="Modifica o elimina la valutazione">Modifica</a>
              </div>
            {% endif %}
            </div>
          </div>
            {% endfor %}
        </td>
          {% endfor %}
        <td>
          {% if edit %}
          <a class="btn btn-primary btn-xs" href="{{ path('lezioni_voti_alunno', {'cattedra': cattedra.id, 'alunno': a.id, 'tipo': 'S'}) }}" role="button" title="Aggiungi una valutazione scritta per l'alunno">S</a>
          <a class="btn btn-primary btn-xs" href="{{ path('lezioni_voti_alunno', {'cattedra': cattedra.id, 'alunno': a.id, 'tipo': 'O'}) }}" role="button" title="Aggiungi una valutazione orale per l'alunno">O</a>
          <a class="btn btn-primary btn-xs" href="{{ path('lezioni_voti_alunno', {'cattedra': cattedra.id, 'alunno': a.id, 'tipo': 'P'}) }}" role="button" title="Aggiungi una valutazione pratica per l'alunno">P</a>
          {% endif %}
        </td>
      </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
    {% include 'include/modal-info.html.twig' %}
  {% endif %}
</div>
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script>
$(document).ready(function() {
  $('[data-toggle="popover"]').popover();
  $('#gs-modal-info').on('show.bs.modal', function (event) {
    var title = $(event.relatedTarget).data('title');
    var id = $(event.relatedTarget).data('body');
    var html = $('#'+id).html();
    $(this).find('#gs-modal-info-label').text(title);
    $(this).find('#gs-modal-info-body').html(html);
  });
});
</script>
{% endblock %}
