{% extends 'lezioni/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  {% if not cattedra and not classe %}
  <h1 class="text-center gs-h1 gs-mt-2">{{ 'title.lezioni_voti_dettagli'|trans }}</h1>
  <div class="alert alert-warning" role="alert">
    <strong class="gs-big">{{ 'message.cattedra_mancante'|trans }}</strong>
  </div>
  {% elseif not cattedra %}
  <h1 class="text-center gs-h1 gs-mt-2">{{ 'title.lezioni_voti_dettagli'|trans }}</h1>
  <div class="alert alert-warning" role="alert">
    <strong class="gs-big">{{ 'message.voti_supplenza'|trans }}</strong>
  </div>
  {% else %}
  <h1 class="text-center gs-h1 gs-mt-2 gs-mb-0">{{ 'title.lezioni_voti_dettagli'|trans }} {{ classe.anno~'ª '~classe.sezione }}</h1>
  <h2 class="text-center gs-h2 gs-mt-0 gs-mb-5"><em>{{ info.materia }}{% if info.alunno %}<button type="button" class="btn btn-xs btn-default gs-ml-3" title="Informazioni sulla cattedra" data-placement="auto left" data-toggle="popover" data-trigger="hover" data-content="{{ info.alunno }}"><span class="glyphicon glyphicon-info-sign"></span></button>{% endif %}</em></h2>
  <div class="row gs-mb-1">
    <div class="col-sm-8">
      <strong class="gs-big">Alunno:</strong>
      <div style="display:inline-block" class="dropdown">
        <button class="btn btn-primary dropdown-toggle" id="gs-dropdown-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="Clicca per scegliere l'alunno">{{ info.alunno_scelto }}<span class="caret gs-ml-3"></span></button>
    {#-- {% if idalunno and info.bes != 'N' %} #}
        {#-- <button type="button" class="btn btn-xs btn-default gs-ml-1" title="Informazioni sull'alunno" data-placement="auto left" data-toggle="popover" data-trigger="hover" data-content="{{ ('label.bes_'~info.bes)|trans }}"><span class="glyphicon glyphicon-info-sign"></span></button> #}
    {#-- {% endif %} #}
    {% if idalunno and info.note is not empty %}
        <button type="button" class="btn btn-xs btn-default gs-ml-1" title="Note aggiuntive" data-placement="auto left" data-toggle="popover" data-trigger="hover" data-content="{{ info.note }}"><span class="glyphicon glyphicon-info-sign"></span></button>
    {% endif %}
        <ul class="dropdown-menu" aria-labelledby="gs-dropdown-menu">
    {% for k,v in alunni %}
      {% if cattedra.materia.tipo != 'R' or v.religione == 'S' %}
          <li{{ v.id == idalunno ? ' class="active"' }}><a href="{{ path('lezioni_voti_dettagli', {'cattedra': cattedra.id, 'classe': classe.id, 'alunno': v.id}) }}">{{ v.cognome }} {{ v.nome }} ({{ v.dataNascita|date('d/m/Y') }})</a></li>
      {% endif %}
    {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-sm-4 text-right">
      <a class="btn btn-success btn-sm" href="{{ path('lezioni_voti_quadro', {'cattedra': cattedra.id, 'classe': classe.id}) }}" role="button" title="Visualizza il quadro delle valutazioni"><span class="glyphicon glyphicon-list-alt gs-mr-3"></span><strong>Quadro</strong></a>
    </div>
  </div>
    {% if idalunno %}
      {% for periodo,v in dati.lista %}
        {% for tipo in ['S','O','P'] %}
          {% if v[tipo] is defined %}
  <table class="table table-bordered table-hover table-striped">
    <caption class="text-info text-center gs-big"><strong>{{ periodo }} - {{ ('label.voti_'~tipo)|trans }}</strong></caption>
    <thead class="bg-success">
      <tr>
        <th class="col-sm-2">Data</th>
        <th class="col-sm-7">Argomenti o descrizione della prova</th>
        <th class="col-sm-3">Valutazione</th>
      </tr>
    </thead>
    <tbody>
            {% for data,v1 in v[tipo] %}
              {% for e in v1 %}
      <tr>
        <td{{ e.docente_id ? ' class="bg-info"' }}><strong>{{ e.data_str }}</strong></td>
        <td{{ e.docente_id ? ' class="bg-info"' }}>
          <small>{{ e.argomento }}</small>
          {% if e.docente_id %}<br><small><em>({{ e.nome}} {{ e.cognome}})</em></small>{% endif %}
        </td>
        <td{{ e.docente_id ? ' class="bg-info"' }}>
          {% if e.voto > 0 %}<span class="label label-{{ not e.visibile ? 'default' : (e.voto < 5 ? 'danger' : (e.voto < 6 ? 'warning' : 'success')) }} gs-big">{{ e.voto_str }}</span>{{ e.giudizio is not empty ? '<br>' }}{% endif %}
          <small>{{ e.giudizio }}</small>
          {% if e.docente_id %}<br><small><em>({{ e.nome}} {{ e.cognome}})</em></small>{% endif %}
        </td>
      </tr>
              {% endfor %}
            {% endfor %}
            {% if dati.media[periodo][tipo] is defined %}
      <tr>
        <td colspan="2" class="bg-success text-right gs-big"><strong><em>Media {{ ('label.voti_'~tipo)|trans }}</em></strong></td>
        <td class="bg-success"><strong class="gs-big"><em>{{ dati.media[periodo][tipo] }}</em></strong></td>
      </tr>
            {% endif %}
    </tbody>
  </table>
          {% endif %}
        {% endfor %}
        {% if dati.media[periodo]['totale'] is defined %}
  <div class="alert alert-warning text-center" role="alert">
    <strong class="gs-big"><em>{{ periodo }} - Media Complessiva {{ dati.media[periodo]['totale'] }}</em></strong>
  </div>
        {% endif %}
      {% else %}
  <div class="alert alert-info gs-mt-4" role="alert">
    <strong class="gs-big">Non sono presenti valutazioni</strong>
  </div>
      {% endfor %}
    {% endif %}
  {% endif %}
</div>
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script>
$(document).ready(function() {
  $('[data-toggle="popover"]').popover();
});
</script>
{% endblock %}
