{% extends 'lezioni/index.html.twig' %}

{% form_theme form _self %}

{% block pagina_contenuto %}
<div class="container-fluid">
  <div class="panel panel-primary gs-mt-4" >
    <div class="panel-heading">
      <div class="panel-title">{{ form_title|trans }}</div>
    </div>
    <div class="panel-body gs-pt-0">
      <div class="row bg-success">
        <div class="col-sm-2 text-right"><strong class="gs-big">Classe:</strong></div>
        <div class="col-sm-4"><span class="gs-big">{{ label.classe }}</span></div>
      </div>
      <div class="row bg-success gs-mb-3">
        <div class="col-sm-2 text-right"><strong class="gs-big">Materia:</strong></div>
        <div class="col-sm-4"><span class="gs-big">{{ label.materia }}</span></div>
        <div class="col-sm-2 text-right"><strong class="gs-big">Valutazione:</strong></div>
        <div class="col-sm-4"><span class="gs-big">{{ label.tipo|trans }}</span></div>
      </div>
  {% if app.session.get('/APP/ROUTE/lezioni_voti_classe/conferma') != 0 %}
      <div class="alert alert-warning" role="alert">
        <div class="text-center">
          <strong class="gs-big">
            {{ 'message.alunni_assenti_in_data'|trans }}<br>
            {% for a in assenti %}{{ a.cognome }} {{ a.nome }} ({{ a.dataNascita|date('d/m/Y') }}){{ not loop.last ? ', ' }}{% endfor %}.<br>
            <em>{{ 'message.modifica_data_o_conferma'|trans }}</em>
          </strong>
        </div>
      </div>
  {% endif %}
      {{ form_start(form) }}
      {{ form_errors(form) }}
      {{ form_row(form.data) }}
      {{ form_row(form.visibile) }}
      {{ form_row(form.argomento) }}
      <ul id="gs-form-collection" class="list-group">
      {% for alu in form.lista %}
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">
              <strong>{{ alu.alunno.vars.value }}</strong>
            </div>
            {{ form_widget(alu) }}
          </div>
        </li>
      {% endfor %}
      </ul>
      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}

{% block pagina_css %}
{{ parent() }}
<link href="{{ asset('vendor/bootstrap-slider/css/bootstrap-slider.min.css') }}" rel="stylesheet">
<link href="{{ asset('vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet">
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script src="{{ asset('vendor/bootstrap-slider/js/bootstrap-slider.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap-datepicker/locales/bootstrap-datepicker.it.min.js') }}"></script>
<script>
$(document).ready(function() {
  $('[data-toggle="popover"]').popover();
  $('.input-group.date').datepicker({
    format: "dd/mm/yyyy",
    weekStart: 1,
    maxViewMode: 1,
    daysOfWeekDisabled: "0",
    startDate: "{{ label.inizio }}",
    endDate: "{{ date()|date('d/m/Y') }}",
    datesDisabled: {{ label.festivi|raw }},
    todayBtn: "linked",
    todayHighlight: true,
    autoclose: true,
    language: "it",
    zIndexOffset: 1200
  });
  $("#gs-form-collection input.slider").slider({
    min: 1,
    max: 10,
    step: 0.25,
    ticks: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    ticks_labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    ticks_snap_bounds: 0,
    focus: true,
    formatter: formatter,
    natural_arrow_keys: true
  });
  $('#gs-form-collection button.gs-button-add').on('click', function(e) {
    $(this).parent().find('div').attr('style', 'display:inline-block').find('input').addClass('slider')
      .slider({
        min: 1,
        max: 10,
        step: 0.25,
        ticks: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
        ticks_labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
        ticks_snap_bounds: 0,
        focus: true,
        formatter: formatter,
        natural_arrow_keys: true
      });
    $(this).hide();
    $(this).siblings('button.gs-button-delete').show();
    $(this).siblings('div').find('input').slider('setValue', 6, true, true);
    $(this).siblings('div').find('div').focus();
    e.preventDefault();
  });
  $('#gs-form-collection button.gs-button-delete').on('click', function(e) {
    $(this).siblings('div').find('input').slider('destroy');
    $(this).siblings('div').find('input').val(0);
    $(this).siblings('div').attr('style', 'display:none');
    $(this).siblings('span').removeClass('label-success label-danger label-warning').addClass('label-default').text('--');
    $(this).hide();
    $(this).siblings('button.gs-button-add').show();
    e.preventDefault();
  });
  $("#gs-form-collection").on("change", "input.slider", function(e) {
    var s = formatter(e.value.newValue);
    var c = (e.value.newValue >= 6 ? 'label-success' : (e.value.newValue < 5 ? 'label-danger' : 'label-warning'));
    $(this).parent().siblings('span').removeClass('label-success label-danger label-warning').addClass(c).text(s);
  });
  $('input:radio[name="voti_classe[visibile]"]').change(function() {
    if ($(this).val() == 1) {
      $('input[name^="voti_classe[lista]"][name$="[media]"][value=1]').prop('checked', true);
      $('input[name^="voti_classe[lista]"][name$="[media]"]').prop('disabled', false);
    } else {
      $('input[name^="voti_classe[lista]"][name$="[media]"][value=0]').prop('checked', true);
      $('input[name^="voti_classe[lista]"][name$="[media]"]').prop('disabled', true);
    }
  });
  // init
  if ($('input[name="voti_classe[visibile]"]:checked').val() == 0) {
    $('input[name^="voti_classe[lista]"][name$="[media]"][value=0]').prop('checked', true);
    $('input[name^="voti_classe[lista]"][name$="[media]"]').prop('disabled', true);
  }
  {% for k,f in form.lista %}
    {% if f.voto.vars.value > 0 %}
  $("input#voti_classe_lista_{{ k }}_voto").parent().siblings('span').text(formatter({{ f.voto.vars.value }}));
    {% elseif not f.giudizio.vars.value and form.visibile.vars.value == 1 %}
  $("input#voti_classe_lista_{{ k }}_media_0").prop('checked', true);
    {% endif %}
  {% endfor %}
});
function formatter(val) {
  val = (val < 1 ? 1 : (val > 10 ? 10 : val));
  var i = Math.floor(val + 0.25);
  var d = val - parseInt(val);
  return ''+i+(d == 0.25 ? '+' : (d == 0.75 ? '-' : (d == 0.5 ? '½' : '')));
}
</script>
{% endblock %}

{% block _voti_classe_lista_entry_widget %}
  <div class="col-sm-9">
    <div class="row">
      <label class="control-label col-sm-2" for="{{ form.voto.vars.id }}">Voto</label>
      <div class="col-sm-10">
  {% if form.voto.vars.value > 0 %}
        <span style="display:inline-block;width:3em;padding:0.6em 0.2em;" class="label {{ form.voto.vars.value >= 6 ? 'label-success' : (form.voto.vars.value < 5 ? 'label-danger' : 'label-warning') }} gs-mr-1 gs-big">--</span>
        <button style="display:none" class="btn btn-primary btn-xs gs-mr-5 gs-button-add" type="button" title="Aggiungi un voto"><span class="glyphicon glyphicon-plus gs-mr-2"></span>Aggiungi</button>
        <button class="btn btn-danger btn-xs gs-mr-5 gs-button-delete" type="button" title="Cancella il voto"><span class="glyphicon glyphicon-remove gs-mr-2"></span>Cancella</button>
        <div style="display:inline">{{ form_widget(form.voto, {'attr': {'class': 'slider', 'data-slider-value': form.voto.vars.value}}) }}</div>
  {% else %}
        <span style="display:inline-block;width:3em;padding:0.6em 0.2em;" class="label label-default gs-mr-1 gs-big">--</span>
        <button class="btn btn-primary btn-xs gs-mr-5 gs-button-add" type="button" title="Aggiungi un voto"><span class="glyphicon glyphicon-plus gs-mr-2"></span>Aggiungi</button>
        <button style="display:none" class="btn btn-danger btn-xs gs-mr-5 gs-button-delete" type="button" title="Cancella il voto"><span class="glyphicon glyphicon-remove gs-mr-2"></span>Cancella</button>
        <div style="display:none"><input id="{{ form.voto.vars.id }}" name="{{ form.voto.vars.full_name }}" type="text" value="0"></div>
  {% endif %}
      </div>
    </div>
    <div class="row ">
      <label class="control-label col-sm-2" for="{{ form.giudizio.vars.id }}">Giudizio</label>
      <div class="col-sm-10">
          {{ form_widget(form.giudizio) }}
      </div>
    </div>
    <div class="row ">
      <label class="control-label col-sm-2" for="{{ form.media.vars.id }}">{{ 'label.voto_in_media'|trans }}</label>
      <div class="col-sm-10">
          {{ form_widget(form.media) }}
      </div>
    </div>
  </div>
  {{ form_widget(form.id) }}
  {{ form_widget(form.alunno) }}
{% endblock %}
