<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">
    <span class="glyphicon glyphicon-remove gs-mr-2" aria-hidden="true"></span>
    <span class="sr-only">{{ 'label.close'|trans }}</span>
  </button>
  <h3 class="modal-title gs-h3">Circolare n. {{ circolare.numero }} del {{ circolare.data|date('j') }} {{ mesi[circolare.data|date('n')] }} {{ circolare.data|date('Y') }}</h3>
  <h4 class="modal-title gs-h4"><em>{{ circolare.oggetto }}</em></h4>
</div>
<div class="modal-body">
  <div class="row gs-mt-2">
    <div class="col-sm-2"><strong>Sedi:</strong></div>
    <div class="col-sm-10">
    {% for s in circolare.sedi %}{{ s.citta|upper }}{{ not loop.last ? '<br>' }}{% endfor %}
    </div>
  </div>
  <div class="row gs-mt-2">
    <div class="col-sm-2"><strong>Destinatari:</strong></div>
    <div class="col-sm-10">
  {% if circolare.dsga %}DSGA<br>{% endif %}
  {% if circolare.ata %}ATA<br>{% endif %}
  {% if circolare.coordinatori != 'N' %}COORDINATORI {{ dati.coordinatori|raw }}<br>{% endif %}
  {% if circolare.docenti != 'N' %}DOCENTI {{ dati.docenti|raw }}<br>{% endif %}
  {% if circolare.genitori != 'N' %}GENITORI {{ dati.genitori|raw }}<br>{% endif %}
  {% if circolare.alunni != 'N' %}ALUNNI {{ dati.alunni|raw }}<br>{% endif %}
  {% for a in circolare.altri %}{{ a }}{{ not loop.last ? '<br>' }}{% endfor %}
    </div>
  </div>
  <div class="row gs-mt-2">
    <div class="col-sm-2"><strong>Impostazioni:</strong></div>
    <div class="col-sm-10">
      {% if circolare.firma %}Conferma di lettura<br>{% endif %}
      {% if circolare.notifica %}Forza invio notifica<br>{% endif %}
      {% if not circolare.firma and not circolare.notifica %}NESSUNA<br>{% endif %}
    </div>
  </div>
  <div class="row gs-mt-2">
    <div class="col-sm-2"><strong>Stato:</strong></div>
    <div class="col-sm-10">{{ circolare.pubblicata ? 'PUBBLICATA' : 'IN BOZZA' }}</div>
  </div>
  {% if circolare.pubblicata %}
  <div class="row gs-mt-2">
    <div class="col-sm-2"><strong>Lettura:</strong></div>
    <div class="col-sm-10">
    {% if circolare.alunni != 'N' and circolare.alunni != 'U' %}
      <strong>NELLE CLASSI {{ (dati.lettura['CLASSI'][1] / dati.lettura['CLASSI'][0] * 100)|number_format(0) }}%</strong>
      {% if dati.lettura['CLASSI'][2]|length > 0 %}
      (non letta in: {% for c in dati.lettura['CLASSI'][2] %}{{ c }}{{ not loop.last ? ', ' }}{% endfor %})
      {% endif %}
      <br>
    {% endif %}
    {% if circolare.dsga %}DSGA {{ (dati.lettura['DSGA'][1] / dati.lettura['DSGA'][0] * 100)|number_format(0) }}% ({{ dati.lettura['DSGA'][1] }} su {{ dati.lettura['DSGA'][0] }})<br>{% endif %}
    {% if circolare.ata %}ATA {{ (dati.lettura['ATA'][1] / dati.lettura['ATA'][0] * 100)|number_format(0) }}% ({{ dati.lettura['ATA'][1] }} su {{ dati.lettura['ATA'][0] }})<br>{% endif %}
    {% if circolare.coordinatori != 'N' %}COORDINATORI {{ (dati.lettura['COORD'][1] / dati.lettura['COORD'][0] * 100)|number_format(0) }}% ({{ dati.lettura['COORD'][1] }} su {{ dati.lettura['COORD'][0] }})<br>{% endif %}
    {% if circolare.docenti != 'N' %}DOCENTI {{ (dati.lettura['DOC'][1] / dati.lettura['DOC'][0] * 100)|number_format(0) }}% ({{ dati.lettura['DOC'][1] }} su {{ dati.lettura['DOC'][0] }})<br>{% endif %}
    {% if circolare.genitori != 'N' %}GENITORI {{ (dati.lettura['GEN'][1] / dati.lettura['GEN'][0] * 100)|number_format(0) }}% ({{ dati.lettura['GEN'][1] }} su {{ dati.lettura['GEN'][0] }})<br>{% endif %}
    {% if circolare.alunni != 'N' %}ALUNNI {{ (dati.lettura['ALU'][1] / dati.lettura['ALU'][0] * 100)|number_format(0) }}% ({{ dati.lettura['ALU'][1] }} su {{ dati.lettura['ALU'][0] }})<br>{% endif %}
    </div>
  </div>
  {% endif %}
  <div class="row gs-mt-2">
    <div class="col-sm-2"><strong>Documento:</strong></div>
    <div class="col-sm-10">
      <a target="_blank" href="{{ path('circolari_download', {'id': circolare.id, 'doc': 0}) }}" title="Scarica la circolare"><strong>Circolare n. {{ circolare.numero }}</strong></a>
    </div>
  </div>
  {% if circolare.allegati|length > 0 %}
  <div class="row gs-mt-2">
    <div class="col-sm-2"><strong>Allegati:</strong></div>
    <div class="col-sm-10">
    {% for n,a in circolare.allegati %}
      <a target="_blank" href="{{ path('circolari_download', {'id': circolare.id, 'doc': n+1}) }}" title="Scarica l'allegato"><strong>Allegato {{ n+1 }}</strong></a><br>
    {% endfor %}
    </div>
  </div>
  {% endif %}
  {% if circolare_utente is not empty and circolare_utente.letta is not empty %}
  <div class="row gs-mt-2">
    <div class="col-sm-2"><strong>Data/ora lettura:</strong></div>
    <div class="col-sm-10">
      {{ circolare_utente.letta|date('d/m/Y H:i') }} {{ circolare_utente.confermata ? '(lettura confermata dall\'utente)' }}
    </div>
  </div>
  {% endif %}
  {% if circolare.firma and circolare_utente is not empty and circolare_utente.letta is empty %}
  <hr class="gs-hr gs-mb-0">
  <div class="gs-mt-2 gs-mb-3 text-center">
    <div><em><strong>Si prega di confermare la lettura di questa circolare</strong></em></div>
    <a class="btn btn-success btn-sm gs-mr-4" href="{{ path('circolari_firma', {'id': circolare.id}) }}" role="button" title="Conferma la lettura della circolare"><span class="glyphicon glyphicon-ok gs-mr-2"></span><strong>Conferma lettura</strong></a>
    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove gs-mr-2" aria-hidden="true"></span>Annulla</button>
  </div>
  {% endif %}
</div>
