{{ include('coordinatore/documenti/intestazione.html.twig') }}
<div style="text-align:center;">
  <strong>
    CLASSE {{ dati.classe.anno }}ª {{ dati.classe.sezione }} - {{ dati.classe.corso.nomeBreve }} - {{ dati.classe.sede.citta }}
    <br>INTEGRAZIONE SCRUTINIO FINALE
  </strong>
</div>
<br>
<table border="1" cellpadding="3" style="font-family:helvetica;font-size:11pt">
  <tr nobr="true">
    <td width="5%" align="center"><strong>Pr.</strong></td>
    <td width="55%" align="center"><strong>Alunno</strong></td>
    <td width="40%" align="center"><strong>Esito</strong></td>
  </tr>
{% for id,alu in dati.alunni %}
  <tr nobr="true">
    <td>{{ loop.index }}</td>
    <td><strong>{{ alu.cognome }} {{ alu.nome }}</strong></td>
    <td>
  {% if dati.esiti[id].esito == 'N' %}
      <strong>NON AMMESS{{ alu.sesso == 'M' ? 'O' : 'A' }}</strong>
  {% elseif dati.esiti[id].esito == 'A' %}
      <strong>AMMESS{{ alu.sesso == 'M' ? 'O' : 'A' }}</strong>
  {% elseif dati.esiti[id].esito == 'X' %}
      <strong>SCRUTINIO RINVIATO</strong>
  {% endif %}
    </td>
  </tr>
{% endfor %}
</table>
{{ include('coordinatore/documenti/firma.html.twig', {data_firma: dati.scrutinio.data}) }}
