{{ include('coordinatore/documenti/intestazione.html.twig') }}
<table style="font-family:times;font-size:12pt" border="0" cellpadding="3" nobr="true">
  <tr nobr="true">
    <td width="55%">&nbsp;</td>
    <td width="45%" align="left">
      <em>Ai genitori dell'alunn{{ dati.sex }}</em><br>
      {{ dati.alunno.cognome|upper }} {{ dati.alunno.nome|upper }}<br>
      Classe {{ dati.classe.anno }}ª {{ dati.classe.sezione }}
    </td>
  </tr>
</table>
<p>&nbsp;</p>
<div style="text-align:justify;font-family:times;font-size:11pt">
  <p><strong>OGGETTO: Scrutinio finale A.S.
    {{ app.session.get('/CONFIG/SCUOLA/anno_scolastico') }} - Comunicazione del debito formativo</strong></p>
  <br>
  <p>Si comunica che il Consiglio di Classe, nella seduta dello scrutinio finale dell’Anno Scolastico
    {{ app.session.get('/CONFIG/SCUOLA/anno_scolastico') }}, tenutasi il giorno
    {{ dati.scrutinio.data|date('d/m/Y') }},
    avendo accertato la presenza di un debito formativo per
    l'alunn{{ dati.sex }} {{ dati.alunno.cognome }} {{ dati.alunno.nome }},
    ne ha deliberato la <strong>SOSPENSIONE DEL GIUDIZIO</strong>, ai sensi dell'art. 4 comma 6 del D.P.R. 122 del 2009.
    <br>Si riporta nel prospetto seguente il dettaglio del debito formativo dell'alunn{{ dati.sex }}
    e la modalità consigliata per il recupero:
  </p>
  <table border="1" cellpadding="3" style="font-family:helvetica;font-size:10pt">
    <tr nobr="true">
      <td width="30%" align="center"><strong>MATERIA</strong></td>
      <td width="7%" align="center"><strong>VOTO</strong></td>
      <td width="50%" align="center"><strong>Argomenti da recuperare</strong></td>
      <td width="13%" align="center"><strong>Modalità di recupero</strong></td>
    </tr>
{% for idmat,mat in dati.materie %}
  {% if dati.debiti[idmat].unico is defined %}
    <tr>
      <td align="left"><strong>{{ mat.nome }}</strong></td>
      <td align="center"><strong>{{ (mat.tipo == 'E' and dati.debiti[idmat].unico < 4) ? dati.valutazioni[0] : dati.valutazioni[dati.debiti[idmat].unico] }}</strong></td>
      <td align="left" style="font-size:9pt">{{ dati.debiti[idmat].debito|nl2br }}</td>
      <td align="center">{{ ('label.recupero_'~dati.debiti[idmat].recupero)|trans }}</td>
    </tr>
  {% endif %}
{% endfor %}
  </table>
  <p>Qualora le famiglie non intendano far frequentare ai propri figli i corsi organizzati dalla scuola,
    dovranno dichiarare che provvederanno autonomamente agli interventi di recupero.
    In ogni caso, gli studenti saranno chiamati a sottoporsi alle prove di verifica del superamento
    del debito formativo.
  </p>
  <p>Si ricorda che, ai sensi della normativa vigente, non sarà consentita l'ammissione alla classe successiva
    nel caso persista il debito formativo sopra evidenziato.</p>
  <p>&nbsp;</p>
  <p>Distinti Saluti.</p>
{{ include('coordinatore/documenti/firma.html.twig', {data_firma: dati.scrutinio.data}) }}
</div>
