{{ include('coordinatore/documenti/intestazione.html.twig') }}
<p style="text-align:center;font-family:times;font-size:12pt">
  <strong>VERBALE DELLO SCRUTINIO FINALE</strong> <br>
  <strong>CLASSE {{ dati.classe.anno }}ª {{ dati.classe.sezione }} {{ dati.classe.corso.nomeBreve }} - {{ dati.classe.sede.citta }}</strong>
</p>
<div style="text-align:justify;font-family:times;font-size:11pt">
  <p>Il giorno {{ dati.scrutinio.data|date('j') }}
    del mese di {{ dati.nomi_mesi[dati.scrutinio.data|date('n')] }} dell'anno {{ dati.scrutinio.data|date('Y') }},
    alle ore {{ dati.scrutinio.inizio|date('G:i') }}, in seduta telematica, si riunisce, a seguito di regolare convocazione,
    il Consiglio della Classe {{ dati.classe.anno }}ª {{ dati.classe.sezione }} per discutere il seguente ordine del giorno:
  </p>
  <ol>
    <li><strong>Operazioni di scrutinio finale;</strong></li>
{% if dati.classe.anno == 2 %}
    <li><strong>Certificazione delle competenze;</strong></li>
{% endif %}
{% if dati.classe.anno != 5 %}
    <li><strong>Predisposizione del PAI;</strong></li>
    <li><strong>Predisposizione del PIA (eventuale).</strong></li>
{% else %}
    <li><strong>Conversione del punteggio dei crediti attributi al terzo e quarto anno.</strong></li>
{% endif %}
  </ol>
  <p>Presiede la riunione {{ dati.presidente }}; funge da segretario verbalizzante {{ dati.segretario }}.
    Sono presenti i professori:
  </p>
  <table border="1" cellpadding="3" style="font-family:helvetica;font-size:10pt">
    <tr nobr="true">
      <td width="40%" align="center"><strong>DOCENTE</strong></td>
      <td width="60%" align="center"><strong>MATERIA</strong></td>
    </tr>
{% set assenti=0 %}
{% for kdoc,doc in dati.scrutinio.dati['presenze'] %}
  {% if doc.presenza %}
    <tr>
      <td>{{ dati.docenti[doc.docente][0]['cognome'] }} {{ dati.docenti[doc.docente][0]['nome'] }}</td>
      <td align="left">
    {% for kv,v in dati.docenti[doc.docente] %}
        <br>&bull; {{ v['doc_tipo'] == 'I' ? 'Lab. ' }}{{ v['nome_materia'] }}
    {% endfor %}
      </td>
    </tr>
  {% else %}
    {% set assenti=assenti+1 %}
  {% endif %}
{% endfor %}
  </table>
{% if assenti %}
  <p>Sono assenti i seguenti docenti, sostituiti con apposita nomina del Dirigente Scolastico:</p>
  <ul>
  {% for kdoc,doc in dati.scrutinio.dati['presenze'] %}
    {% if not doc.presenza %}
      {% set assenti=assenti-1 %}
    <li>{{ dati.docenti[doc.docente][0]['sesso'] == 'M' ? 'Prof.' : 'Prof.ssa'}}
      {{ dati.docenti[doc.docente][0]['cognome'] }} {{ dati.docenti[doc.docente][0]['nome'] }}
      sostituit{{ dati.docenti[doc.docente][0]['sesso'] == 'M' ? 'o' : 'a'}}
      dal{{ doc.sessoSostituto == 'M' ? ' Prof.' : 'la Prof.ssa' }}
      {{ doc.sostituto|title }}
      (prot. n. {{ doc.surrogaProtocollo }} del {{ doc.surrogaData|date('d/m/Y') }}) per
      {% for kv,v in dati.docenti[doc.docente] %}{{ not loop.first ? ', '}}{{ v['doc_tipo'] == 'I' ? 'Lab. ' }}{{ v['nome_materia'] }}{% endfor %}{{ assenti > 0 ? ';' : '.' }}
    </li>
    {% endif %}
  {% endfor %}
  </ul>
{% else %}
  <p>Nessun docente è assente.</p>
{% endif %}
{% if dati.alunni_noreligione|length > 0 %}
  <p>{{ dati.religione }}, insegnante di religione cattolica, partecipa alle operazioni di scrutinio di tutti gli studenti
    tranne che per
{% for a in dati.alunni_noreligione %}
    {{ a }}{{ not loop.last ? ',' }}
{% endfor %}
    che non si {{ dati.alunni_noreligione|length > 1 ? 'sono avvalsi' : 'è avvalso' }}
    dell’insegnamento della religione cattolica.
  </p>
{% else %}
  <p>{{ dati.religione }}, insegnante di religione cattolica, partecipa alle operazioni di scrutinio di tutti gli studenti.</p>
{% endif %}
  <p><strong>Punto primo. Operazioni di scrutinio finale</strong></p>
  <p>Prima di dare inizio alle operazioni di scrutinio, il Presidente, accertata la validità della seduta e richiamando
    la vigente normativa riguardante la valutazione e le operazioni di scrutinio, nonché le relative delibere dei
    competenti organi collegiali, premette che:</p>
  <ul>
    <li>tutti i presenti sono tenuti all’obbligo della stretta osservanza del segreto d’ufficio e che l’eventuale violazione comporta sanzioni disciplinari;</li>
    <li>i voti devono essere assegnati dal Consiglio di Classe, su proposta dei singoli docenti, utilizzando l’intera scala di valutazione in decimi;</li>
    <li>la proposta di voto deve:
      <ul>
        <li>scaturire da un congruo numero di elementi di valutazione e di prove effettuate, corrette e valutate;</li>
        <li>tener conto delle valutazioni espresse in sede di scrutinio intermedio, degli esiti di eventuali iniziative di sostegno e/o di interventi di recupero effettuati in corso d’anno;</li>
        <li>tener conto della valutazione complessiva dell’impegno, dell’interesse e della partecipazione dimostrati dallo studente nell’intero percorso formativo, compresa l’attività didattica a distanza;</li>
      </ul>
    </li>
    <li>il voto di comportamento è unico ed è assegnato dal Consiglio di Classe su proposta del Coordinatore in base agli indicatori individuati a livello collegiale;</li>
    <li>il voto di comportamento concorre, insieme alle valutazioni degli apprendimenti, alla definizione della media finale;</li>
    <li>in base all’art. 4 co.4 dell’O.M. n. 11 del 16 maggio 2020, nel verbale sono espresse per ciascun alunno le eventuali valutazioni insufficienti relative ad uno o più discipline;
      per gli alunni ammessi alla classe successiva in presenza di votazioni inferiori a sei decimi il CdC predispone il <strong>piano di apprendimento individualizzato (PAI)</strong> in cui sono indicati, per ciascuna disciplina, gli obiettivi di apprendimento da conseguire nonché le specifiche strategie per il raggiungimento dei relativi livelli di apprendimento;</li>
    <li>in base all’art. 6 co.2 dell’O.M n.11 del 16 maggio 2020 i docenti individuano le attività didattiche eventualmente non svolte rispetto alla progettazione di inizio anno e i correlati obiettivi di apprendimento e li inseriscono in un <strong>piano di integrazione degli apprendimenti (PIA)</strong>;</li>
    <li><strong>nei casi in cui i docenti non siano in possesso di alcun elemento valutativo relativo all’alunno, per cause non imputabili alle difficoltà legate alla disponibilità di apparecchiature tecnologiche ovvero alla connettività di rete, bensì a situazioni di mancata o sporadica frequenza delle attività didattiche,
      perduranti e già opportunamente verbalizzate per il primo periodo didattico, il Consiglio di classe, con <em>motivazione espressa all’unanimità</em>, può non ammetterlo alla classe successiva.</strong></li>
  </ul>
  <p>Si passa quindi alle operazioni di scrutinio.<br>Preliminarmente, per ciascun alunno, viene deliberato il voto di comportamento, indicato nel seguente prospetto:</p>
  <table border="1" cellpadding="3" style="font-family:helvetica;font-size:10pt">
    <tr nobr="true">
      <td width="30%" align="center"><strong>ALUNNO</strong></td>
      <td width="6%" align="center"><strong>Voto</strong></td>
      <td width="48%" align="center"><strong>Giudizio</strong></td>
      <td width="16%" align="center"><strong>Delibera</strong></td>
    </tr>
{% for kalu in dati.scrutinati %}
    <tr>
      <td align="left">{{ dati.alunni[kalu].cognome }} {{ dati.alunni[kalu].nome }} ({{ dati.alunni[kalu].dataNascita|date('d/m/Y') }})</td>
      <td align="center">{{ dati.voti[kalu].unico == 4 ? 'NC' : dati.voti[kalu].unico }}</td>
      <td align="left" style="font-size:9pt">{{ dati.voti[kalu].dati['motivazione']|nl2br }}</td>
      <td align="left" style="font-size:9pt">
  {% if dati.voti[kalu].dati['unanimita'] %}
        <strong>UNANIMITÀ</strong>
  {% else %}
        <strong>MAGGIORANZA</strong><br>
        <strong>Contrari</strong>:<br>{{ dati.voti[kalu].dati['contrari'] }}<br>
        <strong>Motivazione</strong>:<br>{{ dati.voti[kalu].dati['contrari_motivazione'] }}
  {% endif %}
      </td>
    </tr>
{% endfor %}
  </table>
  <p>Si passa, quindi, seguendo l'ordine alfabetico, alla valutazione di ogni singolo alunno, tenuto conto degli indicatori precedentemente espressi.
    Per ciascuna disciplina il docente competente esprime il proprio giudizio complessivo sull'alunno.
    Ciascun giudizio è tradotto coerentemente in un voto, che viene proposto al Consiglio di Classe.
    Il Consiglio di Classe discute esaurientemente le proposte espresse dai docenti e, tenuti ben presenti i parametri di valutazione deliberati, procede alla definizione e all'approvazione dei voti per ciascun alunno e per ciascuna disciplina.
  </p>
  <p>Sulla scorta delle proposte di voto espresse dagli insegnanti in merito al profitto, alla diligenza, all’impegno, alle capacità ed attitudini di ciascun alunno, agli eventuali esiti delle prove di verifica del recupero delle insufficienze del Primo Trimestre ed ogni altro elemento di valutazione disponibile,
    <strong>il Consiglio di classe delibera l’ammissione dei seguenti alunni anche con eventuale valutazione insufficiente come da tabellone allegato.</strong>
  </p>
  <p>Risultano <strong>AMMESSI {% if dati.classe.anno == 5 %}ALL'ESAME DI STATO{% else %}ALLA CLASSE SUCCESSIVA{% endif %}:</strong></p>
  <table border="1" cellpadding="3" style="font-family:helvetica;font-size:10pt">
    <tr nobr="true">
      <td width="40%" align="center"><strong>ALUNNO</strong></td>
      <td width="60%" align="center"><strong>Delibera</strong></td>
    </tr>
{% for kalu in dati.scrutinati %}
  {% if dati.esiti[kalu].esito == 'A' %}
    <tr nobr="true">
      <td align="left"><strong>{{ dati.alunni[kalu].cognome }} {{ dati.alunni[kalu].nome }} ({{ dati.alunni[kalu].dataNascita|date('d/m/Y') }})</strong></td>
      <td align="left" style="font-size:9pt">
  {% if dati.esiti[kalu].dati['unanimita'] %}
        <strong>UNANIMITÀ</strong>
  {% else %}
        <strong>MAGGIORANZA</strong><br>
        <strong>Contrari</strong>:<br>{{ dati.esiti[kalu].dati['contrari'] }}<br>
        <strong>Motivazione</strong>:<br>{{ dati.esiti[kalu].dati['contrari_motivazione'] }}
  {% endif %}
      </td>
    </tr>
  {% endif %}
{% endfor %}
  </table>
  <p>Tutte le deliberazioni sopra indicate sono state assunte individualmente per ciascun alunno.</p>
{% if dati.non_ammessi > 0 %}
  <p>Risultano <strong>NON AMMESSI {% if dati.classe.anno == 5 %}ALL'ESAME DI STATO{% else %}ALLA CLASSE SUCCESSIVA{% endif %} in base all’art. 4 co. 4 O.M. n.11 del 16/05/2020:</strong></p>
  <table border="1" cellpadding="3" style="font-family:helvetica;font-size:10pt">
    <tr nobr="true">
      <td width="40%" align="center"><strong>ALUNNO</strong></td>
      <td width="16%" align="center"><strong>Delibera</strong></td>
      <td width="44%" align="center"><strong>Motivazione della non ammissione</strong></td>
    </tr>
  {% for kalu in dati.scrutinati %}
    {% if dati.esiti[kalu].esito == 'N' %}
    <tr nobr="true">
      <td align="left"><strong>{{ dati.alunni[kalu].cognome }} {{ dati.alunni[kalu].nome }} ({{ dati.alunni[kalu].dataNascita|date('d/m/Y') }})</strong></td>
      <td align="center" style="font-size:9pt"><strong>UNANIMITÀ</strong></td>
      <td align="left" style="font-size:9pt">
        {{ dati.esiti[kalu].dati['giudizio'] }}
      </td>
    </tr>
    {% endif %}
  {% endfor %}
  </table>
{% endif %}
{% if dati.classe.anno >= 3 %}
  <p>Nel passare all’assegnazione del credito scolastico, il Presidente richiama brevemente i criteri stabiliti dal Collegio dei docenti per la determinazione del credito scolastico, nel rispetto di quanto prevede l’art 15 del D.lgs. 62/2017, alla luce di quanto previsto dall’art.4 co.4 dell’O.M. n. 11 del 16 maggio 2020.
    In pratica, per ciascun allievo, si procederà preliminarmente a calcolare la media dei voti conseguiti nello scrutinio finale, incluso il voto relativo al comportamento, e, quindi, a collocarlo nella fascia di appartenenza;
    nell’ambito della fascia così individuata il Consiglio valuterà quale punteggio attribuire (minimo o massimo).
    Per le classi terze e quarte, nel caso di media inferiore a sei decimi è attribuito un credito pari a 6 (art.4 co.4 OM n. 11 del 16 maggio 2020).
    Per le classi quinte si utilizza la nuova griglia dei punteggi stabilita nell' OM n. 11 del 16 maggio 2020 (Allegato A, Tabella C).
  </p>
  <p>Il Consiglio passa quindi alle singole delibere per l’attribuzione del credito scolastico che risultano sintetizzate nella seguente tabella.</p>
  <table border="1" cellpadding="3" style="font-family:helvetica;font-size:10pt">
  {% if dati.classe.anno != 4 %}
    <tr nobr="true">
      <td width="40%" align="center"><strong>ALUNNO</strong></td>
      <td width="10%" align="center"><strong>Media voti</strong></td>
      <td width="40%" align="center"><strong>Criteri</strong></td>
      <td width="10%" align="center"><strong>Credito</strong></td>
    </tr>
  {% else %}
    <tr nobr="true">
      <td width="40%" align="center"><strong>ALUNNO</strong></td>
      <td width="10%" align="center"><strong>Media voti</strong></td>
      <td width="20%" align="center"><strong>Criteri</strong></td>
      <td width="10%" align="center"><strong>Credito</strong></td>
      <td width="10%" align="center"><strong>Credito anni prec.</strong></td>
      <td width="10%" align="center"><strong>Credito totale</strong></td>
    </tr>
  {% endif %}
  {% for kalu in dati.scrutinati %}
    {% if dati.esiti[kalu].esito == 'A' %}
    <tr nobr="true">
      <td align="left"><strong>{{ dati.alunni[kalu].cognome }} {{ dati.alunni[kalu].nome }} ({{ dati.alunni[kalu].dataNascita|date('d/m/Y') }})</strong></td>
      <td align="center">{{ dati.esiti[kalu].media|number_format(2,',','') }}</td>
      <td  align="left" style="font-size:9pt">{% for cr in dati.esiti[kalu].dati['creditoScolastico'] %}{{ ('label.criterio_credito_desc_'~cr)|trans }}{{ not loop.last ? '; '}}{% else %}---{% endfor %}</td>
      <td align="center">{{ dati.esiti[kalu].credito }}</td>
      {% if dati.classe.anno == 4 %}
      <td align="center">{{ dati.esiti[kalu].creditoPrecedente }}</td>
      <td align="center">{{ dati.esiti[kalu].creditoPrecedente + dati.esiti[kalu].credito }}</td>
      {% endif%}
    </tr>
    {% endif %}
  {% endfor %}
  </table>
  <p>Tutte le decisioni in merito all’attribuzione del credito scolastico dell’anno in corso vengono prese all’unanimità.</p>
{% endif %}
{% if dati.classe.anno == 2 %}
  <p><strong>Punto secondo. Operazioni di scrutinio finale</strong></p>
  <p>Al fine della Certificazione delle Competenze (DM 22 agosto 2007 n. 139 e DM 27 gennaio 2010 n. 9) in esito all’assolvimento all’obbligo di istruzione, il CdC predispone, per ogni alunno ammesso alla classe successiva, la certificazione delle competenze acquisite,
    negli assi dei linguaggi, matematico, scientifico e storico sociale, nell’ambito del percorso formativo effettuato.
  </p>
{% endif %}
{% if dati.classe.anno != 5 %}
  <p><strong>Punto {{ dati.classe.anno == 2 ? 'terzo' : 'secondo' }}. Predisposizione del PAI</strong></p>
  <p>Per gli alunni che sono stati ammessi alla classe successiva con voti insufficienti in una o più discipline, il Consiglio di classe ritiene che non abbiano raggiunto appieno gli obiettivi educativi e formativi previsti per la classe;
    pertanto, per ogni studente i docenti preparano il PAI in cui sono indicati, per ogni disciplina, gli obiettivi di apprendimento da conseguire, le strategie per il raggiungimento dei relativi livelli di apprendimento ed i contenuti da recuperare o da consolidare.
    Il file, contenente il PAI di ogni studente, sarà inviato dai docenti alle famiglie tramite il registro elettronico.
  </p>
  <p><strong>Punto {{ dati.classe.anno == 2 ? 'quarto' : 'terzo' }}. Predisposizione del PIA (eventuale)</strong></p>
  {% if dati.no_piano %}
  <p>Il Consiglio di Classe dichiara che tutti i contenuti disciplinari ritenuti imprescindibili per affrontare l’anno scolastico successivo
    sono stati svolti regolarmente, per cui non si ravvisa la necessità di elaborare un piano di integrazione degli apprendimenti.
  </p>
  {% else %}
  <p>I docenti delle seguenti discipline segnalano che non sono stati svolti determinati contenuti ritenuti imprescindibili per affrontare l’anno scolastico successivo:</p>
  <ul>
    {% for p in dati.piani %}
      {% if p.dati.necessario %}
    <li>{{ p.materia.nome }}</li>
      {% endif %}
    {% endfor %}
  </ul>
  <p>Per questo motivo il CdC predispone il PIA in cui si indicano, per ogni disciplina, i nuclei fondamentali non affrontati o che necessitano di approfondimento.</p>
  {% endif %}
{% else %}
  <p><strong>Punto secondo. Conversione del punteggio dei crediti attributi al terzo e quarto anno</strong></p>
  <p>Il Consiglio di Classe procede alla conversione del punteggio dei crediti attribuiti al terzo e quarto anno,
    sulla base di quanto stabilito nell' OM n. 11 del 16 maggio 2020 (Allegato A, Tabella A e B).
    I risultati di tale conversione sono mostrati nella tabella seguente.
  </p>
  <table border="1" cellpadding="3" style="font-fa\mily:helvetica;font-size:10pt">
    <tr nobr="true">
      <td width="40%" align="center" rowspan="2"><strong>ALUNNO</strong></td>
      <td width="20%" align="center" colspan="2"><strong>Credito TERZA</strong></td>
      <td width="20%" align="center" colspan="2"><strong>Credito QUARTA</strong></td>
      <td width="10%" align="center" rowspan="2"><strong>Credito QUINTA</strong></td>
      <td width="10%" align="center" rowspan="2"><strong>Credito TOTALE</strong></td>
    </tr>
    <tr nobr="true" style="font-size:9pt">
      <td width="10%" align="center"><strong>Assegnato</strong></td>
      <td width="10%" align="center"><strong>Convertito</strong></td>
      <td width="10%" align="center"><strong>Assegnato</strong></td>
      <td width="10%" align="center"><strong>Convertito</strong></td>
    </tr>
  {% for kalu in dati.scrutinati %}
    {% if dati.esiti[kalu].esito == 'A' %}
    <tr nobr="true">
      <td align="left"><strong>{{ dati.alunni[kalu].cognome }} {{ dati.alunni[kalu].nome }} ({{ dati.alunni[kalu].dataNascita|date('d/m/Y') }})</strong></td>
      <td align="center">{{ dati.alunni[kalu].credito3  }}</td>
      <td align="center">{{ dati.esiti[kalu].dati.creditoConvertito3  }}</td>
      <td align="center">{{ dati.alunni[kalu].credito4  }}</td>
      <td align="center">{{ dati.esiti[kalu].dati.creditoConvertito4 }}</td>
      <td align="center">{{ dati.esiti[kalu].credito }}</td>
      <td align="center">{{ dati.esiti[kalu].dati.creditoConvertito3 + dati.esiti[kalu].dati.creditoConvertito4 + dati.esiti[kalu].credito }}</td>
    </tr>
    {% endif %}
  {% endfor %}
  </table>
{% endif %}
  <p>Il Dirigente Scolastico fa presente che il Consiglio di Classe, prima della pubblicazione dei risultati, deve dare comunicazione dell’esito di non ammissione alle famiglie degli alunni minorenni, mediante fonogramma registrato.
    Il Consiglio di Classe predispone quindi le comunicazioni da inviare alle famiglie a riguardo dell'esito dello scrutinio. Le famiglie potranno visualizzare queste comunicazioni direttamente sul registro elettronico.
  </p>
  <p>Vengano allegati al presente verbale:</p>
  <ul>
    <li>Tabellone finale dei voti</li>
{% if dati.classe.anno != 5 %}
    <li>PAI - Piano di Apprendimento Individualizzato</li>
    <li>PIA - Piano di Integrazione degli Apprendimenti (eventuale)</li>
{% endif %}
{% if dati.classe.anno >= 3 %}
    <li>Schema riepilogativo delle ore svolte in PCTO</li>
{% endif %}
  </ul>
  <p>Alle ore {{ dati.scrutinio.fine|date('G:i') }}, esaurite le operazioni, il Presidente dichiara sciolta la seduta.
      Il presente verbale viene letto e approvato.
  </p>
  <p>&nbsp;</p>
  <table border="0" cellpadding="3" nobr="true">
    <tr nobr="true">
      <td width="45%" align="center">Il Segretario</td>
      <td width="10%">&nbsp;</td>
      <td width="45%" align="center">Il Presidente</td>
    </tr>
    <tr nobr="true">
      <td align="center"><em>{{ dati.segretario_nome }}</em></td>
      <td>&nbsp;</td><td align="center"><em>{{ dati.presidente_nome }}</em></td>
    </tr>
  </table>
</div>
