<nav class="gs-navbar-submenu">
  <ul class="nav nav-tabs">
    <li role="presentation"{{ app.request.attributes.get('_route')|slice(0,14) == 'lezioni_classe' ? ' class="active"' }}><a href="{{ path('lezioni_classe') }}" title="{{ 'title.lezioni_classe'|trans }}">Classe/Materia</a></li>
    <li role="presentation"{{ app.request.attributes.get('_route')|slice(0,16) == 'lezioni_registro' ? ' class="active"' }}><a href="{{ path('lezioni_registro_firme') }}" title="Registro di classe">Registro</a></li>
    <li role="presentation"{{ app.request.attributes.get('_route')|slice(0,15) == 'lezioni_assenze' or app.request.attributes.get('_route') == 'richieste_uscita' ? ' class="active"' }}><a href="{{ path('lezioni_assenze_quadro') }}" title="Registro delle assenze">Assenze</a></li>
    <li role="presentation"{{ app.request.attributes.get('_route')|slice(0,12) == 'lezioni_note' ? ' class="active"' }}><a href="{{ path('lezioni_note') }}" title="Note disciplinari">Note</a></li>
    <li role="presentation"{{ app.request.attributes.get('_route')|slice(0,12) == 'lezioni_voti' ? ' class="active"' }}><a href="{{ path('lezioni_voti_quadro') }}" title="Quadro delle valutazioni">Voti</a></li>
    <li role="presentation"{{ app.request.attributes.get('_route')|slice(0,17) == 'lezioni_argomenti' ? ' class="active"' }}><a href="{{ path('lezioni_argomenti') }}" title="Argomenti e attività svolte">Argomenti</a></li>
    <li role="presentation"{{ app.request.attributes.get('_route')|slice(0,20) == 'lezioni_osservazioni' ? ' class="active"' }}><a href="{{ path('lezioni_osservazioni') }}" title="Osservazioni sugli alunni e personali">Osservazioni</a></li>
    <li role="presentation"{{ app.request.attributes.get('_route')|slice(0,17) == 'lezioni_scrutinio' ? ' class="active"' }}><a href="{{ path('lezioni_scrutinio_proposte') }}" title="Proposte di voto per lo scrutinio">Scrutinio</a></li>
  </ul>
</nav>
