{% extends 'base.html.twig' %}

{% block pagina_contenuto %}
<div class="container">

  <h1>Note Legali</h1>

  <h2>Dichiarazione di esclusione di responsabilità</h2>
  <p>L'{{ app.session.get('/CONFIG/ISTITUTO/intestazione_breve') }} si impegna costantemente per assicurare la qualità delle informazioni pubblicate su questo sito, nonché la loro integrità, aggiornamento, completezza, tempestività, semplicità di consultazione e accessibilità. In ogni caso l'utente accetta che il sito e tutti i suoi contenuti, ivi compresi i servizi eventualmente offerti, sono forniti <em>"così come sono"</em>. L'{{ app.session.get('/CONFIG/ISTITUTO/intestazione_breve') }}, pertanto, non rilascia alcun tipo di garanzia, esplicita o implicita, riguardo tali contenuti, ivi compresi, senza alcuna limitazione, la liceità, il diritto di proprietà, la convenienza o l'adeguatezza a particolari scopi o usi.</p>
  <p>In nessun caso l'{{ app.session.get('/CONFIG/ISTITUTO/intestazione_breve') }} potrà essere ritenuto responsabile dei danni di qualsiasi natura causati direttamente o indirettamente dall'accesso al sito, dall'incapacità o impossibilità di accedervi. In nessuna circostanza l'{{ app.session.get('/CONFIG/ISTITUTO/intestazione_breve') }}, i suoi fornitori o i collaboratori, potranno essere ritenuti responsabili per qualsiasi danno diretto, indiretto, incidentale, consequenziale, legato all'uso del presente sito web o di altri siti web ad esso collegati da un link ipertestuale.</p>
  <p>I collegamenti a siti esterni, indicati nel presente sito, sono forniti come semplice servizio agli utenti, con esclusione di ogni responsabilità sulla correttezza e sulla completezza dell’insieme dei collegamenti indicati. L’indicazione dei collegamenti non implica da parte dell'{{ app.session.get('/CONFIG/ISTITUTO/intestazione_breve') }} alcun tipo di approvazione o condivisione di responsabilità in relazione alla legittimità, alla completezza e alla correttezza delle informazioni contenute nei siti indicati.</p>

  <h2>Copyright dei contenuti</h2>
  <p>Tutto il materiale contenuto in questo sito, salvo diversa indicazione, è proprietà esclusiva dell'{{ app.session.get('/CONFIG/ISTITUTO/intestazione_breve') }}.</p>
  <p>Tutti i marchi sono di proprietà dei rispettivi titolari.</p>

  <h2>Tutela della privacy</h2>
  <p>I dati personali forniti dall’utente in relazione all'uso del presente sito e dei relativi servizi sono trattati in conformità al D.Lgs. n. 196/2003 recante il <em>"Codice in materia di protezione dei dati personali"</em> e del Regolamento Europeo 2016/679 <em>"GDPR"</em>.</p>
  <p>La privacy degli utenti è molto importante. Per questo motivo è stata predisposta un’apposita <a href="{{ path('info_privacy') }}" title="Vai alla pagina con l'informativa sulla privacy">Informativa</a> che l’utente, utilizzando questo sito, riconosce di aver letto.</p>
  </p>

</div>
{% endblock %}
