{% extends 'base.html.twig' %}

{% block pagina_contenuto %}
<div class="container">

  <h1>Informativa sulla Privacy</h1>
  <p>Questa informativa ha l'obiettivo di illustrare la politica adottata dall’{{ app.session.get('/CONFIG/ISTITUTO/intestazione_breve') }} in merito al trattamento dei dati personali che vengono diffusi, comunicati e raccolti durante la navigazione sul presente sito web o nell'uso di servizi da questo offerti (ai sensi del D.Lgs. n. 196/2003 recante il <em>"Codice in materia di protezione dei dati personali"</em> e del Regolamento Europeo 2016/679 <em>"GDPR"</em>).</p>
  <p>L'informativa non è valida per altri siti di terze parti eventualmente consultabili seguendo i collegamenti (<em>link</em>) presenti nelle pagine di questo sito.</p>

  <h2>Titolare del trattamento</h2>
  <p>Titolare del trattamento dei dati è l'{{ app.session.get('/CONFIG/ISTITUTO/intestazione_breve') }}, con sede in {{ app.session.get('/CONFIG/ISTITUTO/sede_0_citta') }}, al quale ci si potrà rivolgere per esercitare i diritti degli interessati.</p>

  <h2>Responsabile per la protezione dei dati</h2>
  <p>Il Data Protection Officer (DPO), ai sensi del Regolamento Europeo 2016/679, è reperibile alla mail istituzionale:</p>
  <ul>
    <li><strong>{{ app.session.get('/CONFIG/ISTITUTO/email') }}</strong></li>
  </ul>

  <h2>Finalità del trattamento</h2>
  <p>I dati personali forniti potranno essere trattati unicamente per le finalità strettamente connesse e necessarie alla fruizione del sito e dei servizi richiesti.</p>

  <h2>Tipi di dati trattati</h2>
  <ul>
    <li>
      <strong>Dati di navigazione</strong><br>
      I sistemi informatici e le procedure software preposte al funzionamento di questo sito web acquisiscono, nel corso del loro normale esercizio, alcuni dati personali la cui trasmissione è implicita nell'uso dei protocolli di comunicazione di Internet. Si tratta di informazioni che non sono raccolte per essere associate a interessati identificati, ma che per loro stessa natura potrebbero, attraverso elaborazioni ed associazioni con dati detenuti da terzi, permettere di identificare gli utenti. In questa categoria di dati rientrano gli indirizzi IP o i nomi a dominio dei computer utilizzati dagli utenti che si connettono al sito, gli indirizzi in notazione URI (<em>Uniform Resource Identifier</em>) delle risorse richieste, l'orario della richiesta, il metodo utilizzato nel sottoporre la richiesta al server, la dimensione del file ottenuto in risposta, il codice numerico indicante lo stato della risposta data dal server (buon fine, errore, ecc.) ed altri parametri relativi al sistema operativo e all'ambiente informatico dell'utente. Questi dati vengono utilizzati al solo fine di ricavare informazioni statistiche anonime sull'uso del sito e per controllarne il corretto funzionamento e vengono cancellati immediatamente dopo l'elaborazione. I dati potrebbero essere utilizzati per l'accertamento di responsabilità in caso di ipotetici reati informatici ai danni del sito: salva questa eventualità, allo stato i dati sui contatti web non persistono per più di trenta giorni.
    </li>
    <li>
      <strong>Dati forniti volontariamente dall'utente</strong><br>
      L'invio facoltativo, esplicito e volontario di posta elettronica agli indirizzi indicati su questo sito comporta la successiva acquisizione dell'indirizzo del mittente, necessario per rispondere alle richieste, nonché degli eventuali altri dati personali inseriti nella missiva. Specifiche informative di sintesi verranno progressivamente riportate o visualizzate nelle pagine del sito predisposte per particolari servizi a richiesta.
    </li>
    <li>
      <strong>Uso dei cookie</strong><br>
      Nessun dato personale degli utenti viene in proposito acquisito dal sito. Non viene fatto uso di cookie per la trasmissione di informazioni di carattere personale, né vengono utilizzati i cosiddetti <em>cookie persistenti</em> di alcun tipo, ovvero sistemi per il tracciamento degli utenti. L'uso dei <em>cookie di sessione</em> (che non vengono memorizzati in modo persistente sul computer dell'utente e svaniscono con la chiusura del browser) è strettamente limitato alla trasmissione di identificativi di sessione (costituiti da numeri casuali generati dal server) necessari per consentire l'esplorazione sicura ed efficiente del sito. I <em>cookie di sessione</em> utilizzati in questo sito evitano il ricorso ad altre tecniche informatiche potenzialmente pregiudizievoli per la riservatezza della navigazione degli utenti e non consentono l'acquisizione di dati personali identificativi dell'utente.
    </li>
  </ul>

  <h2>Modalità del trattamento</h2>
  <p>Ai sensi dell’art. 4 del Regolamento UE 679/2016, il trattamento dei dati personali consiste in qualsiasi operazione o insieme di operazioni, compiute con o senza l'ausilio di processi automatizzati e applicate a dati personali o insiemi di dati personali, come la raccolta, la registrazione, l'organizzazione, la strutturazione, la conservazione, l'adattamento o la modifica, l'estrazione, la consultazione, l'uso, la comunicazione mediante trasmissione, diffusione o qualsiasi altra forma di messa a disposizione, il raffronto o l'interconnessione, la limitazione, la cancellazione o la distruzione.
    Il trattamento dei dati personali è compiuto tramite l’utilizzo di strumenti elettronici o comunque automatizzati, nel rispetto delle regole di riservatezza e di sicurezza previste dalla normativa vigente.
    Specifiche misure di sicurezza sono osservate per prevenire la perdita dei dati, usi illeciti o non corretti e accessi non autorizzati.</p>

  <h2>Natura del conferimento dei dati personali</h2>
  <p>Il conferimento dei dati personali è facoltativo. L'eventuale rifiuto di conferirli può comportare l'impossibilità di utilizzare il sito e fruire dei relativi servizi.
     L'invio facoltativo, esplicito e volontario di posta elettronica agli indirizzi indicati su questo sito comporta la successiva acquisizione dell'indirizzo del mittente, necessario per rispondere alle richieste, nonché degli eventuali altri dati personali inseriti nella missiva.</p>

  <h2>Comunicazione e diffusione dei dati</h2>
  <p>Il trattamento dei dati connessi ai servizi erogati da questo sito è curato esclusivamente dal personale scolastico dell'Istituto.
    I dati personali forniti dagli utenti sono utilizzati al solo fine di eseguire il servizio o la prestazione richiesta e non sono comunicati a soggetti terzi, salvo che la comunicazione sia imposta da obblighi di legge o sia strettamente necessaria per l'adempimento del servizio stesso.</p>
  <p>Al fine di garantire un trattamento corretto e trasparente i dati sono conservati per un periodo di tempo non superiore
    a quello necessario agli scopi per i quali essi sono stati raccolti o successivamente trattati, conformemente
    a quanto previsto dagli obblighi di legge.</p>

  <h2>Utilizzo di servizi aggiuntivi e diffusione di dati personali</h2>
  <p>Nel caso dell'utilizzo di alcuni servizi aggiuntivi è possibile che i dati personali dell'utente vengano inviati a terze parti: questo avviene solo se è strettamente necessario per raggiungere gli scopi del servizio offerto.</p>
  <p>Al momento dell'attivazione di tali servizi, l'utente sarà avvisato che i propri dati personali saranno inviati e trattati da altri soggetti. L'utente dovrà quindi decidere se aderire o meno a tale servizio aggiuntivo, esprimendo in maniera esplicita l'accettazione o la negazione del proprio consenso all'invio e al trattamento dei propri dati da parte di soggetti terzi. La negazione del consenso comporta la non attivazione del servizio aggiuntivo, ma non ha alcuna conseguenza sulle funzionalità essenziali del sito web.</p>
  <p>L'accettazione che i propri dati personali vengano inviati e trattati da altri soggetti, libera l'<em>{{ app.session.get('/CONFIG/ISTITUTO/intestazione_breve') }}</em> da ogni responsabilità in merito.</p>
  <p>I dati personali che possono essere inviati a soggetti terzi sono indicati di seguito.</p>
  <ul>
    <li>Dati anagrafici: nome, cognome, data di nascita, sesso.</li>
    <li>Informazioni sull'andamento scolastico dell'alunno: valutazioni, note disciplinari, verifiche, compiti per casa.</li>
    <li>Informazioni sulla vita scolastica che riguardano l'alunno: classe di appartenenza, orari di ingresso o uscita, attività da svolgere.</li>
  </ul>

  <h2>Diritti dell'interessato</h2>
  <p>L'interessato ha diritto di ottenere la conferma dell'esistenza o meno di dati personali che lo riguardano,
    anche se non ancora registrati, e la loro comunicazione in forma intelligibile.
    L’interessato ha diritto di chiedere al titolare del trattamento dei dati:</p>
  <ul>
    <li>l’accesso ai propri dati personali disciplinato dall’art. 15 del Regolamento UE 679/2016;</li>
    <li>la rettifica o la cancellazione degli stessi o la limitazione del trattamento previsti rispettivamente dagli artt. 16, 17 e 18 del Regolamento UE 679/2016;</li>
    <li>la portabilità dei dati (diritto applicabile ai soli dati in formato elettronico) disciplinato dall’art. 20 del Regolamento UE 679/2016;</li>
    <li>l’opposizione al trattamento dei propri dati personali di cui all’art. 21 del Regolamento UE 679/2016.</li>
  </ul>
  <p>Gli interessati nel caso in cui ritengano che il trattamento dei dati personali a loro riferiti sia compiuto in
    violazione di quanto previsto dal Regolamento UE 679/2016 hanno il diritto di proporre reclamo al Garante,
    come previsto dall'art. 77 del Regolamento UE 679/2016 stesso, o di adire le opportune sedi giudiziarie,
    art. 79 del Regolamento UE 679/2016.</p>

  <h2>Link correlati</h2>
  <ul>
{% if LOCAL_PATH %}
    {% include('info/'~LOCAL_PATH~'privacy-link.html.twig') %}
{% endif %}
    <li><a href="{{ path('info_cookie') }}">Informativa sull'uso dei cookie</a></li>
  </ul>

</div>
{% endblock %}
