{% extends 'ruolo_amministratore/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container">
  <h1 class="text-center gs-mb-4">{{ titolo|trans }}</h1>
  <div class="alert alert-{{ info.tipo }} text-center gs-big">
    <strong>{{ (info.messaggio|trans(dati))|raw }}</strong>
  </div>
  {% if info.prossimo > info.step %}
  <div class="text-center">
    <a class="btn btn-primary" href="{{ path('temp', {step: info.prossimo}) }}" role="button" title="Continua la procedura di aggiornamento"><strong>{{ 'label.continua'|trans }}</strong></a>
  </div>
  {% endif %}
</div>
{% endblock %}
