{% extends 'ruolo_staff/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  <div class="panel panel-primary" >
    <div class="panel-heading">
      <div class="panel-title">{{ form_title|trans }}</div>
    </div>
    <div class="panel-body">
      {{ form_start(form) }}
      {{ form_errors(form) }}
      {{ form_row(form.data) }}
      {{ form_row(form.oggetto) }}
      {{ form_row(form.testo) }}
      <div class="form-group">
        <label class="col-sm-2 control-label">Allegati</label>
        <div class="col-sm-10">
          <div class="dropzone">
            <div class="fallback"></div>
          </div>
        </div>
      </div>
      {{ form_row(form.creaAnnotazione) }}
<!--
      <div class="form-group">
        <label class="col-sm-2 control-label required" for="avviso_edit_staffFiltro">Destinatari dello Staff</label>
        <div class="col-sm-10">
          <div id="staff_filtro">
            {# form_widget(form.staffFiltro) #}
          </div>
          <div id="staff_sedi" style="display:none">
            {# form_widget(form.staffSedi) #}
          </div>
        </div>
      </div>
-->
      <div class="form-group">
        <label class="col-sm-2 control-label required" for="avviso_edit_destinatari">Destinatari</label>
        <div class="col-sm-10">
          {{ form_widget(form.destinatari) }}
          {{ form_widget(form.filtro) }}
          <div id="sedi" style="display:none">
            {{ form_widget(form.filtroSedi) }}
          </div>
          <div id="classi" style="display:none">
            {{ form_widget(form.filtroClassi) }}
          </div>
          <div id="individuale" style="display:none">
            {{ form_widget(form.filtroIndividualeClasse) }}
            <div id="individuale_genitori" style="display:none">
              <div class="col-sm-6"></div>
              <div class="col-sm-6"></div>
              {{ form_widget(form.filtroIndividuale) }}
            </div>
          </div>
        </div>
      </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>
  {% include 'include/modal-waiting.html.twig' %}
{% endblock %}

{% block pagina_css %}
{{ parent() }}
<link href="{{ asset('vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet">
<link href="{{ asset('vendor/dropzone/css/dropzone.min.css') }}" rel="stylesheet">
<link href="{{ asset('css/tema_dropzone.css') }}" rel="stylesheet">
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script src="{{ asset('vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap-datepicker/locales/bootstrap-datepicker.it.min.js') }}"></script>
<script src="{{ asset('vendor/dropzone/js/dropzone.min.js') }}"></script>
<script>
Dropzone.autoDiscover = false;
new Dropzone(".dropzone", {
  url: "{{ path('file_upload', {'pagina': 'staff_avvisi_edit', 'param': 'files'}) }}",
  maxFiles: 3,
  maxFilesize: 10,
  acceptedFiles: ".pdf,.zip,.doc,.docx,.rtf",
  timeout: 0,
  paramName: "files",
  uploadMultiple: true,
  addRemoveLinks: true,
  createImageThumbnails: false,
  clickable: true,
  dictDefaultMessage: "{{ 'message.upload_dropzone'|trans }}",
  dictFallbackMessage: "{{ 'exception.upload_no_dropzone'|trans }}",
  dictInvalidFileType: "{{ 'exception.upload_tipo'|trans }}",
  dictFileTooBig: "{{ 'exception.upload_dimensione'|trans }}",
  dictMaxFilesExceeded: "{{ 'exception.upload_numero'|trans }}",
  dictRemoveFile: "{{ 'label.upload_rimuove_file'|trans }}",
  dictCancelUpload: "{{ 'label.upload_cancella'|trans }}",
  dictCancelUploadConfirmation: "{{ 'message.upload_cancella'|trans }}",
  init: function() {
    this.on("maxfilesexceeded", function(file) {
      this.removeFile(file);
    });
    this.on("successmultiple", function(files, response) {
      $.each(files, function(key,file){
        file.uploaded = response[key];
      });
    });
    this.on("removedfile", function(file) {
      if (file.uploaded) {
        $.post("{{ path('file_remove', {'pagina': 'staff_avvisi_edit', 'param': 'files'}) }}", {"files": file.uploaded});
      } else if (file.existent) {
        $.post("{{ path('file_remove', {'pagina': 'staff_avvisi_edit', 'param': 'files'}) }}", {"files": file.existent});
        this.options.maxFiles++;
      }
    });
  {% if allegati is not empty %}
    var DZ = this;
    var files = [
    {% for a in allegati %}
        ['{{ a.name }}', '{{ a.temp }}', {{ a.size }}],
    {% endfor %}
      ];
    $.each(files, function(key,file) {
      var obj = {'type': 'existent', 'name': file[0], 'temp': file[1]};
      var mockFile = {'name': file[0], 'size': file[2], 'existent': obj};
      DZ.emit("addedfile", mockFile);
      DZ.emit("complete", mockFile);
      DZ.options.maxFiles--;
    });
  {% endif %}
  }
});
$(document).ready(function() {
  $('.input-group.date').datepicker({
    format: "dd/mm/yyyy",
    weekStart: 1,
    maxViewMode: 1,
    daysOfWeekDisabled: "0",
    startDate: "{{ date()|date('d/m/Y') }}",
    todayBtn: "linked",
    todayHighlight: true,
    autoclose: true,
    language: "it",
    zIndexOffset: 1200
  });
  $('label.gs-checkbox-inline input').change(function() {
    if ($(this).is(":checked")) {
      $(this).parent().addClass('active');
    } else {
      $(this).parent().removeClass('active');
    }
  }).change();
  $('#individuale_genitori').on('change', 'label.gs-checkbox-inline input', function() {
    if ($(this).is(":checked")) {
      $(this).parent().addClass('active');
    } else {
      $(this).parent().removeClass('active');
    }
  });
  //-- $("#avviso_edit_staffFiltro").change(function() {
    //-- if ($(this).val() == 'S') {
      //-- $('#staff_sedi').show();
    //-- } else {
      //-- $('#staff_sedi').hide();
    //-- }
  //-- }).change();
  $("input[name='avviso_edit[destinatari][]']").change(function() {
    if ($(this).val() == 'C' && $(this).is(":checked")) {
      $("input[name='avviso_edit[destinatari][]'][value='D']").prop("checked", false).parent().removeClass('active');
    }
    if ($(this).val() == 'D' && $(this).is(":checked")) {
      $("input[name='avviso_edit[destinatari][]'][value='C']").prop("checked", false).parent().removeClass('active');
    }
    if ($(this).val() == 'G' && !$(this).is(":checked")) {
      $("input[name='avviso_edit[destinatari][]'][value='A']").prop("checked", false).parent().removeClass('active');
    }
    if ($(this).val() == 'A' && $(this).is(":checked")) {
      $("input[name='avviso_edit[destinatari][]'][value='G']").prop("checked", true).parent().addClass('active');
    }
    var f='<option value="N">Nessuno</option>';
    var b='<option value="T">Tutti</option><option value="S">Filtra per sede</option><option value="C">Filtra per classe</option>';
    var i='<option value="I">Filtra per utente</option>';
    if ($("input[name='avviso_edit[destinatari][]']:checked").length > 0) {
      f=b;
      if ($("input[name='avviso_edit[destinatari][]'][value='G']").is(":checked") &&
          $("input[name='avviso_edit[destinatari][]']:checked").length == 1) {
        f=f+i;
      }
    }
    $("#avviso_edit_filtro").html(f).change();
  });
  $("#avviso_edit_filtro").change(function() {
    $('#sedi').hide();
    $('#classi').hide();
    $('#individuale').hide();
    $('#individuale_genitori').hide();
    switch ($(this).val()) {
      case 'S':
        $('#sedi').show();
        break;
      case 'C':
        $('#classi').show();
        break;
      case 'I':
        $('#individuale').show();
        $("#avviso_edit_filtroIndividualeClasse").change();
        break;
    }
  });
  // init
  var preset=[{% for id in form.filtroIndividuale.vars.data|split(',') %}{{ id }},{% endfor %}];
  $("#avviso_edit_filtroIndividualeClasse").change(function() {
    var l = $('#individuale_genitori').find('div.col-sm-6:nth-child(1)');
    var r = $('#individuale_genitori').find('div.col-sm-6:nth-child(2)');
    l.html('');
    r.html('');
    if ($(this).val() == '') {
      $('#individuale_genitori').hide();
    } else {
      $('#gs-modal-waiting').modal('show');
      $.ajax({
        url: "{{ path('staff_classe') }}/"+$(this).val(),
        dataType: "json",
        external_preset: preset,
        success: function (data) {
          var sl='';
          var sr='';
          $.each(data, function(idx,item){
            var s='<label class="gs-pt-0 gs-checkbox-split gs-checkbox-inline">'+
                '<input type="checkbox" id="avviso_edit_filtroIndividuale_'+idx+
                '" name="avviso_edit[filtroIndividuale][]" value="'+item.id+'"> '+item.nome+'</label>';
            if (idx % 2 === 0) {
              sl+=s;
            } else {
              sr+=s;
            }
            });
          l.html(sl);
          r.html(sr);
          for (i in this.external_preset) {
            $('input[name="avviso_edit[filtroIndividuale][]"][value="'+this.external_preset[i]+'"]').prop("checked", true).parent().addClass('active');
          }
          $('#individuale_genitori').show();
          },
        });
      $('#gs-modal-waiting').modal('hide');
    }
    preset=[];
  });
  $('form[name="avviso_edit"]').submit(function(ev) {
    var opt = $('input[name="avviso_edit[filtroIndividuale][]"]:checked').map(function(i,el){return el.value;}).get();
    $('#avviso_edit_filtroIndividuale').val(opt);
  });
  // init
  var f='<option value="N">Nessuno</option>';
  var b='<option value="T">Tutti</option><option value="S">Filtra per sede</option><option value="C">Filtra per classe</option>';
  var i='<option value="I">Filtra per utente</option>';
  if ($("input[name='avviso_edit[destinatari][]']:checked").length > 0) {
    f=b;
    if ($("input[name='avviso_edit[destinatari][]'][value='G']").is(":checked") &&
        $("input[name='avviso_edit[destinatari][]']:checked").length == 1) {
      f=f+i;
    }
  }
  var s = $('#avviso_edit_filtro').val();
  $("#avviso_edit_filtro").html(f).val(s).change();
});
</script>
{% endblock %}
