{% extends 'ruolo_genitore/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  <h1 class="text-center gs-h2 gs-mt-2">{{ (is_granted('ROLE_GENITORE') ? 'title.genitori_avvisi' : 'title.alunni_avvisi')|trans }}</h1>
  <form name="{{ form.vars.name }}" method="{{ form.vars.method }}" action="{{ form.vars.action }}" class="form-inline gs-mb-2">
    <div id="{{ form.vars.id }}">
      <div class="form-group" title="{{ form.visualizza.vars.label|trans }}">
        <label class="sr-only control-label" for="bacheca_avvisi_genitori_visualizza">{{ form.visualizza.vars.label|trans }}</label>
        {{ form_widget(form.visualizza) }}
      </div>
      <div class="form-group" title="{{ form.oggetto.vars.label|trans }}">
        <label class="sr-only control-label" for="bacheca_avvisi_genitori_oggetto">{{ form.oggetto.vars.label|trans }}</label>
        {{ form_widget(form.oggetto, {'attr': {'style': 'width:30em'}}) }}
      </div>
      <div class="form-group _col-sm-2">
        {{ form_widget(form.submit) }}
      </div>
      {{ form_widget(form._token) }}
    </div>
  </form>
  {% if dati.lista|length > 0 %}
  <table class="table table-bordered table-hover table-striped gs-mb-4">
    <thead class="bg-success">
      <tr>
        <th class="col-sm-1">{{ 'label.stato'|trans }}</th>
        <th class="col-sm-1">{{ 'label.data'|trans }}</th>
        <th class="col-sm-3">{{ 'label.destinatari'|trans }}</th>
        <th class="col-sm-6">{{ 'label.oggetto'|trans }}</th>
        <th class="col-sm-1">{{ 'label.action'|trans }}</th>
      </tr>
    </thead>
    <tbody>
    {% for k,a in dati.lista %}
      <tr>
        <td>
      {% if a.letto %}
          <span class="label label-default">LETTO</span>
      {% else %}
          <span class="label label-warning">DA LEGGERE</span>
      {% endif %}
        </td>
        <td><small>{{ a.avviso.data|date('d/m/Y') }}</small></td>
        <td>
          <small>
            {% if 'C' in a.avviso.destinatari %}<span class="gs-mr-2">Coordinatori</span>{% endif %}
            {% if 'D' in a.avviso.destinatari %}<span class="gs-mr-2">Docenti</span>{% endif %}
            {% if 'G' in a.avviso.destinatari %}<span class="gs-mr-2">Genitori</span>{% endif %}
            {% if 'A' in a.avviso.destinatari %}<span class="gs-mr-2">Alunni</span>{% endif %}
            {% if 'D' in a.avviso.destinatariAta %}<span class="gs-mr-2">DSGA</span>{% endif %}
            {% if 'A' in a.avviso.destinatariAta %}<span class="gs-mr-2">ATA</span>{% endif %}
          </small>
        </td>
        <td><small>{{ a.avviso.oggetto }}</small></td>
        <td>
          <button class="btn btn-xs btn-primary gs-button-remote" type="button" title="Visualizza il contenuto dell'avviso" data-toggle="modal" data-target="#gs-modal-remote" data-href="{{ path('genitori_avvisi_dettagli', {'id': a.avviso.id}) }}"><span class="glyphicon glyphicon-zoom-in gs-mr-2"></span>Visualizza</button>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div class="alert alert-info" role="alert">
    <strong class="gs-big">Nessun avviso presente</strong>
  </div>
  {% endif %}
  {% include 'include/paginate.html.twig' with {'maxPagine': maxPages, 'pagina': page, 'url': 'genitori_avvisi'} %}
  {% include 'include/modal-remote.html.twig' %}
</div>
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script>
$(document).ready(function() {
  $('#gs-modal-remote').on('show.bs.modal', function (event) {
    var url = $(event.relatedTarget).data('href');
    $(this).find('#gs-modal-remote-content').load(url);
  });
  $(".gs-button-remote").click(function(e) {
    e.preventDefault();
    var url = $(e.currentTarget).data('href');
    $('#gs-modal-remote-content').html('<div class="modal-content"><div class="modal-header"><h3 class="modal-title">Attendere prego...</h3></div><div class="modal-body"><div class="progress"><div class="progress-bar progress-bar-info progress-bar-striped active" style="width: 100%"></div></div></div></div>');
  });
  $("#bacheca_avvisi_genitori_visualizza").change(function() {
    $('form[name="bacheca_avvisi_genitori"]').submit();
  });
});
</script>
{% endblock %}
