<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">
    <span class="glyphicon glyphicon-remove gs-mr-2" aria-hidden="true"></span>
    <span class="sr-only">{{ 'label.close'|trans }}</span>
  </button>
  <h3 class="modal-title gs-h3">{{ dati.avviso.data|date('d/m/Y') }}</h3>
  <h4 class="modal-title gs-h4"><em>{{ dati.avviso.oggetto }}</em></h4>
</div>
<div class="modal-body">
  <div class="alert alert-info gs-mt-0 gs-mb-0 gs-pt-2 gs-pb-2 gs-pr-2 gs-pl-2">
    <div class="gs-text-normal">{{ dati.testo|raw|nl2br }}</div>
    <div class="text-right gs-text-normal"><em>({{ dati.avviso.docente.nome }} {{ dati.avviso.docente.cognome }})</em></div>
{% if dati.avviso.allegati|length > 0 %}
    <div class="gs-mt-2 gs-pt-2 gs-text-normal" style="border-top: 1px solid">
      <strong>Allegati:</strong>
  {% for a in dati.avviso.allegati %}
      <a class="gs-ml-3" target="_blank" href="{{ path('file_avviso', {'avviso': dati.avviso.id, 'allegato': loop.index}) }}" title="Scarica l'allegato"><strong>Allegato-{{ loop.index }}</strong></a>
  {% endfor %}
    </div>
{% endif %}
  </div>
  <div class="gs-mt-2">
    <strong>Destinatari:</strong>
    {% if 'C' in dati.avviso.destinatari %}<span class="gs-mr-2">Coordinatori</span>{% endif %}
    {% if 'D' in dati.avviso.destinatari %}<span class="gs-mr-2">Docenti</span>{% endif %}
    {% if 'G' in dati.avviso.destinatari %}<span class="gs-mr-2">Genitori</span>{% endif %}
    {% if 'A' in dati.avviso.destinatari %}<span class="gs-mr-2">Alunni</span>{% endif %}
    {% if 'D' in dati.avviso.destinatariAta %}<span class="gs-mr-2">DSGA</span>{% endif %}
    {% if 'A' in dati.avviso.destinatariAta %}<span class="gs-mr-2">ATA</span>{% endif %}
  </div>
{% if dati.classi|length > 0 %}
  <div class="gs-mt-2">
    <strong>Filtro classi:</strong>
  {% for c in dati.classi %}
    {{ c.anno }}ª {{ c.sezione }}{{ not loop.last ? ',' }}
  {% endfor %}
  </div>
{% elseif dati.materie|length > 0 %}
  <div class="gs-mt-2">
    <strong>Filtro materie:</strong>
    <div class="gs-ml-4">
  {% for m in dati.materie %}
    {{ m.nome }}{{ not loop.last ? '<br>' }}
  {% endfor %}
    </div>
  </div>
{% else %}
  <div class="gs-mt-2">
    <strong>Filtro sedi:</strong>
  {% for s in dati.sedi %}
    {{ s.citta }}{{ not loop.last ? ',' }}
  {% endfor %}
  </div>
{% endif %}
  <div class="gs-mt-2">
    <strong>Annotazione sul Registro:</strong> {{ dati.avviso.annotazioni|length > 0 ? 'Si' : 'No' }}
  </div>
  <div class="gs-mt-2">
    <strong>Tipo di avviso:</strong>
  {% if dati.avviso.tipo == 'U' %}
    Uscita anticipata della classe
  {% elseif dati.avviso.tipo == 'E' %}
    Ingresso posticipato della classe
  {% elseif dati.avviso.tipo == 'A' %}
    Calendario attività
  {% elseif dati.avviso.tipo == 'C' %}
    Comunicazione generica
  {% elseif dati.avviso.tipo == 'O' %}
    Comunicazione del coordinatore
  {% endif %}
  </div>
</div>
