
<div class="modal-header gs-pb-0 gs-noborder">
  <button type="button" class="close" data-dismiss="modal">
    <span class="glyphicon glyphicon-remove gs-mr-2" aria-hidden="true"></span>
    <span class="sr-only">{{ 'label.close'|trans }}</span>
  </button>
{% if dati.avviso.destinatariIndividuali and dati.avviso.tipo not in ['V','P'] %}
  <h2 class="modal-title text-center gs-h2">Messaggio personale</h2>
{% endif %}
  <h3 class="modal-title gs-h3">{{ dati.avviso.data|date('d/m/Y') }}</h3>
  <h4 class="modal-title gs-h4"><em>{{ dati.avviso.oggetto }}</em></h4>
</div>
<div class="modal-body gs-pt-0 gs-mb-3">
  <div class="alert alert-info gs-mt-0 gs-mb-0 gs-pt-2 gs-pb-2 gs-pr-2 gs-pl-2">
    <div class="gs-text-normal">{{ dati.testo|nl2br }}</div>
    <div class="text-right gs-text-normal"><em>({{ dati.avviso.docente.nome }} {{ dati.avviso.docente.cognome }})</em></div>
  </div>
{% if dati.avviso.allegati|length > 0 %}
  <div class="gs-mt-2">
    <strong>Allegati:</strong>
  {% for al in dati.avviso.allegati %}
    <a class="gs-ml-3" target="_blank" href="{{ path('file_avviso', {'avviso': dati.avviso.id, 'allegato': loop.index}) }}" title="Scarica l'allegato"><strong>Allegato-{{ loop.index }}</strong></a>
  {% endfor %}
  </div>
{% endif %}
{% if dati.avviso.destinatariIndividuali and letto is not null %}
  <div class="gs-mt-2">
    <strong>Lettura dell'avviso:</strong> {{ letto|date('d/m/Y G:i') }}
  </div>
{% endif %}
</div>
{% if dati.avviso.destinatariIndividuali and letto is null and dati.avviso.tipo not in ['V','P'] %}
<hr class="gs-hr gs-mb-0">
<div class="gs-mt-2 gs-mb-3 text-center">
  <div><em><strong>Si chiede di confermare la lettura di questo avviso</strong></em></div>
  <a class="btn btn-success btn-sm gs-mr-4" href="{{ path('genitori_avvisi_firma', {'id': dati.avviso.id}) }}" role="button" title="Conferma la lettura dell'avviso"><span class="glyphicon glyphicon-ok gs-mr-2"></span><strong>Conferma lettura</strong></a>
  <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove gs-mr-2" aria-hidden="true"></span>Annulla</button>
</div>
{% endif %}
