{% extends 'base.html.twig' %}

{% block pagina_menu %}
<ul class="nav navbar-nav gs-navbar-nav">
  <li><a href="{{ path('home') }}"><span class="glyphicon glyphicon-backward gs-mr-2" aria-hidden="true"></span>Indietro</a></li>
  <li{{ app.request.attributes.get('_route') == 'procedure_alias' ? ' class="active"' }}><a href="{{ path('procedure_alias') }}">Alias</a></li>
  <li{{ app.request.attributes.get('_route') == 'procedure_password' ? ' class="active"' }}><a href="{{ path('procedure_password') }}">Password</a></li>
  <li{{ app.request.attributes.get('_route') == 'procedure_ricalcola' ? ' class="active"' }}><a href="{{ path('procedure_ricalcola') }}">Ricalcola assenze</a></li>
</ul>
{% endblock %}
