{% extends 'ata/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid gs-mt-3">
  {% include 'include/form.html.twig' %}

  {% if lista.NEW is defined %}
  <p class="bg-success"><strong>Inseriti nel sistema:</strong><br>
  {% for k,v in lista.NEW %}
    # {{ k }}: {% for fk,fv in v %}{% if not loop.first %}, {% endif%}<strong>{{ fk }}</strong>="{{ fv }}"{% endfor %}<br>
  {% endfor %}
  </p>
  {% endif %}

  {% if lista.EDIT is defined %}
  <p class="bg-warning"><strong>Esistenti nel sistema e modificati:</strong><br>
  {% for k,v in lista.EDIT %}
    # {{ k }}: {% for fk,fv in v %}{% if not loop.first %}, {% endif%}<strong>{{ fk }}</strong>="{{ fv }}"{% endfor %}<br>
  {% endfor %}
  </p>
  {% endif %}

  {% if lista.NONE is defined %}
  <p class="bg-info"><strong>Esistenti nel sistema e non modificati:</strong><br>
  {% for k,v in lista.NONE %}
    # {{ k }}: {% for fk,fv in v %}{% if not loop.first %}, {% endif%}<strong>{{ fk }}</strong>="{{ fv }}"{% endfor %}<br>
  {% endfor %}
  </p>
  {% endif %}

</div>
{% endblock %}
