<p style="text-align:center; font-family:times; font-size:12pt">
  <img style="width: 28pt" src="{{ asset('img/logo-italia.png') }}"><br>
  <strong>ISTITUTO DI ISTRUZIONE SUPERIORE STATALE</strong><br>
  <strong><i>{{ app.session.get('/CONFIG/SCUOLA/intestazione_istituto_nome') }}</i></strong><br>
  <span style="font-size:11pt">Via Montecassino - 09134 - CAGLIARI<br>
  TEL. 070.500786 &nbsp;-&nbsp; 070.501745<br>
  Email: {{ app.session.get('/CONFIG/SCUOLA/email_istituto') }} &nbsp;&nbsp;&nbsp;&nbsp; Sito: {{ app.session.get('/CONFIG/SCUOLA/url_istituto') }}</span>
</p>
<p style="text-align:center; font-size:13pt">
  <strong>Anno Scolastico {{ app.session.get('/CONFIG/SISTEMA/anno_scolastico')[4:] }}</strong><br>
  <strong>Assenze della classe {{ classe.anno }}ª {{ classe.sezione }}</strong>
</p>
<br>
<table border="1" cellpadding="2" style="font-size:10pt">
  <tr nobr="true">
    <td width="30%" style="text-align:center"><strong>Alunno</strong></td>
    <td width="16%" style="text-align:center"><strong>Assenze</strong></td>
    <td width="16%" style="text-align:center"><strong>Ritardi<br><em>(brevi)</em></strong></td>
    <td width="10%" style="text-align:center"><strong>Conteggio<br>Ritardi</strong></td>
    <td width="8%" style="text-align:center"><strong>Uscite</strong></td>
    <td width="10%" style="text-align:center"><strong>Conteggio<br>Uscite</strong></td>
    <td width="10%" style="text-align:center"><strong>Ore totali<br><em>% su {{ dati.monte }}</em></strong></td>
  </tr>
{% for alunno,a in dati.alunni %}
  <tr nobr="true">
    <td><strong>{{ a.nome }}</strong></td>
    <td>
  {% if dati.statistiche[alunno].assenze is defined %}
      <strong>{{ dati.statistiche[alunno].assenze }}</strong>
    {% if dati.statistiche[alunno]['giustifica-ass'] > 0 %}
      <br><em>da giustificare: {{ dati.statistiche[alunno]['giustifica-ass'] }}</em>
    {% endif %}
  {% else %}
      <strong>0</strong>
  {% endif %}
    </td>
    <td>
  {% if dati.statistiche[alunno].ritardi is defined %}
      <strong>{{ dati.statistiche[alunno].ritardi }}</strong>
    {% if dati.statistiche[alunno].brevi > 0 %}
      <em>({{ dati.statistiche[alunno].brevi }})</em>
    {% endif %}
    {% if dati.statistiche[alunno]['giustifica-rit'] > 0 %}
      <br><em>da giustificare: {{ dati.statistiche[alunno]['giustifica-rit'] }}</em>
    {% endif %}
  {% else %}
      <strong>0</strong>
  {% endif %}
    </td>
    <td>
  {% if dati.statistiche[alunno].ritardi is defined and dati.statistiche[alunno]['conta-ritardi'] > 0 %}
      <em>Validi: {{ dati.statistiche[alunno]['conta-ritardi'] }}</em>
  {% else %}
      <strong>0</strong>
  {% endif %}
    </td>
    <td>
  {% if dati.statistiche[alunno].uscite is defined %}
      <strong>{{ dati.statistiche[alunno].uscite }}</strong>
  {% else %}
      <strong>0</strong>
  {% endif %}
    </td>
    <td>
  {% if dati.statistiche[alunno].uscite is defined and dati.statistiche[alunno]['conta-uscite'] > 0 %}
      <em>Valide: {{ dati.statistiche[alunno]['conta-uscite'] }}</em>
  {% else %}
      <strong>0</strong>
  {% endif %}
    </td>
    <td>
  {% if dati.statistiche[alunno].ore is defined %}
      <strong>{{ dati.statistiche[alunno].ore }}</strong>
      <br> <em>{{ dati.statistiche[alunno].perc }}%</em>
  {% else %}
      <strong>0</strong>
  {% endif %}
    </td>
  </tr>
{% endfor %}
</table>
