<div style="text-align:center;font-family:times;font-size:11pt">
  <img src="@{{ image64('intestazione-documenti.jpg') }}" width="400">
  <br><br><strong>Anno Scolastico {{ app.session.get('/CONFIG/SCUOLA/anno_scolastico') }}</strong>
</div>
<p>&nbsp;</p>
<p style="font-size:13pt;text-align:center;"><strong>AUTODICHIARAZIONE</strong></p>
{% if dichiarazione.genitore %}
<p style="text-align:justify;">{{ dichiarazione.genitoreSesso == 'M' ? 'Il sottoscritto' : 'La sottoscritta' }}
  {{ dichiarazione.genitoreNome }} {{ dichiarazione.genitoreSesso == 'M' ? 'nato' : 'nata' }}
  il {{ dichiarazione.genitoreNascita|date('d/m/Y') }}
  a {{ dichiarazione.genitoreCitta }},
  {{ ('label.genitore_ruolo_'~dichiarazione.genitoreRuolo)|trans }} dell'alunn{{ alunno.sesso == 'M' ? 'o' : 'a' }}
  <strong>{{ alunno.cognome }} {{ alunno.nome }}</b> (codice fiscale {{ alunno.codiceFiscale }})
  frequentante la <strong>classe {{ alunno.classe }}</strong>
  presso l'<i>{{ app.session.get('/CONFIG/ISTITUTO/intestazione') }}</i>,
  in qualità di esercente la responsabilità genitoriale,
  consapevole di tutte le conseguenze civili e penali previste in caso di dichiarazioni mendaci,
  dichiara che l'alunn{{ alunno.sesso == 'M' ? 'o' : 'a' }}:
</p>
<ul style="text-align:justify;">
  <li>è stato assente {% if assenza.giorni == 1 %}il giorno {{ assenza.data }}{% else %}dal {{ assenza.data }} al {{ assenza.data_fine }}{% endif %};</li>
  <li>non ha presentato sintomatologia respiratoria o febbre superiore a 37.5° C in data odierna e nei giorni di assenza indicati;</li>
  <li>non è stato in quarantena o isolamento domiciliare negli ultimi 14 giorni;</li>
  <li>non è stato a contatto con persone positive, per quanto di loro conoscenza, negli ultimi 14 giorni.</li>
</ul>
<p style="text-align:justify;">La presente autodichiarazione viene rilasciata quale misura di prevenzione correlata con l’emergenza pandemica del COVID-19.</p>
<p>&nbsp;</p>
<p>{{ app.session.get('/CONFIG/ISTITUTO/sede_0_citta') }}, {{ 'now'|date('d/m/Y') }}.</p>
<p>&nbsp;</p>
<p style="text-align:right"><i>{{ dichiarazione.genitoreNome }}&nbsp;&nbsp;</i><br>
(sottoscritto digitalmente tramite il Registro Elettronico)&nbsp;&nbsp;</p>
{% else %}
<p style="text-align:justify;">{{ alunno.sesso == 'M' ? 'Il sottoscritto' : 'La sottoscritta' }}
  <strong>{{ alunno.cognome }} {{ alunno.nome }}</b>
  {{ alunno.sesso == 'M' ? 'nato' : 'nata' }} il {{ alunno.dataNascita|date('d/m/Y') }}
  a {{ alunno.comuneNascita }} (codice fiscale {{ alunno.codiceFiscale }}),
  frequentante la <strong>classe {{ alunno.classe }}</strong>
  presso l'<i>{{ app.session.get('/CONFIG/ISTITUTO/intestazione') }}</i>,
  consapevole di tutte le conseguenze civili e penali previste in caso di dichiarazioni mendaci,
  dichiara:
</p>
<ul style="text-align:justify;">
  <li>di essere stato assente {% if assenza.giorni == 1 %}il giorno {{ assenza.data }}{% else %}dal {{ assenza.data }} al {{ assenza.data_fine }}{% endif %};</li>
  <li>di non aver presentato sintomatologia respiratoria o febbre superiore a 37.5° C in data odierna e nei giorni di assenza indicati;</li>
  <li>di non essere stato in quarantena o isolamento domiciliare negli ultimi 14 giorni;</li>
  <li>di non essere stato a contatto con persone positive, per quanto di loro conoscenza, negli ultimi 14 giorni.</li>
</ul>
<p style="text-align:justify;">La presente autodichiarazione viene rilasciata quale misura di prevenzione correlata con l’emergenza pandemica del COVID-19.</p>
<p>&nbsp;</p>
<p>{{ app.session.get('/CONFIG/ISTITUTO/sede_0_citta') }}, {{ 'now'|date('d/m/Y') }}.</p>
<p>&nbsp;</p>
<p style="text-align:right"><i>{{ alunno.nome }} {{ alunno.cognome }}&nbsp;&nbsp;</i><br>
(sottoscritto digitalmente tramite il Registro Elettronico)&nbsp;&nbsp;</p>
{% endif %}
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="font-size:10pt;">[{{ id }}]</p>
