<div style="text-align:center;font-family:times;font-size:11pt">
  <img src="@{{ image64('intestazione-documenti.jpg') }}" width="400">
  <br><br><strong>Anno Scolastico {{ app.session.get('/CONFIG/SCUOLA/anno_scolastico') }}</strong>
</div>
<p>&nbsp;</p>
<p style="text-align: right"><span style="font-size:13pt">Gentile Professore{{ docente.sesso == 'F' ? 'ssa' }} <strong>{{ docente.nome }} {{ docente.cognome }}</strong>
<p>&nbsp;</p>
<p style="text-align: justify">Il Registro Elettronico è accessibile all'indirizzo internet seguente:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span style="font-size:13pt"><strong style="font-family:helvetica">{{ app.session.get('/CONFIG/ISTITUTO/url_registro') }}</strong></span></p>
<p style="text-align: justify">Le credenziali di accesso al Registro Elettronico sono le seguenti:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span style="font-size:13pt">Email: &nbsp;&nbsp;<strong style="font-family:helvetica">{{ docente.username }}@giua.edu.it</strong></span><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span style="font-size:13pt">Password: &nbsp;&nbsp;<strong style="font-family:helvetica">{{ password }}</strong></span></p>
<p style="text-align:justify;">Tali credenziali hanno un carattere assolutamente personale e sono quindi incedibili a terzi.<br>
Pertanto, la S.V. è tenuta ad osservare la seguente politica di gestione delle credenziali di accesso:</p>
<ul>
  <li>non divulgare le credenziali di accesso ad altri soggetti;</li>
  <li>non lasciare incustodite le credenziali di accesso;</li>
  <li>comunicare immediatamente all’amministratore l’eventuale furto o smarrimento delle credenziali di accesso.</li>
</ul>
<p style="text-align:justify;">Tutte le operazioni effettuate nell'applicativo del Registro Elettronico sono direttamente attribuibili al proprietario delle credenziali di accesso (firma elettronica).<br>
L'accesso al Registro Elettronico, effettuato tramite le credenziali, e le operazioni eseguite nell'applicativo saranno registrate, come meglio specificato nell'informativa ai sensi dell'art. 13 del D.Lgs. n. 196 del 2013 e del Regolamento Europeo 2016/679 che si rilascia unita alla presente.</p>
<p style="text-align: justify">Distinti saluti.</p>
<p>&nbsp;</p>
<p style="text-align:left">{{ app.session.get('/CONFIG/ISTITUTO/sede_0_citta') }}, {{ 'now'|date('d/m/Y') }}.</p>
<p style="text-align: right">Il Dirigente Scolastico<br>
<i>{{ app.session.get('/CONFIG/ISTITUTO/firma_preside') }}</i>&nbsp;&nbsp;</p>
