<div style="text-align:center;font-family:times;font-size:11pt">
  <img src="/img/{{ LOCAL_PATH }}intestazione-documenti.jpg" width="400">
  <br><br><strong>Anno Scolastico {{ app.session.get('/CONFIG/SCUOLA/anno_scolastico') }}</strong>
</div>
<p>&nbsp;</p>
<p style="text-align: right"><span style="font-size:13pt">Spett. <strong>{{ genitore.nome }} {{ genitore.cognome }}</strong>
<br>genitore dell'alunn{{ sesso }} <strong>{{ alunno.nome }} {{ alunno.cognome }}</strong>
<br>Classe: <strong>{{ alunno.classe ? alunno.classe.anno~'ª '~alunno.classe.sezione }}</strong></span></p>
<p>&nbsp;</p>
<p style="text-align: justify">Con le credenziali fornite di seguito potrà accedere al Registro Elettronico dell'{{ app.session.get('/CONFIG/ISTITUTO/intestazione_breve') }},
dove potrà visualizzare i dati relativi al percorso scolastico di su{{ sesso }} figli{{ sesso }}:
assenze, ritardi, uscite anticipate, valutazioni, note disciplinari, argomenti delle lezioni e altro ancora.
Il Registro Elettronico permette inoltre di giustificare le assenze e i ritardi di su{{ sesso }} figli{{ sesso }}.</p>
<p style="text-align: justify">Il Registro Elettronico è accessibile all'indirizzo internet seguente:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span style="font-size:13pt"><strong style="font-family:helvetica">{{ app.session.get('/CONFIG/ISTITUTO/url_registro') }}</strong></span></p>
<p style="text-align: justify">Le credenziali di accesso al Registro Elettronico per il corrente Anno Scolastico sono le seguenti:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span style="font-size:13pt">Utente: &nbsp;&nbsp;<strong style="font-family:helvetica">{{ username }}</strong></span><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span style="font-size:13pt">Password: &nbsp;&nbsp;<strong style="font-family:helvetica">{{ password }}</strong></span></p>
<p>Quando si inserisce l'utente e la password nella pagina di accesso, <i>si faccia attenzione ad inserire correttamente caratteri maiuscoli e minuscoli, senza aggiungere spazi</i>.</p>
<p>&nbsp;</p>
<p style="text-align: justify">Si coglie l'occasione per salutarLa cordialmente.</p>
<p>&nbsp;</p>
<p>{{ app.session.get('/CONFIG/ISTITUTO/sede_0_citta') }}, {{ 'now'|date('d/m/Y') }}.</p>
<p>&nbsp;</p>
<p style="text-align: right">Il Dirigente Scolastico<br>
<i>{{ app.session.get('/CONFIG/ISTITUTO/firma_preside') }}</i>&nbsp;&nbsp;</p>
