<p style="text-align:center; font-family:times; font-size:12pt">
  <img style="width: 28pt" src="{{ asset('img/logo-italia.png') }}"><br>
  <strong>ISTITUTO DI ISTRUZIONE SUPERIORE STATALE</strong><br>
  <strong><i>{{ app.session.get('/CONFIG/SCUOLA/intestazione_istituto_nome') }}</i></strong><br>
  <span style="font-size:11pt">Via Montecassino - 09134 - CAGLIARI<br>
  TEL. 070.500786 &nbsp;-&nbsp; 070.501745<br>
  Email: {{ app.session.get('/CONFIG/SCUOLA/email_istituto') }} &nbsp;&nbsp;&nbsp;&nbsp; Sito: {{ app.session.get('/CONFIG/SCUOLA/url_istituto') }}</span>
</p>
<p>&nbsp;</p>
<p style="text-align: right"><span style="font-size:13pt">Gent.mo genitore dell'alunn{{ sesso }} <strong>{{ alunno.nome }} {{ alunno.cognome }}</strong>
<br>Classe: <strong>{{ alunno.classe ? alunno.classe.anno~'ª '~alunno.classe.sezione }}</strong></span></p>
<p>&nbsp;</p>
<p style="text-align: justify">Con le credenziali fornite di seguito potrà accedere al Registro Elettronico dell'{{ app.session.get('/CONFIG/SCUOLA/intestazione_istituto_breve') }},
dove potrà visualizzare i dati relativi al percorso scolastico di su{{ sesso }} figli{{ sesso }}:
assenze, ritardi, uscite anticipate, valutazioni, note disciplinari, argomenti delle lezioni e altro ancora.</p>
<p style="text-align: justify">Tenga presente che, poiché siamo ancora in una fase sperimentale di questo servizio,
è possibile che i dati riportati sul Registro Elettronico non siano del tutto completi o aggiornati.</p>
<p style="text-align: justify">Il Registro Elettronico è accessibile all'indirizzo internet seguente:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span style="font-size:13pt"><strong style="font-family:helvetica">{{ app.session.get('/CONFIG/SCUOLA/url_registro') }}</strong></span></p>
<p style="text-align: justify">Le credenziali di accesso al Registro Elettronico per il corrente Anno Scolastico sono le seguenti:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span style="font-size:13pt">Utente: &nbsp;&nbsp;<strong style="font-family:helvetica">{{ username }}</strong></span><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span style="font-size:13pt">Password: &nbsp;&nbsp;<strong style="font-family:helvetica">{{ password }}</strong></span></p>
<p>Quando si inserisce l'utente e la password nella pagina di accesso, <i>si faccia attenzione ad usare solo caratteri minuscoli, senza aggiungere spazi</i>.</p>
<p>&nbsp;</p>
<p style="text-align: justify">Si coglie l'occasione per salutarLa cordialmente.</p>
<p>&nbsp;</p>
<p>Cagliari, {{ 'now'|date('d/m/Y') }}.</p>
<p>&nbsp;</p>
<p style="text-align: right">Il Dirigente Scolastico<br>
<i>{{ app.session.get('/CONFIG/SCUOLA/firma_preside') }}</i>&nbsp;&nbsp;</p>
