<div style="text-align:center;font-family:times;font-size:11pt">
  <img src="@{{ file64('public/img/'~LOCAL_PATH~'intestazione-documenti.jpg') }}" width="400">
  <br><br><strong>Anno Scolastico {{ app.session.get('/CONFIG/SCUOLA/anno_scolastico') }}</strong>
</div>
<p>&nbsp;</p>
<p style="text-align: center"><strong>Registro Elettronico - Informativa sulla privacy per il personale ATA</strong></p>
<p style="font-size:10pt"><strong>Gentile {% if 'ROLE_DOCENTE' in utente.roles %}Prof.{{ utente.sesso == 'F' ? 'ssa' }}{% else %}Sig.{{ utente.sesso == 'F' ? 'ra' }}{% endif %} {{ utente.nome }} {{ utente.cognome }}</strong>,
<p style="text-align:justify;font-size:10pt">secondo le disposizioni dell'articolo 13 del Decreto Legislativo 30 giugno 2003, n. 196
(“Codice in materia di protezione dei dati personali”) e del Regolamento Europeo 2016/679, Le forniamo le seguenti
informazioni sul trattamento dei Suoi dati personali nell'ambito della gestione del Registro Elettronico.
La presente informativa integra l'informativa preventiva generale rilasciata all’atto dell’assunzione in servizio e
inerisce specificamente al trattamento dei dati nell'ambito della gestione del Registro Elettronico adottato
dall'istituzione scolastica ai sensi del D.L. n. 95 del 2012.</p>
<p style="text-align:justify;font-size:10pt">Tutti i dati personali, nonché i dati sensibili e quelli giudiziari saranno trattati
esclusivamente dal personale della scuola, appositamente incaricato, secondo quanto previsto dalle disposizioni di legge
e di regolamento vigente e nel rispetto del principio di stretta indispensabilità dei trattamenti.<br>
Viene garantita dall'Istituzione scolastica l’adozione di adeguate misure di sicurezza informatica ed organizzative
atte a garantire la sicurezza, integrità e riservatezza dei dati trattati.<br>
I dati personali vengono trattati esclusivamente nell’ambito della normale attività dell'Istituto Scolastico.</p>
<p style="text-align:justify;font-size:10pt">La S.V. è tenuta ad osservare la seguente politica di gestione
delle credenziali di accesso:</p>
<ul style="font-size:10pt">
  <li>non divulgare le credenziali di accesso ad altri soggetti;</li>
  <li>non lasciare incustodite le credenziali di accesso;</li>
  <li>comunicare immediatamente all’amministratore l’eventuale furto o smarrimento delle credenziali di accesso.</li>
</ul>
<p style="text-align:justify;font-size:10pt">Tali credenziali hanno un carattere assolutamente personale e, di conseguenza, sono
incedibili a terzi.<br>
Tutte le operazioni effettuate nell'applicativo del Registro Elettronico sono direttamente attribuibili al proprietario
delle credenziali di accesso (firma elettronica). L'accesso al Registro Elettronico, effettuato tramite le credenziali,
e le operazioni eseguite nell'applicativo saranno registrate e conservate per un tempo limitato. Tali registrazioni
potranno essere utilizzate esclusivamente per le seguenti finalità:</p>
<ul style="font-size:10pt">
  <li>per il corretto funzionamento del registro elettronico;</li>
  <li>per ragioni tecniche, con lo scopo di individuare le cause di malfunzionamenti dell'applicativo;</li>
  <li>per ragioni di sicurezza, con lo scopo di individuare accessi non autorizzati o indagare su tentativi di intrusione nel sistema.</li>
</ul>
<p style="text-align:justify;font-size:10pt">Il Titolare del trattamento dei dati personali è: <strong>{{ app.session.get('/CONFIG/ISTITUTO/intestazione_breve') }} con sede in {{ app.session.get('/CONFIG/ISTITUTO/sede_0_citta') }}, rappresentato dal Dirigente Scolastico</strong>.</p>
<p style="text-align:justify;font-size:10pt">I soggetti cui si riferiscono i dati personali hanno il diritto di ottenere, in qualunque momento,
la conferma dell'esistenza o meno dei medesimi dati, di conoscerne il contenuto e l'origine, verificarne l'esattezza, chiederne
l'integrazione, l'aggiornamento, la rettifica, la cancellazione, la trasformazione in forma anonima o il blocco dei dati trattati
in violazione di legge, nonché di opporsi al loro trattamento (art. 7 del Decreto Legislativo 196/2003).
<br></p>
<p style="text-align: right;font-size:11pt">Il Dirigente Scolastico<br>
<i>{{ app.session.get('/CONFIG/ISTITUTO/firma_preside') }}</i>&nbsp;&nbsp;</p>
