<div style="text-align:center;font-family:times;font-size:11pt">
  <img src="{{ asset('img/'~LOCAL_PATH~'intestazione-documenti.jpg') }}" width="400">
  <br><br><strong>Anno Scolastico {{ app.session.get('/CONFIG/SCUOLA/anno_scolastico') }}</strong>
</div>
<p style="text-align:center; font-size:13pt">
  <strong>Note disciplinari della classe {{ classe.anno }}ª {{ classe.sezione }}</strong>
</p>
{% for periodo,v in dati %}
<br>
<div style="text-align:center"><strong>{{ periodo }}</strong></div>
<table border="1" cellpadding="2" style="font-size:10pt">
  <tr nobr="true">
    <td width="15%" style="text-align:center"><strong>Data</strong></td>
    <td width="20%" style="text-align:center"><strong>Destinatari</strong></td>
    <td width="40%" style="text-align:center"><strong>Nota</strong></td>
    <td width="25%" style="text-align:center"><strong>Provvedimento</strong></td>
  </tr>
  {% for data,v1 in v %}
    {% for tipo,v2 in v1 %}
      {% for k,e in v2 %}
  <tr nobr="true">
    <td><strong>{{ e.data }}</strong></td>
      {% if tipo == 'classe' %}
    <td><em>Tutta la classe</em></td>
      {% else %}
    <td>{% for alu in e.alunni %}{{ alu }}{{ not loop.last ? ',<br>' }}{% endfor %}</td>
      {% endif %}
    <td style="font-size:9pt">{{ e.nota|striptags|nl2br }}<br><em>({{ e.nota_doc }})</em></td>
    <td style="font-size:9pt">{{ e.provvedimento ? ((e.provvedimento|striptags|nl2br)~'<br><em>('~e.provvedimento_doc~')</em>')|raw }}</td>
  </tr>
      {% endfor %}
    {% endfor %}
  {% endfor %}
</table>
{% else %}
<p style="text-align:center">
  <strong><em>Non sono presenti note disciplinari</em></strong>
</p>
{% endfor %}
