<div style="text-align:center;font-family:times;font-size:11pt">
  <img src="/img/{{ LOCAL_PATH }}intestazione-documenti.jpg" width="400">
  <br><br><strong>Anno Scolastico {{ app.session.get('/CONFIG/SCUOLA/anno_scolastico') }}</strong>
</div>
<p>&nbsp;</p>
<p style="text-align:center; font-size:13pt">
  <strong>Frequenza di {{ alunno.cognome }} {{ alunno.nome }} (nat{{ sesso }} il {{ alunno.dataNascita|date('d/m/Y') }})</strong><br>
  <strong>Classe {{ dati.classe }}</strong>
{% if dati.note is defined %}
  <br><strong><em>{{ dati.note }}</em></strong>
{% endif %}
</p>
<p>&nbsp;</p>
{% for mese,v in dati.mese  %}
<div style="text-align:center"><strong>{{ v.nome }}</strong></div>
<table border="1">
  <tr>
  {% set vuota = true %}
  {% for giorno in v.inizio .. v.fine %}
    {% if (date(v.anno~'-'~mese~'-'~giorno)|date('w') != 0) and v[giorno] is not defined %}
      {% set vuota = false %}
    <td style="text-align:center; font-family:arial; font-size:10pt"><strong>{{ giorno }}</strong></td>
    {% endif %}
  {% endfor %}
  {% if vuota %}
    <td> *** </td>
  {% endif %}
  </tr>
  <tr>
  {% for giorno in v.inizio .. v.fine %}
    {% if (date(v.anno~'-'~mese~'-'~giorno)|date('w') != 0) and v[giorno] is not defined %}
      {% if dati.iscritto[mese][giorno] is defined and dati.iscritto[mese][giorno] == 'N' %}
    <td style="background-color:#AAAAAA">&nbsp;</td>
      {% else %}
    <td style="text-align:center; font-family:arial; font-size:10pt"><strong>{% if dati.lista[mese][giorno] is defined %}{{ dati.lista[mese][giorno] }}{% else %}&nbsp;{% endif %}</strong></td>
      {% endif %}
    {% endif %}
  {% endfor %}
  {% if vuota %}
    <td></td>
  {% endif %}
  </tr>
</table>
<br>
{% endfor %}
<div style="text-align:center">Legenda: <strong>A</strong> = assenza, <strong>R</strong> = ingresso in ritardo, <strong>U</strong> = uscita anticipata.</div>
<br>
<p>Cagliari, {{ date()|date('d/m/Y') }}.</p>
