<div style="text-align:center;font-family:times;font-size:11pt">
  <img src="@{{ image64('intestazione-documenti.jpg') }}" width="400">
  <br><br><strong>Anno Scolastico {{ app.session.get('/CONFIG/SCUOLA/anno_scolastico') }}</strong>
</div>
<p style="text-align:center; font-size:13pt">
  <strong>Situazione dell'alunn{{ alunno.sesso == 'M' ? 'o' : 'a' }} {{ alunno.cognome }} {{ alunno.nome }} (nat{{ alunno.sesso == 'M' ? 'o' : 'a' }} il {{ alunno.dataNascita|date('d/m/Y') }})</strong><br>
  <strong>Classe {{ classe }}</strong>
</p>
<p>&nbsp;</p>
{% if dati.voti is defined %}
  {% for materia,v in dati.voti %}
    {% for periodo,v1 in v %}
<br><div style="text-align:center"><strong>Valutazioni: {{materia}} - {{ periodo }}</strong></div>
<table border="1" cellpadding="2" style="font-size:10pt">
  <tr nobr="true">
    <td width="12%" style="text-align:center"><strong>Data</strong></td>
    <td width="8%" style="text-align:center"><strong>Tipo</strong></td>
    <td width="30%" style="text-align:center"><strong>Argomenti o descrizione della prova</strong></td>
    <td width="8%" style="text-align:center"><strong>Voto</strong></td>
    <td width="42%" style="text-align:center"><strong>Giudizio</strong></td>
  </tr>
      {% for data,v2 in v1 %}
        {% for e in v2 %}
  <tr nobr="true">
    <td style="font-size:9pt">{{ e.data }}</td>
    <td style="font-size:9pt">{{ e.tipo == 'S' ? 'Scritto' : (e.tipo == 'O' ? 'Orale' : 'Pratico') }}</td>
    <td style="font-size:9pt">{{ e.argomento }}</td>
    <td style="text-align:center"><strong>{{ e.voto_str }}</strong></td>
    <td style="font-size:9pt">{{ e.giudizio }}</td>
  </tr>
        {% endfor %}
      {% endfor %}
</table>
    {% endfor %}
  {% else %}
<p style="text-align:center">
  <strong><em>Non sono presenti valutazioni</em></strong>
</p>
  {% endfor %}
<p>&nbsp;</p>
{% endif %}
{% if dati.scrutini is defined %}
  {% for periodo,v in dati.scrutini %}
    {% if periodo == 'P' %}
<br><div style="text-align:center"><strong>Scrutinio del {{ ('label.periodo_'~periodo)|trans }}</strong></div>
<table border="1" cellpadding="2" style="font-size:10pt">
  <tr nobr="true">
    <td width="30%" style="text-align:center"><strong>Materia</strong></td>
    <td width="50%" style="text-align:center"><strong>Voto</strong></td>
    <td width="20%" style="text-align:center"><strong>Ore di assenza</strong></td>
  </tr>
      {% for materia,m in v.materie %}
  <tr nobr="true" style="font-size:11pt">
    <td><strong>{{ m.nome }}</strong></td>
        {% if m.tipo == 'R' %}
          {% if alunno.religione != 'S' %}
      <td><strong>--</strong></td>
      <td></td>
          {% else %}
      <td> {{ info.giudizi['P']['R'][v.voti[materia].unico] }}</td>
      <td>{{ v.voti[materia].assenze }}</td>
          {% endif %}
        {% elseif m.tipo == 'C' %}
      <td>&nbsp;&nbsp;{{ v.voti[materia].unico == 4 ? 'NC' : v.voti[materia].unico }}</td>
      <td></td>
        {% else %}
      <td>
        {{ v.voti[materia].unico == 0 ? 'NC' : v.voti[materia].unico }}
          {% if v.debiti[materia] is defined %}
        <br><span style="font-size:10pt"><strong>Modalità di recupero:</strong> {{ ('label.recupero_'~v.debiti[materia].recupero)|trans }}</span>
        <br><span style="font-size:10pt"><strong>Argomenti da recuperare:</strong> {{ v.debiti[materia].debito }}</span>
          {% endif %}
      </td>
      <td>{{ v.voti[materia].assenze }}</td>
        {% endif %}
    </tr>
      {% endfor %}
</table>
    {% elseif periodo == '1' %}
<br><div style="text-align:center"><strong>{{ ('label.periodo_'~periodo)|trans }}</strong></div>
<table border="1" cellpadding="2" style="font-size:10pt">
  <tr nobr="true">
    <td width="43%" style="text-align:center">Materia</td>
    <td width="25%" style="text-align:center">Profitto</td>
    <td width="16%" style="text-align:center">Debito formativo</td>
    <td width="16%" style="text-align:center">Ore di assenza</td>
  </tr>
      {% for materia,m in v.materie %}
  <tr nobr="true">
    <td><strong>{{ m.nome }}</strong></td>
        {% if m.tipo == 'R' and alunno.religione != 'S' %}
    <td><strong>--</strong></td>
    <td></td>
    <td></td>
        {% elseif m.tipo == 'C'  %}
    <td>{{ info.condotta['1'][v.voti[materia].unico] }}</td>
    <td></td>
    <td></td>
        {% else %}
    <td>{{ info.giudizi['1'][v.voti[materia].unico] }}</td>
    <td>
          {% if v.debiti[materia] is defined %}
      {{ ('label.recupero_'~v.voti[materia].recupero)|trans }}
          {% endif %}
    </td>
    <td>{{ v.voti[materia].assenze }}</td>
        {% endif %}
  </tr>
      {% endfor %}
</table>
    {% elseif periodo == 'F' %}
<br><div style="text-align:center"><strong>{{ ('label.periodo_'~periodo)|trans }} - {{ ('label.esito_'~v.esito.esito)|trans }}</strong></div>
      {% if v.noscrutinato is defined and v.noscrutinato == 'A' %}
<div style="text-align:center"><strong>{{ 'label.no_scrutinabile_assenze'|trans }}</strong></div>
      {% elseif v.noscrutinato is defined and v.noscrutinato == 'C' %}
<div style="text-align:center"><strong>{{ 'label.no_scrutinabile_cessata_frequenza'|trans }}</strong></div>
      {% else %}
<table border="1" cellpadding="2" style="font-size:10pt">
  <tr nobr="true">
    <td width="34%" style="text-align:center">Materia</td>
    <td width="15%" style="text-align:center">Proposta</td>
    <td width="35%" style="text-align:center">Voto</td>
    <td width="16%" style="text-align:center">Ore di assenza</td>
  </tr>
        {% for materia,m in v.materie %}
  <tr nobr="true">
    <td><strong>{{ m.nome }}</strong></td>
          {% if m.tipo == 'R' %}
            {% if alunno.religione != 'S' %}
    <td><strong>--</strong></td>
    <td><strong>--</strong></td>
    <td></td>
            {% else %}
    <td>{{ info.giudizi['F']['R'][v.proposte[materia].unico] }}</td>
    <td>{{ info.giudizi['F']['R'][v.voti[materia].unico] }}</td>
    <td>{{ v.voti[materia].assenze }}</td>
            {% endif %}
          {% elseif m.tipo == 'C' %}
    <td></td>
    <td>{{ v.voti[materia].unico == 4 ? 'NC' : v.voti[materia].unico }}</td>
    <td></td>
          {% else %}
    <td>{{ v.proposte[materia].unico == 0 ? 'NC' : v.proposte[materia].unico }}</td>
    <td>
      {{ v.voti[materia].unico == 0 ? 'NC' : v.voti[materia].unico }}
            {% if v.debiti[materia] is defined %}
      <br><span style="font-size:10pt"><strong>Modalità di recupero:</strong> {{ ('label.recupero_'~v.debiti[materia].recupero)|trans }}</span>
      <br><span style="font-size:10pt"><strong>Argomenti da recuperare:</strong> {{ v.debiti[materia].debito }}</span>
            {% endif %}
    </td>
    <td>{{ v.voti[materia].assenze }}</td>
          {% endif %}
  </tr>
        {% endfor %}
</table>
      {% endif %}
    {% elseif periodo == 'G' %}
<br><div style="text-align:center"><strong>{{ ('label.periodo_'~periodo)|trans }} - {{ ('label.esito_'~v.esito.esito)|trans }}</strong></div>
<table border="1" cellpadding="2" style="font-size:10pt">
  <tr nobr="true">
    <td width="34%" style="text-align:center">Materia</td>
    <td width="50%" style="text-align:center">Voto</td>
    <td width="16%" style="text-align:center">Ore di assenza</td>
  </tr>
        {% for materia,m in v.materie %}
  <tr nobr="true">
    <td><strong>{{ m.nome }}</strong></td>
          {% if m.tipo == 'R' %}
            {% if alunno.religione != 'S' %}
    <td><strong>--</strong></td>
    <td></td>
            {% else %}
    <td>{{ info.giudizi['F']['R'][v.voti[materia].unico] }}</td>
    <td>{{ v.voti[materia].assenze }}</td>
            {% endif %}
          {% elseif m.tipo == 'C' %}
    <td>{{ v.voti[materia].unico == 4 ? 'NC' : v.voti[materia].unico }}</td>
    <td></td>
          {% else %}
    <td>{{ v.voti[materia].unico == 0 ? 'NC' : v.voti[materia].unico }}</td>
    <td>{{ v.voti[materia].assenze }}</td>
          {% endif %}
  </tr>
        {% endfor %}
</table>
    {% endif %}
  {% else %}
<p style="text-align:center">
  <strong><em>Dati non ancora disponibili</em></strong>
</p>
  {% endfor %}
<p>&nbsp;</p>
{% endif %}
{% if dati.assenze is defined %}
<br><div style="text-align:center"><strong>Situazione globale delle assenze</strong></div>
<table border="1" cellpadding="2" style="font-size:11pt">
  <tr nobr="true">
    <td width="70%"><strong>Giorni di assenza</strong></td>
    <td width="30%">{{ dati.assenze.stat.assenze }}</td>
  </tr>
  <tr nobr="true">
    <td><strong>Numero di ritardi brevi (entro 10 minuti)</strong></td>
    <td>{{ dati.assenze.stat.brevi }}</td>
  </tr>
  <tr nobr="true">
    <td><strong>Numero di ritardi (oltre 10 minuti)</strong></td>
    <td>{{ dati.assenze.stat.ritardi }}</td>
  </tr>
  <tr nobr="true">
    <td> * <strong><em>considerati per conteggio del numero massimo di ritardi</em></strong></td>
    <td>&nbsp;&nbsp;<em>{{ dati.assenze.stat.ritardi_validi }}</em></td>
  </tr>
  <tr nobr="true">
    <td><strong>Numero di uscite anticipate</strong></td>
    <td>{{ dati.assenze.stat.uscite }}</td>
  </tr>
  <tr nobr="true">
    <td> * <strong><em>considerate per il conteggio del numero massimo di uscite</em></strong></td>
    <td>&nbsp;&nbsp;<em>{{ dati.assenze.stat.uscite_valide }}</em></td>
  </tr>
  <tr nobr="true">
    <td><strong>Totale ore di assenza</strong></td>
    <td>{{ dati.assenze.stat.ore }}</td>
  </tr>
</table>
  {% for periodo,v in dati.assenze.lista %}
<br><div style="text-align:center"><strong>Assenze {{ periodo }}</strong></div>
<table border="1" cellpadding="2" style="font-size:10pt">
  <tr nobr="true" style="text-align:center">
    <td width="15%" style="text-align:center"><strong>Data</strong></td>
    <td width="25%" style="text-align:center"><strong>Tipo</strong></td>
    <td width="45%" style="text-align:center"><strong>Annotazioni</strong></td>
    <td width="15%" style="text-align:center"><strong>Giustificazione</strong></td>
  </tr>
    {% for data,v1 in v %}
      {% for tipo,e in v1 %}
  <tr nobr="true">
        {% if tipo == 'assenza' %}
    <td><strong>{{ e.data }}{% if e.giorni > 1 %} - {{ e.data_fine }}{% endif %}</strong></td>
          {% if app.session.get('/CONFIG/SCUOLA/assenze_ore') %}
    <td><strong>Assenza
            {% if e.ore|length > 0 %}
      nelle ore:
              {% for o in e.ore %}
      {{ o }}ª{{ not loop.last ? ',' }}
              {% endfor %}
            {% endif %}
      </strong>
    </td>
          {% else %}
    <td><strong>Assenza{% if e.giorni > 1 %} di {{ e.giorni }} giorni{% endif %}</strong></td>
          {% endif %}
    <td><span style="font-size:9pt">{{ e.motivazione ? 'Motivazione assenza: '~e.motivazione }}</span></td>
    <td>{% if not e.giustificato %}<em>Da giustificare</em>{% endif %}</td>
        {% elseif tipo == 'ritardo' %}
    <td><strong>{{ e.data }}</strong></td>
    <td>Ritardo{{ e.breve ? ' breve' }} ({{ e.ora|date('H:i') }})</td>
    <td><span style="font-size:9pt">{{ e.note }}{% if e.valido %}{{ e.note is not empty ? '<br>' }}<em>(Rientra nel conteggio del numero massimo di ritardi)</em>{% endif %}</span></td>
    <td>{% if not e.giustificato %}<em>Da giustificare</em>{% endif %}</td>
        {% else %}
    <td><strong>{{ e.data }}</strong></td>
    <td>Uscita anticipata ({{ e.ora|date('H:i') }})</td>
    <td><span style="font-size:9pt">{{ e.note }}{% if e.valido %}{{ e.note is not empty ? '<br>' }}<em>(Rientra nel conteggio del numero massimo di uscite)</em>{% endif %}</span></td>
    <td></td>
        {% endif %}
  </tr>
      {% endfor %}
    {% endfor %}
</table>
  {% else %}
<p style="text-align:center">
  <strong><em>Dati non ancora disponibili</em></strong>
</p>
  {% endfor %}
{% endif %}
{% if dati.note is defined %}
  {% for periodo,v in dati.note %}
<br><div style="text-align:center"><strong>Note disciplinari {{ periodo }}</strong></div>
<table border="1" cellpadding="2" style="font-size:10pt">
  <tr nobr="true">
    <td width="15%" style="text-align:center"><strong>Data</strong></td>
    <td width="20%" style="text-align:center"><strong>Tipo</strong></td>
    <td width="35%" style="text-align:center"><strong>Nota</strong></td>
    <td width="30%" style="text-align:center"><strong>Provvedimento</strong></td>
  </tr>
    {% for data,v1 in v %}
      {% for tipo,v2 in v1 %}
        {% for k,e in v2 %}
  <tr nobr="true">
          {% if tipo == 'classe' %}
    <td><strong>{{ e.data }}</strong></td>
    <td><strong>Nota di classe</strong></td>
    <td>{{ e.nota|striptags|nl2br }}<br><em style="font-size:9pt">({{ e.nota_doc }})</em></td>
    <td>{{ e.provvedimento ? ((e.provvedimento|striptags|nl2br)~'<br><em style="font-size:9pt">('~e.nota_doc~')</em>')|raw }}</td>
          {% else %}
    <td><strong>{{ e.data }}</strong></td>
    <td><strong>Nota individuale</strong></td>
    <td>{{ e.nota|striptags|nl2br }}<br><em style="font-size:9pt">({{ e.nota_doc }})</em></td>
    <td>{{ e.provvedimento ? ((e.provvedimento|striptags|nl2br)~'<br><em style="font-size:9pt">('~e.provvedimento_doc~')</em>')|raw }}</td>
          {% endif %}
  </tr>
        {% endfor %}
      {% endfor %}
    {% endfor %}
</table>
  {% else %}
<p style="text-align:center">
  <strong><em>Non sono presenti note disciplinari</em></strong>
</p>
  {% endfor %}
{% endif %}
{% if dati.osservazioni is defined %}
  {% for periodo,v in dati.osservazioni %}
<br><div style="text-align:center"><strong>Osservazioni {{ periodo }}</strong></div>
<table border="1" cellpadding="2" style="font-size:10pt">
  <tr nobr="true">
    <td width="15%" style="text-align:center"><strong>Data</strong></td>
    <td width="20%" style="text-align:center"><strong>Materia</strong></td>
    <td width="65%" style="text-align:center"><strong>Osservazioni</strong></td>
  </tr>
    {% for data,v1 in v %}
      {% for k,e in v1 %}
  <tr nobr="true">
    <td><strong>{{ e.data }}</strong></td>
    <td><strong>{{ e.materia }}</strong><br><em style="font-size:9pt">({{ e.docente }})</em></td>
    <td style="font-size:9pt">{{ e.testo|striptags|nl2br }}</td>
  </tr>
      {% endfor %}
    {% endfor %}
</table>
  {% else %}
<p style="text-align:center">
  <strong><em>Non sono presenti osservazioni</em></strong>
</p>
  {% endfor %}
{% endif %}
