<div style="text-align:center;font-family:times;font-size:11pt">
  <img src="{{ asset('img/'~LOCAL_PATH~'intestazione-documenti.jpg') }}" width="400">
  <br><br><strong>Anno Scolastico {{ app.session.get('/CONFIG/SCUOLA/anno_scolastico') }}</strong>
</div>
<p style="text-align:center; font-size:13pt">
  <strong>Ore di lezione svolte dal {{ search.inizio|date('d/m/Y') }} al {{ search.fine|date('d/m/Y') }}</strong>
</p>
<br>
<table border="1" cellpadding="2" style="font-size:10pt">
  <tr nobr="true">
    <td width="35%" style="text-align:center"><strong>Cognome</strong></td>
    <td width="35%" style="text-align:center"><strong>Nome</strong></td>
    <td width="30%" style="text-align:center"><strong>Ore totali</strong></td>
  </tr>
{% for d in lista %}
  <tr nobr="true">
    <td><strong>{{ d.cognome }}</strong></td>
    <td><strong>{{ d.nome }}</strong></td>
    <td><strong>{{ d.ore|number_format(1,',','') }}</strong></td>
  </tr>
{% endfor %}
</table>
