{% extends 'ruolo_segreteria/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  <h1 class="text-center gs-h2 gs-mt-0">Frequenza di {{ alunno.cognome }} {{ alunno.nome }} ({{ alunno.dataNascita|date('d/m/Y') }})</h1>
  <h2 class="text-center gs-h2 gs-mt-0">Classe {{ dati.classe }}</h2>
  {% if dati.note is defined %}
  <p class="text-center gs-big"><strong><em>{{ dati.note }}</em></strong></p>
  {% endif %}
  {% for mese,v in dati.mese  %}
  <table class="table table-bordered">
    <caption class="text-info text-center gs-big"><strong>{{ v.nome }}</strong></caption>
    <thead class="bg-success">
      <tr>
    {% for giorno in v.inizio .. v.fine %}
      {% if (date(v.anno~'-'~mese~'-'~giorno)|date('w') != 0) and v[giorno] is not defined %}
        <th class="text-center gs-pr-0 gs-pl-0">{{ giorno }}</th>
      {% endif %}
    {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
    {% for giorno in v.inizio .. v.fine %}
      {% if (date(v.anno~'-'~mese~'-'~giorno)|date('w') != 0) and v[giorno] is not defined %}
        {% if dati.iscritto[mese][giorno] is defined and dati.iscritto[mese][giorno] == 'N' %}
        <td class="text-center gs-pr-0 gs-pl-0 gs-bg-muted">&nbsp;</td>
        {% else %}
        <td class="text-center gs-pr-0 gs-pl-0">
          <strong>{% if dati.lista[mese][giorno] is defined %}{{ dati.lista[mese][giorno] }}{% else %}&nbsp;{% endif %}</strong>
        </td>
        {% endif %}
      {% endif %}
    {% endfor %}
      </tr>
    </tbody>
  </table>
  {% endfor %}
  <p class="text-center gs-mb-5">Legenda: <strong>A</strong> = assenza, <strong>R</strong> = ingresso in ritardo, <strong>U</strong> = uscita anticipata.</p>
  <div>
    <a class="btn btn-primary gs-mr-3" href="{{ path('segreteria_assenze') }}" role="button" title="Torna alla pagina di scelta degli alunni"><span class="glyphicon glyphicon-backward gs-mr-3" aria-hidden="true"></span><strong>{{ 'label.indietro'|trans }}</strong></a>
    <a class="btn btn-success" href="{{ path('segreteria_assenze_stampa', {'alunno': alunno.id}) }}" role="button" title="Crea un documento PDF per la stampa dei dati"><span class="glyphicon glyphicon-print gs-mr-3" aria-hidden="true"></span><strong>{{ 'label.stampa'|trans }}</strong></a>
  </div>
</div>
{% endblock %}
