{% extends 'alunni/index.html.twig' %}

{% form_theme form _self %}

{% block pagina_contenuto %}
<div class="container-fluid">
  <div class="panel panel-primary gs-mt-5" >
    <div class="panel-heading">
      <div class="panel-title">{{ form_title|trans }}</div>
    </div>
    <div class="panel-body" >
      {{ form_start(form) }}
      {{ form_widget(form) }}
      <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <button type="submit" id="{{ form.vars.full_name }}_submit" name="{{ form.vars.full_name }}[submit]" class="btn-default gs-mr-3 btn">{{ 'label.submit'|trans }}</button>
          <button type="button" id="{{ form.vars.full_name }}_cancel" name="{{ form.vars.full_name }}[cancel]" onclick="location.href='{{ path('alunni_modifica') }}'" class="btn-default btn">{{ 'label.cancel'|trans }}</button>
        </div>
      </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}

{% block pagina_css %}
{{ parent() }}
<link href="{{ asset('vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet">
{% endblock %}

{% block pagina_js_fine %}
{{ parent() }}
<script src="{{ asset('vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap-datepicker/locales/bootstrap-datepicker.it.min.js') }}"></script>
<script>
$(document).ready(function() {
  $('#{{ form.vars.id }} .input-group.date').datepicker({
    format: "dd/mm/yyyy",
    weekStart: 1,
    maxViewMode: 2,
    todayBtn: false,
    language: "it",
    autoclose: true,
    todayHighlight: false,
    zIndexOffset: 1200
    });
  $('#alunno_numeriTelefono').on('click', '.gs-remove-item', function(e) {
    $(this).closest('.form-group').remove();
  });
  $('.gs-add-item').on('click', function(e) {
    var f=$('#alunno_numeriTelefono').data('prototype');
    var id=$('#alunno_numeriTelefono').find('input').last().attr('id');
    var re=/\d+$/;
    var n=parseInt(re.exec(id),10)+1;
    f=f.replace(/__name__/g,n);
    $('#alunno_numeriTelefono').append(f);
  });
});
</script>
{% endblock %}

{% block _alunno_numeriTelefono_widget %}
  {{ form_widget(form) }}
  <div class="form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      <button class="btn btn-default gs-add-item" type="button" title="Inserisce un nuovo numero di telefono"><span class="glyphicon glyphicon-plus text-success"></span></button>
    </div>
  </div>
{% endblock %}

{% block _alunno_numeriTelefono_entry_widget %}
  <div class="input-group">
    {{ form_widget(form) }}
    <span class="input-group-btn">
      <button class="btn btn-default gs-remove-item" type="button" title="Cancella il numero di telefono"><span class="glyphicon glyphicon-remove text-danger"></span></button>
    </span>
  </div>
{% endblock %}
