{% extends 'tema-new/layout-base.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  <h1 class="text-center mb-4">{{ titolo|trans }}</h1>
  {{ include('tema-new/include/filtro.html.twig', {form: form[0]}) }}
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-striped table-sm gs-sticky-header" style="margin-top:-2.5rem">
      <thead class="thead-light">
        <tr class="sticky-top">
          <th class="col-auto" scope="col">{{ 'label.classe'|trans }}</th>
          <th class="col-auto" scope="col">{{ 'label.rappresentante'|trans }}</th>
          <th class="col-auto" scope="col">{{ 'label.tipo'|trans }}</th>
          <th class="col-auto" scope="col">{{ 'label.action'|trans }}</th>
        </tr>
      </thead>
      <tbody>
  {% for u in dati.lista %}
        <tr>
          <td><small>{{ u.classe }}</small></td>
          <td><small>{{ u }}</small></td>
          <td><small>{{ ('label.rappresentante_'~(u.rappresentante == 'C' ? 'classe' : (u.rappresentante == 'I' ? 'istituto' : 'consulta')))|trans }}</small></td>
          <td class="pb-0">
            <a class="btn btn-primary btn-xs mr-1 mb-1" href="{{ path('alunni_rappresentanti_edit', {ruolo: 'A', id: u.id}) }}" role="button" title="Modifica i dati del rappresentante">{{ 'label.edit'|trans }}</a>
            <a class="btn btn-danger btn-xs mr-1 mb-1" href="{{ path('alunni_rappresentanti_delete', {ruolo: 'A', id: u.id}) }}" role="button" title="Elimina il rappresentante">{{ 'label.delete'|trans }}</a>
          </td>
        </tr>
  {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5">
            <a class="btn btn-primary btn-sm" href="{{ path('alunni_rappresentanti_edit', {ruolo: 'A', id: 0}) }}" role="button" title="Aggiungi un nuovo rappresentante">{{ 'label.add'|trans }}</a>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  {{ include('tema-new/include/paginazione.html.twig', {maxPagine: dati.maxPagine, pagina: info.pagina, url: 'alunni_rappresentanti'}) }}
</div>
{% endblock %}

{% block pagina_js_fine %}
{{ include('tema-new/include/thfloat.html.twig') }}
<script>
$(document).ready(function() {
  $("#gs-paginazione").on("submit", function() {
    var p = $("#jumpToPage").val();
    window.location.href = "{{ path('alunni_rappresentanti') }}/"+p;
    return false;
  });
});
</script>
{% endblock %}
