{% extends 'tema-new/layout-base.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  <h1 class="text-center mb-4">{{ titolo|trans }}</h1>
  {{ include('tema-new/include/flash.html.twig') }}
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-striped table-sm gs-sticky-header" style="_margin-top:-2.5rem">
      <thead class="thead-light">
        <tr class="sticky-top">
          <th class="col-auto" scope="col">{{ 'label.nome_sede'|trans }}</th>
          <th class="col-auto" scope="col">{{ 'label.citta'|trans }}</th>
          <th class="col-auto" scope="col">{{ 'label.indirizzo'|trans }}</th>
          <th class="col-auto" scope="col">{{ 'label.action'|trans }}</th>
        </tr>
      </thead>
      <tbody>
  {% for s in dati %}
        <tr>
          <td>{{ s.nome }}</td>
          <td><small>{{ s.citta }}</small></td>
          <td><small>{{ s.indirizzo1 }}</small></td>
          <td class="pb-0">
            <button type="button" class="btn btn-primary btn-xs mr-1 mb-1" title="Mostra i dettagli della sede" data-toggle="modal" data-target="#gs-modal-info" data-titolo="{{ s.nome }}" data-cont-id="info-sede-{{ s.id }}">{{ 'label.show'|trans }}</button>
            <a class="btn btn-primary btn-xs mr-1 mb-1" href="{{ path('scuola_sedi_edit', {'id': s.id}) }}" role="button" title="Modifica i dati della sede">{{ 'label.edit'|trans }}</a>
            <button type="button" class="btn btn-danger btn-xs mr-1 mb-1 gs-modal-confirm-button" title="Cancella la sede" data-toggle="modal" data-target="#gs-modal-confirm" data-titolo="{{ s.nome }}" data-contenuto="{{ 'message.cancella_sede'|trans }}" data-href="{{ path('scuola_sedi_delete', {'id': s.id}) }}">{{ 'label.delete'|trans }}</button>
            <div class="d-none" id="info-sede-{{ s.id }}">
              <dl class="row">
                <dt class="col-sm-3 text-right">{{ 'label.nome_sede'|trans }}</dt>
                <dd class="col-sm-9">{{ s.nome }}</dd>
                <dt class="col-sm-3 text-right">{{ 'label.nome_breve_sede'|trans }}</dt>
                <dd class="col-sm-9">{{ s.nomeBreve }}</dd>
                <dt class="col-sm-3 text-right">{{ 'label.citta'|trans }}</dt>
                <dd class="col-sm-9">{{ s.citta }}</dd>
                <dt class="col-sm-3 text-right">{{ 'label.indirizzo'|trans }}</dt>
                <dd class="col-sm-9">{{ s.indirizzo1 }}</dd>
                <dt class="col-sm-3 text-right">{{ 'label.indirizzo_cap'|trans }}</dt>
                <dd class="col-sm-9">{{ s.indirizzo2 }}</dd>
                <dt class="col-sm-3 text-right">{{ 'label.telefono'|trans }}</dt>
                <dd class="col-sm-9">{{ s.telefono }}</dd>
                <dt class="col-sm-3 text-right">{{ 'label.ordinamento'|trans }}</dt>
                <dd class="col-sm-9">{{ s.ordinamento }}</dd>
              </dl>
            </div>
          </td>
        </tr>
  {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <a class="btn btn-primary btn-sm" href="{{ path('scuola_sedi_edit') }}" role="button" title="Nuova sede">{{ 'label.add'|trans }}</a>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  {{ include('tema-new/include/modal-info.html.twig') }}
  {{ include('tema-new/include/modal-confirm.html.twig') }}
</div>
{% endblock %}

{% block pagina_js_fine %}
{{ include('tema-new/include/thfloat.html.twig') }}
<script>
$(document).ready(function() {
  $('#gs-modal-info').on('show.bs.modal', function (e) {
    var titolo = $(e.relatedTarget).data('titolo');
    var contenuto = $('#'+$(e.relatedTarget).data('cont-id')).html();
    $(this).find('#gs-modal-info-titolo').html(titolo);
    $(this).find('#gs-modal-info-contenuto').html(contenuto);
  });
  $('#gs-modal-confirm').on('show.bs.modal', function (e) {
    var titolo = $(e.relatedTarget).data('titolo');
    var contenuto = $(e.relatedTarget).data('contenuto');
    var href = $(e.relatedTarget).data('href');
    $(this).find('#gs-modal-confirm-titolo').html(titolo);
    $(this).find('#gs-modal-confirm-contenuto').html(contenuto);
    $(this).find('#gs-modal-confirm-yes').attr('href', href);
  });
});
</script>
{% endblock %}
