{% extends 'ruolo_genitore/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  {% include 'ruolo_genitore/menu_situazione.html.twig' with {'attivo': 'assenze'} %}
  <h1 class="text-center gs-h1 gs-mt-2 gs-mb-3">{{ 'title.genitori_assenze'|trans({'%sex%': (alunno.sesso == 'M' ? 'o' : 'a')}) }} {{ alunno.nome~' '~alunno.cognome }}</h1>
  {% if errore %}
  <div class="alert alert-warning" role="alert">
    <strong class="gs-big">{{ errore }}</strong>
  </div>
  {% else %}
  <table class="table table-bordered table-hover table-striped">
    <caption class="text-info text-center gs-big"><strong>Situazione globale</strong></caption>
    <tbody>
      <tr>
        <th class="gs-big">Giorni di assenza</th>
        <td><span class="label label-default gs-big">{{ dati.stat.assenze }}</span></td>
      </tr>
      <tr>
        <th class="gs-big">Numero di ritardi brevi (entro 10 minuti)</th>
        <td><span class="label label-default gs-big">{{ dati.stat.brevi }}</span></td>
      </tr>
      <tr>
        <th class="gs-big">Numero di ritardi (oltre 10 minuti)</th>
        <td><span class="label label-default gs-big">{{ dati.stat.ritardi }}</span></td>
      </tr>
      <tr>
        <th class="gs-big "><span class="glyphicon glyphicon-hand-right gs-mr-3" aria-hidden="true"></span><em>considerati per conteggio del numero massimo di ritardi</em></th>
        <td><span class="label label-{{ dati.stat.ritardi_validi > 0 ? 'warning' : 'default' }} gs-big">{{ dati.stat.ritardi_validi }}</span></td>
      </tr>
      <tr>
        <th class="gs-big">Numero di uscite anticipate</th>
        <td><span class="label label-default gs-big">{{ dati.stat.uscite }}</span></td>
      </tr>
      <tr>
        <th class="gs-big "><span class="glyphicon glyphicon-hand-right gs-mr-3" aria-hidden="true"></span><em>considerate per il conteggio del numero massimo di uscite</em></th>
        <td><span class="label label-{{ dati.stat.uscite_valide > 0 ? 'warning' : 'default' }} gs-big">{{ dati.stat.uscite_valide }}</span></td>
      </tr>
      <tr>
        <th class="gs-big">Totale ore di assenza</th>
        <td><span class="label label-{{ dati.stat.ore_perc >= 25 ? 'danger' : (dati.stat.ore_perc >= 20 ? 'warning' : 'default') }} gs-big">{{ dati.stat.ore }}</span></td>
      </tr>
    </tbody>
  </table>
    {% for periodo,v in dati.lista %}
  <table class="table table-bordered table-hover table-striped">
    <caption class="text-info text-center gs-big"><strong>{{ periodo }}</strong></caption>
    <thead class="bg-success">
      <tr>
        <th>Data</th>
        <th>Tipo</th>
        <th>Annotazioni</th>
        <th>Giustificazione</th>
      </tr>
    </thead>
    <tbody>
      {% for data,v1 in v %}
        {% for tipo,e in v1 %}
      <tr>
          {% if tipo == 'assenza' %}
        <td><strong>{{ e.data }}</strong></td>
        <td><strong>Assenza</strong></td>
        <td></td>
        <td>{% if not e.giustificato %}<span class="label label-danger">Da giustificare</span>{% endif %}</td>
          {% elseif tipo == 'ritardo' %}
        <td><strong>{{ e.data }}</strong></td>
        <td><strong>Ritardo{{ e.breve ? ' breve' }}</strong> ({{ e.ora|date('H:i') }})</td>
        <td>
          <small>{{ e.note }}
            {% if e.valido %}{{ e.note is not empty ? '<br>' }}<em>(Rientra nel conteggio del numero massimo di ritardi)</em>{% endif %}
          </small>
        </td>
        <td>{% if not e.giustificato %}<span class="label label-danger">Da giustificare</span>{% endif %}</td>
          {% else %}
        <td><strong>{{ e.data }}</strong></td>
        <td><strong>Uscita anticipata</strong> ({{ e.ora|date('H:i') }})</td>
        <td>
          <small>{{ e.note }}
            {% if e.valido %}{{ e.note is not empty ? '<br>' }}<em>(Rientra nel conteggio del numero massimo di uscite)</em>{% endif %}
          </small></td>
        <td></td>
          {% endif %}
      </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
    {% else %}
  <div class="alert alert-info" role="alert">
    <strong class="gs-big">Non sono presenti assenze</strong>
  </div>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}
