{% extends 'ruolo_genitore/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  {% include 'ruolo_genitore/menu_situazione.html.twig' with {'attivo': 'note'} %}
  <h1 class="text-center gs-h1 gs-mt-2 gs-mb-3">{{ 'title.genitori_note'|trans({'%sex%': (alunno.sesso == 'M' ? 'o' : 'a')}) }} {{ alunno.nome~' '~alunno.cognome }}</h1>
  {% if errore %}
  <div class="alert alert-warning" role="alert">
    <strong class="gs-big">{{ errore }}</strong>
  </div>
  {% else %}
    {% for periodo,v in dati %}
  <table class="table table-bordered table-hover table-striped">
    <caption class="text-info text-center gs-big"><strong>{{ periodo }}</strong></caption>
    <thead class="bg-success">
      <tr>
        <th class="col-sm-2">Data</th>
        <th class="col-sm-2">Tipo</th>
        <th class="col-sm-5">Nota</th>
        <th class="col-sm-3">Provvedimento</th>
      </tr>
    </thead>
    <tbody>
      {% for data,v1 in v %}
        {% for tipo,v2 in v1 %}
          {% for k,e in v2 %}
      <tr>
          {% if tipo == 'classe' %}
        <td><strong>{{ e.data }}</strong></td>
        <td><strong>Nota di classe</strong></td>
        <td>{{ e.nota }}<br><em>({{ e.nota_doc }})</em></td>
        <td>{{ e.provvedimento ? (e.provvedimento~'<br><em>('~e.nota_doc~')</em>')|raw }}</td>
          {% else %}
        <td><strong>{{ e.data }}</strong></td>
        <td><strong>Nota individuale</strong></td>
        <td>{{ e.nota }}<br><em>({{ e.nota_doc }})</em></td>
        <td>{{ e.provvedimento ? (e.provvedimento~'<br><em>('~e.provvedimento_doc~')</em>')|raw }}</td>
          {% endif %}
      </tr>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
    {% else %}
  <div class="alert alert-info" role="alert">
    <strong class="gs-big">Non sono presenti note disciplinari</strong>
  </div>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}
