{% extends 'ruolo_genitore/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  <h1 class="text-center gs-h1 gs-mt-2 gs-mb-3">{{ 'title.genitori_osservazioni'|trans({'%sex%': (alunno.sesso == 'M' ? 'o' : 'a')}) }} {{ alunno.nome~' '~alunno.cognome }}</h1>
  {% if errore %}
  <div class="alert alert-warning" role="alert">
    <strong class="gs-big">{{ errore }}</strong>
  </div>
  {% else %}
    {% for periodo,v in dati %}
  <table class="table table-bordered table-hover table-striped">
    <caption class="text-info text-center gs-big"><strong>{{ periodo }}</strong></caption>
    <thead class="bg-success">
      <tr>
        <th class="col-sm-2">Data</th>
        <th class="col-sm-3">Materia</th>
        <th class="col-sm-7">Osservazioni</th>
      </tr>
    </thead>
    <tbody>
      {% for data,v1 in v %}
        {% for k,e in v1 %}
      <tr>
        <td><strong>{{ e.data }}</strong></td>
        <td><strong>{{ e.materia }}</strong><br><small><em>({{ e.docente }})</em></small></td>
        <td>{{ e.testo }}</td>
      </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
    {% else %}
  <div class="alert alert-info" role="alert">
    <strong class="gs-big">Non sono presenti osservazioni</strong>
  </div>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}
