<!doctype html>
<html dir="ltr" lang="it">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, viewport-fit=cover">
    <meta name="keywords" content="scuola,registro,elettronico,{{ app.session.get('/CONFIG/ISTITUTO/intestazione')|replace({' ': ','})|lower }}{% for ks in 0 .. (app.session.get('/CONFIG/ISTITUTO/num_sedi')-1) %},{{ app.session.get('/CONFIG/ISTITUTO/sede_'~ks~'_citta')|lower }}{% endfor %}">
    <meta name="description" content="giua@school: il registro elettronico dell'{{ app.session.get('/CONFIG/ISTITUTO/intestazione') }}">
    <meta name="author" content="Antonello Dessì">
    <title>{{ pagina_titolo|trans }}</title>
    <link href="{{ asset('vendor/bootstrap-italia/css/bootstrap-italia.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/main.css?v='~(filedate('css/main.css')|date('U'))) }}" rel="stylesheet">
{% block pagina_css %}
{% endblock %}
{% block pagina_js_inizio %}
{% endblock %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-icon-180x180.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-icon-57x57.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    <link rel="manifest" href="{{ asset('manifest.json') }}">
    <meta name="msapplication-TileColor" content="#0066CC">
    <meta name="msapplication-TileImage" content="{{ asset('ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#0066CC">
    <meta name="msapplication-config" content="{{ asset('browserconfig.xml') }}">
    <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#0066CC">
  </head>
  <body>
{### scorciatoie per tastiera/screen reader ###}
    <div class="skiplinks">
      <a class="sr-only sr-only-focusable" href="#gs-main">Vai al contenuto</a>
      <a class="sr-only sr-only-focusable" href="#gs-footer">Vai a fine pagina</a>
    </div>
{### FINE scorciatoie per tastiera/screen reader ###}
{### intestazione pagina ###}
    <header id="gs-header" class="it-header-wrapper it-header-sticky">
      <div class="it-header-slim-wrapper p-0">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 pr-0">
              <div class="it-header-slim-wrapper-content pr-0">
                <span class="d-none d-md-block navbar-brand"><strong>{{ app.session.get('/CONFIG/ISTITUTO/intestazione_breve') }}</strong> - A.S. {{ app.session.get('/CONFIG/SCUOLA/anno_scolastico') }}</span>
{% if is_granted('IS_AUTHENTICATED_FULLY') %} {# mostrato quando un utente è connesso #}
                <div class="nav-item dropdown mx-3">
                  <a id="gs-helpmenu-button" class="nav-link dropdown-toggle btn btn-xs btn-secondary py-1 px-2" role="button" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{ app.session.get('/CONFIG/MENU/help').descrizione }}">
                    <span class="font-weight-bold">{{ app.session.get('/CONFIG/MENU/help').nome }}</span>
                    <svg class="icon icon-xs d-none d-xl-block ml-0" aria-hidden="true">
                      <use xlink:href="{{ asset('vendor/fontawesome/sprites/solid.svg') }}#caret-down"></use>
                    </svg>
                  </a>
                  <div class="dropdown-menu">
                    <div class="row">
                      <div class="col-12">
                        <div class="link-list-wrapper">
                          <ul class="link-list" role="menu" aria-labelledby="gs-helpmenu-button">
  {% for o in app.session.get('/CONFIG/MENU/help').opzioni %}
                            <li role="none">
                              <a class="list-item" href="{{ o.url ? path(o.url) : '#' }}" role="menuitem" title="{{ o.descrizione|raw }}"><span>{{ o.nome|raw }}</span></a>
                            </li>
  {% endfor %}
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="header-slim-right-zone">
                  <a class="btn btn-default btn-icon rounded-0 border-right border-left" href="{{ path('utenti_profilo') }}" title="{{ 'title.modifica_profilo'|trans }}">
                    <span class="rounded-icon">
                      <svg class="icon icon-xs icon-secondary" aria-hidden="true">
                        <use xlink:href="{{ asset('vendor/fontawesome/sprites/solid.svg') }}#user"></use>
                      </svg>
                    </span>
                    <span class="d-none d-lg-block">{{ app.user.nome }} {{ app.user.cognome }} <small>({{ ('label.'~app.user.roles[0])|trans }})</small></span>
                  </a>
  {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                  <a class="btn btn-default btn-icon rounded-0" href="{{ path('sistema_alias_exit') }}" title="{{ 'title.alias_exit'|trans }}">
                    <span class="rounded-icon">
                      <svg class="icon icon-secondary" aria-hidden="true">
                        <use xlink:href="{{ asset('vendor/fontawesome/sprites/solid.svg') }}#sign-out-alt"></use>
                      </svg>
                    </span>
                    <span class="d-none d-lg-block">{{ 'label.alias'|trans|upper }}</span>
                  </a>
  {% else %}
                  <a class="btn btn-default btn-icon rounded-0" href="{{ path('logout') }}" title="{{ 'title.logout'|trans }}">
                    <span class="rounded-icon">
                      <svg class="icon icon-secondary" aria-hidden="true">
                        <use xlink:href="{{ asset('vendor/fontawesome/sprites/solid.svg') }}#sign-out-alt"></use>
                      </svg>
                    </span>
                    <span class="d-none d-lg-block">{{ 'label.logout'|trans|upper }}</span>
                  </a>
  {% endif %}
                </div>
{% else %} {# mostrato quando non ci sono utenti connessi #}
                <div class="header-slim-right-zone">
                  <div class="text-white pr-4"><strong>Registro elettronico</strong></div>
                </div>
{% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
{### menu ###}
{{ include('tema-new/layout-menu.html.twig') }}
{### FINE menu ###}
    </header>
{### FINE intestazione pagina ###}
{### contenuto pagina ###}
    <main id="gs-main" class="clearfix pb-5">
{% block pagina_contenuto %}
{% endblock %}
    </main>
{### FINE contenuto pagina ###}
{### piè di pagina ###}
    <footer id="gs-footer" class="it-footer clearfix">
      <div class="it-footer-main">
        <div class="container">
          <section>
            <div class="row clearfix pt-4">
              <div class="col-sm-12">
                <h2>
                  <a class="text-white text-decoration-none" href="{{ app.session.get('/CONFIG/ISTITUTO/url_sito') }}" target="_blank" title="Vai al sito web dell'Istituto">
                    {{ app.session.get('/CONFIG/ISTITUTO/tipo') }}
                    <br><em>{{ app.session.get('/CONFIG/ISTITUTO/nome') }}</em>
                  </a>
                </h2>
                <h3 class="d-none d-md-block">
                  {% for ks in 0 .. (app.session.get('/CONFIG/ISTITUTO/num_sedi')-1) %}{{ app.session.get('/CONFIG/ISTITUTO/sede_'~ks~'_citta') }}{{ not loop.last ? ' - '}}{% endfor %}
                </h3>
              </div>
            </div>
          </section>
          <section>
            <div class="row pt-4 pb-2">
              {% for ks in 0 .. (app.session.get('/CONFIG/ISTITUTO/num_sedi')-1) %}
              <div class="col-lg-3 col-md-6">
                <h4>{{ app.session.get('/CONFIG/ISTITUTO/sede_'~ks~'_nome') }}</h4>
                <p>{{ app.session.get('/CONFIG/ISTITUTO/sede_'~ks~'_indirizzo1') }}<br>{{ app.session.get('/CONFIG/ISTITUTO/sede_'~ks~'_indirizzo2') }}<br>Telefono: {{ app.session.get('/CONFIG/ISTITUTO/sede_'~ks~'_telefono') }}</p>
              </div>
              {% endfor %}
              <div class="col-lg-3 col-md-6">
                <h4>Sito web</h4>
                <div class="link-list-wrapper">
                  <ul class="footer-list link-list">
                    <li>
                      <a class="list-item" href="{{ app.session.get('/CONFIG/ISTITUTO/url_sito') }}" target="_blank" title="Vai al sito web dell'Istituto">
                        <svg class="icon icon-xs icon-light mr-2" aria-hidden="true">
                          <use xlink:href="{{ asset('vendor/fontawesome/sprites/solid.svg') }}#link"></use>
                        </svg><span class="text-white">{{ app.session.get('/CONFIG/ISTITUTO/url_sito') }}</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <h4>Email</h4>
                <div class="link-list-wrapper">
                  <ul class="footer-list link-list">
                    <li>
                      <a class="list-item" href="mailto:{{ app.session.get('/CONFIG/ISTITUTO/email') }}" title="Indirizzo email dell'Istituto">
                        <svg class="icon icon-xs icon-light mr-2" aria-hidden="true">
                          <use xlink:href="{{ asset('vendor/fontawesome/sprites/solid.svg') }}#envelope-open"></use>
                        </svg><span class="text-white">{{ app.session.get('/CONFIG/ISTITUTO/email') }}</span>
                      </a>
                    </li>
                    <li>
                      <a class="list-item" href="mailto:{{ app.session.get('/CONFIG/ISTITUTO/pec') }}" title="Indirizzo PEC dell'Istituto">
                        <svg class="icon icon-xs icon-light mr-2" aria-hidden="true">
                          <use xlink:href="{{ asset('vendor/fontawesome/sprites/solid.svg') }}#envelope"></use>
                        </svg><span class="text-white">{{ app.session.get('/CONFIG/ISTITUTO/pec') }}</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
          <section class="py-4 border-white border-top">
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <h2>
                  <a class="text-white text-decoration-none" href="https://github.com/trinko/giuaschool#giuaschool" target="_blank" title="Vai al progetto su GitHub">
                    <em>giua@school</em>
                  </a>
                </h2>
                <h3 class="d-none d-md-block">Il registro elettronico <strong>open source</strong> dell'<em>{{ app.session.get('/CONFIG/ISTITUTO/intestazione_breve') }}</em></h3>
                <p class="d-none d-md-block">Versione {{ app.session.get('/CONFIG/SISTEMA/versione') }}</p>
              </div>
              <div class="col-lg-6 col-md-12 d-none d-md-block link-list-wrapper">
                <ul class="footer-list link-list">
                  <li>
                    <a class="list-item" href="https://github.com/trinko/giuaschool#giuaschool" target="_blank" title="Vai al progetto su GitHub">
                      <svg class="icon icon-sm icon-light mr-2" aria-hidden="true">
                        <use xlink:href="{{ asset('vendor/fontawesome/sprites/brands.svg') }}#github"></use>
                      </svg><span class="text-white">Progetto e codice sorgente</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="it-footer-small-prints clearfix">
        <div class="container">
          <h3 id="gs-infomenu" class="sr-only">{{ app.session.get('/CONFIG/MENU/info').descrizione }}</h3>
          <ul class="it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row" role="menu" aria-labelledby="gs-helpmenu-button">
  {% for o in app.session.get('/CONFIG/MENU/info').opzioni %}
            <li class="list-inline-item pb-0" role="none">
              <a href="{{ o.url ? path(o.url) : '#' }}" role="menuitem" title="{{ o.descrizione|raw }}"><span>{{ o.nome|raw }}</span></a>
            </li>
  {% endfor %}
          </ul>
        </div>
      </div>
    </footer>
{### FINE piè di pagina ###}
{### link TornaSu ###}
    <a class="back-to-top back-to-top-small shadow" href="#" aria-hidden="true" data-attribute="back-to-top" title="Vai a inizio pagina">
      <svg class="icon icon-light" aria-hidden="true">
        <use xlink:href="{{ asset('vendor/fontawesome/sprites/solid.svg') }}#arrow-up"></use>
      </svg>
    </a>
{### FINE link TornaSu ###}
{### caricamento javascript ###}
    <script>window.__PUBLIC_PATH__ = "{{ asset('vendor/bootstrap-italia/fonts') }}"</script>
    <script src="{{ asset('vendor/bootstrap-italia/js/bootstrap-italia.bundle.min.js') }}"></script>
    <script src="{{ asset('js/main.js?v='~(filedate('js/main.js')|date('U'))) }}"></script>
{% block pagina_js_fine %}
{% endblock %}
{### FINE caricamento javascript ###}
  </body>
</html>
