<p>Si prega di prendere visione delle seguenti circolari presenti nel Registro Elettronico dell'<em>{{ intestazione_istituto_breve }}</em>:</p>
<ul>
{% for c in circolari %}
  <li>Circolare n. {{ c.numero }} del {{ c.data}}<br><strong>{{ c.oggetto }}</strong></li>
{% endfor %}
</ul>
<p>&nbsp;</p>
<p>Si ricorda che per visualizzare le circolari è necessario accedere al Registro Elettronico inserendo le proprie credenziali all'indirizzo seguente:<br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ url_registro }}">{{ url_registro }}</a>
</p>
<p>&nbsp;</p>
<hr>
<p>
  <em>
    ATTENZIONE: questo messaggio è stato generato automaticamente.<br>
    Si prega pertanto di non rispondere a questa e-mail perché le eventuali comunicazioni andrebbero perse.
  </em>
</p>
<p>&nbsp;</p>
